<h5 class='page-title'>Performance</h5>

<div class='tag-safe-container' style='margin-bottom: 15px;'>
  <%= render partial: 'partials/script_subscribers_chart', locals: { 
    script_subscriber_ids: @script_subscriptions.collect(&:id),
    include_metric_select: true,
    default_metric_type: PerformanceAuditMetricType.by_key('TagSafeScore').first
  } %>
</div>

<div class='tag-safe-container'>
  <table class="table table-hover col-12 text-center" style="table-layout: fixed">
    <thead>
      <tr>
        <th scope="col" style='width: 23%'>Tag</th>
        <th scope="col" style='width: 10.5%'>DOM Complete Impact</th>
        <th scope="col" style='width: 10.5%'>DOM Interactive Impact</th>
        <th scope="col" style='width: 10.5%'>First Contentful Paint Impact</th>
        <th scope="col" style='width: 10.5%'>Script Duration Impact</th>
        <th scope="col" style='width: 10.5%'>Layout Duration Impact</th>
        <th scope="col" style='width: 10.5%'>Task Duration Impact</th>
        <th scope="col" style='width: 10.5%'>TagSafe Score</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @primary_delta_performance_audits.each do |performance_audit| %>
        <tr>
          <td data-toggle="tooltip" data-placement="top" title="<%= performance_audit.audit.script_subscriber.try_friendly_name %>" scope="row" style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap;'><%= performance_audit.audit.script_subscriber.try_friendly_name %></td>
          <% %w[DOMComplete DOMInteractive FirstContentfulPaint ScriptDuration LayoutDuration TaskDuration TagSafeScore].each do |metric| %>
            <td scope="row"><%= performance_audit.metric_result(metric, include_units: true) %></td>
          <% end %>
          <td scope="row">
            <div class="dropdown dropleft show ellipsis-dropdown">
              <a class="dropdown-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-h" style="font-size: 18px;"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to 'View Tag Details', script_subscriber_path(performance_audit.audit.script_subscriber), class: 'dropdown-item' %> 
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>