<h5 class='page-title'>Performance</h5>

<div class='tagsafe-container' style='margin-bottom: 15px;'>
  <% if @tags.any? %>
    <%= turbo_frame_tag "#{current_domain.id}_domain_tags_chart", src: domain_tags_chart_path(current_domain.id, tag_ids: @tags.collect(&:id)) do %>
      <%= render 'partials/utils/spinner' %>
    <% end %>
  <% else %>
    <div class='text-center'>
      <span>No tags present.</span>
    </div>
  <% end %>
</div>

<div class='tagsafe-container'>
  <table class="table table-hover col-12 text-center" style="table-layout: fixed">
    <thead>
      <tr>
        <th scope="col" style='width: 20%'>Tag</th>
        <th scope="col" style='width: 9.8%'>DOM Complete Impact</th>
        <th scope="col" style='width: 9.8%'>DOM Interactive Impact</th>
        <th scope="col" style='width: 9.8%'>First Contentful Paint Impact</th>
        <th scope="col" style='width: 9.8%'>Script Duration Impact</th>
        <th scope="col" style='width: 9.8%'>Layout Duration Impact</th>
        <th scope="col" style='width: 9.8%'>Task Duration Impact</th>
        <th scope="col" style='width: 9.8%'>TagSafe Score</th>
        <th scope="col" style='width: 9.8%'>Audited Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td data-bs-toggle="tooltip" data-placement="top" title="<%= tag.try_friendly_name %>" scope="row" style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap;'><%= tag.try_friendly_name %></td>
          <% most_recent_dpa = tag.most_recent_version&.primary_audit&.delta_performance_audit %>
          <% if most_recent_dpa %>
            <td scope="row"><%= number_to_human(most_recent_dpa.dom_complete, units: { unit: 'ms', thousand: 'seconds' }) %></td>
            <td scope="row"><%= number_to_human(most_recent_dpa.dom_interactive, units: { unit: 'ms', thousand: 'seconds' }) %></td>
            <td scope="row"><%= number_to_human(most_recent_dpa.first_contentful_paint, units: { unit: 'ms', thousand: 'seconds' }) %></td>
            <td scope="row"><%= number_to_human(most_recent_dpa.script_duration, units: { unit: 'ms', thousand: 'seconds' }) %></td>
            <td scope="row"><%= number_to_human(most_recent_dpa.layout_duration, units: { unit: 'ms', thousand: 'seconds' }) %></td>
            <td scope="row"><%= number_to_human(most_recent_dpa.task_duration, units: { unit: 'ms', thousand: 'seconds' }) %></td>
            <td scope="row"><%= most_recent_dpa.tagsafe_score.round(2) %></td>
            <td scope="row"><%= most_recent_dpa.audit.enqueued_at.formatted_short %></td>
          <% else %>
            <td scope="row">-</td>
            <td scope="row">-</td>
            <td scope="row">-</td>
            <td scope="row">-</td>
            <td scope="row">-</td>
            <td scope="row">-</td>
            <td scope="row">-</td>
            <td scope="row">-</td>
          <% end %>
          <td scope="row">
            <div class="dropdown dropleft show ellipsis-dropdown tagsafe-circular-btn">
              <a class="dropdown-link" data-controller='dropdown' href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-h" style="font-size: 18px;"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to 'View Tag Details', tag_path(tag), class: 'dropdown-item' %> 
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @tags %>