<h5 class='page-title'>Performance</h5>

<div class='tag-safe-container' style='margin-bottom: 15px;'>
  <%= render partial: 'partials/script_subscribers_chart', locals: { 
    script_subscriber_ids: @script_subscriptions.collect(&:id),
    include_metric_select: true,
    default_metric_type: :tagsafe_score
  } %>
</div>

<div class='tag-safe-container'>
  <table class="table table-hover col-12 text-center" style="table-layout: fixed">
    <thead>
      <tr>
        <th scope="col" style='width: 23%'>Tag</th>
        <th scope="col" style='width: 10.5%'>DOM Complete Impact</th>
        <th scope="col" style='width: 10.5%'>DOM Interactive Impact</th>
        <th scope="col" style='width: 10.5%'>First Contentful Paint Impact</th>
        <th scope="col" style='width: 10.5%'>Script Duration Impact</th>
        <th scope="col" style='width: 10.5%'>Layout Duration Impact</th>
        <th scope="col" style='width: 10.5%'>Task Duration Impact</th>
        <th scope="col" style='width: 10.5%'>TagSafe Score</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @script_subscriptions.each do |script_subscriber| %>
        <% most_recent_dpa = script_subscriber&.most_recent_audit&.delta_performance_audit %>
        <% if most_recent_dpa %>
          <tr>
            <td data-toggle="tooltip" data-placement="top" title="<%= script_subscriber.try_friendly_name %>" scope="row" style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap;'><%= script_subscriber.try_friendly_name %></td>
            <td scope="row"><%= most_recent_dpa.dom_complete.round(2) %></td>
            <td scope="row"><%= most_recent_dpa.dom_interactive.round(2) %></td>
            <td scope="row"><%= most_recent_dpa.first_contentful_paint.round(2) %></td>
            <td scope="row"><%= most_recent_dpa.script_duration.round(2) %></td>
            <td scope="row"><%= most_recent_dpa.layout_duration.round(2) %></td>
            <td scope="row"><%= most_recent_dpa.task_duration.round(2) %></td>
            <td scope="row"><%= most_recent_dpa.tagsafe_score.round(2) %></td>
            <td scope="row">
              <div class="dropdown dropleft show ellipsis-dropdown">
                <a class="dropdown-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-h" style="font-size: 18px;"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <%= link_to 'View Tag Details', script_subscriber_path(script_subscriber), class: 'dropdown-item' %> 
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @script_subscriptions %>