<h5 class="page-title" style="margin-bottom: 0;">Audit Settings</h5>
<h6 class="page-sub-title"><%= @tag.try_friendly_name %></h6>

<%= render partial: 'tags/edit_tag_nav', locals: { tag: @tag } %>

<div class="text-center tagsafe-container">
  <div class="col-8 offset-2">
    <%= turbo_frame_tag dom_id(@tag_preference) do %>
      <%= render 'form', tag: tag, tag_preference: @tag_preference %>
    <% end %>
    <% if current_domain.disable_third_party_tags_during_audits %>
      <h6>
        Third party tags to not block during performance audits:
        <span data-bs-toggle="tooltip"
                data-placement="top"
                title="By default, TagSafe blocks all other third party tags from running during performance audits. Define any tags you do not want to block during <%=@tag.try_friendly_name%> performance audits. ie: if a tag manager adds this tag to the page, you must add the third party tag to allowed tag list.">
                <i class="far fa-question-circle"></i>
        </span>
      </h6>
      <%= form_with model: TagAllowedPerformanceAuditThirdPartyUrl.new, url: tag_tag_allowed_performance_audit_third_party_urls_path(@tag) do |f| %>
        <div class="form-floating">
          <%= f.text_field :url_pattern %>
          <%= f.label :url_pattern %>
        </div>
        <%= f.submit 'Add Allowed Tag', class: 'btn btn-outline-primary' %>
      <% end %>
      <ul class="list-group">
        <% @tag.tag_allowed_performance_audit_third_party_urls.each do |allowed| %>
          <li class="list-group-item">
            <span class="allowed-script-subscriber-name"><%= allowed.url_pattern %></span>
            <span class="delete-allowed-script-subscriber" style="float: right;"><%= button_to 'X', tag_tag_allowed_performance_audit_third_party_url_path(@tag, allowed), method: :delete %></span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>