<%= turbo_frame_tag "functional_test_#{functional_test.uid}" do %>
  <div class='text-end mb-3'>
    <button class="tagsafe-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Actions
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <%= link_to 'Edit Test', edit_functional_test_path(functional_test), class: 'dropdown-item', target: '_top' %>
      <%= form_with model: functional_test, url: toggle_disable_functional_test_path(functional_test) do |f| %>
        <%= f.submit "#{functional_test.enabled? ? 'Disable' : 'Enable'} test", class: 'dropdown-item' %>
      <% end %>
    </div>
  </div>
  <div class='text-center'>
    <% if functional_test.disabled? %>
      <div class="alert alert-danger" role="alert">
        <i class="fas fa-exclamation-triangle"></i> Functional test is disabled.
      </div>
    <% end %>
    <% if functional_test.passed_dry_run %>
      <% if functional_test.enabled? %>
        <div class="alert alert-success" role="alert">
          <i class="far fa-check-circle"></i> Functional test passed validation
          <% if functional_test.run_on_all_tags %>
            and is enabled on future audits.
          <% end %>
        </div>
        <% if functional_test.tags_to_run_tests_on.count.zero? %>
          <div class="alert alert-warning" role="alert">
            <i class="fas fa-exclamation-triangle"></i> Test is not enabled to run against any tags. <%= link_to 'Enable for tags', tags_to_run_on_functional_test_path(functional_test), target: '_top' %>
          </div>
        <% end %>
      <% end %>
      <% if functional_test.expected_results %>
        <h5>Expect the following script to run without failure and return a value of <span class='fw-bolder'>"<%= functional_test.expected_results %>"</span>:</h5>
      <% else %>
        <h5>Expect the following script to run without failure:</h5>
      <% end %>
      <div class='code-mirror-container readonly' data-controller='code-mirror'>
        <div class='code-mirror-copy-btn' data-action='click->code-mirror#copyContent'><i class="far fa-copy"></i></div>
        <div class='outter-code-mirror top'>
          <textarea class='code-mirror-text opening-async-function  hidden' data-controller='code-mirror' data-code-mirror-target='codeMirrorTextarea' data-readonly='true' data-disable-line-numbers='true'>(async () => {</textarea>
        </div>
        <div class='user-input-code-mirror'>
          <textarea class='codemirror fit-content hidden' data-code-mirror-target='codeMirrorTextarea' data-readonly='true'><%= functional_test.puppeteer_script %></textarea>
        </div>
        <div class='outter-code-mirror bottom'>
          <textarea class='code-mirror-text closing-async-function  hidden' data-controller='code-mirror' data-code-mirror-target='codeMirrorTextarea' data-readonly='true' data-disable-line-numbers='true'>})();</textarea>
        </div>
      </div>
    <% else %>
      <% most_recent_dry_run = functional_test.most_recent_dry_test_run %>
      <% if most_recent_dry_run.nil? || most_recent_dry_run.completed? %>
        <div class="alert alert-danger" role="alert">
          <i class="fas fa-exclamation-triangle"></i> Functional test has not yet been validated to run successfully, it cannot be enabled to run on future audits until then. Update the test so it runs successfully.
        </div>
        <% unless most_recent_dry_run.nil? %>
          <p>The most recent test validation failed with an error of:</p>
          <div class='test-run-error-code-block'>
            <span class='d-block'><%= most_recent_dry_run.error_message %>:</span>
            <span class='d-block'><%= most_recent_dry_run.error_trace.to_s.gsub("\n", "<br/>").html_safe %></span>
          </div>
          <% unless most_recent_dry_run.logs.nil? || most_recent_dry_run.logs.empty? %>
            <p>Logs:</p>
            <div class='test-logs-code-block mb-3'><%= most_recent_dry_run.logs&.html_safe %></div>
          <% end %>
        <% end %>
        <%= render 'functional_tests/form', functional_test: functional_test, force_validation_on_submit: true %>
      <% elsif most_recent_dry_run.pending? %>
        <div class='text-center'>
          <h5>Running validation...</h5>
          <%= display_loading_spinner %>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
<% end %>