<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-8'>
        <h1 class="page-title">Test Suite</h1>
      </div>
      <div class='col-4 page-title-cta-container'>
        <%= link_to new_functional_test_path, class: 'page-title-cta-btn floating-btn tagsafe-purple-bg' do %>
          <i class="fa-solid fa-plus"></i>
          New test
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'partials/page_navigation_items', navigation_items: [
    { url: functional_tests_path, text: 'Configured Tests' },
    { url: all_test_runs_path, text: 'Test Run Results' }
  ] %>
</div>

<% if @functional_tests.any? %>
  <div class='tagsafe-container p-0'>
    <div class='row'>
      <div class='tagsafe-table'>
        <div class='tagsafe-table-head tagsafe-row square'>
          <div class='tagsafe-table-header' style='width: 25%'>Test</div>
          <div class='tagsafe-table-header' style='width: 35%'>Description</div>
          <div class='tagsafe-table-header' style='width: 25%'>Tags enabled on</div>
          <div class='tagsafe-table-header' style='width: 10%'></div>
        </div>
        <div class='tagsafe-table-body'>
          <% @functional_tests.each do |test| %>
            <%= link_to functional_test_path(test), class: 'no-decoration' do %>
              <div class='tagsafe-table-row clickable'>
                <div class='tagsafe-table-data' style='width: 25%'><%= test.title %></div>
                <div class='tagsafe-table-data' style='width: 35%'><%= test.description %></div>
                <div class='tagsafe-table-data' style='width: 25%'>
                  <% if test.disabled? %>
                    <span class='tagsafe-pill red'>Disabled</span>
                  <% elsif !test.passed_dry_run %>
                    <span class='tagsafe-pill grey'>Needs validation</span>
                  <% else %>
                    <%= test.run_on_all_tags ? 'All tags' : test.tags_to_run_on.count %>
                  <% end %>
                </div>
                <div class='tagsafe-table-data text-end' style='width: 10%'>
                  <span class='link-indicator hover-enlarge float-end'><i class="fas fa-angle-double-right"></i></span>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class='p-5 text-center'>
    <h4>No functional tests configured.</h4>
    <%= link_to new_functional_test_path, class: 'page-title-cta-btn floating-btn tagsafe-purple-bg' do %>
      <i class="fa-solid fa-plus"></i>
      Add one now
    <% end %>
  </div>
<% end %>