<%= turbo_stream_from "functional_test_#{@functional_test.uid}_show_view_stream" %>

<h1 class='page-title with-sub-title'>Functional Test</h1>
<h2 class='page-sub-title'><%= @functional_test.title %></h2>

<div class='tagsafe-container'>
  <div class='text-center'>
    <p><%= @functional_test.description %></p>
  </div>
  
  <% if @functional_test.passed_dry_run %>
    <%= render 'functional_tests_to_run/for_functional_test', functional_test: @functional_test %>
  <% else %>
    <%= render 'un_validated', functional_test: @functional_test %>
  <% end %>
</div>