<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-8'>
        <h1 class="page-title">Uptime</h1>
      </div>
      <div class='col-4 page-title-cta-container'>
        <%= link_to settings_tag_management_path, class: 'page-title-cta-btn floating-btn tagsafe-purple-bg ms-3', title: 'Edit uptime settings', data: { controller: 'tooltip', bs_toggle: 'tooltip' } do %>
          <i class="fa-solid fa-gear"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if current_container.uptime_regions_to_check.none? %>
  <div class='container-fluid'>
    <div class="alert alert-warning mb-3 mt-3 text-center" role="alert">
      <%= HtmlHelper.WARNING_ICON %> You are not monitoring uptime health for any of your tags. You can enable them in your <%= link_to 'tag management settings', settings_tag_management_path %>.
    </div>
  </div>
<% end %>

<div class="tagsafe-container">
  <%= turbo_frame_tag "container_#{current_container.uid}_tags_uptime", src: charts_uptime_checks_path(tag_ids: @tags.collect(&:id)) do %>
    <div class='text-center'>
      <%= display_loading_spinner %>
    </div>
  <% end %>
</div>

<div class="tagsafe-container" style='margin-top: 15px'>
  <%= turbo_frame_tag "container_#{current_container.uid}_uptime_list", src: container_uptime_list_path do %>
    <div class='text-center'>
      <%= display_loading_spinner %>
    </div>
  <% end %>
</div>