<li class="py-4">
  <div class="flex items-center space-x-4">
    <% if tag_version.tag.has_image? %>
      <div class="flex-shrink-0">
        <%= image_tag tag_version.tag.try_image_url, class: 'h-8 w-8 rounded-full' %>
      </div>
    <% end %>
    <div class="min-w-0 flex-1 cursor-default">
      <span class="truncate text-sm font-medium text-gray-900 block"><%= tag_version.tag.try_friendly_name %></span>
      <span class="truncate text-sm font-medium text-gray-500 block"><%= tag_version.tag.full_url %></span>
      <% if tag_version.commit_message %>
        <span class="truncate text-sm font-medium text-gray-500 block w-fit"
                data-controller='tooltip'
                title='Commit message provided by <%= tag_version.tag.tag_snippet.name %>.'>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-1 inline">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
          </svg>
          <%= tag_version.commit_message %>
        </span>
      <% end %>
    </div>
    <div>
      <%= link_to "View details", 
                    change_request_path(tag_version),
                    class:"inline-flex items-center rounded-full border border-gray-300 bg-white px-2.5 py-0.5 text-sm font-medium leading-5 text-gray-700 shadow-sm hover:bg-gray-50" %>
      <div class='mt-1'>
        <%= render 'tag_versions/code_changes_squares', tag_version: tag_version %>
      </div>
      <p class="mt-1 text-sm text-gray-500">
        <% if tag_version.change_request_approved? %>
          <svg class="h-6 w-6 px-1 py-1 rounded-full text-green-600 bg-green-100 inline-block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>
        <% elsif tag_version.change_request_denied? %>
          <svg class="h-6 w-6 px-1 py-1 rounded-full text-red-600 bg-red-100 inline-block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        <% end %>
        <%= tag_version.change_request_approved? ? "Approved" : "Rejected" %> by <%= tag_version.container_user_change_request_decisioned_by.user.email %> <%= time_ago_in_words(tag_version.change_request_decisioned_at) %> ago.
      </p>
      <p class="mt-1 text-sm text-gray-500">Opened <%= time_ago_in_words(tag_version.captured_at) %> ago.</p>
    </div>
  </div>
</li>