<%= form_with model: @user, url: login_path, data: { controller: 'loading_form' } do |f| %>
  <% if local_assigns[:domain] %>
    <div class='form-floating m-3'>
      <input type='hidden' name="domain_uid" value="<%=domain.uid%>">
      <input type="text" class="form-control" value="<%=domain.url%>" disabled="true">
      <label>Site URL</label>
    </div>
  <% end %>
  <div class="form-floating m-3">
    <%= f.email_field :email, class: "form-control", placeholder: 'Email' %>
    <%= f.label :email %>
  </div>
  <div class="form-floating m-3">
    <%= f.password_field :password, class: "form-control", placeholder: 'Password' %>
    <%= f.label :password %>
  </div>
  <%= render 'partials/inline_errors', errors: local_assigns[:errors] %>
  <%= loading_submit_button 'Log in', type: 'floating', button_class: 'large mb-3' %>
<% end %>
<% if local_assigns[:domain] %>
  <%= link_to 'Register', "#{new_registration_path}?domain=#{domain.uid}", target: '_top' %>
<% else %>
  <%= link_to 'Register', new_registration_path, target: '_top' %>
<% end %>