<%= form_with url: create_or_update_container_page_urls_path(container), data: { controller: 'loading_form' } do |f| %>
  <%= f.hidden_field :should_scan_for_tags, value: local_assigns[:should_scan_for_tags] || false %>
  <div class='form-floating d-flex mb-3'>
    <%= f.text_field :full_url, class: 'form-control', value: "https://www.example.com/", placeholder: "https://www.example.com/url_with_tags" %>
    <label for='url'>Page URL</label>
    <%= loading_submit_button button_class: 'square' do %>
      <div class='d-float align-items-center'>
        Add
      </div>
    <% end %>
  </div>
<% end %>
<div class='text-center'>
  <%= render 'partials/inline_errors', errors: local_assigns[:errors], text_only: true %>
</div>