<div class='row subscription-feature-row'>
  <div class='col-2 pricing-matrix-cell'>
    <div class='feature-title h-100 d-flex align-items-center' data-column='1'>
      <div class='column-content'>
        <span data-controller='tooltip' data-bs-custom-class='tagsafe-tooltip' data-bs-toggle='tooltip' title="<%= feature_tooltip_title %>">
          <%= feature_title %>
        </span>
        <% if local_assigns[:cost_in_credits] %>
          <span data-controller='tooltip' data-bs-custom-class='tagsafe-tooltip' data-bs-toggle='tooltip' title="<%= cost_in_credits %>">
            <i class="fa-solid fa-circle-dollar-to-slot ms-2" style='font-size: 16px; font-weight: 700;'></i>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class='col-10'>
    <div class='row h-100'>
      <div class='col-3 pricing-matrix-cell subscription-package-support-column' data-column='2'>
        <div class='column-content'>
          <div class='d-block'>
            <% if local_assigns[:starter_package_support_tooltip_title] %>
              <span data-controller='tooltip' data-bs-custom-class='tagsafe-tooltip' data-bs-toggle='tooltip' title="<%= starter_package_support_tooltip_title %>">
                <%= starter_package_support_tooltip_title %>
              </span>
            <% else %>
              <%= starter_package_support %>
            <% end %>
          </div>
        </div>
      </div>
      <div class='col-3 pricing-matrix-cell subscription-package-support-column' data-column='3'>
        <div class='column-content'>
          <div class='d-block'>
            <% if local_assigns[:scale_package_support_tooltip_title] %>
              <span data-controller='tooltip' data-bs-custom-class='tagsafe-tooltip' data-bs-toggle='tooltip' title="<%= scale_package_support_tooltip_title %>">
                <%= scale_package_support %>
              </span>
            <% else %>
              <%= scale_package_support %>
            <% end %>
          </div>
        </div>
      </div>
      <div class='col-3 pricing-matrix-cell subscription-package-support-column' data-column='4'>
        <div class='column-content'>
          <div class='d-block'>
            <% if local_assigns[:pro_package_support_tooltip_title] %>
              <span data-controller='tooltip' data-bs-custom-class='tagsafe-tooltip' data-bs-toggle='tooltip' title="<%= pro_package_support_tooltip_title %>">
                <%= pro_package_support %>
              </span>
            <% else %>
              <%= pro_package_support %>
            <% end %>
          </div>
        </div>
      </div>
      <div class='col-3 pricing-matrix-cell subscription-package-support-column' data-column='4'>
        <div class='column-content'>
          <div class='d-block'>
            <% if local_assigns[:enterprise_package_support_tooltip_title] %>
              <span data-controller='tooltip' data-bs-custom-class='tagsafe-tooltip' data-bs-toggle='tooltip' title="<%= enterprise_package_support_tooltip_title %>">
                <%= enterprise_package_support %>
              </span>
            <% else %>
              <%= enterprise_package_support %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>