<div class='row subscription-packages-headers'>
  <div class='col-2'>
  </div>
  <div class='col-10'>
    <div class='row'>
      <div class='col-3 subscription-package-header-container' data-column='1'>
        <div class='d-flex align-items-stretch justify-content-evenly flex-column h-100'>
          <div class='subscription-package-title'>Starter</div>
          <div class='subscription-package-amount-header'>Free</div>
          <%= render 'subscription_plans/form', package: SubscriptionPlan::Packages.STARTER, billing_interval: SubscriptionPlan::BillingIntervals.YEAR, hidden: current_billing_interval.to_s != SubscriptionPlan::BillingIntervals.YEAR.to_s %>
          <%= render 'subscription_plans/form', package: SubscriptionPlan::Packages.STARTER, billing_interval: SubscriptionPlan::BillingIntervals.MONTH, hidden: current_billing_interval.to_s != SubscriptionPlan::BillingIntervals.MONTH.to_s %>
        </div>
      </div>
      <div class='col-3 subscription-package-header-container' data-column='2'>
        <div class='d-flex align-items-stretch justify-content-evenly flex-column h-100'>
          <div class='subscription-package-title'>Scale</div>
          <div class='subscription-package-amount-header monthly-billing-only hidden'>$59 / month</div>
          <div class='subscription-package-amount-header annual-billing-only'>$47.20 / month</div>
          <div class='subscription-package-amount-sub-header annual-billing-only'>(billed annually)</div>
          <%= render 'subscription_plans/form', package: SubscriptionPlan::Packages.SCALE, billing_interval: SubscriptionPlan::BillingIntervals.YEAR, hidden: current_billing_interval.to_s != SubscriptionPlan::BillingIntervals.YEAR.to_s %>
          <%= render 'subscription_plans/form', package: SubscriptionPlan::Packages.SCALE, billing_interval: SubscriptionPlan::BillingIntervals.MONTH, hidden: current_billing_interval.to_s != SubscriptionPlan::BillingIntervals.MONTH.to_s %>
        </div>
      </div>
      <div class='col-3 subscription-package-header-container' data-column='3'>
        <div class='d-flex align-items-stretch justify-content-evenly flex-column h-100'>
          <div class='subscription-package-title'>Pro</div>
          <div class='subscription-package-amount-header monthly-billing-only hidden'>$299 / month</div>
          <div class='subscription-package-amount-header annual-billing-only'>$239.20 / month</div>
          <div class='subscription-package-amount-sub-header annual-billing-only'>(billed annually)</div>
          <%= render 'subscription_plans/form', package: SubscriptionPlan::Packages.PRO, billing_interval: SubscriptionPlan::BillingIntervals.YEAR, hidden: current_billing_interval.to_s != SubscriptionPlan::BillingIntervals.YEAR.to_s %>
          <%= render 'subscription_plans/form', package: SubscriptionPlan::Packages.PRO, billing_interval: SubscriptionPlan::BillingIntervals.MONTH, hidden: current_billing_interval.to_s != SubscriptionPlan::BillingIntervals.MONTH.to_s %>
        </div>
      </div>
      <div class='col-3 subscription-package-header-container' data-column='4'>
        <div class='d-flex align-items-stretch justify-content-evenly flex-column h-100'>
          <div class='subscription-package-title'>Enterprise</div>
          <div class='subscription-package-amount-header'>Contact for pricing</div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'subscription_plans/feature_row', 
            feature_title: "Tagsafe Scores",
            feature_tooltip_title: "A Tagsafe Score is a single metric Tagsafe generates that is intended to measure the impact a tag has to your site.",
            starter_package_support: HtmlHelper.PASSED_ICON(color: 'green'),
            scale_package_support: HtmlHelper.PASSED_ICON(color: 'green'),
            pro_package_support: HtmlHelper.PASSED_ICON(color: 'green'),
            enterprise_package_support: HtmlHelper.PASSED_ICON(color: 'green') %>
<%= render 'subscription_plans/feature_row', 
            feature_title: "Page load recordings",
            feature_tooltip_title: "Each performance audit comes with a full side-by-side screen recording of the page load in order to judge the visual imapct a tag has on your site's page load.",
            starter_package_support: HtmlHelper.PASSED_ICON(color: 'green'),
            scale_package_support: HtmlHelper.PASSED_ICON(color: 'green'),
            pro_package_support: HtmlHelper.PASSED_ICON(color: 'green'),
            enterprise_package_support: HtmlHelper.PASSED_ICON(color: 'green') %>
<%= render 'subscription_plans/feature_row', 
            feature_title: "Page load filmstrips",
            feature_tooltip_title: "Each performance audit comes with a full side-by-side filmstrip of the page load in order to judge the visual imapct a tag has on your site's page load.",
            starter_package_support: HtmlHelper.PASSED_ICON(color: 'green'),
            scale_package_support: HtmlHelper.PASSED_ICON(color: 'green'),
            pro_package_support: HtmlHelper.PASSED_ICON(color: 'green'),
            enterprise_package_support: HtmlHelper.PASSED_ICON(color: 'green') %>
<%= render 'subscription_plans/feature_row', 
            feature_title: "Page load resources waterfall",
            feature_tooltip_title: "During a performance audit Tagsafe captures all of the page resources and renders them into a waterfall view side-by-side so you can analyze the impact a tag has to your page load.",
            starter_package_support: HtmlHelper.PASSED_ICON(color: 'green'),
            scale_package_support: HtmlHelper.PASSED_ICON(color: 'green'),
            pro_package_support: HtmlHelper.PASSED_ICON(color: 'green'),
            enterprise_package_support: HtmlHelper.PASSED_ICON(color: 'green') %>
<%= render 'subscription_plans/feature_row', 
            feature_title: "Automated tag synchronization cadence",
            feature_tooltip_title: "Tagsafe continuously monitors your sites for any tags that have been added or removed. The cadence of the synchronizations determines who quickly Tagsafe identifies new or removed tags.",
            starter_package_support: 'Nightly',
            scale_package_support: 'Every 3 hours',
            pro_package_support: 'Every 30 minutes',
            enterprise_package_support: 'Customizable' %>
<%= render 'subscription_plans/feature_row', 
            feature_title: "Manual performance audits",
            feature_tooltip_title: "Performance audits generate Tagsafe Scores and attributes several other performance implications each of your tags comes with. You can run performance audits 'manually' from the Tagsafe interface.",
            starter_package_support: '100 audits / month',
            scale_package_support: 'Unlimited',
            pro_package_support: 'Unlimited',
            enterprise_package_support: 'Unlimited' %>
<%= render 'subscription_plans/feature_row', 
            feature_title: "Manual end-to-end tests",
            feature_tooltip_title: "Write functional tests to validate your site's core functionality is operating correctly. You can run end-to-end tests 'manually' from the Tagsafe interface.",
            starter_package_support: '100 tests / month',
            scale_package_support: 'Unlimited',
            pro_package_support: 'Unlimited',
            enterprise_package_support: 'Unlimited' %>
<%= render 'subscription_plans/feature_row', 
            feature_title: "Automated performance audits",
            feature_tooltip_title: "Performance audits generate Tagsafe Scores and attributes several other performance implications each of your tags comes with. Configure Tagsafe to run audits on a set schedule, or after each tag release.",
            starter_package_support: '100 audits / month',
            scale_package_support: '2,500 audits / month',
            scale_package_support_sub_header: '$0.05 for each additonal after that',
            pro_package_support: '5,000 audits / month',
            pro_package_support_sub_header: '$0.05 for each additonal after that',
            enterprise_package_support: 'Customizable' %>
<%= render 'subscription_plans/feature_row', 
            feature_title: "Automated end-to-end tests",
            feature_tooltip_title: "Write functional tests to validate your site's core functionality is operating correctly. Configure Tagsafe to run functional tests on a set schedule, or after each tag release.",
            starter_package_support: '100 tests / month',
            scale_package_support: '5,000 tests / month',
            scale_package_support_sub_header: '$0.05 for each additonal after that',
            pro_package_support: '10,000 tests / month',
            pro_package_support_sub_header: '$0.05 for each additonal after that',
            enterprise_package_support: 'Customizable' %>
<%= render 'subscription_plans/feature_row', 
            feature_title: "Release checks",
            feature_tooltip_title: "Select which tags you'd like Tagsafe to monitor in order to detect the tag provider makes changes to the tag. The amount of release checks used is dependent on the 'Realtime release detection' option you specify (see feature below), and the number of tags you elect to monitor.",
            starter_package_support: '250 / month',
            scale_package_support: '10,000 / month',
            scale_package_support_sub_header: '$0.0025 for each additonal after that',
            pro_package_support: '50,000 / month',
            pro_package_support_sub_header: '$0.0025 for each additonal after that',
            enterprise_package_support: 'Customizable' %>
<%= render 'subscription_plans/feature_row', 
            feature_title: "Realtime release detection",
            feature_tooltip_title: "The lowest cadence you can set your release monitoring for. The lower the cadence, the quicker Tagsafe will detect a release from your tag provider.",
            starter_package_support: 'Within 6 hours',
            scale_package_support: 'Within 60 minutes',
            pro_package_support: 'Within 5 minutes',
            enterprise_package_support: 'Within 1 minute' %>
<%= render 'subscription_plans/feature_row', 
            feature_title: "Uptime monitoring",
            feature_tooltip_title: "Monitor the response times and status codes of your tags from selected regions around the world.",
            starter_package_support: HtmlHelper.FAILED_ICON(color: 'red'),
            scale_package_support: 'Regional',
            scale_package_support_tooltip_title: "Select regions in North America.",
            pro_package_support: 'Global',
            pro_package_support_tooltip_title: "Select 13 regions across the world.",
            enterprise_package_support: 'Global',
            enterprise_package_support_tooltip_title: "Select 13 regions across the world." %>
<%= render 'subscription_plans/feature_row', 
            feature_title: "Advanced audit configurations",
            feature_tooltip_title: "Access to advance audit configurations, such as defining number of parallel performance audits at a time for quicker results, and 'confidence range' preferences for accurate measurements.",
            starter_package_support: HtmlHelper.FAILED_ICON(color: 'red'),
            scale_package_support: HtmlHelper.FAILED_ICON(color: 'red'),
            pro_package_support: HtmlHelper.PASSED_ICON(color: 'green'),
            enterprise_package_support: HtmlHelper.PASSED_ICON(color: 'green') %>
<%= render 'subscription_plans/feature_row', 
            feature_title: "Data retention",
            feature_tooltip_title: "How long your data persists and is accessible within Tagsafe.",
            starter_package_support: '7 days',
            scale_package_support: '45 days',
            pro_package_support: '90 days',
            enterprise_package_support: 'Customizable' %>
<div class='row feature-row select-subscription-buttons-container'>
  <div class='col-2'>
  </div>
  <div class='col-10'>
    <div class='row'>
      <div class='col-3 subscription-package-support-column' data-column='2'>
        <div class='column-content text-center'>
          <%= render 'subscription_plans/form', package: SubscriptionPlan::Packages.STARTER, billing_interval: SubscriptionPlan::BillingIntervals.YEAR, hidden: current_billing_interval.to_s != SubscriptionPlan::BillingIntervals.YEAR.to_s %>
          <%= render 'subscription_plans/form', package: SubscriptionPlan::Packages.STARTER, billing_interval: SubscriptionPlan::BillingIntervals.MONTH, hidden: current_billing_interval.to_s != SubscriptionPlan::BillingIntervals.MONTH.to_s %>
        </div>
      </div>
      <div class='col-3 subscription-package-support-column' data-column='3'>
        <div class='column-content text-center'>
          <%= render 'subscription_plans/form', package: SubscriptionPlan::Packages.SCALE, billing_interval: SubscriptionPlan::BillingIntervals.YEAR, hidden: current_billing_interval.to_s != SubscriptionPlan::BillingIntervals.YEAR.to_s %>
          <%= render 'subscription_plans/form', package: SubscriptionPlan::Packages.SCALE, billing_interval: SubscriptionPlan::BillingIntervals.MONTH, hidden: current_billing_interval.to_s != SubscriptionPlan::BillingIntervals.MONTH.to_s %>
        </div>
      </div>
      <div class='col-3 subscription-package-support-column' data-column='4'>
        <div class='column-content text-center'>
          <%= render 'subscription_plans/form', package: SubscriptionPlan::Packages.PRO, billing_interval: SubscriptionPlan::BillingIntervals.YEAR, hidden: current_billing_interval.to_s != SubscriptionPlan::BillingIntervals.YEAR.to_s %>
          <%= render 'subscription_plans/form', package: SubscriptionPlan::Packages.PRO, billing_interval: SubscriptionPlan::BillingIntervals.MONTH, hidden: current_billing_interval.to_s != SubscriptionPlan::BillingIntervals.MONTH.to_s %>
        </div>
      </div>
      <div class='col-3 subscription-package-support-column' data-column='5'>
        <div class='column-content text-center'>
          Contact for pricing
        </div>
      </div>
    </div>
  </div>
</div>