<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-8'>
        <h1 class="page-title with-sub-title">Team Management</h1>
        <h2 class='page-sub-title'>Teammates</h2>
      </div>
      <div class='col-4 page-title-cta-container'>
        <% unless user_is_anonymous? %>
          <%= modal_link new_user_invite_path, text: 'Invite User', klass: 'page-title-cta-btn floating-btn tagsafe-purple-bg' %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'partials/page_navigation_items', navigation_items: [
    { url: container_users_path, text: "Teammates" },
    { url: user_invites_path(status: :pending), text: "Pending Invites" }
  ] %>
</div>

<%= turbo_frame_tag "container_#{@container.uid}_container_users" do %>

  <% if @container_users.any? %>

  <div class="mt-6">
    <ul role="list" class="mt-4 divide-y divide-gray-200 border-t border-b border-gray-200">

      <% @container_users.each do |du| %>
        <li class="flex items-center justify-between space-x-3 py-4">
          <div class="flex min-w-0 flex-1 items-center space-x-3">
            <div class="flex-shrink-0">
            </div>
            <div class="min-w-0 flex-1">
              <p class="truncate text-sm font-medium text-gray-900"><%= du.user.full_name %></p>
              <p class="truncate text-sm font-medium text-gray-500"><%= du.user.email %></p>
            </div>
          </div>
          <div class="flex-shrink-0">
            <% if du.user_id != current_user.id %>
              <%= modal_link destroy_container_user_modal_path(du), text: 'Remove User', klass: "inline-flex items-center rounded-full bg-red-500 text-white px-2.5 py-0.5 text-sm font-medium leading-5 shadow-sm hover:bg-red-700"%>
            <% end %>
            <!--
            <p class="truncate text-xs font-medium text-gray-500 mt-2">
              Added: <%= du.user.created_at.formatted_long %>
            </p>
            -->
          </div>
        </li>
      <% end %>

    </ul>
  </div>

  <% else %>
    <div class='mt-10 text-center'>
      <h4 class='empty-message mb-3'>You are the only Tagsafe user in <%= @container.name %>!</h4>
      <%= modal_link new_user_invite_path, text: 'Add Teammate', klass: 'inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-gray-100' %>
    </div>
  <% end %>

<% end %>
