<% if @tag_configuration.errors.any? %>
  <%= render 'partials/inline_errors', errors: @tag_configuration.errors.full_messages %>
<% end %>

<%= form_with model: @tag_configuration, url: form_path, data: { controller: 'loading_form'} do |f| %>
  <input type='hidden' name='tag_configuration[enabled]' value='true'>
  <div class='form-floating text-start'>
    <span class='custom-checkbox-row-label d-block'
          data-controller='tooltip'
          data-bs-toggle='tooltip'
          title="This sets the <script> tags load rule attribute (ie: <script async='true'>)">
        Script load rule
      </span>
    <div class='custom-checkbox-div-container h-100'>
      <input name='tag_configuration[load_type]' 
              id='load_type_defer' 
              value='defer' 
              type='radio' 
              class='custom-checkbox-div-input'
              <%= @tag.has_url? && (@tag_configuration.load_type.blank? || @tag_configuration.load_type == 'defer') ? 'checked=checked' : nil %>
              <%= !@tag.has_url? ? 'disabled=disabled' : nil %>>
      <label class='custom-checkbox-div-label fill' 
              for='load_type_defer'
              data-controller='tooltip'
              data-bs-toggle='tooltip'
              title="<%= @tag.has_url? ? 'Load this script as an `synchronous` script tag.' : 'A script tag was unable to be found in the provided javascript, therefore there is not host URL to set the load rule for.' %>">
        <i class="far fa-check-circle checked top-right-icon green"></i>
        <i class="far fa-times-circle unchecked top-right-icon red"></i>
        <div class='text mb-0 text-center'>
          Defer
        </div>
      </label>
    </div>
    <div class='custom-checkbox-div-container h-100'>
      <input name='tag_configuration[load_type]' 
              id='load_type_async' 
              value='async' 
              type='radio' 
              class='custom-checkbox-div-input'
              <%= @tag_configuration.load_type == 'async' ? 'checked=checked' : nil %>
              <%= !@tag.has_url? ? 'disabled=disabled' : nil %>>
      <label class='custom-checkbox-div-label fill' 
              for='load_type_async'
              data-controller='tooltip'
              data-bs-toggle='tooltip'
              title="<%= @tag.has_url? ? 'Load this script as an `synchronous` script tag.' : 'A script tag was unable to be found in the provided javascript, therefore there is not host URL to set the load rule for.' %>">
        <i class="far fa-check-circle checked top-right-icon green"></i>
        <i class="far fa-times-circle unchecked top-right-icon red"></i>
        <div class='text mb-0 text-center'>
          Async
        </div>
      </label>
    </div>
    <div class='custom-checkbox-div-container h-100'>
      <input name='tag_configuration[load_type]' 
              id='load_type_synchronous' 
              value='synchronous' 
              type='radio' 
              class='custom-checkbox-div-input'
              <%= @tag_configuration.load_type == 'synchronous' ? 'checked=checked' : nil %>
              <%= !@tag.has_url? ? 'disabled=disabled' : nil %>>
      <label class='custom-checkbox-div-label fill' 
              for='load_type_synchronous'
              data-controller='tooltip'
              data-bs-toggle='tooltip'
              title="<%= @tag.has_url? ? 'Load this script as an `synchronous` script tag.' : 'A script tag was unable to be found in the provided javascript, therefore there is not host URL to set the load rule for.' %>">
        <i class="far fa-check-circle checked top-right-icon green"></i>
        <i class="far fa-times-circle unchecked top-right-icon red"></i>
        <div class='text mb-0 text-center'>
          Synchronous
        </div>
      </label>
    </div>
  </div>
  <div class='form-floating mt-4 text-start'>
    <span class='custom-checkbox-row-label d-block' 
          data-controller='tooltip' 
          data-bs-toggle='tooltip' 
          title="The location of where this script should be placed on the page.">
      Injected script location
    </span>
    <div class='custom-checkbox-div-container h-100'>
      <input name='tag_configuration[script_inject_location]' 
              id='script_inject_location_head' 
              value='head' 
              type='radio' 
              class='custom-checkbox-div-input'
              <%= @tag_configuration.script_inject_location.blank? || @tag_configuration.script_inject_location == 'head' ? 'checked=checked' : nil %>>
      <label class='custom-checkbox-div-label fill' 
              for='script_inject_location_head'
              data-controller='tooltip'
              data-bs-toggle='tooltip'
              title="Inject this script into the head of the document.">
        <i class="far fa-check-circle checked top-right-icon green"></i>
        <i class="far fa-times-circle unchecked top-right-icon red"></i>
        <div class='text mb-0 text-center'>
          Document Head
        </div>
      </label>
    </div>
    <div class='custom-checkbox-div-container h-100'>
      <input name='tag_configuration[script_inject_location]' 
              id='script_inject_location_body' 
              value='body' 
              type='radio' 
              class='custom-checkbox-div-input'
              <%= @tag_configuration.script_inject_location == 'body' ? 'checked=checked' : nil %>>
      <label class='custom-checkbox-div-label fill' 
              for='script_inject_location_body'
              data-controller='tooltip'
              data-bs-toggle='tooltip'
              title="Inject this script into the head of the document.">
        <i class="far fa-check-circle checked top-right-icon green"></i>
        <i class="far fa-times-circle unchecked top-right-icon red"></i>
        <div class='text mb-0 text-center'>
          Document Body
        </div>
      </label>
    </div>
  </div>
  <div class='form-floating mt-4 text-start'>
    <span class='custom-checkbox-row-label d-block'>Inject script at</span>
    <div class='custom-checkbox-div-container h-100'>
      <input name='tag_configuration[script_inject_event]' 
              id='script_inject_event_immediate' 
              value='immediate' 
              type='radio' 
              class='custom-checkbox-div-input'
              <%= @tag_configuration.script_inject_event.blank? || @tag_configuration.script_inject_event == 'immediate' ? 'checked=checked' : nil %>>
      <label class='custom-checkbox-div-label fill' 
              for='script_inject_event_immediate'
              data-controller='tooltip'
              data-bs-toggle='tooltip'
              title="Inject this script into the page immediately.">
        <i class="far fa-check-circle checked top-right-icon green"></i>
        <i class="far fa-times-circle unchecked top-right-icon red"></i>
        <div class='text mb-0 text-center'>
          Immediately
        </div>
      </label>
    </div>
    <div class='custom-checkbox-div-container h-100'>
      <input name='tag_configuration[script_inject_event]' 
              id='script_inject_event_load'
              value='load' 
              type='radio' 
              class='custom-checkbox-div-input'
              <%= @tag_configuration.script_inject_event == 'load' ? 'checked=checked' : nil %>>
      <label class='custom-checkbox-div-label fill' 
              for='script_inject_event_load'
              data-controller='tooltip'
              data-bs-toggle='tooltip'
              title="Inject this script into the page upon page load.">
        <i class="far fa-check-circle checked top-right-icon green"></i>
        <i class="far fa-times-circle unchecked top-right-icon red"></i>
        <div class='text mb-0 text-center'>
          Page load
        </div>
      </label>
    </div>
  </div>
  <div class='form-floating checkbox-row text-start mt-4'>
    <span class='custom-checkbox-row-label d-block'>Where should we host this tag?</span>
    <div class='custom-checkbox-div-container h-100'>
      <input name='tag_configuration[is_tagsafe_hosted]' 
              id='tagsafe_hosted_true' 
              value='true' 
              type='radio' 
              class='custom-checkbox-div-input'
              <%= @tag.has_url? && (@tag_configuration.is_tagsafe_hosted.nil? || @tag_configuration.is_tagsafe_hosted) ? 'checked=checked' : nil %>
              <%= !@tag.has_url? ? 'disabled=disabled' : nil %>>
      <label class='custom-checkbox-div-label fill' 
              for='tagsafe_hosted_true'
              data-controller='tooltip'
              data-bs-toggle='tooltip'
              title="<%= @tag.has_url? ? "Host the JS content on the Tagsafe domain. This leads to performance enhancements, and control over content updates." : 'A script tag was unable to be found in the provided javascript, therefore there is no host to alter' %>">
        <i class="far fa-check-circle checked top-right-icon green"></i>
        <i class="far fa-times-circle unchecked top-right-icon red"></i>
        <div class='text mb-0 text-center'>
          Tagsafe-hosted
        </div>
      </label>
    </div>
    <div class='custom-checkbox-div-container h-100'>
      <input name='tag_configuration[is_tagsafe_hosted]' 
              id='tagsafe_hosted_false' 
              value='false' 
              type='radio' 
              class='custom-checkbox-div-input'
              <%= @tag.has_url? && @tag_configuration.is_tagsafe_hosted == false ? 'checked=checked' : nil %>
              <%= !@tag.has_url? ? 'disabled=disabled' : nil %>>
      <label class='custom-checkbox-div-label fill' 
              for='tagsafe_hosted_false'
              data-controller='tooltip'
              data-bs-toggle='tooltip'
              title="<%= @tag.has_url? ? "Host the tag from the original host." : 'A script tag was unable to be found in the provided javascript, therefore there is no host to alter' %>">
        <i class="far fa-check-circle checked top-right-icon green"></i>
        <i class="far fa-times-circle unchecked top-right-icon red"></i>
        <div class='text mb-0 text-center'>
          Original host <%= @tag.url_domain.blank? ? nil : "(#{@tag.url_domain})" %>
        </div>
      </label>
    </div>
  </div>
  <!--
  <div class='form-floating mt-4 checkbox-row text-start'>
    <span class='custom-checkbox-row-label d-block'>How should we execute the Javascript?</span>
    <div class='custom-checkbox-div-container h-100'>
      <input name='tag_configuration[execute_script_in_web_worker]' 
              id='execute_script_in_web_worker_true' 
              value='true' 
              type='radio' 
              class='custom-checkbox-div-input'
              <#%= @tag_configuration.execute_script_in_web_worker.blank? || @tag_configuration.execute_script_in_web_worker ? 'checked=checked' : nil %>>
      <label class='custom-checkbox-div-label fill' 
              for='execute_script_in_web_worker_true'
              data-controller='tooltip'
              data-bs-toggle='tooltip'
              title="Execute this tag's javascript off the main thread in a web worker.">
        <i class="far fa-check-circle checked top-right-icon green"></i>
        <i class="far fa-times-circle unchecked top-right-icon red"></i>
        <div class='text mb-0 text-center'>
          Execute script in web worker
        </div>
      </label>
    </div>
    <div class='custom-checkbox-div-container h-100'>
      <input name='tag_configuration[execute_script_in_web_worker]' 
              id='execute_script_in_web_worker_false' 
              value='false' 
              type='radio' 
              class='custom-checkbox-div-input'
              <#%= @tag_configuration.execute_script_in_web_worker == false ? 'checked=checked' : nil %>>
      <label class='custom-checkbox-div-label fill' 
              for='execute_script_in_web_worker_false'
              data-controller='tooltip'
              data-bs-toggle='tooltip'
              title="Execute this tag's javascript on the main thread.">
        <i class="far fa-check-circle checked top-right-icon green"></i>
        <i class="far fa-times-circle unchecked top-right-icon red"></i>
        <div class='text mb-0 text-center'>
          Execute script in main thread
        </div>
      </label>
    </div>
  </div>
  !-->
  <div class='form-floating mt-4 checkbox-row text-start'>
    <span class='custom-checkbox-row-label d-block'>How frequently should new releases of this tag be checked?</span>
    <div class='custom-checkbox-div-container h-100'>
      <input name='tag_configuration[release_check_minute_interval]' 
              id='release_check_minute_interval_0' 
              value='0' 
              type='radio' 
              class='custom-checkbox-div-input'
              <%= !@tag.has_url? || @tag_configuration.release_check_minute_interval == 0 ? 'checked=checked' : nil %>
              <%= !@tag.has_url? ? 'disabled=disabled' : nil %>>
      <label class='custom-checkbox-div-label fill' 
              for='release_check_minute_interval_0'
              data-controller='tooltip'
              data-bs-toggle='tooltip'
              title="<%= @tag.has_url? ? "Do not check tag for new releases." : 'A script tag was unable to be found in the provided javascript, therefore we cannot monitor an endpoint for new releases.' %>">
        <i class="far fa-check-circle checked top-right-icon green"></i>
        <i class="far fa-times-circle unchecked top-right-icon red"></i>
        <div class='text mb-0 text-center'>
          Never
        </div>
      </label>
    </div>
    <div class='custom-checkbox-div-container h-100'>
      <input name='tag_configuration[release_check_minute_interval]' 
              id='release_check_minute_interval_1' 
              value='1' 
              type='radio' 
              class='custom-checkbox-div-input'
              <%= @tag_configuration.release_check_minute_interval == 1 ? 'checked=checked' : nil %>
              <%= !@tag.has_url? ? 'disabled=disabled' : nil %>>
      <label class='custom-checkbox-div-label fill' 
              for='release_check_minute_interval_1'
              data-controller='tooltip'
              data-bs-toggle='tooltip'
              title="<%= @tag.has_url? ? "Check for a new release every minute." : 'A script tag was unable to be found in the provided javascript, therefore we cannot monitor an endpoint for new releases.' %>">
        <i class="far fa-check-circle checked top-right-icon green"></i>
        <i class="far fa-times-circle unchecked top-right-icon red"></i>
        <div class='text mb-0 text-center'>
          Every minute
        </div>
      </label>
    </div>
    <div class='custom-checkbox-div-container h-100'>
      <input name='tag_configuration[release_check_minute_interval]' 
              id='release_check_minute_interval_15' 
              value='15' 
              type='radio' 
              class='custom-checkbox-div-input'
              <%= @tag_configuration.release_check_minute_interval == 15 ? 'checked=checked' : nil %>
              <%= !@tag.has_url? ? 'disabled=disabled' : nil %>>
      <label class='custom-checkbox-div-label fill' 
              for='release_check_minute_interval_15'
              data-controller='tooltip'
              data-bs-toggle='tooltip'
              title="<%= @tag.has_url? ? "Check for a new release every 15 minutes." : 'A script tag was unable to be found in the provided javascript, therefore we cannot monitor an endpoint for new releases.' %>">
        <i class="far fa-check-circle checked top-right-icon green"></i>
        <i class="far fa-times-circle unchecked top-right-icon red"></i>
        <div class='text mb-0 text-center'>
          Every 15 minutes
        </div>
      </label>
    </div>
    <div class='custom-checkbox-div-container h-100'>
      <input name='tag_configuration[release_check_minute_interval]' 
              id='release_check_minute_interval_30' 
              value='30' 
              type='radio' 
              class='custom-checkbox-div-input'
              <%= @tag_configuration.release_check_minute_interval == 30 ? 'checked=checked' : nil %>
              <%= !@tag.has_url? ? 'disabled=disabled' : nil %>>
      <label class='custom-checkbox-div-label fill' 
              for='release_check_minute_interval_30'
              data-controller='tooltip'
              data-bs-toggle='tooltip'
              title="<%= @tag.has_url? ? "Check for a new release every 30 minutes." : 'A script tag was unable to be found in the provided javascript, therefore we cannot monitor an endpoint for new releases.' %>">
        <i class="far fa-check-circle checked top-right-icon green"></i>
        <i class="far fa-times-circle unchecked top-right-icon red"></i>
        <div class='text mb-0 text-center'>
          Every 30 minutes
        </div>
      </label>
    </div>
    <div class='custom-checkbox-div-container h-100'>
      <input name='tag_configuration[release_check_minute_interval]' 
              id='release_check_minute_interval_60' 
              value='60' 
              type='radio' 
              class='custom-checkbox-div-input'
              <%= @tag.has_url? && (@tag_configuration.release_check_minute_interval.blank? || @tag_configuration.release_check_minute_interval == 60) ? 'checked=checked' : nil %>
              <%= !@tag.has_url? ? 'disabled=disabled' : nil %>>
      <label class='custom-checkbox-div-label fill' 
              for='release_check_minute_interval_60'
              data-controller='tooltip'
              data-bs-toggle='tooltip'
              title="<%= @tag.has_url? ? "Check for a new release every 60 minutes." : 'A script tag was unable to be found in the provided javascript, therefore we cannot monitor an endpoint for new releases.' %>">
        <i class="far fa-check-circle checked top-right-icon green"></i>
        <i class="far fa-times-circle unchecked top-right-icon red"></i>
        <div class='text mb-0 text-center'>
          Every hour
        </div>
      </label>
    </div>
  </div>
  <% if @tag_configuration.errors.any? %>
    <%= render 'partials/inline_errors', errors: @tag_configuration.errors.full_messages %>
  <% end %>
  <div class='text-end mt-4'>
    <%= loading_submit_button 'Release tag to staging', type: 'floating' %>
  </div>
<% end %>