<div class="text-center">
  <h5 class="page-title with-sub-title">Individual Performance Audit Results</h5>
  <h6 class="page-sub-title mb-0"><%= @tag.try_friendly_name %></h6>
  <h6 class="page-sub-title"><%= @audit.created_at.formatted_short %> Audit</h6>

  <div class='tagsafe-container container'>
    <div class='row mb-3'>
      <h5>Audit Precision</h5>
      <% if @audit.average_delta_performance_audit %>
        <h6 class='fw-bold'>Tagsafe Score Confidence Range: <%= @audit.average_delta_performance_audit.tagsafe_score - @audit.tagsafe_score_confidence_range %> - <%= @audit.average_delta_performance_audit.tagsafe_score + @audit.tagsafe_score_confidence_range %> (+/- <%= @audit.tagsafe_score_confidence_range %>) (<%= @audit.num_performance_audit_sets_ran %> audit sets)</h6>
      <% else %>
        <h6 class='fw-bold'>Current confidence range: +/- <%= @audit.confidence_calculator.tagsafe_score_confidence_plus_minus %></h6>
      <% end %>
    </div>
    <div class='row'>
      <table class="table table-hover col-12 text-center performance-audit-stats-table" style="table-layout: fixed">
        <thead>
          <tr>
            <th scope="col">Delta Audit Type</th>
            <th scope="col">DOM Complete</th>
            <th scope="col">DOM Content Loaded</th>
            <th scope="col">DOM Interactive</th>
            <th scope="col">First Contentful Paint</th>
            <th scope="col">Speed Index</th>
            <th scope="col">Main Thread Execution Responsible For</th>
            <th scope="col">Script Duration</th>
            <th scope="col">Layout Duration</th>
            <th scope="col">Task Duration</th>
            <th scope="col">Tagsafe Score</th>
          </tr>
        </thead>
        <tbody>
          <% if @average_delta_audit %>
            <tr>
              <td>Average</td>
              <td><%= @average_delta_audit.dom_complete_delta %> ms</td>
              <td><%= @average_delta_audit.dom_content_loaded_delta %> ms</td>
              <td><%= @average_delta_audit.dom_interactive %> ms</td>
              <td><%= @average_delta_audit.first_contentful_paint_delta %> ms</td>
              <td><%= @average_delta_audit.speed_index_delta %> ms</td>
              <td><%= @average_delta_audit.main_thread_execution_tag_responsible_for_delta %> ms</td>
              <td><%= @average_delta_audit.script_duration_delta %> ms</td>
              <td><%= @average_delta_audit.layout_duration_delta %> ms</td>
              <td><%= @average_delta_audit.task_duration_delta %> ms</td>
              <td><%= @average_delta_audit.tagsafe_score %></td>
            </tr>
          <% end %>
          <% if @median_delta_audit %>
            <tr>
              <td>Median</td>
              <td><%= @median_delta_audit.dom_complete_delta %> ms</td>
              <td><%= @median_delta_audit.dom_content_loaded_delta %> ms</td>
              <td><%= @median_delta_audit.dom_interactive %> ms</td>
              <td><%= @median_delta_audit.first_contentful_paint_delta %> ms</td>
              <td><%= @median_delta_audit.speed_index_delta %> ms</td>
              <td><%= @median_delta_audit.main_thread_execution_tag_responsible_for_delta %> ms</td>
              <td><%= @median_delta_audit.script_duration_delta %> ms</td>
              <td><%= @median_delta_audit.layout_duration_delta %> ms</td>
              <td><%= @median_delta_audit.task_duration_delta %> ms</td>
              <td><%= @median_delta_audit.tagsafe_score %></td>
            </tr>
          <% end %>
          <% if @individual_delta_audits.any? %>
            <% @individual_delta_audits.order(:tagsafe_score).each do |delta_audit| %>
              <% has_dom_complete_zero_ms = delta_audit.performance_audit_with_tag.dom_complete.zero? || delta_audit.performance_audit_with_tag.dom_complete.nil? || delta_audit.performance_audit_without_tag.dom_complete.zero? || delta_audit.performance_audit_without_tag.dom_complete.nil? %>
              <tr data-delta-performance-audit-uid="<%= delta_audit.uid %>" data-performance-audit-with-tag-uid="<%= delta_audit.performance_audit_with_tag.uid %>" data-performance-audit-without-tag-uid="<%= delta_audit.performance_audit_without_tag.uid %>" class='ipa-row <%= delta_audit.is_outlier ? 'outlier' : nil %> <%= has_dom_complete_zero_ms ? 'warning' : nil %>' data-controller='tooltip' data-bs-toggle='tooltip' title='<%= has_dom_complete_zero_ms ? 'One of the performance audits returned a DOM Complete of 0 ms, which can skew results' : nil %>'>
                <td><%= delta_audit.is_outlier ? 'Outlier' : 'Individual' %></td>
                <td><%= delta_audit.dom_complete_delta %> ms</td>
                <td><%= delta_audit.dom_content_loaded_delta %> ms</td>
                <td><%= delta_audit.dom_interactive %> ms</td>
                <td><%= delta_audit.first_contentful_paint_delta %> ms</td>
                <td><%= delta_audit.speed_index_delta %> ms</td>
                <td><%= delta_audit.main_thread_execution_tag_responsible_for_delta %> ms</td>
                <td><%= delta_audit.script_duration_delta %> ms</td>
                <td><%= delta_audit.layout_duration_delta %> ms</td>
                <td><%= delta_audit.task_duration_delta %> ms</td>
                <td><%= delta_audit.tagsafe_score %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class='row'>
      <%= scatter_chart @individual_delta_audits.collect{ |delta_audit| [delta_audit.tagsafe_score, 1] }, xtitle: "Tagsafe Score", ytitle: nil, min: 1, max: 1 %>
    </div>
    <div class='row'>
      <div class='col-6'>
        <% if @pending_individual_audits.with_tag.any? %>
          <h6>Pending (with tag)</h6>
          <% @pending_individual_audits.with_tag.each do |individual_performance_audit| %>
            (<%= individual_performance_audit.uid %> - <%= individual_performance_audit.id %>)<br/>
            Lambda Function UID: <%= individual_performance_audit.executed_step_function&.uid || 'No Lambda Function...?' %><br/>
            <%= render 'individual_performance_audit', individual_performance_audit: individual_performance_audit %>
          <% end %>
        <% end %>
        <% if @failed_individual_audits.with_tag.any? %>
          <h6>Failed (with tag)</h6>
          <% @failed_individual_audits.with_tag.each do |individual_performance_audit| %>
            (<%= individual_performance_audit.uid %> - <%= individual_performance_audit.id %>)<br/>
            Lambda Function UID: <%= individual_performance_audit.executed_step_function&.uid || 'No Lambda Function...?' %><br/>
            <%= render 'individual_performance_audit', individual_performance_audit: individual_performance_audit %>
          <% end %>
        <% end %>
      </div>
      <div class='col-6'>
        <% if @pending_individual_audits.without_tag.any? %>
          <h6>Pending (without tag)</h6>
          <% @pending_individual_audits.without_tag.each do |individual_performance_audit| %>
            (<%= individual_performance_audit.uid %> - <%= individual_performance_audit.id %>)<br/>
            Lambda Function UID: <%= individual_performance_audit.executed_step_function&.uid || 'No Lambda Function...?' %><br/>
            <%= render 'individual_performance_audit', individual_performance_audit: individual_performance_audit %>
          <% end %>
        <% end %>
        <% if @failed_individual_audits.without_tag.any? %>
          <h6>Failed (without tag)</h6>
          <% @failed_individual_audits.without_tag.each do |individual_performance_audit| %>
            (<%= individual_performance_audit.uid %> - <%= individual_performance_audit.id %>)<br/>
            Lambda Function UID: <%= individual_performance_audit.executed_step_function&.uid || 'No Lambda Function...?' %><br/>
            <%= render 'individual_performance_audit', individual_performance_audit: individual_performance_audit %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <div class='col-6'>
        <h5>With tag</h5>        
        <h6 class='fw-bold'>Standard Deviation:</h6>
        <span class='d-block'>DOM Complete: <%= @audit.confidence_calculator.performance_audit_with_tag_std_dev_for(:dom_complete) %></span>
        <span class='d-block'>DOM Content Loaded: <%= @audit.confidence_calculator.performance_audit_with_tag_std_dev_for(:dom_content_loaded) %></span>
        <span class='d-block'>DOM Interactive: <%= @audit.confidence_calculator.performance_audit_with_tag_std_dev_for(:dom_interactive) %></span>
        <span class='d-block'>First Contentful Paint: <%= @audit.confidence_calculator.performance_audit_with_tag_std_dev_for(:first_contentful_paint) %></span>
        <span class='d-block'>Script Duration: <%= @audit.confidence_calculator.performance_audit_with_tag_std_dev_for(:script_duration) %></span>
        <span class='d-block'>Task Duration: <%= @audit.confidence_calculator.performance_audit_with_tag_std_dev_for(:task_duration) %></span>
        <span class='d-block'>Layout Duration: <%= @audit.confidence_calculator.performance_audit_with_tag_std_dev_for(:layout_duration) %></span>
        <h6 class='fw-bold mt-2'>Variance:</h6>
        <span class='d-block'>DOM Complete: <%= @audit.confidence_calculator.performance_audit_with_tag_variance_for(:dom_complete) %></span>
        <span class='d-block'>DOM Content Loaded: <%= @audit.confidence_calculator.performance_audit_with_tag_variance_for(:dom_content_loaded) %></span>
        <span class='d-block'>DOM Interactive: <%= @audit.confidence_calculator.performance_audit_with_tag_variance_for(:dom_interactive) %></span>
        <span class='d-block'>First Contentful Paint: <%= @audit.confidence_calculator.performance_audit_with_tag_variance_for(:first_contentful_paint) %></span>
        <span class='d-block'>Script Duration: <%= @audit.confidence_calculator.performance_audit_with_tag_variance_for(:script_duration) %></span>
        <span class='d-block'>Task Duration: <%= @audit.confidence_calculator.performance_audit_with_tag_variance_for(:task_duration) %></span>
        <span class='d-block'>Layout Duration: <%= @audit.confidence_calculator.performance_audit_with_tag_variance_for(:layout_duration) %></span>
      </div>
      <div class='col-6'>
        <h5>Without tag</h5>
        <h6 class='fw-bold'>Standard Deviation:</h6>
        <span class='d-block'>DOM Complete: <%= @audit.confidence_calculator.performance_audit_without_tag_std_dev_for(:dom_complete) %></span>
        <span class='d-block'>DOM Content Loaded: <%= @audit.confidence_calculator.performance_audit_without_tag_std_dev_for(:dom_content_loaded) %></span>
        <span class='d-block'>DOM Interactive: <%= @audit.confidence_calculator.performance_audit_without_tag_std_dev_for(:dom_interactive) %></span>
        <span class='d-block'>First Contentful Paint: <%= @audit.confidence_calculator.performance_audit_without_tag_std_dev_for(:first_contentful_paint) %></span>
        <span class='d-block'>Script Duration: <%= @audit.confidence_calculator.performance_audit_without_tag_std_dev_for(:script_duration) %></span>
        <span class='d-block'>Task Duration: <%= @audit.confidence_calculator.performance_audit_without_tag_std_dev_for(:task_duration) %></span>
        <span class='d-block'>Layout Duration: <%= @audit.confidence_calculator.performance_audit_without_tag_std_dev_for(:layout_duration) %></span>
        <h6 class='fw-bold mt-2'>Variance:</h6>
        <span class='d-block'>DOM Complete: <%= @audit.confidence_calculator.performance_audit_without_tag_variance_for(:dom_complete) %></span>
        <span class='d-block'>DOM Content Loaded: <%= @audit.confidence_calculator.performance_audit_without_tag_variance_for(:dom_content_loaded) %></span>
        <span class='d-block'>DOM Interactive: <%= @audit.confidence_calculator.performance_audit_without_tag_variance_for(:dom_interactive) %></span>
        <span class='d-block'>First Contentful Paint: <%= @audit.confidence_calculator.performance_audit_without_tag_variance_for(:first_contentful_paint) %></span>
        <span class='d-block'>Script Duration: <%= @audit.confidence_calculator.performance_audit_without_tag_variance_for(:script_duration) %></span>
        <span class='d-block'>Task Duration: <%= @audit.confidence_calculator.performance_audit_without_tag_variance_for(:task_duration) %></span>
        <span class='d-block'>Layout Duration: <%= @audit.confidence_calculator.performance_audit_without_tag_variance_for(:layout_duration) %></span>
      </div>
    </div>
  </div>
</div>