<div class="text-center">
  <h1 class="page-title">Monitor Center</h1>

  <% if current_domain.nil? %>
    <h5>You have not defined your domain(s) to monitor.</h5>
    <%= form_for Domain.new do |f| %>
      <div class='input-group form-group'>
        <div class="input-group-prepend">
          <select name='domain[protocol]' class='custom-select' required>
            <option class='dropdown-item' value='https://' selected>https://</option>
            <option class='dropdown-item' value='http://'>http://</option>
          </select>
        </div>
        <input type="text" class="form-control" name="domain[url]" placeholder="Domain URL">
      </div>
      <%= f.submit 'Enter Your Domain to Monitor', class: 'btn btn-outline-primary' %>
    <% end %>
  <% else %>
    <%
=begin%>
 <div class="generic-metrics-container">
      <div class="row">
        <div class="col-4">
          <div class="generic-metric-card tag-safe-container" style="border: 1px solid black; background: white; padding: 15px;">
            <h5 class="generic-metric-card-title"># Third Party Tags</h5>
            <h4 class="generic-metric-card-value"><%= @active_tag_count %></h5>
          </div>
        </div>
        <div class="col-4">
          <div class="generic-metric-card tag-safe-container" style="border: 1px solid black; background: white; padding: 15px;">
            <h5 class="generic-metric-card-title"># Tag Changes Today</h5>
            <h4 class="generic-metric-card-value"><%= @tag_change_count %></h5>
          </div>
        </div>
        <div class="col-4">
          <div class="generic-metric-card tag-safe-container" style="border: 1px solid black; background: white; padding: 15px;">
            <h5 class="generic-metric-card-title"># Active Third Party Tags</h5>
            <h4 class="generic-metric-card-value"><%= @script_subscriptions.count %></h5>
          </div>
        </div>
      </div>
    </div> 
<%
=end%>
    <div class="global-scripts-chart-container tag-safe-container">
      <% if @active_tag_count > 0 %>
        <h5>Tag Impact</h5>
        <label for="metric-dropdown">Select Chart Metric</label>
        <select class="selectpicker" id="metric-dropdown" data-max-options="1" data-live-search="true">
          <% PerformanceAuditMetricType.all.each do |metric_type| %>
            <% if metric_type == @filtered_performance_audit_metric_type %>
              <option value="<%= metric_type.key %>" data-metric-unit="<%=metric_type.unit%>" selected><%= metric_type.title %></option>
            <% else %>
              <option value="<%= metric_type.key %>" data-metric-unit="<%=metric_type.unit%>"><%= metric_type.title %></option>
            <% end %>
          <% end %> 
        </select>
        <div id="scripts-chart-container">
          <%=
            line_chart domain_script_subscribers_chart_path(current_domain, script_subscriber_ids: @script_subscriptions.active.still_on_site.collect(&:id), metric_type: @filtered_performance_audit_metric_type.key),
              download: true, 
              title: "#{@filtered_performance_audit_metric_type.title} Impact",
              ytitle: "#{@filtered_performance_audit_metric_type.title} (#{@filtered_performance_audit_metric_type.unit})",
              xtitle: 'Tag Changes',
              code: true,
              messages: { empty: "No Audits Run." },
              curve: false, 
              legend: "bottom",
              library: {
                rangeSelector: true,
                hAxis: { 
                  # format: 'MM-DD-YYYY' 
                  }
              }
          %>
        </div>
      <% else %>
        <% if current_domain.domain_scans&.most_recent&.pending? %>
          <span>Currently scanning <%= current_domain.url %> for third party tags</span>
        <% else %>
          <span>You are not monitoring any tags. <%= link_to 'Activate tags here', script_subscribers_path %>.</span>
        <% end %>
      <% end %>
    </div>

    <div class="script-subscriptions">
      <% @script_subscriptions.in_groups_of(3, false).each do |group| %>
        <div class="row row-no-side-margins">
          <% group.each do |script_subscription| %>
            <div class="col-sm-12 col-md-6 col-lg-4 tag-safe-card-container">
              <div class="card tag-safe-card script-subscription <%= script_subscription.inactive? ? 'inactive' : nil %> <%= script_subscription.removed_from_site? ? 'removed-from-site' : nil %>">
                <div class="dropdown show ellipsis-dropdown text-right">
                  <a class="dropdown-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <%= link_to 'View', script_subscriber_path(script_subscription), class: 'dropdown-item' %>
                    <%= link_to 'Edit', edit_script_subscriber_path(script_subscription), class: 'dropdown-item' %>
                  </div>
                </div>
                <%= link_to script_subscriber_path(script_subscription) do %>
                  <div class="col-12 logo-container">
                    <%= image_tag script_subscription.try_image_url, class: 'img-fluid script-logo' %>
                    <span data-toggle="tooltip"
                      data-placement="top"
                      title="<%= script_subscription.try_friendly_name%>">
                      <h5 class="card-title"><%= script_subscription.try_friendly_name %></h5>
                    </span>
                  </div>
                  <div class="card-body text-center col-12">
                    <% if script_subscription.removed_from_site? %>
                      <span data-toggle="tooltip"
                          data-placement="top"
                          title="The <%= script_subscription.try_friendly_name %> tag was removed from <%= current_domain.url %> on <%= script_subscription.removed_from_site_at.formatted %>.">
                        <span class="script-removed-from-site-notice"><i class="fas fa-exclamation-circle"></i> Removed</span>
                      </span>
                    <% elsif script_subscription.inactive? %>
                      <span data-toggle="tooltip"
                        data-placement="top"
                        title="Tag monitoring is off for <%= script_subscription.try_friendly_name %>. Visit your tag management settings to monitor.">
                        <span class="script-inactive-notice"><i class="fas fa-exclamation-circle"></i> Inactive</span>
                      </span>
                    <% else %>
                      <% if !script_subscription.script.most_recent_script_change.first_change? %>
                        <p>
                          Last change was <%= script_subscription.script.content_changed_at ? time_ago_in_words(script_subscription.script.content_changed_at) : 'unknown'%> ago.
                        </p>
                      <% else %>
                        <span>No changes recorded yet.</span>
                      <% end %>
                      <%= render partial: 'partials/card_audit_stats', locals: {
                        script_subscriber: script_subscription,
                        audit: script_subscription.primary_audit_by_script_change(script_subscription.script.most_recent_change) || script_subscription.most_recent_audit_by_script_change(script_subscription.script.most_recent_change, include_pending_performance_audits: true),
                        previous_audit: script_subscription.primary_audit_by_script_change(script_subscription.script.most_recent_change&.previous_change),
                        performance_audit_metric_type: @filtered_performance_audit_metric_type
                      } %> 
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="pagination-container text-center">
      <%= paginate @script_subscriptions %>
    </div>
  <% end %>
</div>