<div class="text-center">
  <h1 class="page-title">Monitor Center</h1>

  <% if current_domain.nil? %>
    <h5>You have not defined your domain(s) to monitor.</h5>
    <%= form_for Domain.new do |f| %>
      <div class='input-group form-group'>
        <div class="input-group-prepend">
          <select name='domain[protocol]' class='custom-select' required>
            <option class='dropdown-item' value='https://' selected>https://</option>
            <option class='dropdown-item' value='http://'>http://</option>
          </select>
        </div>
        <input type="text" class="form-control" name="domain[url]" placeholder="Domain URL">
      </div>
      <%= f.submit 'Enter Your Domain to Monitor', class: 'btn btn-outline-primary' %>
    <% end %>
  <% else %>
    <%
=begin%>
 <div class="generic-metrics-container">
      <div class="row">
        <div class="col-4">
          <div class="generic-metric-card tag-safe-container" style="border: 1px solid black; background: white; padding: 15px;">
            <h5 class="generic-metric-card-title"># Third Party Tags</h5>
            <h4 class="generic-metric-card-value"><%= @active_tag_count %></h5>
          </div>
        </div>
        <div class="col-4">
          <div class="generic-metric-card tag-safe-container" style="border: 1px solid black; background: white; padding: 15px;">
            <h5 class="generic-metric-card-title"># Tag Changes Today</h5>
            <h4 class="generic-metric-card-value"><%= @tag_change_count %></h5>
          </div>
        </div>
        <div class="col-4">
          <div class="generic-metric-card tag-safe-container" style="border: 1px solid black; background: white; padding: 15px;">
            <h5 class="generic-metric-card-title"># Active Third Party Tags</h5>
            <h4 class="generic-metric-card-value"><%= @script_subscriptions.count %></h5>
          </div>
        </div>
      </div>
    </div> 
<%
=end%>
    <div class="global-scripts-chart-container tag-safe-container">
      <% if @active_tag_count > 0 %>
        <%= render partial: 'partials/script_subscribers_chart', locals: { 
          script_subscriber_ids: @script_subscriptions.is_third_party_tag.still_on_site.collect(&:id),
          include_metric_select: false,
          default_metric_type: @filtered_performance_audit_metric_type
        } %>
      <% else %>
        <%= render partial: 'partials/domain_scan_not_complete', locals: { domain_scan: @domain_scan } %>
      <% end %>
    </div>

    <div class="script-subscriptions">
      <% @script_subscriptions.in_groups_of(3, false).each do |group| %>
        <div class="row row-no-side-margins">
          <% group.each do |script_subscription| %>
            <div class="col-sm-12 col-md-6 col-lg-4 tag-safe-card-container">
              <div class="card tag-safe-card script-subscription <%= script_subscription.removed_from_site? ? 'removed-from-site' : nil %>">
                <div class="dropdown show ellipsis-dropdown text-right">
                  <a class="dropdown-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <%= link_to 'View', script_subscriber_path(script_subscription), class: 'dropdown-item' %>
                    <%= link_to 'Edit', edit_script_subscriber_path(script_subscription), class: 'dropdown-item' %>
                  </div>
                </div>
                <%= link_to script_subscriber_path(script_subscription) do %>
                  <div class="col-12 logo-container">
                    <%= image_tag script_subscription.try_image_url, class: 'img-fluid script-logo' %>
                    <span data-toggle="tooltip"
                      data-placement="top"
                      title="<%= script_subscription.try_friendly_name%>">
                      <h5 class="card-title"><%= script_subscription.try_friendly_name %></h5>
                    </span>
                  </div>
                  <div class="card-body text-center col-12">
                    <% if script_subscription.removed_from_site? %>
                      <span data-toggle="tooltip"
                          data-placement="top"
                          title="The <%= script_subscription.try_friendly_name %> tag was removed from <%= current_domain.url %> on <%= script_subscription.removed_from_site_at.formatted %>.">
                        <span class="script-removed-from-site-notice"><i class="fas fa-exclamation-circle"></i> Removed</span>
                      </span>
                    <% end %>
                    <% if script_subscription.not_monitoring_changes? %>
                      <span data-toggle="tooltip"
                        data-placement="top"
                        title="Tag monitoring is off for <%= script_subscription.try_friendly_name %>. Visit your tag management settings to monitor.">
                        <span class="script-inactive-notice"><i class="fas fa-exclamation-circle"></i> Not Monitoring Changes</span>
                      </span>
                    <% end %>
                    <% if script_subscription.should_not_run_audit? %>
                      <span data-toggle="tooltip"
                        data-placement="top"
                        title="Tag monitoring is off for <%= script_subscription.try_friendly_name %>. Visit your tag management settings to monitor.">
                        <span class="script-inactive-notice"><i class="fas fa-exclamation-circle"></i> Auditing is Turned Off</span>
                      </span>
                    <% end %>
                    <p>
                      Last change was <%= script_subscription.script.content_changed_at ? time_ago_in_words(script_subscription.script.content_changed_at) : 'unknown'%> ago.
                    </p>
                    <% audit = script_subscription.primary_audit_by_script_change(script_subscription.script.most_recent_change) %>
                    <% unless audit&.delta_performance_audit.nil? %>
                      <%= render partial: 'partials/progress_ring', locals: { 
                        score: audit.delta_performance_audit.tagsafe_score, 
                        change_in_score: audit.delta_performance_audit.change_in_metric(:tagsafe_score)
                      } %>
                    <% else %>
                      <% if script_subscription.has_pending_audits_for_script_change?(script_subscription.script.most_recent_change) %>
                        <span class="badge badge-primary">Audit is running</span>
                      <% else %>
                        <span>No audits run for this tag version</span>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="pagination-container text-center">
      <%= paginate @script_subscriptions %>
    </div>
  <% end %>
</div>