<table class="table table-hover col-12 text-start" style="table-layout: fixed">
  <thead>
    <tr>
      <th scope="col" style="width: 25%">Container UID</th>
      <th scope="col" style="width: 25%">Container Name</th>
      <th scope="col" style="width: 20%">Subscription Plan</th>
      <th scope="col" style="width: 20%">Subscription Status</th>
      <th scope="col" style="width: 10%"></th>
    </tr>
  </thead>
  <tbody>
    <% @containers.each do |container| %>
      <tr>
        <td><%= container.uid %></td>
        <td><%= container.name %></td>
        <td><%= container.current_subscription_plan&.package_type %></td>
        <td><%= container.current_subscription_plan&.status %></td>
        <td><%= link_to 'View', admin_container_path(container) %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @containers %>