<h1 class='text-center'><%= @domain.url %></h1>

<div class='container-fluid text-center'>
  <div class='row'>
    <div class='col-6'>
      <h4>Signed up: <%= @domain.created_at.formatted_long %></h4>
    </div>
    <div class='col-6'>
      <h4>
        Subscription Plan: <%= @domain.current_saas_subscription_plan.package_type.capitalize %> Plan (<%= @domain.current_saas_subscription_plan.billing_interval %>) <br/>
        Status: <%= @domain.current_saas_subscription_plan.status %> <br/>
        <% if @domain.current_saas_subscription_plan.trialing? %>
          Free trial ends at: <%= @domain.current_saas_subscription_plan.free_trial_ends_at.strftime("%m/%d/%y @ %l:%M %P %Z") %>
        <% end %>
      </h4>
    </div>
  </div>
  <hr/>
  <div class='row'>
    <div class='col-6'>
      <h4>Admin users:</h4>
      <ul>
        <% @domain.admin_domain_users.includes(:user).each do |domain_user| %>
          <li><%= domain_user.user.email %></li>
        <% end %>
      </ul>
    </div>
    <div class='col-6'>
      <h4>Feature restrictions:</h4>
      <p>
        manual_performance_audits_included_per_month: <b><%= @domain.subscription_features_configuration.manual_performance_audits_included_per_month || 'n/a' %></b><br/>
        manual_test_runs_included_per_month: <b><%= @domain.subscription_features_configuration.manual_test_runs_included_per_month || 'n/a' %></b><br/>
        automated_performance_audits_included_per_month: <b><%= @domain.subscription_features_configuration.automated_performance_audits_included_per_month || 'n/a' %></b><br/>
        automated_test_runs_included_per_month: <%= @domain.subscription_features_configuration.automated_test_runs_included_per_month || 'n/a' %> <br/>
        uptime_checks_included_per_month: <b><%= @domain.subscription_features_configuration.uptime_checks_included_per_month || 'n/a' %></b><br/>
        has_advance_performance_audit_configurations: <b><%= @domain.subscription_features_configuration.has_advance_performance_audit_configurations || 'n/a' %></b><br/>
        tag_sync_minute_cadence: <b><%= @domain.subscription_features_configuration.tag_sync_minute_cadence || 'n/a' %></b><br/>
        min_release_check_minute_interval: <b><%= @domain.subscription_features_configuration.min_release_check_minute_interval || 'n/a' %></b><br/>
        data_retention_days: <b><%= @domain.subscription_features_configuration.data_retention_days || 'n/a' %></b><br/>
      </p>
    </div>
  </div>
  <hr/>
  <div class='row'>
    <h3>Billing:</h3>
    <div class='col-6'>
      <h4>
        Next SaaS Invoice: <%= number_to_currency(@next_saas_invoice.amount_due / 100.0) %> at <%= Time.at(@next_saas_invoice.next_payment_attempt).strftime("%m/%d/%y @ %l:%M %P %Z") %> <br/>
        Next Usage-based Invoice: <%= number_to_currency(@next_usage_based_invoice.amount_due / 100.0) %> at <%= Time.at(@next_usage_based_invoice.next_payment_attempt).strftime("%m/%d/%y @ %l:%M %P %Z") %> <br/>
      </h4>
    </div>
    <div class='col-6'>
      <h5>SaaS Subscription:</h6>
      <% @domain.current_saas_subscription_plan.selected_subscription_price_options.each do |subscription_price_option| %>
        <div style='border: 1px solid black'>
          <h6><%= subscription_price_option.name %></h6>
          <h6>Stripe Price ID: <%= subscription_price_option.stripe_price_id %></h6>
          <h6>Package: <%= subscription_price_option.subscription_package_type %></h6>
          <h6>Billing interval: <%= subscription_price_option.billing_interval %></h6>
        </div>
      <% end %>
      <h5>Usage-based Subscription:</h6>
      <% @domain.current_usage_based_subscription_plan.selected_subscription_price_options.each do |subscription_price_option| %>
        <div style='border: 1px solid black;'>
          <h6><%= subscription_price_option.name %></h6>
          <h6>Stripe Price ID: <%= subscription_price_option.stripe_price_id %></h6>
          <h6>Package: <%= subscription_price_option.subscription_package_type %></h6>
          <h6>Billing interval: <%= subscription_price_option.billing_interval %></h6>
        </div>
      <% end %>
    </div>
  </div>
</div>