<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-8'>
        <h1 class="page-title with-sub-title">Settings</h1>
        <h2 class="page-sub-title">Third party tag syncs</h2>
      </div>
      <div class='col-4 page-title-cta-container'>
        <%= form_with url: url_crawls_path, method: :POST do |f| %>
          <button type='submit' class='page-title-cta-btn floating-btn tagsafe-purple-bg' data-controller='tooltip' data-bs-toggle='tooltip' title='Sync third party tags from <%= current_domain.url %>. Tagsafe automatically syncs tags every hour.'>
            <i class="fa-solid fa-arrows-rotate"></i> Sync tags
          </button>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'settings/settings_nav' %>
</div>

<div class="tagsafe-container text-center">
  <div class='col-12'>
    <table class="table table-hover col-12 text-center" style="table-layout: fixed">
      <thead>
        <tr>
          <th scope="col" style="width: 20%">Time of sync</th>
          <th scope="col" style="width: 50%">URL synced from</th>
          <th scope="col" style='width: 10%'>New tags found</th>
          <th scope="col" style='width: 20%'>Error?</th>
          <th scope="col" style='width: 10%'></th>
        </tr>
      </thead>
      <tbody>
        <% @url_crawls.each do |crawl| %>
          <tr>
            <td style='word-break: break-word;'><%= crawl.enqueued_at.formatted_short %></td>
            <td style='word-break: break-word;'><%= crawl.page_url.full_url %></td>
            <td><%= crawl.found_tags.count %></td>
            <td style='word-break: break-word;'>
              <% if crawl.pending? %>
                <div class='tagsafe-pill tagsafe-primary-purple placeholder-wave'>Crawling...</div>
              <% else %>
                <%= crawl.error_message || 'Success' %>
              <% end %>
            </td>
            <td><%= link_to 'View Details', url_crawl_path(crawl) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @url_crawls %>
  </div>
</div>