<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-8'>
        <h1 class="page-title with-sub-title">Settings</h1>
        <h2 class="page-sub-title">Third party tag syncs</h2>
      </div>
      <div class='col-4 page-title-cta-container'>
        <!--
        <#%= form_with url: url_crawls_path, method: :POST do |f| %>
          <button type='submit' class='page-title-cta-btn floating-btn tagsafe-purple-bg' data-controller='tooltip' data-bs-toggle='tooltip' title='Sync third party tags from <%= current_domain.url %>. Tagsafe automatically syncs tags every hour.'>
            <i class="fa-solid fa-arrows-rotate"></i> Sync tags
          </button>
        <#% end %>
        !-->
      </div>
    </div>
  </div>
  <%= render 'settings/settings_nav' %>
</div>

<div class="tagsafe-container text-center">
  <div class='col-12'>
    <div class="tagsafe-table">
      <div class='tagsafe-table-row header'>
        <div class="tagsafe-table-cell">Time of sync</div>
        <div class="tagsafe-table-cell">URL synced from</div>
        <div class='tagsafe-table-cell'>New tags found</div>
        <div class='tagsafe-table-cell'>Status</div>
        <div class='tagsafe-table-cell'></div>
      </div>
      <% @url_crawls.each do |crawl| %>
        <div class='tagsafe-table-row'>
          <div class='tagsafe-table-cell'><%= crawl.enqueued_at.formatted_short %></div>
          <div class='tagsafe-table-cell'><%= crawl.page_url.full_url %></div>
          <div class='tagsafe-table-cell'><%= crawl.found_tags.count %></div>
          <div class='tagsafe-table-cell'>
            <% if crawl.pending? %>
              <div class='tagsafe-pill tagsafe-primary-purple placeholder-wave'><%= display_loading_icon size: :tiny %> Running</div>
            <% elsif crawl.failed? %>
              <div class='tagsafe-pill red' data-controller='tooltip' data-bs-toggle='tooltip' title="<%= crawl.error_message %>">Failed</div>
            <% else %>
              <div class='tagsafe-pill green'>Success</div>
            <% end %>
          </div>
          <div class='tagsafe-table-cell'><%= link_to 'View Details', url_crawl_path(crawl) %></div>
        </div>
      <% end %>
    </div>
    <%= paginate @url_crawls %>
  </div>
</div>