<%= turbo_stream_from "#{@tag_snippet.uid}_details_stream" %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js" integrity="sha512-hG/Qw6E14LsVUaQRSgw0RrFA1wl5QPG1a4bCOUgwzkGPIVFsOPUPpbr90DFavEEqFMwFXPVI0NS4MzKsInlKxQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/javascript/javascript.min.js" integrity="sha512-I6CdJdruzGtvDyvdO4YsiAq+pkWf2efgd1ZUSK2FnM/u2VuRASPC7GowWQrWyjxCZn6CT89s3ddGI+be0Ak9Fg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/edit/matchbrackets.min.js" integrity="sha512-GSYCbN/le5gNmfAWVEjg1tKnOH7ilK6xCLgA7c48IReoIR2g2vldxTM6kZlN6o3VtWIe6fHu/qhwxIt11J8EBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<%= render 'tags/root_paths_page_navigation', page_title: 'Tags' %>

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-8">
  <div class="grid max-w-3xl grid-cols-1 gap-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
    <div  class="lg:col-span-1 lg:col-start-1">
      <%= turbo_frame_tag "#{current_container.uid}_tag_snippets_list", src: list_tag_snippets_path do %>
        <!-- <#%= render 'tag_snippets/list', tag_snippets: @tag_snippets, container: current_container %> !-->
        <div class='text-center p-5'>
          <%= display_loading_icon %>
        </div>
      <% end %>
    </div>
    <div class="space-y-6 lg:col-span-2 lg:col-start-2 border rounded-md overflow-hidden">
      <%= render 'tag_snippets/show', tag_snippet: @tag_snippet %>
    </div>
  </div>
</div>

