<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js" integrity="sha512-hG/Qw6E14LsVUaQRSgw0RrFA1wl5QPG1a4bCOUgwzkGPIVFsOPUPpbr90DFavEEqFMwFXPVI0NS4MzKsInlKxQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/javascript/javascript.min.js" integrity="sha512-I6CdJdruzGtvDyvdO4YsiAq+pkWf2efgd1ZUSK2FnM/u2VuRASPC7GowWQrWyjxCZn6CT89s3ddGI+be0Ak9Fg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/edit/matchbrackets.min.js" integrity="sha512-GSYCbN/le5gNmfAWVEjg1tKnOH7ilK6xCLgA7c48IReoIR2g2vldxTM6kZlN6o3VtWIe6fHu/qhwxIt11J8EBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/selection/active-line.min.js" integrity="sha512-0sDhEPgX5DsfNcL5ty4kP6tR8H2vPkn40GwA0RYTshkbksURAlsRVnG4ECPPBQh7ZYU6S3rGvp5uhlGQUNrcmA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <h1 class="page-title with-sub-title">New Tag</h1>
      <h2 class="page-sub-title">Review</h2>
    </div>
  </div>
</div>

<div class='p-3'>
  <div class='col-8 m-auto'>
    <%= render 'progression_indicators', step_num: 4, tag: @tag %>
    <%= form_with model: @tag, url: tag_builder_update_path(@tag), class: 'tag-builder-form', data: { controller: 'loading_form' } do |f| %>
      <div class='review-row'>
        <% if @tag.js_script.blank? %>
          <span class='review-item-description'>Tag URL:</span>
          <span class='review-item-value'>
            <%= @tag.full_url %> <%= link_to 'Edit', tag_builder_resource_path(@tag), target: '_top' %>
          </span>
        <% else %>
          <textarea class='code-mirror-textarea hidden' 
                    data-controller='code-mirror' 
                    data-code-mirror-target='codeMirrorTextarea' 
                    data-dont-wrap-lines='true' 
                    data-readonly="true"
                    data-value="<%= @tag.js_script %>"></textarea>
        <% end %>
      </div>
      <div class='review-row'>
        <span class='review-item-description'>Tag load rule:</span>
        <span class='review-item-value'><%= @tag.load_type %></span>
      </div>
      <div class='review-row'>
        <span class='review-item-description'>Tag location:</span>
        <span class='review-item-value'><%= @tag.script_inject_location %></span>
      </div>
      <div class='review-row'>
        <span class='review-item-description'>Tag injection time:</span>
        <span class='review-item-value'><%= @tag.script_inject_event %></span>
      </div>
      <div class='review-row'>
        <span class='review-item-description'>Hosting location:</span>
        <span class='review-item-value'><%= @tag.is_tagsafe_hosted ? "Tagsafe-hosted" : "Default host #{@tag.url_domain.blank? ? nil : "(#{@tag.url_domain})"}" %></span>
      </div>
      <div class='review-row'>
        <span class='review-item-description'>JS execution:</span>
        <span class='review-item-value'><%= @tag.execute_script_in_web_worker ? "Off main thread in web worker" : "On the main thread" %></span>
      </div>
      <% if @tag.errors.any? %>
        <span class='mt-2 d-block' style='color: red'><%= @tag.errors.full_messages.join('. ') %></span>
      <% end %>
      <input type='hidden' name='current_view' value="review">
      <%= f.hidden_field :is_draft, value: false %>
      <div class='mt-2'>
        <%= loading_submit_button type: 'floating', button_class: 'float-end' do %>
          Publish tag
        <% end %>
      </div>
    <% end %>
  </div>
</div>