<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "#{@test_group_run.script.friendly_name} Change Details", script_script_change_path(@test_group_run.script, @test_group_run.script_change) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @test_group_run.test.title %></li>
  </ol>
</nav>


<div class="text-center">
  <h4>Test title: <%= @test_group_run.test.title %></h4>
  <p>
    <%= @test_group_run.test.description %>
  </p>
  <p>
    Expected result: result <%= @test_group_run.test_subscriber.expected_test_result.operator %> <%= @test_group_run.test_subscriber.expected_test_result.expected_result %>
  </p>
  <h5>Status: <span class="<%= @test_group_run.result_status %>"><%= @test_group_run.result_status.capitalize %></span></h5>
  
  <div class="row row-no-side-margins">
    <div class="col-12">
      <h5>Test results with tag on:</h5>
      <div class="row row-no-side-margins">
        <% @test_runs["Current Tag"].each do |test_run| %>
          <%= render partial: 'partials/test_results_card', locals: { test_run: test_run } %>
        <% end %>
      </div>
    </div>
  </div>

  <% unless @test_runs['Previous Tag'].nil? %>
    <div class="row row-no-side-margins">
      <div class="col-12">
        <h5>Test results with tag on:</h5>
        <div class="row row-no-side-margins">
          <% @test_runs["Previous Tag"].each do |test_run| %>
            <%= render partial: 'partials/test_results_card', locals: { test_run: test_run } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% unless @test_runs['Without Tag'].nil? %>
    <div class="row row-no-side-margins">
      <div class="col-12">
        <h5>Test results with tag off:</h5>
        <div class="row row-no-side-margins">
          <% @test_runs["Without Tag"].each do |test_run| %>
            <%= render partial: 'partials/test_results_card', locals: { test_run: test_run } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>