<% if domain_scan&.pending? %>
  <span>Currently scanning <%= current_domain.url %> for third party tags</span>
  <script>
    function checkDomainScanStatus() {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', '/api/domain_scans/<%= domain_scan.id %>');
      xhr.send();
      xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
          var response = JSON.parse(xhr.responseText);
          if(response.completed) window.location = window.location;
        }
      }
    }
    function pollDomainStatus(attempts) {
      attempts = attempts || 0;
      // stop polling after 10 minutes
      checkDomainScanStatus()
      if(attempts < 120) {
        setTimeout(function() {
          pollDomainStatus(attempts+1)
        }, 5000);
      } else {
        console.error('Domain Scan status poller timed out after 10 minutes.');
      }
    }
    setTimeout(function() {
      pollDomainStatus();
    }, 5000);
  </script>
<% elsif domain_scan&.failed? %>
  <p>There was an error scanning <%= current_domain.url %>, is this the correct URL?</p>
  <p><%= current_domain.domain_scans.most_recent.error_message %></p>
  <%= form_for current_domain do |f| %>
    <div class='input-group form-group'>
      <div class="input-group-prepend">
        <select name='domain[protocol]' class='custom-select' required>
          <option class='dropdown-item' value='https://' selected>https://</option>
          <option class='dropdown-item' value='http://'>http://</option>
        </select>
      </div>
      <input type="text" class="form-control" name="domain[url]" value="<%= current_domain.url.gsub(/https?:\/\//, "")) %>">
    </div>
    <%= f.submit 'Enter Your Domain to Monitor', class: 'btn btn-outline-primary' %>
  <% end %>
<% end %>