<% unless @hide_navigation %>
  <div class='navigation-wrapper' data-controller='side-navigation'>
    <div class="navigation <%= @collapsed_navigation ? 'collapsed' : nil %>" data-side-navigation-target='leftHandNav' data-action='click->side-navigation#leftHandNavClick'>
      <%= link_to tags_path do %>
        <div class="logo-container">
          <%= image_tag '/tagsafe-logo.svg', class: 'enlarge-slightly-on-hover img-fluid' %>
        </div>
      <% end %>
      <ul>
        <% 
          nav_items = [
            { path: tags_path, text: "Monitor Center", icon_class: "fas fa-home" },
            { path: change_log_path, text: "Change Log", icon_class: "fas fa-stream" },
            { path: uptime_path, text: "Uptime", icon_class: "fas fa-tachometer-alt" },
            { path: performance_path, text: 'Performance', icon_class: 'fas fa-running' },
            # { path: tags_path, text: "Manage Tags", icon_class: "fas fa-tasks" },
            { path: new_user_invite_path, text: "Team Management", icon_class: "fas fa-users" },
            { path: settings_tag_management_path, text: 'Settings', icon_class: 'fas fa-cogs', partial_match: '/settings/' }
          ]
        %>
        <% nav_items.each do |nav| %>
          <% additional_klass = request.path == nav[:path] ? 'current' : nil %>
          <li class='nav-item <%= additional_klass %>'>
            <%= link_to nav[:path], class: "nav-link #{additional_klass}" do %>
              <span class='nav-item-icon'><i class="<%= nav[:icon_class] %>"></i></span> 
              <span class='nav-item-text d-sm-none d-md-inline'><%= nav[:text] %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
      <div class="navigation-profile-container">
        <div class='navigation-profile-trigger' data-controller='dropdown' data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class='navigation-profile-initials'>
            <%= current_user.initials %>
          </span>
        </div>
        <div class="dropdown-menu navigation-profile-dropdown">
          <div class='dropdown-title text-center'>
            <div><%= current_user.full_name %></div>
            <div><%= current_organization.name %></div>
            <div><%= current_domain.url %></div>
          </div>
          <% if current_user.belongs_to_multiple_organizations? %>
            <div class='dropdown-divider'></div>
            <% current_user.organizations.each do |org| %>
              <div class='toggle-link <%= org == current_organization ? 'selected' : nil %>'>
                <% if org == current_organization %>
                  <%= org.name %>
                <% else %>
                  <%= form_with model: org, url: update_current_organization_path(org.uid), method: :put do |f| %>
                    <span data-controller='feaux_form_submit_button'><%= org.name %></span>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <% if current_organization.has_multiple_domains? %>
            <div class='dropdown-divider'></div>
            <% current_organization.domains.each do |domain| %>
              <div class='toggle-link <%= domain == current_domain ? 'selected' : nil %>'>
                <% if domain == current_domain %>
                  <%= domain.url %>
                <% else %>
                  <%= form_with model: domain, url: update_current_domain_path(domain.uid), method: :put do |f| %>
                    <span data-controller='feaux_form_submit_button'><%= domain.url %></span>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <div class='dropdown-divider'></div>
          <div class='toggle-link'>
            <%= link_to 'Logout', logout_path, target: '_top' %>
          </div>
        </div>
      </div>
    </div>
    <div class='left-hand-navigation-toggle hide-btn <%= @collapsed_navigation ? 'hidden' : nil %>' data-side-navigation-target='hideBtn' data-action='click->side-navigation#hide'>
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class='left-hand-navigation-toggle show-btn <%= @collapsed_navigation ? nil : 'hidden' %>' data-side-navigation-target='showBtn' data-action='click->side-navigation#show'>
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
<% end %>