<% unless @hide_navigation %>
  <div class='navigation-wrapper <%= user_is_anonymous? ? 'anonymous-user' : 'authenticated-user' %>' data-controller='side-navigation'>
    <div class="navigation <%= @collapsed_navigation ? 'collapsed' : nil %>" data-side-navigation-target='leftHandNav' data-action='click->side-navigation#leftHandNavClick'>
      <%= link_to tags_path do %>
        <div class="logo-container">
          <%= image_tag asset_cdn_url('/tagsafe-logo.svg'), class: 'enlarge-slightly-on-hover img-fluid' %>
        </div>
      <% end %>
      <ul>
        <% 
          nav_items = [
            { path: tags_path, text: "Monitor Center", icon_class: "fas fa-home" },
            { path: functional_tests_path, text: "Test Suite", icon_class: "fas fa-flask", active_nav_path_pattern: ['/functional_tests', '/test_run_log'] },
            { path: change_log_path, text: "Change Log", icon_class: "fas fa-stream" },
            { path: audit_log_path, text: "Audit Log", icon_class: "fa-solid fa-square-poll-vertical" },
            { path: uptime_path, text: "Uptime", icon_class: "fas fa-tachometer-alt" },
            { path: performance_path, text: 'Performance', icon_class: 'fas fa-running' },
            { path: alerts_path, text: "Alerts", icon_class: "fas fa-bell", active_nav_path_pattern: ['/alerts'] },
            { path: domain_users_path, text: "Team Management", icon_class: "fas fa-users" },
            { path: settings_path, text: 'Settings', icon_class: 'fas fa-cogs', active_nav_path_pattern: ['/settings', '/url_crawls'] }
          ]
        %>
        <% if user_is_anonymous? && current_domain_audit %>
          <li class='nav-item <%= request.path == third_party_impact_path ? 'current' : nil %> m-1'>
            <%= link_to third_party_impact_path, class: "nav-link #{request.path == third_party_impact_path ? 'current' : nil}" do %>
              <span class='nav-item-icon'><i class="fa-solid fa-window-maximize"></i></span> 
              <span class='nav-item-text d-sm-none d-md-inline ms-1'>Third Party Impact</span>
            <% end %>
          </li>
        <% end %>
        <% nav_items.each do |nav| %>
          <% additional_klass = (nav[:active_nav_path_pattern] ? nav[:active_nav_path_pattern].any?{ |pattern| request.path.include?(pattern) } : request.path == nav[:path]) ? 'current' : nil %>
          <li class='nav-item <%= additional_klass %> m-1'>
            <%= link_to nav[:path], class: "nav-link #{additional_klass}" do %>
              <span class='nav-item-icon'><i class="<%= nav[:icon_class] %>"></i></span> 
              <span class='nav-item-text d-sm-none d-md-inline ms-1'><%= nav[:text] %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    
    <div class='left-hand-navigation-toggle hide-btn <%= @collapsed_navigation ? 'hidden' : nil %>' data-side-navigation-target='hideBtn' data-action='click->side-navigation#hide'>
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class='left-hand-navigation-toggle show-btn <%= @collapsed_navigation ? nil : 'hidden' %>' data-side-navigation-target='showBtn' data-action='click->side-navigation#show'>
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
<% end %>