<div class="navigation">
  <%= link_to tags_path do %>
    <div class="logo-container">
      <%= image_tag 'TagSafe-lock.png', class: 'logo-img img-fluid' %>
    </div>
  <% end %>
  <% if current_organization.has_multiple_domains? %>
    <div class="dropdown show">
      <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_domain.url %>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <% current_organization.domains.each do |domain| %>
          <% klass = current_domain === domain ? 'dropdown-item active' : 'dropdown-item' %>
          <%= link_to domain.url, update_current_domain_path(domain.id), method: :post, class: klass %>
        <% end %>
      </div>
    </div>
  <% end %>
  <ul>
    <% 
      nav_items = [
        { path: tags_path, text: "Monitor Center", icon_class: "fas fa-home" },
        { path: change_log_path, text: "Change Log", icon_class: "fas fa-stream" },
        { path: uptime_path, text: "Uptime", icon_class: "fas fa-tachometer-alt" },
        { path: performance_path, text: 'Performance', icon_class: 'fas fa-running' },
        # { path: tags_path, text: "Manage Tags", icon_class: "fas fa-tasks" },
        { path: new_user_invite_path, text: "Team Management", icon_class: "fas fa-users" },
        { path: settings_tag_management_path, text: 'Settings', icon_class: 'fas fa-cogs', partial_match: '/settings/' }
      ]
    %>
    <% nav_items.each do |nav| %>
      <% additional_klass = request.path == nav[:path] ? 'current' : nil %>
      <li class='nav-item <%= additional_klass %>'>
        <%= link_to nav[:path], class: "nav-link #{additional_klass}" do %>
          <i class="<%= nav[:icon_class] %>"></i> <%= nav[:text] %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <ul class="logout-link-container">
    <li class='nav-item'>
      <a class="nav-link logout-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </li>
  </div>
</div>