<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href=<%= scripts_path %>>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= test_subscribers_path %>">Manage Tests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= script_subscribers_path %>">Manage Scripts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= notification_preferences_path %>">Manage Notifications</a>
      </li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="#">Tag Safe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 ml-auto">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% current_organization.domains.each do |domain| %>
          <% klass = current_domain === domain ? 'dropdown-item active' : 'dropdown-item' %>
          <%= link_to domain.url, update_current_domain_domain_path(domain), method: :post, class: klass %>
        <% end %>
      </div>
    </div>
  </div>
    <%
=begin%>
 <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Sign Out</a>
      </li>
    </ul> 
<%
=end%>
  </div>
</nav>