<div class="navigation">
  <a href="/scripts">
    <div class="logo-container">
      <h3>TagSafe</h3>
    </div>
  </a>
  <% if current_organization.has_multiple_domains? %>
    <div class="dropdown show">
      <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_domain.url %>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <% current_organization.domains.each do |domain| %>
          <% klass = current_domain === domain ? 'dropdown-item active' : 'dropdown-item' %>
          <%= link_to domain.url, update_current_domain_path(domain.id), method: :post, class: klass %>
        <% end %>
      </div>
    </div>
  <% end %>
  <ul>
    <% 
      nav_items = [
        { path: scripts_path, text: "Monitor Center", icon_class: "fas fa-home" },
        { path: change_log_path, text: "Change Log", icon_class: "fas fa-stream" },
        { path: uptime_path, text: "Uptime", icon_class: "fas fa-tachometer-alt" },
        { path: script_subscribers_path, text: "Manage Scripts", icon_class: "fas fa-tasks" },
        { path: notification_preferences_path, text: "Manage Notifications", icon_class: "fas fa-paper-plane" },
        { path: new_user_invite_path, text: "Manage Users", icon_class: "fas fa-users" },
        { path: settings_tags_path, text: 'Settings', icon_class: 'fas fa-cogs', partial_match: '/settings/' }
      ]
    %>
    <% nav_items.each do |nav| %>
      <li>
        
        <% klass = request.path == nav[:path] ? 'current nav-link' : 'nav-link' %>
        <%= link_to nav[:path], class: klass do %>
          <i class="<%= nav[:icon_class] %>"></i> <%= nav[:text] %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="logout-link-container">
    <a class="logout-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </div>
</div>