
<%= link_to monitored_script_path(monitored_script) do %>
  <div class="card-body text-center">
    <h4 class="card-title"><%= monitored_script.friendly_name %></h2>
    <h6 class="card-subtitle">Script was last updated: <%= monitored_script.most_recent_change.updated_at.strftime("%H:%M %m-%d-%Y ") %></h6>
    <p class="card-body">
      <% if monitored_script.most_recent_change.previous_result.nil? %>
        This was the first time Tag Safe capured the content. There has been no changes since.
      <% elsif monitored_script.change_in_bytes === 0 %>
        It did not change in size.
      <% else %>
        <% operator = monitored_script.change_in_bytes > 0 ? "increased" : "decreased" %>
        it <%= operator %> in size by <%= monitored_script.change_in_bytes %> bytes.
      <% end %>
    </p>
  </div>
<% end %>