<div aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6" data-controller='notification' data-persist-notification="<%= local_assigns[:auto_dismiss] == false %>">
  <div class="flex w-full flex-col items-center space-y-4 sm:items-end">
    <div class="pointer-events-auto flex w-full max-w-md divide-x divide-gray-200 rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5">
      <div class="flex w-0 flex-1 items-center p-4">
        <div class="w-full">
          <% if local_assigns[:title] %>
            <p class="text-sm font-medium text-gray-900"><%= local_assigns[:title] %></p>
          <% end %>
          <p class="mt-1 text-sm text-gray-500"><%= message %>.</p>
        </div>
      </div>
      <div class="flex">
        <div class="flex flex-col divide-y divide-gray-200">
          <% if local_assigns[:cta_url] %>
            <div class="flex h-0 flex-1">
              <a href="<%= cta_url %>" type="button" class="flex w-full items-center justify-center rounded-none rounded-tr-lg border border-transparent px-4 py-3 text-sm font-medium text-blue-600 hover:text-blue-500 focus:text-blue-400">
                <%= cta_text %>
              </a>
            </div>
          <% end %>
          <div class="flex h-0 flex-1">
            <button data-action='notification#dismiss' 
                    type="button" 
                    class="flex w-full items-center justify-center rounded-none rounded-br-lg border border-transparent px-4 py-3 text-sm font-medium text-gray-700 hover:text-gray-500 focus:text-gray-400">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>