<div class='notification <%= local_assigns[:notification_type] %> <%= local_assigns[:error] ? 'error' : nil %>' data-controller='notification'>
  <div class='p-2'>
    <div class='notification-header'>
      <span class='exit-btn spinnable-close-button' data-action='click->notification#dismiss'><i class='fa fa-times'></i></span>
      <% if local_assigns[:title] %>
        <span class='notification-title'><%= title %></span>
      <% end %>
      <% if local_assigns[:timestamp] %>
        <span class='notification-timestamp float-end'><%= timestamp %></span>
      <% end %>
    </div>
  </div>
  <div class='col-12 container notification-body'>
    <div class='row'>
      <% if local_assigns[:image] %>
        <div class='d-flex align-items-center' style='width: 75px;'>
          <%= image_tag image, class: 'tag-thumbnail border' %>
        </div>
      <% end %>
      <div class='notification-content' style='width: <%= local_assigns[:image] ? 'calc(100% - 75px);' : '100%' %>'>
        <% if local_assigns[:partial] %>
          <%= render partial, partial_locals %>
        <% else %>
          <span class='notification-message'><%= message %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>