<div class='fixed w-screen z-20'>
  <% if flash[:flash_notification] %>
    <%= render 'partials/notification', message: flash[:flash_notification] %>
  <% end %>

  <% if @container %>
    <%= turbo_stream_from "container_#{@container.uid}_notifications_container" %>
    <%= turbo_frame_tag "container_#{@container.uid}_notifications_container" do %>
    <% end %>
  <% end %>

  <% if current_user %>
    <%= turbo_stream_from "user_#{current_user.uid}_notifications_container" %>
    <%= turbo_frame_tag "user_#{current_user.uid}_notifications_container" do %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag "request_response_notifications_container" do %>
  <% end %>
</div>