<div class="script-subscriber-chart-container" style="padding-top: 5px;">
  <div class="row" style="margin-bottom: 5px;">
    <div class="col-12">
      <div class="dropdown dropleft show ellipsis-dropdown" style="float: right;">
        <a class="dropdown-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-h" style="font-size: 18px;"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to "Edit #{@script_subscriber.try_friendly_name}", edit_script_subscriber_path(@script_subscriber), class: 'dropdown-item' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="chart-type" id="impact" value="impact" checked>
        <label class="form-check-label" for="impact">Tag Impact</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="chart-type" id="compare" value="compare">
        <label class="form-check-label" for="compare">With vs Without Tag</label>
      </div>
    </div>
    <div class="col-6 text-right">
      <select class="selectpicker" id="chart-metrics-dropdown" multiple data-live-search="true">
        <% PerformanceAuditMetricType.all.each do |metric_type| %>
          <option value="<%= metric_type.key %>" 
                  data-metric-unit="<%=metric_type.unit%>" 
                  <%= metric_type.key === 'DOMComplete' ? 'selected' : nil %>>
                    <%= metric_type.title %>
          </option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="row">
    <%= 
      line_chart script_subscriber_chart_path(script_subscriber),
        download: true, 
        title: 'DOM Complete Impact Over Time',
        ytitle: 'DOM Complete Impact (ms)',
        xtitle: 'Script Change',
        curve: false,
        messages: { empty: "No Audits Ran." } 
    %>
  </div>
</div>