<% if include_metric_select %>
  <div style='float: right;'>
    <select class="selectpicker" id="metric-dropdown" data-max-options="1" data-live-search="true">
      <% PerformanceAudit::CHARTABLE_COLUMNS.each do |metric_type| %>
        <% if metric_type[:column] == default_metric_type %>
          <option value="<%= metric_type[:column] %>" selected><%= metric_type[:title] %></option>
        <% else %>
          <option value="<%= metric_type[:column] %>"><%= metric_type[:title] %></option>
        <% end %>
      <% end %> 
    </select>
  </div>
<% end %>
<div id="scripts-chart-container">
  <%=
    line_chart domain_tags_chart_path(current_domain, 
                                                      tag_ids: tag_ids, 
                                                      metric_type: default_metric_type, 
                                                      start_time: (params[:start_time] || 2.hours.ago).to_i.hours.ago),
      download: true, 
      title: "#{default_metric_type.to_s.gsub('_', ' ')}",
      ytitle: "#{default_metric_type.to_s.gsub('_', ' ')}",
      xtitle: 'Tag Changes',
      messages: { empty: "No Audits Run." },
      curve: false, 
      legend: "bottom",
      library: {
        rangeSelector: true,
        hAxis: { 
          # format: 'MM-DD-YYYY' 
          }
      }
  %>
</div>