<% unless @hide_navigation %>
  <nav class="bg-white border-b ">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">

      <div class="flex h-16 justify-between">
        <div class="flex">
          <div class="flex flex-shrink-0 items-center">
            <%= link_to root_path do %>
              <%= image_tag asset_cdn_url('/tagsafe-logo.svg'), class: 'block h-8 w-auto' %>
            <% end %>
          </div>

          <nav class="flex ml-4" aria-label="Breadcrumb">
            <% if @breadcrumbs && @breadcrumbs.any? %>
              <ol role="list" class="flex items-center space-x-4">

                <% @breadcrumbs.each_with_index do |crumb, i| %>
                  <li>
                    <div class="flex items-center">
                      <!-- Heroicon name: mini/chevron-right -->
                      <% if i > 0 %>
                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                        </svg>
                      <% end %>

                      <% if crumb[:url] %>
                        <%= link_to crumb[:text], crumb[:url], :class => "ml-4 text-sm font-medium text-gray-500 hover:text-blue-500" %>
                      <% else %>
                        <span class="ml-4 text-sm font-medium text-gray-500 cursor-default">
                          <%= crumb[:text] %>
                        </span>
                      <% end %>
                    </div>
                  </li>
                <% end %>

              </ol>
            <% end %>
          </nav>
        </div>


        <!--
        <%# if !user_is_anonymous? && current_user.belongs_to_multiple_containers? %>
          <div class='dropdown-divider'></div>
          <%# current_user.containers.each do |container| %>
            <div class='dropdown-item text-center <%#= container == current_container ? 'active' : nil %>'>
              <%# if container == current_container %>
                <%#= container.name %>
              <%# else %>
                <%#= form_with model: container, url: update_current_container_path(container.uid), method: :put do |f| %>
                  <span data-controller='feaux_form_submit_button'><%#= container.name %></span>
                <%# end %>
              <%# end %>
            </div>
          <%# end %>
        <%# end %>
        -->

        <div class="hidden sm:ml-6 sm:flex sm:items-center">
          <!-- Profile dropdown -->
          <div class="relative ml-3 hidden">
            <div>
              <button type="button" class="flex rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <span class="sr-only">Open user menu</span>
                <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              </button>
            </div>

            <!--
              Dropdown menu, show/hide based on menu state.
              Entering: "transition ease-out duration-200"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
              Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
            -->
            <div class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
              <!-- Active: "bg-gray-100", Not Active: "" -->
              <%= link_to 'Settings', settings_path, class: 'block px-4 py-2 text-sm text-gray-700', target: '_top' %>
              <%= link_to 'Help', '#', class: 'block px-4 py-2 text-sm text-gray-700', target: '_top' %>
              <%= link_to 'Sign out', logout_path, class: 'block px-4 py-2 text-sm text-gray-700', target: '_top' %>

            </div>
          </div>
        </div>
        <div class="-mr-2 flex items-center sm:hidden">
          <!-- Mobile menu button -->
          <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
              Heroicon name: outline/bars-3
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
              Heroicon name: outline/x-mark
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>

      <div class="hidden mt-6 sm:flex sm:space-x-8">

        <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->

        <% navigation_items && navigation_items.each do |nav| %>
          <% is_active = nav[:active] || request.path == URI.parse(nav[:url]).path %>
          <%= link_to is_active ? '#' : nav[:url], class: 'no-decoration' do %>
            <span class='inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-900 pb-2 <%= is_active ? 'border-b border-blue-500 cursor-default text-blue-500' : 'hover:text-blue-500' %>'>
              <%= nav[:text] %>
            </span>
          <% end %>
        <% end %>
        <% if !navigation_items %>
          <span class='inline-flex items-center px-1 pt-1 text-sm pb-2' >&#12644;</span>
        <% end %>

        <!--
          <a href="#" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700 pb-2">Team</a>
        <a href="#" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700 pb-2">Projects</a>
        <a href="#" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700 pb-2">Calendar</a>
        -->
      </div>

    </div>
  </nav>
<% end %>
