<% unless @hide_navigation %>
  <nav class="bg-white border-b ">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">

      <div class="flex h-16 justify-between">
        <div class="flex">
          <div class="flex flex-shrink-0 items-center">
            <%= image_tag asset_cdn_url('/tagsafe-logo.svg'), class: 'block h-8 w-auto' %>
          </div>

          <nav class="flex ml-4" aria-label="Breadcrumb">
            <% if @breadcrumbs && @breadcrumbs.any? %>
              <ol role="list" class="flex items-center space-x-4">

                <% @breadcrumbs.each_with_index do |crumb, i| %>
                  <li>
                    <div class="flex items-center">
                      <!-- Heroicon name: mini/chevron-right -->
                      <% if i > 0 %>
                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                        </svg>
                      <% end %>

                      <% if crumb[:url] %>
                        <%= link_to crumb[:text], crumb[:url], :class => "ml-4 text-sm font-medium text-gray-500 hover:text-blue-500" %>
                      <% else %>
                        <span class="ml-4 text-sm font-medium text-gray-500 cursor-default">
                          <%= crumb[:text] %>
                        </span>
                      <% end %>
                    </div>
                  </li>
                <% end %>

              </ol>
            <% end %>
          </nav>
        </div>

        <div class="sm:ml-6 sm:flex sm:items-center">
          <div data-controller="dropdown" class="relative inline-block text-left">
            <div>
              <button
                  data-action="click->dropdown#toggle"
                  type="button"
                  class="flex items-center rounded-full bg-gray-100 text-gray-400 px-2 py-2 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-gray-100 p-1"
                  id="menu-button"
                  aria-expanded="true"
                  aria-haspopup="true"
                >
                <span class="sr-only">Open options</span>
                <%= current_user.initials %>
              </button>
            </div>

            <div data-dropdown-target='menu' class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none transition ease-in-out opacity-0 hidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
              <div class="py-1 px-1" role="none">
                <span class='block text-gray-700 px-4 py-2 text-sm'><%= current_user.email %></span>
                <hr/>
                <%= link_to logout_path, class: 'text-gray-700 block px-4 py-2 text-sm hover:text-blue-500', target: '_top' do %>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 inline rotate-90 mr-1">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                  </svg>
                  Sign out
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Navigation Tabs -->
      <% unless @hide_top_level_nav_items %>
        <div class="mt-6 sm:flex sm:space-x-8">
          <% navigation_items && navigation_items.each do |nav| %>
            <% is_active = nav[:active] || request.path == URI.parse(nav[:url]).path %>
            <%= link_to is_active ? '#' : nav[:url], class: 'no-decoration' do %>
              <span class='relative inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-900 pb-2 <%= is_active ? 'border-b border-blue-500 cursor-default text-blue-500' : 'hover:text-blue-500' %>'>
                <%= nav[:text] %>
                <% if nav[:turbo_frame] %>
                  <% if nav[:turbo_frame][:stream] %>
                    <%= turbo_stream_from nav[:turbo_frame][:stream] %>
                  <% end %>
                  <%= turbo_frame_tag nav[:turbo_frame][:name], src: nav[:turbo_frame][:src] do %>
                  <% end %>
                <% end %>
              </span>
            <% end %>
          <% end %>
          <% if !navigation_items %>
            <span class='inline-flex items-center px-1 pt-1 text-sm pb-2' >&#12644;</span>
          <% end %>
        </div>
      <% end %>

    </div>
  </nav>
<% end %>
