<% 
  subscription_banner_message = case current_domain.current_subscription_plan&.status
                                when 'past_due'
                                  "We've had some issues charging your payment method on file, we'll give it a couple of more tries but if we're unable to charge your account your subscription will become frozen. #{link_to 'Update your payment method', settings_billing_path} in order to maintain functionality."
                                when 'incomplete_expired', 'unpaid'
                                  "Your Tagsafe subscription is frozen due to failed susbcription payments, please #{link_to 'update your payment method', settings_billing_path} in order to restore functionality to your account."
                                when 'canceled'
                                  "Because you canceled your Tagsafe subscription your account is now frozen, if you'd like to continue using Tagsafe please #{link_to 'select a subscription plan', select_subscription_plans_path(update: true)}."
                                else
                                  nil
                                end
%>
<% if subscription_banner_message %>
  <div class='fixed-top-banner <%= current_domain.current_subscription_plan.past_due? ? 'warning' : 'error' %>'>
    <span><%= HtmlHelper.WARNING_ICON %> <%= subscription_banner_message.html_safe %></span>
  </div>
<% elsif !current_domain.has_payment_method_on_file? && current_domain.has_current_subscription_plan? && current_domain.current_subscription_plan.on_free_trial? && current_domain.current_subscription_plan.days_until_free_trial_expires(round: false) <= 5 %>
  <div class='fixed-top-banner warning'>
    <span><%= HtmlHelper.WARNING_ICON %> Your free trial ends in <%= current_domain.current_subscription_plan.time_left_in_free_trial_in_words %>, <%= link_to 'add a payment method', settings_billing_path %> in order to prevent your account from being frozen.
  </div>
<% elsif user_is_anonymous? && !@disable_anonymous_user_banner %>
  <div class='fixed-top-banner'>
    <span>Your Tagsafe data will be purged at midnight PST. <a href='/register?domain=<%= current_domain.uid %>'>Register for free now</a> to enable persistent data, automated audits, functional tests, alerts, and much more! <a href='/features' target='_blank'>Learn more <i class="fa-solid fa-arrow-up-right-from-square"></i></a>.</span>
  </div>
<% end %>