<%= turbo_frame_tag 'urls_to_audit' do %>
  <div class='col-10 offset-1 mb-3'>
    <%= form_with model: url_to_audit, url: tag_urls_to_audit_index_path(tag), class: 'submit-loader-on-busy' do |f| %>
      <div class='row'>
        <div class='<%= Flag.flag_is_true(current_organization, 'tagsafe_hosted_site_enabled') ? 'col-9' : 'col-12' %>'>
          <div class="form-floating d-flex">
            <%= f.text_field :display_url, class: "form-control form-control-lg", value: current_domain.url, placeholder: current_domain.url %>
            <!-- <#%= f.label :friendly_name %> !-->
            <label for='friendly_name'>URL to audit</label>
            <button type='submit' class='tagsafe-btn square'>Add</button>
          </div>
        </div>
        <% if Flag.flag_is_true(current_organization, 'tagsafe_hosted_site_enabled') %>
          <div class='col-3 text-start'>
            <label for='url_to_audit_production_url_version'>Production URL version</label>
            <%= f.check_box :production_url_version, checked: true %>
            <label for='url_to_audit_tagsafe_hosted_version'>TagSafe-hosted URL version</label>
            <%= f.check_box :tagsafe_hosted_version, checked: true %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <% urls_to_audit.each do |url_to_audit| %>
    <% if url_to_audit.tagsafe_hosted %>
      <div class='tagsafe-pill tagsafe-blue removable m-1' data-controller='tooltip' data-bs-toggle='tooltip' data-placement='top' title="This is the TagSafe hosted version of <%=url_to_audit.display_url%>. TagSafe hosts a second version of your URLs for accurate tests.">
        <%= url_to_audit.display_url %>
        <%= form_with model: [tag, url_to_audit], url: tag_urls_to_audit_path(tag, url_to_audit), method: :delete, class: 'd-inline' do |f| %>
          <span class='remove-btn pointer p-1' data-controller='feaux_form_submit_button'><i class='fa fa-times'></i></span>
        <% end %>
      </div>
    <% else %>
      <div class='tagsafe-pill grey removable m-1'>
        <%= url_to_audit.display_url %>
        <%= form_with model: [tag, url_to_audit], url: tag_urls_to_audit_path(tag, url_to_audit), method: :delete, class: 'd-inline' do |f| %>
          <span class='remove-btn pointer p-1' data-controller='feaux_form_submit_button'><i class='fa fa-times'></i></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>