
<%= turbo_frame_tag "tag_#{tag.uid}_urls_to_audit_form" do %>
  <%= form_with model: UrlToAudit.new, url: tag_urls_to_audit_index_path(tag), data: { controller: 'loading_form' } do |f| %>
    <div class='row'>
      <div class='col-12'>
        <div class="form-floating d-flex">
          <%= f.text_field :page_url, class: "form-control form-control-lg", value: "#{domain.url}/", placeholder: domain.url %>
          <label>Add new URL to audit</label>
          <%= loading_submit_button 'Add', button_class: 'square' %>
        </div>
      </div>
    </div>
    <%= render 'partials/inline_errors', errors: local_assigns[:errors], text_only: true %>
  <% end %>
<% end %>