<!-- <#%= turbo_frame_tag 'new_registration' do %> !-->
  <%= form_with model: user, url: registrations_path, data: { controller: 'loading_form' } do |f| %>
    <% if local_assigns[:domain] %>
      <div class='form-floating m-2'>
        <input type='hidden' name="domain_uid" value="<%=domain.uid%>">
        <input type="text" class="form-control" value="<%=domain.url%>" disabled="true">
        <label>Site URL</label>
      </div>
    <% end %>
    <div class='form-floating m-2'>
      <%= f.text_field :first_name, class: 'form-control', placeholder: 'John', required: true %>
      <%= f.label :first_name %>
    </div>
    <div class='form-floating m-2'>
      <%= f.text_field :last_name, class: 'form-control', placeholder: 'Smith', required: true %>
      <%= f.label :last_name %>
    </div>
    <div class='form-floating m-2'>
      <%= f.email_field :email, class: 'form-control', placeholder: 'john@example.com', required: true %>
      <%= f.label :email %>
    </div>
    <div class='form-floating m-2'>
      <%= f.password_field :password, class: 'form-control', placeholder: 'password', required: true %>
      <%= f.label :password %>
    </div>
    <div class='form-floating m-2'>
      <input type='text' name='invite_code' id='invite_code' class='form-control' placeholder='ABC123' required>
      <label for='invite_code'>Invite Code</label>
    </div>
    <%= render 'partials/inline_errors', errors: local_assigns[:errors] %>
    <%= loading_submit_button 'Choose your plan', button_class: 'large mb-3' %>
    <div class='row'>
      <% if local_assigns[:domain] %>
        <%= link_to 'Login', "#{login_path}?domain=#{domain.uid}" %>
      <% else %>
        <%= link_to 'Login', login_path %>
      <% end %>
    </div>
  <% end %>
<!-- <#% end %> !-->