<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-8'>
        <h1 class="page-title">Uptime</h1>
      </div>
      <div class='col-4 page-title-cta-container'>
        <%= link_to 'Uptime Settings', settings_tag_management_path, class: 'page-title-cta-btn floating-btn tagsafe-purple-bg' %>
      </div>
    </div>
  </div>
</div>

<div class="tagsafe-container">
  <%= turbo_frame_tag "#{current_domain.uid}_domain_tag_uptime", src: tags_uptime_chart_path(current_domain, tag_ids: @tags.collect(&:id), start_time: 1.day.ago, end_time: Time.now) do %>
    <div class='text-center'>
      <%= display_loading_spinner %>
    </div>
  <% end %>
</div>

<div class="tagsafe-container" style='margin-top: 15px'>
  <table class="table table-hover col-12" style="table-layout: fixed">
    <thead>
      <tr>
        <th scope="col" style='width: 10%'></th>
        <th scope="col" style='width: 40%'>Tag</th>
        <th scope="col" style='width: 12.5%'>Average Response Time</th>
        <th scope="col" style='width: 12.5%'>Max Response Time</th>
        <th scope="col" style='width: 12.5%'># Failed Requests</th>
        <th scope="col" style='width: 12.5%'>Fail Rate</th>
        <th scope='col' style='width: 10%'></th>
      </tr>
    </thead>
    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= image_tag tag.try_image_url, class: 'tag-thumbnail' %></td>
          <td data-bs-toggle="tooltip" data-placement="top" title="<%= tag.try_friendly_name %>" scope="row" style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap;'><%= tag.try_friendly_name %></td>
          <td><%= number_to_human(tag.average_response_time(days_ago: @days_ago), units: { unit: 'ms', thousand: 'seconds' }) %></td>
          <td><%= number_to_human(tag.max_response_time(days_ago: @days_ago), units: { unit: 'ms', thousand: 'seconds' }) %></td>
          <td><%= tag.num_failed_requests(days_ago: @days_ago) %></td>
          <td>
            <span data-controller='tooltip' data-bs-toggle='tooltip' title="<%= tag.num_failed_requests %> of the last <%= tag.total_num_of_requests %> have failed over the last 7 days.">
            <%= tag.fail_rate(days_ago: @days_ago) %>%
          </td>
          <td>
            <div class="dropdown dropleft show ellipsis-dropdown tagsafe-circular-btn">
              <a class="dropdown-link" data-controller='dropdown' href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-h" style="font-size: 18px;"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to 'View Tag Uptime', uptime_tag_path(tag), class: 'dropdown-item' %> 
                <%= link_to 'View Tag Details', tag_path(tag), class: 'dropdown-item' %> 
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @tags %>