<%= turbo_frame_tag "container_#{container.uid}_invites" do %>
  <% if pending_user_invites.any? %>
    <div class="mt-6">
      <ul role="list" class="mt-4 divide-y divide-gray-200 border-t border-b border-gray-200">

        <% pending_user_invites.each do |invite| %>
          <li class="flex items-center justify-between space-x-3 py-4">
            <div class="flex min-w-0 flex-1 items-center space-x-3">
              <div class="flex-shrink-0">
              </div>
              <div class="min-w-0 flex-1">
                <p class="truncate text-sm font-medium text-gray-900"><%= invite.email %></p>
                <p class="truncate text-sm font-medium text-gray-500">Invited by <%= invite.invited_by_user.full_name %></p>
              </div>
            </div>
            <div class="flex-shrink-0">
              <% if invite.expired? %>
                <span class="inline-flex items-center rounded-full bg-red-100 px-2.5 py-0.5 text-xs font-medium text-red-800 cursor-default">Expired</span>
              <% else %>
                <p class='truncate text-sm font-medium text-gray-900'>Expires <%= invite.expires_at.date_only %></p>
              <% end %>
            </div>
          </li>
        <% end %>

      </ul>
    </div>
  <% else %>
    <div class='p-5 text-center'>
      <h4 class='empty-message'>No <%= status %> invites.</h4>
    </div>
  <% end %>
<% end %>