<%= turbo_frame_tag "container_#{container.uid}_invites" do %>
  <% if user_invites.any? %>
    <div class='tagsafe-table'>
      <div class='tagsafe-table-row header square'>
        <div class='tagsafe-table-cell'>Invited user email</div>
        <div class='tagsafe-table-cell'>Expires at</div>
        <div class='tagsafe-table-cell'>Invited by</div>
      </div>
      <div class='tagsafe-table-body'>
        <% user_invites.each do |invite| %>
          <div class='tagsafe-table-row'>
            <div class='tagsafe-table-cell'><%= invite.email %></div>
            <div class='tagsafe-table-cell'><%= invite.expires_at.formatted_long %></div>
            <div class='tagsafe-table-cell'><%= invite.invited_by_user.email %></div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class='p-5 text-center'>
      <h4 class='empty-message'>No <%= status %> invites.</h4>
    </div>
  <% end %>
<% end %>