<%= turbo_frame_tag "organization_#{current_organization.uid}_pending_invites" do %>
  <h3 class='text-center tagsafe-font'>Pending invites</h3>
  <% if user_invites.any? %>
    <div class='tagsafe-table'>
      <div class='tagsafe-table-head tagsafe-table-row'>
        <div class='tagsafe-table-head' style='width: 33%;'>Invited user email</div>
        <div class='tagsafe-table-head' style='width: 33%;'>Expires at</div>
        <div class='tagsafe-table-head' style='width: 33%;'>Invited by</div>
      </div>
      <div class='tagsafe-table-body'>
        <% user_invites.each do |invite| %>
          <div class='tagsafe-table-row'>
            <div class='tagsafe-table-data' style='width: 33%'><%= invite.email %></div>
            <div class='tagsafe-table-data' style='width: 33%'><%= invite.expires_at.formatted_long %></div>
            <div class='tagsafe-table-data' style='width: 33%'><%= invite.invited_by_user.email %></div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class='text-center'>
      <span class='empty-message'>You are the only Tagsafe user in <%= current_organization.name %>! Add teammates here.</span>
    </div>
  <% end %>
<% end %>