<div class='container'>
  <div class='nav-less-tagsafe-logo-container col-12 text-center'>
    <%= link_to root_path do %>
      <%= image_tag asset_cdn_url('/tagsafe-logo.svg'), class: 'img-fluid mb-5 enlarge-slightly-on-hover', style: 'width: 100px; height: 100px;' %>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-10 col-md-8 col-xl-6 tagsafe-container with-shadow no-border text-center form-card m-auto">
    <h3>Join <%= @user_invite.organization.name %></h3>
    <%= form_for @user, url: redeem_invite_path(@user_invite.token), data: { controller: 'loading_form' } do |f| %>
      <div class='form-floating m-2'>
        <%= f.text_field :first_name, class: 'form-control' %>
        <%= f.label :first_name %>
      </div>
      <div class='form-floating m-2'>
        <%= f.text_field :last_name, class: 'form-control' %>
        <%= f.label :last_name %>
      </div>
      <div class='form-floating m-2'>
        <%= f.text_field :email, class: 'form-control', value: @user_invite.email %>
        <%= f.label :email %>
      </div>
      <div class='form-floating m-2'>
        <%= f.password_field :password, class: 'form-control', placeholder: 'password' %>
        <%= f.label :password %>
      </div>
      <%= render 'partials/inline_errors', errors: flash[:errors] %>
      <%= loading_submit_button 'Accept Invite', button_class: 'large mb-3' %>
    <% end %>
  </div>
</div>