<div class='min-viewport-height'>
  <div class='container d-flex h-100 flex-column justify-content-center p-5'>
    <div class='w-100 text-center'>
      <%= link_to root_path do %>
        <%= image_tag asset_cdn_url('/tagsafe-logo.svg'), class: 'img-fluid mb-5 enlarge-slightly-on-hover', style: 'width: 100px; height: 100px;' %>
      <% end %>
    </div>

  <div class='w-100'>
    <div class="col-xs-12 col-sm-10 col-md-8 col-xl-6 tagsafe-container with-shadow no-border text-center form-card m-auto mb-5">
      <h1 class='tagsafe-font mb-5'>Join <%= @user_invite.container.name %> on Tagsafe</h1>
      <% if @user_invite.redeemable? %>
        <%= form_for @user, url: redeem_invite_path(@user_invite.token), data: { controller: 'loading_form' } do |f| %>
          <div class='form-floating m-2'>
            <%= f.text_field :first_name, class: 'form-control', placeholder: 'John' %>
            <%= f.label :first_name %>
          </div>
          <div class='form-floating m-2'>
            <%= f.text_field :last_name, class: 'form-control', placeholder: 'Smith' %>
            <%= f.label :last_name %>
          </div>
          <div class='form-floating m-2'>
            <%= f.text_field :email, class: 'form-control', value: @user_invite.email %>
            <%= f.label :email %>
          </div>
          <div class='form-floating m-2'>
            <%= f.password_field :password, class: 'form-control', placeholder: 'password' %>
            <%= f.label :password %>
          </div>
          <%= render 'partials/inline_errors', errors: flash[:errors] %>
          <%= loading_submit_button 'Accept Invite', button_class: 'large mb-3 mt-3' %>
        <% end %>
      <% elsif @user_invite.redeemed? %>
        <h4 style='color: red'>Invite already redeemed.</h4>
      <% elsif @user_invite.expired? %>
        <h4 style='color: red'>Invite expired, please request a new invite from your admin.</h4>
      <% end %>
    </div>
  </div>
</div>