<%= turbo_frame_tag "container_settings" do %>
  <%= form_with model: container, data: { controller: 'loading_form' } do |f| %>

    <% if local_assigns[:success_message] %>
      <div class="rounded-md bg-green-50 p-4">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="h-6 w-6 text-green-800 bg-green-200 rounded-full px-1 py-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
          </div>
          <div class="ml-3">
            <h3 class="text-sm font-medium text-green-800"><%= local_assigns[:success_message] %></h3>
          </div>
        </div>
      </div>
    <% elsif local_assigns[:error_message] %>
      <div class="rounded-md bg-red-50 p-4">
        <div class="flex">
          <div class="ml-3">
            <h3 class="text-sm font-medium text-red-800"><%= local_assigns[:error_message] %></h3>
          </div>
        </div>
      </div>
    <% end %>

    <div class='mt-4'>
      <label for="" class="block text-sm font-medium text-gray-700">Container Name (Your Website)</label>
      <%= f.text_field :name, value: container.name, class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm', placeholder:'My Website Name', type:'text' %>
    </div>


    <fieldset class="mt-6 border-t border-b border-gray-200">
      <legend class="sr-only">Container Settings</legend>
      <div class="divide-y divide-gray-200">

        <div class="relative flex items-start py-4">
          <div class="min-w-0 flex-1 text-sm">
            <label for="comments" class="font-medium text-gray-700">Defer all script tags by default</label>
            <% if container.defer_script_tags_by_default %>
              <p class="text-gray-500">Toggle this setting to no longer set all of your tags' script elements to be a deffered load type.</p>
            <% else %>
              <p class="text-gray-500">Toggle this setting to set all of your tags' script elements to be a deffered load type by default. This can be overridden on a per tag basis in your tag settings.</p>
            <% end %>
          </div>
          <div class="ml-3 flex h-5 items-center">
            <%= f.check_box :defer_script_tags_by_default, class: 'h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500', checked: container.defer_script_tags_by_default, style: '', type:'checkbox' %>
          </div>
        </div>
      </div>
    </fieldset>

    <div class='text-end'>
      <button type='submit' class='mt-6 inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-gray-100'>
        Update settings
      </button>
    </div>

  <% end %>
<% end %>
