<section class="col-12 mt-3">
  <div class='row feature-row'>
    <div class="d-none d-md-inline col-md-5 offset-md-1">
      <h1 class="d-none d-md-inline feature-title alfa-slab"><%= title %></h1>
      <% (local_assigns[:descriptions] || [description]).each do |description_text| %>
        <p class='feature-description'><%= description_text %></p>
      <% end %>
    </div>

    <h1 class="d-md-none feature-title alfa-slab text-center mt-3"><%= title %></h1>
    <div class="col-sm-12 col-md-6 feature-screengrab-img-container pe-4 ps-4">
      <%= image_tag image_url, loading: 'lazy', class: 'img-fluid feature-screengrab-img' %>
    </div>
    <div class='d-md-none p-5'>
      <% (local_assigns[:descriptions] || [description]).each do |description_text| %>
        <p class='feature-description'><%= description_text %></p>
      <% end %>
    </div>
  </div>
</section>