<%= render 'header' %>
<%= render 'how_it_works' %>
<%= render 'whats_the_problem' %>
<%= render 'features' %>

<div class='m-auto w-fit mt-5 mb-5'>
  <%= link_to 'Start free trial', new_domain_path, class: 'floating-btn large d-block m-auto w-fit' %>
  <span>No credit card required.</span>
</div>