<section class='container-fluid text-center' id='home-section'>
  <div class='row align-items-center justify-content-center' id='header-content'>
    <div class='main-header-wrapper p-5'>
      <h1 class="main-header alfa-slab">
        Third party tags <br/>
        <span class='strikethrough'>are</span><span class='replace-text'>used to be</span><br/>
        your #1 blindspot.
      </h1>
      <h2 class="sub-header">
        Third party tags make your web application more vulnerable due to the lack of visibility, control, and stability they come with. 
        Tagsafe provides a set of tools to put you back in control of your site.
      </h2>
      <div class='mt-5'>
        <%= link_to 'Get started', new_registration_path, class: 'floating-btn large d-block m-auto w-fit' %>
        <span>No credit card required.</span>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12 col-sm-10 offset-sm-1'>
      <%= render 'welcome/parallax_dashboard' %>
    </div>
  </div>
</section>

<section class="splash-container fit-content text-start mt-5" id='how-it-works-section'>
  <div class='container-fluid'>
    <h1 class="alfa-slab mb-3 text-center">How it works</h1>
    <div class='row'>
      <div class='col-xs-12 col-sm-4 text-center'>
        <div class='how-it-works-square'>
          <div class='how-it-works-icon'>
            <%= render 'partials/svgs/scanning_animation' %>
          </div>
          <h4 class='mt-3'>Capture</h4>
          <p>
            Upon signing up, Tagsafe continuously scans and captures all of the third party tags on your site without any installations or tagging needed on your site.
          </p>
        </div>
      </div>
      <div class='col-xs-12 col-sm-4 text-center'>
        <div class='how-it-works-square'>
          <div class='how-it-works-icon'>
            <%= render 'partials/svgs/monitor-eye' %>
          </div>
          <h4 class='mt-3'>Monitor</h4>
          <p>
            We will then monitor your tags and detect whenever one of your tag providers makes a release to your site.
          </p>
        </div>
      </div>
      <div class='col-xs-12 col-sm-4 text-center'>
        <div class='how-it-works-square'>
          <div class='how-it-works-icon'>
            <%= render 'partials/svgs/stethoscope' %>
          </div>
          <h4 class='mt-3'>Audit</h4>
          <p>
            A series of audits are performed against the tag capturing dozens of metrics providing you with the negative impact it is having on your site.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="splash-container fit-content text-start" id='whats-the-problem'>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xs-12 col-md-6">
        <h2 class="alfa-slab mb-3">What's the problem with using tags?</h2>
        <p class="sub-header">The process of managing, deploying, and monitoring third party tags are completely broken.</p>
        <p class="sub-header">You should treat your tags with the same care and precaution that you take with your first party code.</p>
        <p class="sub-header">
          Tagsafe is a set of tools that puts you back in control of your site by providing the level of visibility into your suite of tags that you need to be effective.
        </p>
      </div>
      <div class='col-xs-12 col-md-6'>
        <img src="<%= asset_cdn_url('/pipes.png') %>" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<div class="container-fluid" id='features'>
  <section class="row feature-row">
    <h1 class="d-md-none feature-title alfa-slab mb-2">Release Detection</h1>
    <div class="col-sm-12 col-md-6 feature-screengrab-img-container ps-3">
      <%= image_tag '/images/home/release-detection.png', loading: 'lazy', class: 'img-fluid feature-screengrab-img' %>
    </div>

    <div class="col-sm-12 col-md-5">
      <h1 class="d-none d-md-inline feature-title alfa-slab">Release Detection</h1>
      <p class="feature-description mt-3">Your third party tag providers are constantly making changes to their tags without you ever knowing when these changes occur, what they consist of, and if they are hurting your site.</p>
      <p class="feature-description">Tagsafe is the first solution that can detect when your tag providers make releases to your site, notify you, show you what changes were made, and if those changes negatively impacted your site.</p>
    </div>
  </section>
  
  <section class="row feature-row">
    <div class="col-sm-12 col-md-5 offset-md-1">
      <h1 class="d-none d-md-inline feature-title alfa-slab">Performance Audits</h1>
      <p class="feature-description mt-3">Third party tags are one of the top causes of poor web performance, and because they are constantly changing it is near impossible to keep in front of.</p>
      <p class='feature-description'>Tagsafe performance audits measure exactly how much each of your tags impact key performance metrics. "Tagsafe Scores" act as a single metric that measures the overall health of a tag so you always have a constant snapshot of all of your tags' health.</p>
    </div>

    <h1 class="d-md-none feature-title alfa-slab">Performance impact</h1>
    <div class="col-sm-12 col-md-6 feature-screengrab-img-container pe-3">
      <%= image_tag asset_cdn_url('/performance-group.png'), loading: 'lazy', class: 'img-fluid feature-screengrab-img' %>
    </div>
  </section>

  <section class="row feature-row">
    <h1 class="d-md-none feature-title alfa-slab mb-2">Functional Tests</h1>
    <div class="col-sm-12 col-md-6 feature-screengrab-img-container ps-3">
      <%= image_tag asset_cdn_url('/tests-group.png'), loading: 'lazy', class: 'img-fluid feature-screengrab-img' %>
    </div>
    <div class="col-sm-12 col-md-5">
      <h1 class="d-none d-md-inline feature-title alfa-slab">Functional Tests</h1>
      <p class="feature-description">Tagsafe runs full end-to-end tests on your site and detects whenever a tag is breaking any functionality on your site so you never fall victim to a rogue third party release again.</p>
    </div>
  </section>

  <section class="row feature-row">
    <div class="col-sm-12 col-md-5 offset-md-1">
      <h1 class="d-none d-md-inline feature-title alfa-slab">Uptime monitoring</h1>
      <p class="feature-description mt-3">Tagsafe monitors the response and uptime of your tags in regions across the world so you can be sure one of your tags isn't causing a degraded experience for <i>any</i> of your users.</p>
    </div>

    <h1 class="d-md-none feature-title alfa-slab">Uptime monitoring</h1>
    <div class="col-sm-12 col-md-6 feature-screengrab-img-container pe-3">
      <%= image_tag '/images/home/uptime-monitoring.png', loading: 'lazy', class: 'img-fluid feature-screengrab-img' %>
    </div>
  </section>
</div>


<div class='container-fluid mt-5 mb-5'>
  <div class='m-auto w-fit'>
    <%= link_to 'Start free trial', new_domain_path, class: 'floating-btn large d-block m-auto w-fit' %>
    <span>No credit card required.</span>
  </div>
</div>