<div id="content">
  <div class="splash-container" id='home'>
    <div class="container-fluid">
      <div class="col-12">
        <div class="row">
          <div class="col-md-5 col-sm-12 d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h1 class="main-header alfa-slab">
                    Take control over your third party tags.
                  </h1>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h2 class="sub-header">
                    Gain visibility into your third party tags, monitor changes in real time, and ensure your site is not hurt by a third party release.
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-12">
            <img src="<%= asset_cdn_url('/pipes.png') %>" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="splash-container ts-bg fit-content why-tagsafe-container" id='why'>
    <div class="container-fluid">
      <div class="col-12">
        <div class="row">
          <h1 class="alfa-slab mb-5">Why Tagsafe?</h1>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class='icon-container'>
              <img src="<%= asset_cdn_url('/visibility.png') %>">
            </div>
            <h3 class="alfa-slab">Visbility</h3>
            <p>
              Third party tags are the #1 blind spot of your web application, gain insight into what they're doing with Tagsafe.
            </p>
          </div>
          <div class="col-12 col-md-4">
            <div class='icon-container'>
              <img src="<%= asset_cdn_url('/control.png') %>">
            </div>
            <h3 class="alfa-slab">Control</h3>
            <p>
              Gain back control over your tags and stop falling victim to third party releases you otherwise would be blind to.
            </p>
          </div>
          <div class="col-12 col-md-4">
            <div class='icon-container'>
              <img src="<%= asset_cdn_url('/performance.png') %>">
            </div>
            <h3 class="alfa-slab">Stability</h3>
            <p>
              Monitor your tags to ensure they aren't degrading your site's performance, functionality, or security.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="splash-container" id='how'>
    <div class="container-fluid">
      <h1 class="alfa-slab">How it works</h1>
      
      <div class="row feature-row">
        <h2 class="d-md-none feature-title alfa-slab">Realtime monitoring</h2>
        <div class="col-sm-12 col-md-6 feature-screengrab-img-container">
          <div class='notifications-carousel-container'>
            <img src="<%= asset_cdn_url('/slack-notifications.png') %>" class="img-fluid feature-screengrab-img" data-controller='notification-carousel' data-num-items='3'>
          </div>
        </div>

        <div class="col-sm-12 col-md-6">
          <h2 class="d-none d-md-inline feature-title alfa-slab">Realtime monitoring</h2>
          <p class="feature-description">Tagsafe monitors exactly when your tag providers push changes to your site and ensure those releases don't have a negative impact.</p>
        </div>
      </div>

      <div class="row feature-row">
        <div class="d-none d-md-inline col-md-6">
          <h2 class="feature-title alfa-slab">Version history</h2>
          <p class="feature-description">View what changes were made in each third party release with a full "git diff" view and refer back to historical releases.</p>
        </div>

        <h2 class="d-md-none feature-title alfa-slab">Version history</h2>
        <div class="col-sm-12 col-md-6 feature-screengrab-img-container">
          <%= image_tag asset_cdn_url('/git-diff.png'), loading: 'lazy', class: 'img-fluid feature-screengrab-img' %>
          <!-- <img src="<#%= asset_cdn_url('/git-diff.png') %>" class="img-fluid feature-screengrab-img"> !-->
        </div>
        <p class="d-md-none feature-description">View what changes were made in each third party release with a full "git diff" view, and refer back to historical releases.</p>
      </div>
      
      <div class="row feature-row">
        <h2 class="d-md-none feature-title alfa-slab">Performance impact</h2>
        <div class="col-sm-12 col-md-6 feature-screengrab-img-container">
          <%= image_tag asset_cdn_url('/performance-group.png'), loading: 'lazy', class: 'img-fluid feature-screengrab-img' %>
          <!-- <img src="<#%= asset_cdn_url('/performance-group.png') %>" class="img-fluid feature-screengrab-img"> !-->
        </div>

        <div class="col-sm-12 col-md-6">
          <h2 class="d-none d-md-inline feature-title alfa-slab">Performance impact</h2>
          <p class="feature-description">Attribute precisely how much a tag is slowing down your site, reference the Tagsafe-generated "health score", and playback a side-by-side comparison of the visual impact to your site.</p>
        </div>
      </div>

      <div class="row feature-row">
        <div class="d-none d-md-inline col-md-6">
          <h2 class="feature-title alfa-slab">End-to-end tests</h2>
          <p class="feature-description">Run full end-to-end tests with Tagsafe to ensure none of your tags are breaking any functionality on your site, and never fall victim to a rogue third party release again.</p>
        </div>

        <h2 class="d-md-none feature-title alfa-slab">End-to-end tests</h2>
        <div class="col-sm-12 col-md-6 feature-screengrab-img-container">
          <%= image_tag asset_cdn_url('/tests-group.png'), loading: 'lazy', class: 'img-fluid feature-screengrab-img' %>
          <!-- <img src="<#%= asset_cdn_url('/tests-group.png') %>" class="img-fluid feature-screengrab-img"> !-->
        </div>
        <p class="d-md-none feature-description">Run full end-to-end tests with Tagsafe to ensure none of your tags are breaking any functionality on your site, and never fall victim to a rogue third party release again.</p>
      </div>
      
    </div>
  </div>

  <div class="splash-container ts-bg fit-content" id='contact'>
    <div class="container-fluid">
      <h1 class="alfa-slab">Contact us</h1>
      <h2 class='sub-header'>Want to learn more? Get in touch.</h2>
      <a href='mailto:hello@tagsafe.io'>hello@tagsafe.io</a>
    </div>
  </div>
</div>