<%= turbo_frame_tag "#{domain.uid}_domain_tags_chart" do %>
  <% 
    chart_data = chart_data || ChartHelper::TagsData.new(
      tags: domain.tags.includes(:tag_preferences).order('tag_preferences.enabled DESC, removed_from_site_at ASC, last_released_at DESC').page(1).per(9), 
      start_time: start_time, 
      end_time: end_time, 
      metric_key: displayed_metric
    ).chart_data 
  %>
  <div class='tagsafe-container <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>' data-controller='chart' data-fetch-url="<%= domain_tags_chart_path(domain, tag_ids: params[:tag_ids], start_time: start_time, end_time: end_time, metric_type: displayed_metric, include_metric_select: true) %>">
    <div class='container'>
      <div class='col-12'>
        <div class='row'>
          <div class='timeframe-selector-container col-8 text-start'>
            <input type="text" name="datetimes" class='tagsafe-dotted-selector' data-chart-target='datepicker' data-start="<%= local_assigns[:start_time] || 1.day.ago %>" data-end="<%= local_assigns[:end_time] || Time.now %>" />
          </div>
          <% if local_assigns[:include_metric_select] %>
            <div class='metric-type-selector-container col-4'>
              <form data-controller='select-change-form-submit'>
                <select class="form-select form-control w-fit float-end" data-select-change-form-submit-target='select' data-action='change->select-change-form-submit#updateFormAction change->select-change-form-submit#submitForm'>
                  <% DeltaPerformanceAudit::CHARTABLE_COLUMNS.each do |metric_type| %>
                    <option value="<%= domain_tags_chart_path(domain, tag_ids: params[:tag_ids], start_time: local_assigns[:start_time], end_time: local_assigns[:end_time], metric_type: metric_type[:column], include_metric_select: true) %>>" <%= metric_type[:column].to_s === displayed_metric.to_s ? 'selected="selected"' : nil %>>
                      <%= metric_type[:title] %>
                    </option>
                  <% end %>
                </select>
              </form>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="tags-chart-container" data-controller='streamed-script-tag'>
      <%=
        line_chart chart_data,
          download: true, 
          title: "#{displayed_metric.to_s.gsub('delta', '').strip.split('_').map(&:capitalize).join(' ')}",
          ytitle: "#{displayed_metric.to_s.gsub('delta', '').strip.split('_').map(&:capitalize).join(' ')}",
          xtitle: 'Releases',
          messages: { empty: "No third party tag data to visualize." },
          curve: false, 
          legend: "bottom",
          library: {
            rangeSelector: true,
            hAxis: { 
              # format: 'MM-DD-YYYY' 
              }
          }
      %>
    </div>
  </div>
<% end %>