<%= turbo_frame_tag "#{tag.uid}_tag_chart" do %>
  <% chart_data = chart_data || ChartHelper::TagData.new(tag: tag, metric: :tagsafe_score, start_time: 1.day.ago, end_time: Time.now).chart_data %>
  <div data-controller='chart' data-fetch-url="<%= tag_chart_path(tag, start_time: start_time, end_time: end_time, chart_metric: chart_metric.to_s) %>">
    <div class='col-12'>
      <div class='row'>
        <div class='timeframe-selector-container col-8'>
          <input type="text" name="datetimes" class='tagsafe-dotted-selector' data-chart-target='datepicker' data-start="<%= start_time %>" data-end="<%= end_time %>" />
        </div>
        <form class="col-4" data-controller='select-change-form-submit'>
          <select class="form-select form-control" data-select-change-form-submit-target='select' data-action='change->select-change-form-submit#updateFormAction change->select-change-form-submit#submitForm'>
            <% PerformanceAudit::CHARTABLE_COLUMNS.each do |metric_type| %>
              <option value="<%= tag_chart_path(tag, chart_metric: metric_type[:column], start_time: start_time, end_time: end_time) %>" <%= metric_type[:column].to_s === chart_metric.to_s ? 'selected="selected"' : nil %>>
                <%= metric_type[:title] %>
              </option>
            <% end %>
          </select>
        </form>
      </div>
    </div>
    <div class='mt-2 <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>' data-controller='streamed-script-tag'>
      <%= 
        title = chart_metric == :tagsafe_score ? "Tagsafe Score" : "Impact to #{chart_metric.to_s.split('_').map(&:capitalize).join(' ')}"
        line_chart chart_data,
          download: true, 
          title: title,
          ytitle: title,
          xtitle: 'Releases',
          # ymax: chart_metric == :tagsafe_score ? 100 : nil,
          curve: false,
          messages: { empty: "No third party tag data to visualize." } 
      %>
    </div>
  </div>
<% end %>