<%= turbo_frame_tag "#{@tag.id}_tag_chart" do %>
  <form class="col-4 offset-8" data-controller='select-change-form-submit'>
    <select class="form-select form-control" data-select-change-form-submit-target='select' data-action='change->select-change-form-submit#updateFormAction change->select-change-form-submit#submitForm'>
      <% PerformanceAudit::CHARTABLE_COLUMNS.each do |metric_type| %>
        <option value="/charts/tag/<%=@tag.id%>?chart_metric=<%= metric_type[:column] %>" <%= metric_type[:column] === @chart_metric ? 'selected="selected"' : nil %>>
          <%= metric_type[:title] %>
        </option>
      <% end %>
    </select>
  </form>
  <%= 
    title = @chart_metric == :tagsafe_score ? "TagSafe Score" : "Impact to #{@chart_metric.to_s.split('_').map(&:capitalize).join(' ')}"
    line_chart @chart_data,
      download: true, 
      title: title,
      ytitle: title,
      xtitle: 'Releases',
      curve: false,
      messages: { empty: "No third party tag data to visualize." } 
  %>
<% end %>