<%= turbo_frame_tag "#{current_domain.uid}_domain_tag_uptime" do %>
  <div data-controller='chart'>
    <div class='container'>
      <div class='row'>
        <div class='timeframe-selector-container col-6'>
          <input type="text" name="datetimes" class='tagsafe-dotted-selector' data-chart-target='datepicker' data-start="<%= @start_time %>" data-end="<%= @end_time %>" />
        </div>
        <div class='col-6'>
          <form data-controller='select-change-form-submit'>
            <select class="form-select form-control w-fit float-end" style='width: fit-content' data-select-change-form-submit-target='select' data-action='change->select-change-form-submit#updateFormAction change->select-change-form-submit#submitForm'>
              <option disabled>Uptime Region</option>
              <% TagCheckRegion.selectable.each do |tag_check_region| %>
                <option value="<%=tags_uptime_chart_path(current_domain, tag_ids: @tags.collect(&:id), aws_region: tag_check_region.aws_region_name, start_time: @start_time, end_time: @end_time) %>" <%= tag_check_region == @tag_check_region ? 'selected=selected' : nil %>>
                  <%= tag_check_region.location %>
                </option>
              <% end %>
            </select>
          </form>
        </div>
      </div>
    </div>
    <%=
      line_chart @chart_data,
        download: true, 
        title: "Tag Uptime",
        ytitle: "Response Time (ms)",
        messages: { empty: "No uptime data to visualize." },
        curve: false, 
        legend: "bottom",
        library: {
          rangeSelector: true,
          hAxis: { 
            format: 'MM-DD-YYYY hh:mm' 
          }
        }
    %>
  </div>
<% end %>