<%= turbo_frame_tag "#{current_domain.uid}_domain_tags_chart" do %>
  <% if @include_metric_select %>
    <div style='float: right;'>
      <select class="selectpicker" id="metric-dropdown" data-max-options="1" data-live-search="true">
        <% PerformanceAudit::CHARTABLE_COLUMNS.each do |metric_type| %>
          <% if metric_type[:column] == @displayed_metric %>
            <option value="<%= metric_type[:column] %>" selected><%= metric_type[:title] %></option>
          <% else %>
            <option value="<%= metric_type[:column] %>"><%= metric_type[:title] %></option>
          <% end %>
        <% end %> 
      </select>
    </div>
  <% end %>
  <div data-controller='chart'>
    <div class='timeframe-selector-container float-start'>
      <input type="text" name="datetimes" class='tagsafe-dotted-selector' data-chart-target='datepicker' data-start="<%= @start_time %>" data-end="<%= @end_time %>" />
    </div>
    <div id="tags-chart-container">
      <%=
        line_chart @chart_data,
          download: true, 
          title: "#{@displayed_metric.to_s.gsub('_', ' ')}",
          ytitle: "#{@displayed_metric.to_s.gsub('_', ' ')}",
          xtitle: 'Releases',
          messages: { empty: "No third party tag data to visualize." },
          curve: false, 
          legend: "bottom",
          library: {
            rangeSelector: true,
            hAxis: { 
              # format: 'MM-DD-YYYY' 
              }
          }
      %>
    </div>
  </div>
<% end %>