<%= turbo_frame_tag "tags_to_run_functional_tests_for_functional_test_#{functional_test.uid}" do %>
  <%= form_with model: functional_test, data: { controller: "loading_form" } do |f| %>
    <input type='hidden' name='turbo_frame' value="tags_to_run_functional_tests_for_functional_test_<%=functional_test.uid%>">
    <input type='hidden' name='turbo_partial' value="functional_tests_to_run/form_for_functional_test">
    <div class='col-4 offset-4'>
      <div class='form-check form-switch'>
        <%= f.check_box :run_on_all_tags, class: 'form-check-input' %>
        <%= f.label :run_on_all_tags, class: 'form-check-label' %>
      </div>
      <div class='<%= functional_test.run_on_all_tags ? 'hidden' : nil %>'>
        <% functional_test.domain.tags.each do |tag| %>
          <div class='form-check form-switch'>
            <input type='checkbox' value='<%= tag.id %>' class='form-check-input' id="functional_test_run_tag<%=tag.uid%>" name='functional_tests_to_run[<%= tag.uid %>]tag_id' <%= functional_test.is_enabled_for_tag?(tag) ? 'checked=true' : nil %>>
            <label class='form-check-label' for="functional_test_run_tag<%=tag.uid%>"><%= tag.try_friendly_name %></label>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'partials/inline_errors', errors: local_assigns[:errors], text_only: true %>
    <%= submit_loading_button 'Update tags to run test against' %>
  <% end %>
<% end %>