<%= turbo_frame_tag "functional_test_#{functional_test.uid}_functional_tests_to_run" do %>
  <% if functional_test.tags_to_run_on.count.zero? %>
    <div class="alert alert-warning mb-3 mt-3 text-center" role="alert">
      <span><%= HtmlHelper.WARNING_ICON %> No tags enabled for this test, add them here:</span>
    </div>
  <% else %>
    <h4 class='mb-3'>Tags to run test against</h4>
  <% end %>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-12'>
        <%= render 'functional_tests_to_run/form', functional_test: functional_test %>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-12'>
        <% functional_test.tags_to_run_on.includes(:tag).each do |tag_to_run_on| %>
          <div class='tagsafe-pill grey large removable m-1' data-controller='tooltip' data-bs-toggle='tooltip' title="<%= tag_to_run_on.tag.url_based_on_preferences %>">
            <%= tag_to_run_on.tag.try_friendly_name %>
            <div style='width: 20px'>
              <%= form_with url: functional_test_destroy_functional_test_to_run_path(functional_test, tag_to_run_on), method: :delete, class: 'd-inline', data: { controller: 'loading_form' } do |f| %>
                <span class='remove-btn loading-button w-100' data-controller='feaux_form_submit_button'>
                  <span class='submit-text'><i class='fa fa-times'></i></span>
                  <%= display_loading_icon size: :tiny %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>