<%= content_for :head do %>
  <script src="https://js.stripe.com/v3/"></script>
<% end %>

<%= turbo_stream_from "domain_#{current_domain.uid}_billing_details_stream" %>

<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-12'>
        <h1 class="page-title with-sub-title">Settings</h1>
        <h2 class="page-sub-title">Subscription Plan and Billing</h2>
      </div>
    </div>
  </div>
  <%= render 'settings/settings_nav' %>
</div>

<% if !current_domain.has_payment_method_on_file? && current_domain.current_subscription_plan&.is_on_free_trial? %>
  <div class='container-fluid'>
    <div class='col-12'>
      <div class="alert alert-warning mb-3 mt-3 text-center" role="alert">
        <i class="fas fa-exclamation-circle"></i> Your free trial ends in <%= current_domain.current_subscription_plan.time_left_in_free_trial_in_words %>, <%= modal_link new_domain_payment_method_path, text: 'add a payment method' %> in order to maintain functionality.
      </div>
    </div>
  </div>
<% end %>

<div class='tagsafe-container p-5'>
  <div class='row'>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Current plan</span>
        <span class='settings-description d-block'>Your current subscription plan.</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <% if current_domain.current_subscription_plan.delinquent?  %>
          <span class='d-block'>Subscription is frozen </span>
          <%= link_to 'Select new plan', select_subscription_plans_path(update: true) %>
        <% elsif current_domain.current_subscription_plan.canceled?  %>
          <span class='d-block'>Subscription is canceled</span>
          <%= link_to 'Select new plan', select_subscription_plans_path(update: true) %>
        <% else %>
          <span class='d-block'><%= current_domain.current_subscription_plan.human_package_type %> (billed <%= current_domain.current_subscription_plan.billing_interval_with_ly %>)</span>
          <%= link_to 'Change Plan', select_subscription_plans_path(update: true) %>
        <% end %>
      </div>
    </div>
  </div>

  <hr/>
  <%= render 'billing_details', domain: current_domain, default_payment_method: @default_payment_method %>

  <% unless @next_invoice.nil? %>
    <hr/>
    <div class='row'>
      <div class='col-6 d-flex align-items-center'>
        <div class='d-block'>
          <span class='settings-title d-block fw-bolder'>Next recurring subscription payment</span>
          <span class='settings-description d-block'>Your payment method on file will automatically be charged on this date.</span>
        </div>
      </div>
      <div class='col-6 d-flex align-items-center'>
        <div class='d-block '>
          <span class='d-block'><%= number_to_currency(@next_invoice.amount_due / 100.0) %> at <%= Time.at(@next_invoice.next_payment_attempt).strftime("%m/%d/%y @ %l:%M %P %Z") %></span>
          <% if @next_invoice.lines.any?(&:proration) %>
            <span class='d-block'>(Prorated)</span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% unless current_domain.current_subscription_plan.delinquent? || current_domain.current_subscription_plan.canceled? %>
    <hr/>
    <div class='row'>
      <div class='col-6 d-flex align-items-center'>
        <div class='d-block'>
          <span class='settings-title d-block fw-bolder'>Credit usage</span>
          <span class='settings-description d-block'>Credits are used for performance audits, functional tests, uptime monitoring, and release detection. On your current plan you receive <%= current_domain.subscription_features_configuration.num_credits_provided_each_month.to_i %> credits on the 1st of each month.</span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% unless !current_domain.current_subscription_plan || current_domain.current_subscription_plan.canceled? %>
  <div class='tagsafe-container mt-5 p-3 text-center'>
    <span class='settings-title d-block fw-bolder'>Cancel current subscription</span>
    <%= form_with model: current_domain.current_subscription_plan, url: cancel_subscription_plan_path(current_domain.current_subscription_plan), class: '', data: { controller: 'loading_form' } do %>
      <%= loading_submit_button 'Cancel', button_class: 'red mt-2' %>
    <% end %>
  <% end %>
</div>