<%= content_for :head do %>
  <script src="https://js.stripe.com/v3/"></script>
<% end %>

<%= turbo_stream_from "domain_#{current_domain.uid}_billing_details_stream" %>

<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-12'>
        <h1 class="page-title with-sub-title">Settings</h1>
        <h2 class="page-sub-title">Subscription Plan and Billing</h2>
      </div>
    </div>
  </div>
  <%= render 'settings/settings_nav' %>
</div>

<div class='tagsafe-container p-5'>
  <%= render 'billing_details', domain: current_domain, default_payment_method: @default_payment_method %>

  <hr/>
  <div class='row'>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Next subscription payment</span>
        <span class='settings-description d-block'>Your payment method on file will automatically be charged on this date.</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <% if !current_domain.has_payment_method_on_file? %>
       N/A
      <% else %>
        <div class='d-block '>
          <span class='d-block'><%= number_to_currency(@next_invoice.amount_due / 100.0) %> at <%= Time.at(@next_invoice.next_payment_attempt).strftime("%m/%d/%y @ %l:%M %P %Z") %></span>
          <!-- <#%= link_to 'View Past and Upcoming Payments', new_stripe_billing_portal_path, target: '_blank' %> !-->
        </div>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Estimated next subscription payment</span>
        <span class='settings-description d-block'>Your estimated payment amount based on your current configuration. This is not a guaranteed amount.</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <% if !current_domain.has_payment_method_on_file? %>
       N/A
      <% else %>
        <div class='d-block '>
          <span class='d-block'><%= number_to_currency(SubscriptionMaintainer::PriceEstimator.new(current_domain).estimate_monthly_price / 100) %> at <%= Time.at(@next_invoice.next_payment_attempt).strftime("%m/%d/%y @ %l:%M %P %Z") %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if current_domain.has_payment_method_on_file? %>
  <div class='tagsafe-container mt-5 p-3 text-center'>
    <span class='settings-title d-block fw-bolder'>Cancel current subscription</span>
    <span class='settings-description d-block'>You will be charged the remaining <%= number_to_currency(@next_invoice.amount_due / 100.0) %> immediately, and your configuration will be updated to no long monitor tag releases or run automated audits.</span>
    <%= form_with model: current_domain.current_subscription_plan, url: cancel_subscription_plan_path(current_domain.current_subscription_plan), class: '', data: { controller: 'loading_form' } do %>
      <%= loading_submit_button 'Cancel', button_class: 'red mt-3' %>
    <% end %>
  <% end %>
</div>