<%= content_for :head do %>
  <script src="https://js.stripe.com/v3/"></script>
<% end %>

<%= turbo_stream_from "domain_#{current_domain.uid}_billing_details_stream" %>

<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-12'>
        <h1 class="page-title with-sub-title">Settings</h1>
        <h2 class="page-sub-title">Subscription Plan and Billing</h2>
      </div>
    </div>
  </div>
  <%= render 'settings/settings_nav' %>
</div>

<% if !current_domain.has_payment_method_on_file? && current_domain.current_subscription_plan&.is_on_free_trial? %>
  <div class='container-fluid'>
    <div class='col-12'>
      <div class="alert alert-warning mb-3 mt-3 text-center" role="alert">
        <i class="fas fa-exclamation-circle"></i> Your free trial ends in <%= current_domain.current_subscription_plan.time_left_in_free_trial_in_words %>, <%= modal_link new_domain_payment_method_path, text: 'add a payment method' %> in order to maintain functionality.
      </div>
    </div>
  </div>
<% end %>

<div class='tagsafe-container p-5'>
  <div class='row'>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Current plan</span>
        <span class='settings-description d-block'>Your current subscription plan.</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='d-block'><%= current_domain.current_subscription_plan.package_type.capitalize %> Plan</span>
        <% unless current_domain.current_subscription_plan.trialing? %>
          <%= link_to 'Change Plan', select_subscription_plans_path %>
        <% end %>
      </div>
    </div>
  </div>

  <hr/>
  <%= render 'billing_details', domain: current_domain, default_payment_method: @default_payment_method %>

  <hr/>
  <div class='row'>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Next recurring subscription payment</span>
        <span class='settings-description d-block'>Your payment method on file will automatically be charged on this date.</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block '>
        <span class='d-block'><%= number_to_currency(@next_invoice.amount_due / 100.0) %> at <%= Time.at(@next_invoice.next_payment_attempt).strftime("%m/%d/%y @ %l:%M %P %Z") %></span>
      </div>
    </div>
  </div>
</div>


<div class='tagsafe-container p-5 mt-5'>
  <div class='row'>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Credits provided in subscription</span>
        <span class='settings-description d-block'>The number of credits your account begins each month with.</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <span class='d-block'><%= number_with_delimiter(current_domain.credit_wallet_for_current_month.total_credits_for_month) %> credits</span>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Credits used this month</span>
        <span class='settings-description d-block'>The number of credits your account has used so far this month.</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <span class='d-block'><%= number_with_delimiter(current_domain.credit_wallet_for_current_month.credits_used) %> credits</span>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Credits remaining this month</span>
        <span class='settings-description d-block'>The number of credits your account has remaining for this month.</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <span class='d-block'><%= number_with_delimiter(current_domain.credit_wallet_for_current_month.credits_remaining) %> credits</span>
    </div>
  </div>
</div>

<% if current_domain.has_payment_method_on_file? %>
  <div class='tagsafe-container mt-5 p-3 text-center'>
    <span class='settings-title d-block fw-bolder'>Cancel current subscription</span>
    <span class='settings-description d-block'>Cancel yout subscription right now.</span>
    <%= form_with model: current_domain.current_subscription_plan, url: cancel_domains_subscription_subscription_plans_path, class: '', data: { controller: 'loading_form' } do %>
      <%= loading_submit_button 'Cancel', button_class: 'red mt-3' %>
    <% end %>
  <% end %>
</div>