
<h4 class="page-title with-sub-title">Settings</h4>
<h5 class='page-sub-title'>Global Settings</h5>
<%= render partial: 'settings_nav' %>

<div class="tagsafe-container p-5">
  <div class='row'>
    <div class='col-4 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>URLs to sync tags from</span>
        <span class='settings-description d-block'>Which URLs Tagsafe should sync third party tags from.</span>
      </div>
    </div>
    <div class='col-8 d-flex align-items-center'>
      <%= render 'page_urls/index', domain: current_domain, page_urls: current_domain.page_urls.should_scan_for_tags, should_scan_for_tags: true %>
    </div>
  </div>
  
  <hr/>
  <div class='row'>
    <div class='col-4 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Non-third party tag URL patterns</span>
        <span class='settings-description d-block'>Add any URL patterns that Tagsafe should not identify as third party tags (ie: cdn.staticassets.com)</span>
      </div>
    </div>
    <div class='col-8 d-flex align-items-center'>
      <%= render 'non_third_party_url_patterns/index', domain: current_domain %>
    </div>
  </div>
  
  <hr/>
  <div class='row'>
    <div class='col-4 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Include performance audits in automated audits</span>
        <span class='settings-description d-block'>When a Tagsafe-initiated audit is run (ie: after a Tag makes a release), run a performance audit?</span>
      </div>
    </div>
    <div class='col-8 d-flex align-items-center'>
      <%= form_for current_domain.default_audit_configuration, html: { class: 'w-fit m-auto' }, data: { controller: 'submit-form-changes' } do |f| %>
        <div class='form-check form-switch'>
          <%= f.check_box :include_performance_audit, class: 'form-check-input pointer', style: 'transform: scale(2)' %>
        </div>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-4 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Include functional tests in automated audits</span>
        <span class='settings-description d-block'>When a Tagsafe-initiated audit is run (ie: after a Tag makes a release), run the functional test suite for the tag?</span>
      </div>
    </div>
    <div class='col-8 d-flex align-items-center'>
      <%= form_for current_domain.default_audit_configuration, html: { class: 'w-fit m-auto' }, data: { controller: 'submit-form-changes' } do |f| %>
        <div class='form-check form-switch'>
          <%= f.check_box :include_functional_tests, class: 'form-check-input pointer', style: 'transform: scale(2)' %>
        </div>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-4 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Include resources waterfall</span>
        <span class='settings-description d-block'>When a Tagsafe-initiated audit is run (ie: after a Tag makes a release), include the resource waterfall view.</span>
      </div>
    </div>
    <div class='col-8 d-flex align-items-center'>
      <%= form_for current_domain.default_audit_configuration, html: { class: 'w-fit m-auto' }, data: { controller: 'submit-form-changes' } do |f| %>
        <div class='form-check form-switch'>
          <%= f.check_box :include_page_load_resources, class: 'form-check-input pointer', style: 'transform: scale(2)' %>
        </div>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-4 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Include page change audit in automated audits</span>
        <span class='settings-description d-block'>When a Tagsafe-initiated audit is run (ie: after a Tag makes a release), run a page change audit?</span>
      </div>
    </div>
    <div class='col-8 d-flex align-items-center'>
      <%= form_for current_domain.default_audit_configuration, html: { class: 'w-fit m-auto' }, data: { controller: 'submit-form-changes' } do |f| %>
        <div class='form-check form-switch'>
          <%= f.check_box :include_page_change_audit, class: 'form-check-input pointer', style: 'transform: scale(2)' %>
        </div>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-4 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Strip all images in performance audits?</span>
        <span class='settings-description d-block'>In order to minimize outside performance factors, strip away all images from the page during performance audits by default? This setting can be overridden when running an audit manually.</span>
      </div>
    </div>
    <div class='col-8 d-flex align-items-center'>
      <%= form_for current_domain.default_audit_configuration, html: { class: 'w-fit m-auto' }, data: { controller: 'submit-form-changes' } do |f| %>
        <div class='form-check form-switch'>
          <%= f.check_box :perf_audit_strip_all_images, class: 'form-check-input pointer', style: 'transform: scale(2)' %>
        </div>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-4 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Enable screen recordings for performance audits?</span>
        <span class='settings-description d-block'>Enable screen recordings during performance audits, allowing you to watch the visual impact of a tag. This setting can be overridden when running an audit manually.</span>
      </div>
    </div>
    <div class='col-8 d-flex align-items-center'>
      <%= form_for current_domain.default_audit_configuration, html: { class: 'w-fit m-auto' }, data: { controller: 'submit-form-changes' } do |f| %>
        <div class='form-check form-switch'>
          <%= f.check_box :perf_audit_enable_screen_recording, class: 'form-check-input pointer', style: 'transform: scale(2)' %>
        </div>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-4 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Required Tagsafe Score confidence range</span>
        <span class='settings-description d-block'>Continue running performance audits until Tagsafe is 95% sure the generated Tagsafe Score is within <i>n</i> points of the score provided. The lower the number, the more precise the Tagsafe Score, but requires more time to complete and more performance audit iterations (ie: a Tagsafe Score of 86 and a confidence range of 6 means Tagsafe is 95% certain the Tagsafe Score is in the range of 81 - 92).</span>
      </div>
    </div>
    <div class='col-8 d-flex align-items-center'>
      <%= form_for current_domain.default_audit_configuration, html: { class: 'w-fit m-auto' } do |f| %>
        <div class='d-flex'>
          <%= f.number_field :perf_audit_required_tagsafe_score_range, class: 'form-control' %>
          <%= f.submit 'Update', class: 'tagsafe-btn square' %>
        </div>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-4'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Minimum performance audits per audit</span>
        <span class='settings-description d-block'>In order to ensure confident results, each audit runs several performance audits. Set the minimum number of performance audits run before being eligible to complete (other critieria must be met on top of this).</span>
      </div>
    </div>
    <div class='col-8'>
    </div>
  </div>
</div>