<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-12'>
        <h1 class="page-title with-sub-title">Settings</h1>
        <h2 class="page-sub-title">Global settings</h2>
      </div>
    </div>
  </div>
  <%= render 'settings_nav' %>
</div>

<div class="tagsafe-container">
  <h4 class='mb-0'>Tag sync settings</h4>
  <h6>How Tagsafe identifies and remains in sync with your third party tags.</h6>
  <hr/>
  <div class='row'>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>URLs to sync tags from</span>
        <span class='settings-description d-block'>Which URLs Tagsafe should sync third party tags from.</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <%= render 'page_urls/index', domain: current_domain, page_urls: current_domain.page_urls.should_scan_for_tags, should_scan_for_tags: true %>
    </div>
  </div>
  
  <hr/>
  <div class='row'>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Non-third party tag URL patterns</span>
        <span class='settings-description d-block'>Add any URL patterns that Tagsafe should not identify as third party tags (ie: cdn.staticassets.com)</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <%= render 'non_third_party_url_patterns/index', domain: current_domain %>
    </div>
  </div>
</div>
  
<div class="tagsafe-container mt-5">
  <h4 class='mb-0'>Automated audit settings</h4>
  <h6>Configure how Tagsafe runs automated audits (scheduled audits and new release).</h6>
  <hr/>
  <div class='row'>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Include performance audits in automated audits</span>
        <span class='settings-description d-block'>When a Tagsafe-initiated audit is run (ie: after a Tag makes a release), run a performance audit?</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <%= form_for current_domain.general_configuration, html: { class: 'w-fit m-auto' }, data: { controller: 'submit-form-changes' } do |f| %>
        <div class='form-check form-switch'>
          <%= f.check_box :include_performance_audit, class: 'form-check-input pointer', style: 'transform: scale(1.5)' %>
        </div>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Include functional tests in automated audits</span>
        <span class='settings-description d-block'>When a Tagsafe-initiated audit is run (ie: after a Tag makes a release), run the functional test suite for the tag?</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <%= form_for current_domain.general_configuration, html: { class: 'w-fit m-auto' }, data: { controller: 'submit-form-changes' } do |f| %>
        <div class='form-check form-switch'>
          <%= f.check_box :include_functional_tests, class: 'form-check-input pointer', style: 'transform: scale(1.5)' %>
        </div>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Include resources waterfall</span>
        <span class='settings-description d-block'>When a Tagsafe-initiated audit is run (ie: after a Tag makes a release), include the resource waterfall view.</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <%= form_for current_domain.general_configuration, html: { class: 'w-fit m-auto' }, data: { controller: 'submit-form-changes' } do |f| %>
        <div class='form-check form-switch'>
          <%= f.check_box :include_page_load_resources, class: 'form-check-input pointer', style: 'transform: scale(1.5)' %>
        </div>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Include page change audit in automated audits</span>
        <span class='settings-description d-block'>When a Tagsafe-initiated audit is run (ie: after a Tag makes a release), run a page change audit?</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <%= form_for current_domain.general_configuration, html: { class: 'w-fit m-auto' }, data: { controller: 'submit-form-changes' } do |f| %>
        <div class='form-check form-switch'>
          <%= f.check_box :include_page_change_audit, class: 'form-check-input pointer', style: 'transform: scale(1.5)' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class='tagsafe-container mt-5'>
  <h4 class='mb-0'>Performance audit settings</h4>
  <hr/>
  <div class='row'>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Strip all images in performance audits?</span>
        <span class='settings-description d-block'>
          In order to minimize outside performance factors, strip away all images from the page during performance 
          audits by default?<br/>This setting can be overridden when running an audit manually.
        </span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <%= form_for current_domain.general_configuration, html: { class: 'w-fit m-auto' }, data: { controller: 'submit-form-changes' } do |f| %>
        <div class='form-check form-switch'>
          <%= f.check_box :perf_audit_strip_all_images, class: 'form-check-input pointer', style: 'transform: scale(1.5)' %>
        </div>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Enable screen recordings for performance audits?</span>
        <span class='settings-description d-block'>
          Enable screen recordings during performance audits, allowing you to watch the visual impact of a tag.<br/>
          This setting can be overridden when running an audit manually.
        </span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <%= form_for current_domain.general_configuration, html: { class: 'w-fit m-auto' }, data: { controller: 'submit-form-changes' } do |f| %>
        <div class='form-check form-switch'>
          <%= f.check_box :perf_audit_enable_screen_recording, class: 'form-check-input pointer', style: 'transform: scale(1.5)' %>
        </div>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Required Tagsafe Score confidence range</span>
        <span class='settings-description d-block'>Continue running performance audits until Tagsafe is 95% sure the generated Tagsafe Score is within <i>n</i> points of the score provided. The lower the number, the more precise the Tagsafe Score, but requires more time to complete and more performance audit iterations (ie: a Tagsafe Score of 86 and a confidence range of 6 means Tagsafe is 95% certain the Tagsafe Score is in the range of 81 - 92).</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <% if current_domain.has_payment_method_on_file? %>
        <%= form_for current_domain.general_configuration, html: { class: 'w-fit m-auto' } do |f| %>
          <div class='d-flex'>
            <%= f.number_field :perf_audit_required_tagsafe_score_range, class: 'form-control' %>
            <%= f.submit 'Update', class: 'tagsafe-btn square' %>
          </div>
        <% end %>
      <% else %>
        <form class='w-fit m-auto' data-controller='tooltip' data-bs-toggle='tooltip' title="Upgrade your plan in order to customize Tagsafe Score confidence range.">
          <div class='d-flex'>
            <input class='form-control' value='<%= current_domain.general_configuration.perf_audit_required_tagsafe_score_range %>' disabled>
            <button class='tagsafe-btn square' disabled>Update</button>
          </div>
        </form>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-6'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Minimum performance audits per audit</span>
        <span class='settings-description d-block'>Don't consider a performance audit eligible to be completed unless it reaches at least this many performance audit sets, on top of the Tagsafe Score confidence range.</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <%= form_for current_domain.general_configuration, html: { class: 'w-fit m-auto' } do |f| %>
        <div class='d-flex'>
          <%= f.number_field :perf_audit_minimum_num_sets, class: 'form-control' %>
          <%= f.submit 'Update', class: 'tagsafe-btn square' %>
        </div>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-6'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Maximum performance audits per audit</span>
        <span class='settings-description d-block'>Stop running performance audits once this many sets have been run, no matter what the Tagsafe Score confidence range is.</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <%= form_for current_domain.general_configuration, html: { class: 'w-fit m-auto' } do |f| %>
        <div class='d-flex'>
          <%= f.number_field :perf_audit_maximum_num_sets, class: 'form-control' %>
          <%= f.submit 'Update', class: 'tagsafe-btn square' %>
        </div>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-6'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Number of parallel performance audits</span>
        <span class='settings-description d-block'>The total number of performance audits to run in parallel. The higher this value, the quicker the performance audit. The lower this value, the less number of concurrent sessions Tagsafe will run on your site at a time.</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <% if current_domain.has_payment_method_on_file? %>
        <%= form_for current_domain.general_configuration, html: { class: 'w-fit m-auto' } do |f| %>
          <div class='d-flex'>
            <%= f.number_field :perf_audit_batch_size, class: 'form-control' %>
            <%= f.submit 'Update', class: 'tagsafe-btn square' %>
          </div>
        <% end %>
      <% else %>
        <form class='w-fit m-auto' data-controller='tooltip' data-bs-toggle='tooltip' title="Upgrade your plan in order to customize number of parallel performance audits.">
          <div class='d-flex'>
            <input class='form-control' value='<%= current_domain.general_configuration.perf_audit_batch_size %>' disabled>
            <button class='tagsafe-btn square' disabled>Update</button>
          </div>
        </form>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-6'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Fail performance audit when Tagsafe Score confidence range is not met</span>
        <span class='settings-description d-block'>If performance audit does not reach the specified Tagsafe Score confidence range, mark it as failed. When this is disabled, the audit will complete and a Tagsafe Score will be generated despite not meeting the desired Confidence Range.</span>
      </div>
    </div>
    <div class='col-6 d-flex align-items-center'>
      <%= form_for current_domain.general_configuration, html: { class: 'w-fit m-auto' }, data: { controller: 'submit-form-changes' } do |f| %>
        <div class='form-check form-switch'>
          <%= f.check_box :perf_audit_fail_when_confidence_range_not_met, class: 'form-check-input pointer', style: 'transform: scale(1.5)' %>
        </div>
      <% end %>
    </div>
  </div>
</div>