<h5 class='page-title with-sub-title'>Settings</h5>
<h6 class="page-sub-title">JS Linting Rules</h6>
<%= render partial: 'settings_nav' %>

<div class="text-center tag-safe-container">
  <%= form_for OrganizationLintRule.new, url: organization_lint_rules_path do |f| %>
    <%= f.hidden_field :organization_id, value: current_organization.id %>
    <div class="form-group">
      <%= f.label :lint_rule %>
      <%= f.select :lint_rule_id, options_from_collection_for_select(@selectable_lint_rules, :id, :rule), {}, { 'class' => 'selectpicker', 'data-live-search' => "true" } %>
    </div>
    <div class="form-group col-4 offset-4">
      <select name="organization_lint_rule[severity]" class='custom-select' required>
        <option selected disabled>Severity</option>
        <option value="1">Warn</option>
        <option value="2">Error</option>
      </select>
    </div>
    <div class="form-group">
      <%= f.submit 'Add Rule', class: 'btn btn-outline-primary' %>
    </div>
  <% end %>
  <% if current_organization.lint_rules.any? %>
    <hr/>
    <h6>JS lint rules for all tags on <%= current_domain.url %></h6>
    <div class="col-12">
      <% current_organization.organization_lint_rules.each do |organization_lint_rule| %>
        <span class="badge removable badge-<%= organization_lint_rule.severity == 2 ? 'danger' : 'warning' %>" data-toggle="tooltip" data-placement="top" title="<%=organization_lint_rule.lint_rule.description%>">
          <span class="content"><%= organization_lint_rule.lint_rule.rule %></span>
          <%= link_to organization_lint_rule_path(organization_lint_rule), method: :delete do %>
            <span class="remove-btn">X</span>
          <% end %>
        </span>
      <% end %>
    </div>
  <% else %>
    <span>No lint rules defined.</span>
  <% end %>
</div>