<div class="text-center">
  <h4 class="page-title with-sub-title">Settings</h4>
  <h5 class='page-sub-title'>Tag Management</h5>
  <%= render partial: 'settings_nav' %>
  <div class="tag-safe-container">
    <% if current_domain.nil? %>
      <h5>You have not defined your domain(s) to monitor.</h5>
    <% else %>
      <h4><%= current_domain.url %> Tags</h4>

      <table class="table table-hover col-12" style="table-layout: fixed">
        <thead>
          <tr>
            <th scope="col" style='width: 75%'>Tag</th>
            <th scope="col" style='width: 15%'>Changes / Day (volatility)</th>
            <th scope="col" style='width: 10%'></th>
          </tr>
        </thead>
        <tbody>
          <% @tags.each do |tag| %>
            <% klass =
              tag.removed_from_site? ? 'removed-from-site' : 
                !tag.tag_preferences.monitor_changes ? 'not-monitoring' : 
                  !tag.tag_preferences.should_run_audit ? 'not-auditing' : nil %>
            <tr class=<%=klass%>>
              <td scope="row" style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 75%;'>
                <% if tag.removed_from_site? %>
                  <span data-toggle="tooltip"
                        data-placement="top"
                        title="The <%= tag.try_friendly_name %> tag was removed from <%= current_domain.url %> on <%= tag.removed_from_site_at.formatted %>.">
                    <%= tag.full_url %> <b><%= tag.friendly_name ? "(#{tag.friendly_name})" : nil %></b>
                  </span>
                <% else %>
                  <span data-toggle="tooltip"
                        data-placement="top"
                        title="<%= tag.full_url %>.">
                    <%= tag.full_url %> <b><%= tag.friendly_name ? "(#{tag.friendly_name})" : nil %></b>
                  </span>
                <% end %>
              </td>
              <td style="width: 15%">
                <%= tag.tag_changes_per_day || '-' %>
              </td>
              <td style="width: 10%">
                <div class="dropdown dropleft show ellipsis-dropdown" style="float: right;">
                  <a class="dropdown-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-h" style='font-size: 16px;'></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <%= link_to 'View', tag_path(tag), class: 'dropdown-item' %>
                    <%= link_to 'Edit', edit_tag_path(tag), class: 'dropdown-item' %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>