<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-12'>
        <h1 class="page-title with-sub-title">Settings</h1>
        <h2 class="page-sub-title">Tag Management</h2>
      </div>
    </div>
  </div>
  <%= render 'settings_nav' %>
</div>

<div class="tagsafe-container">
  <div class="tagsafe-table">
    <div class='tagsafe-table-row header'>
      <div class='tagsafe-table-cell flex-3'>Tag</div>
      <div class='tagsafe-table-cell'>Release Monitoring</div>
      <div class='tagsafe-table-cell'>Uptime Monitoring</div>
      <div class='tagsafe-table-cell'>Scheduled Audits</div>
      <div class='tagsafe-table-cell'>Credits / Month</div>
      <div class='tagsafe-table-cell'></div>
    </div>
    <% @tags.each do |tag| %>
      <div class='tagsafe-table-row'>
        <div class='tagsafe-table-cell flex-3'>
          <%= image_tag tag.try_image_url, class: 'tag-thumbnail border me-2' %>
          <% if tag.has_friendly_name? %>
            <div class='d-block'>
              <span class='d-block'><b><%= tag.friendly_name %></b></span>
              <span class='d-block'><%= tag.domain_and_path %></span>
            </div>
          <% else %>
            <b><%= tag.domain_and_path %></b>
          <% end %>
        </div>
        <div class='tagsafe-table-cell'>
          <% if tag.release_monitoring_enabled? %>
            <div class='tagsafe-pill small-text green force-content-width'><%= tag.tag_preferences.release_check_interval_in_words %></div>
          <% else %>
            <div class='tagsafe-pill small-text grey force-content-width'>Disabled</div>
          <% end %>
        </div>
        <div class='tagsafe-table-cell'>
          <% if tag.uptime_regions_to_check.none? %>
            <div class='tagsafe-pill small-text grey'>0 regions</div>
          <% else %>
            <div class='tagsafe-pill small-text green force-content-width'><%= tag.uptime_regions_to_check.count %> regions</div>
          <% end %>
        </div>
        <div class='tagsafe-table-cell'>
          <% if tag.scheduled_audits_enabled? %>
            <div class='tagsafe-pill small-text green force-content-width'><%= tag.tag_preferences.scheduled_audit_interval_in_words %></div>
          <% else %>
            <div class='tagsafe-pill small-text grey force-content-width'>Disabled</div>
          <% end %>
        </div>
        <div class='tagsafe-table-cell'>
        </div>
        <div class='tagsafe-table-cell'>
          <%= link_to 'Edit', edit_tag_path(tag) %>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @tags %>
</div>