<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-12">
  <div class="mx-auto max-w-3xl md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl ">
    <div class="flex items-center space-x-5">
      <div>
        <h1 class="text-2xl font-medium text-gray-900">Settings</h1>
      </div>
    </div>
    <div class="justify-stretch mt-6 flex flex-col-reverse space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-y-0 sm:space-x-3 sm:space-x-reverse md:mt-0 md:flex-row md:space-x-3">
    </div>
  </div>
</div>

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-8">
  <div class="grid max-w-3xl grid-cols-1 gap-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-4">

    <div class="lg:col-span-1 lg:col-start-1">
      <%= render 'settings/settings_nav' %>
    </div>
    <div class="space-y-6 lg:col-span-3 lg:col-start-2 border rounded-md">
      <%= render 'tags/root_paths_page_navigation',
        page_title: 'Team Management',
        cta_button_html: modal_link(new_user_invite_path, text: 'Invite User', klass: 'page-title-cta-btn floating-btn tagsafe-purple-bg') %>

        

      <div class='mb-3 p-5'>
        <h4>Pending invites</h4>
        <%= turbo_frame_tag "container_#{current_container.uid}_invites", src: user_invites_path do %>
          <div class='text-center'>
            <%= display_loading_icon %>
          </div>
        <% end %>
      </div>

      <div class='p-5'>
        <h4>Team members</h4>
        <%= turbo_frame_tag "container_#{current_container.uid}_container_users", src: container_users_path do %>
          <div class='text-center'>
            <%= display_loading_icon %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
