<div class="text-center">
  <h4 class="page-title">Tag Management</h4>
  <div class="tag-safe-container">
    <% if current_domain.nil? %>
      <h5>You have not defined your domain(s) to monitor.</h5>
    <% else %>
      <h4><%= current_domain.url %> Tags</h4>

      <table class="table table-hover col-12" style="table-layout: fixed">
        <thead>
          <tr>
            <th scope="col" class="col-8" style='width: 60%'>Tag URL</th>
            <th scope="col" class="col-2" style='width: 20%'></th>
          </tr>
        </thead>
        <tbody>
          <% @tags.each do |script_subscription| %>
            <tr class="<%= script_subscription.removed_from_site? ? 'removed-from-site' : nil %>">
              <td scope="row" style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap;'>
                <% if script_subscription.removed_from_site? %>
                  <span data-toggle="tooltip"
                        data-placement="top"
                        title="The <%= script_subscription.try_friendly_name %> tag was removed from <%= current_domain.url %> on <%= script_subscription.removed_from_site_at.formatted %>.">
                    <%= script_subscription.script.url %> <b><%= script_subscription.friendly_name ? "(#{script_subscription.friendly_name})" : nil %></b>
                  </span>
                <% else %>
                  <span data-toggle="tooltip"
                        data-placement="top"
                        title="<%= script_subscription.script.url %>.">
                    <%= script_subscription.script.url %> <b><%= script_subscription.friendly_name ? "(#{script_subscription.friendly_name})" : nil %></b>
                  </span>
                <% end %>
              </td>
              <td>
                <%= link_to 'Edit', edit_tag_path(script_subscription) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>