<h5 class="page-title" style="margin-bottom: 0;">Notification Settings</h5>
<h6 class="page-sub-title"><%= @script_subscriber.try_friendly_name %></h6>

<%= render partial: 'edit_script_subscriber_nav', locals: { script_subscriber: @script_subscriber } %>

<div class='tag-safe-container text-center'>
  <h5>Email Settings</h5>
  <% 
    [{
    toggle_endpoint_suffix: "toggle_script_change_notification",
    klass: ScriptChangeNotificationSubscriber,
    text: 'Receive emails upon each tag change.'
  },
  {
    toggle_endpoint_suffix: "toggle_audit_complete_notification",
    klass: AuditCompleteNotificationSubscriber,
    text: 'Receive emails upon each audit completed.'
  }].each do |preference_obj|
  %>
    <td>
      <div class="custom-control custom-switch" style='cursor: pointer; display: inline-block;'>
        <input style="cursor: pointer" type="checkbox" class="custom-control-input" id="<%=preference_obj[:toggle_endpoint_suffix]%>-<%=@script_subscriber.id%>" <%= current_user.subscribed_to_notification?(preference_obj[:klass], @script_subscriber) ? 'checked' : nil %> onclick="var xhr = new XMLHttpRequest();xhr.open('POST', '/api/notification_preferences/<%= @script_subscriber.id %>/<%= preference_obj[:toggle_endpoint_suffix] %>', true);xhr.send();">
        <label class="custom-control-label" for="<%=preference_obj[:toggle_endpoint_suffix]%>-<%=@script_subscriber.id%>" style='cursor: pointer;'><%=preference_obj[:text]%></label>
      </div>
    </td>
  <% end %>
  <hr/>
  <h5>Slack Notifications</h5>
  <% if current_organization.completed_slack_setup? %>
    <%= form_for SlackNotificationSubscriber.new, url: script_subscriber_slack_notification_subscribers_path(@script_subscriber), html: { class: 'form-inline', style: 'width: fit-content; margin: 0 auto' } do |f| %>
      <%= f.hidden_field :script_subscriber_id, value: @script_subscriber.id %>
      <div class="form-group">
        <select name="slack_notification_subscriber[type]" class='custom-select' required>
          <option disabled selected>Notification Type</option>
          <option value='ScriptChangedSlackNotification'>Script Changed</option>
          <option value='AuditCompletedSlackNotification'>Audit Completed</option>
          <option value='NewTagSlackNotification'>New Tag</option>
        </select>
      </div>
      <div class="form-group">
        <select name='slack_notification_subscriber[channel]' class='custom-select' required>
          <option selected disabled>Slack Channel</option>
          <% @slack_channels_options.each do |channel| %>
            <option value="<%=channel%>"><%=channel%></option>
          <% end %>
        </select>
      </div>
      <%= f.submit 'Add Slack Notification', class: 'btn btn-primary' %>
    <% end %>
    <ul class="list-group">
      <% @script_subscriber.slack_notification_subscribers.each do |slack_notification| %>
        <li class="list-group-item">
          <span style='text-decoration: underline; font-style: italic'><%= slack_notification.friendly_name %></span> send a message to the <span style='text-decoration: underline; font-style: italic'><%= slack_notification.channel %></span> channel.
          <%= link_to 'X', script_subscriber_slack_notification_subscriber_path(@script_subscriber, slack_notification), method: :delete, style: 'float: right;' %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <%= render partial: 'partials/add_to_slack_button' %>
  <% end %>
</div>