<div class="text-center">
  <% if @script_subscriber.inactive? %>
    <h6><i class="fas fa-exclamation-circle"></i> This tag is inactive and not being monitored. Would you like to <%= link_to 'active it?', script_subscribers_path %></h6>
  <% end %>
  <h5>Recent updates to <%= @script_subscriber.try_friendly_name %></h5>
  <h6>The script was last updated: <%= @script_subscriber.script.content_changed_at.formatted %></h6>
  <% unless @script_subscriber.script.most_recent_change.nil? %>
    <%= link_to run_audit_script_subscriber_script_change_path(@script_subscriber, @script_subscriber.script.most_recent_change), method: :post, class: 'btn btn-outline-primary' do %>
        <i class="fas fa-redo"></i> Run Audit
      <% end %>
  <% end %>
</div>

<%= render partial: 'partials/script_subscriber_chart', locals: { script_subscriber: @script_subscriber } %>

<div class="script-changes-container">
  <h5 class="text-center">Tag Change Log</h5>
  <table class="script-changes-table table table-hover col-12 text-center" style="table-layout: fixed">
    <thead>
      <tr>
        <th scope="col" style='width: 20%'>Date of Change</th>
        <th scope="col" style='width: 20%'>DOM Complete Impact</th>
        <th scope="col" style='width: 20%'>Change in DOM Complete Impact</th>
        <th scope="col" style='width: 20%'></th>
        <th scope="col" style='width: 20%'></th>
      </tr>
    </thead>
    <tbody>
      <% if @script_changes.any? %>
        <% @script_changes.each_with_index  do |script_change, i| %>
          <% audit = @script_subscriber.primary_audit_by_script_change(script_change) || @script_subscriber.most_recent_audit_by_script_change(script_change, include_pending_performance_audits: true) %>
          <% previous_audit = @script_subscriber.primary_audit_by_script_change(@script_changes[i+1]) %>
          <tr>
            <td scope="row"><%= script_change.created_at.formatted_short %></td>
            <td scope="row">
              <% if !audit %>
                <span>
                  No performance audits run
                </span>
              <% elsif audit.performance_audit_pending? %>
                <span>
                  Performance audit currently running.
                </span>
              <% elsif audit.performance_audit_failed? %>
                <span>
                  Audit failure: <%= audit.performance_audit_error_message %>
                </span>
              <% else %>
                <span>
                  <%= number_with_delimiter(audit.delta_performance_audit.metric_result('DOMComplete')) %> ms
                </span>
              <% end %>
            </td>
            <td scope="row">
              <% if !audit.nil? && !audit.performance_audit_pending? && !audit.performance_audit_failed? && 
                    !previous_audit.nil? && !previous_audit.performance_audit_pending? && !previous_audit.performance_audit_failed? %>
                <% diff_in_metric = (audit.delta_performance_audit.metric_result('DOMComplete') - previous_audit.delta_performance_audit.metric_result('DOMComplete')).round(2) %>
                <% icon_class = diff_in_metric.positive? ? "fa-chevron-up" : "fa-chevron-down" %>
                <span class="<%=diff_in_metric.positive? ? 'negative' : 'positive' %>">
                  <i class="fas <%=icon_class%>"></i>
                  <%= number_with_delimiter(diff_in_metric) %> ms
                </span>
              <% else %>
                --
              <% end %>
            </td>
            <td scope="row">
              <% unless audit.nil? %>
                <%= link_to 'View Audit', script_subscriber_script_change_audit_path(@script_subscriber, script_change, audit) %> 
              <% end %>
            </td>
            <td scope="row">
              <% unless audit.nil? %>
                <%= link_to 'View Changes', script_subscriber_script_change_path(@script_subscriber, script_change), { target: "_blank" } %> 
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <h6>No changes recorded yet for <%= @script_subscriber.try_friendly_name %>.
        </tr>
      <% end %>
    </tbody>
  </table>
</div>