<div class="text-center">
  <h5 class="page-title with-sub-title">Tag Details</h6>
  <h6 class="page-sub-title"><%= @script_subscriber.try_friendly_name %></h6>
</div>

<%= render partial: 'partials/script_subscriber_chart', locals: { 
  script_subscriber: @script_subscriber,
  chart_start_time: @script_changes.first.created_at,
  chart_end_time: params[:page] == '1' || nil ? Time.now : @script_changes.last.created_at
} %>

<div class="script-changes-container">
  <h5 class="text-center">Tag Change Log</h5>
  <table class="script-changes-table table table-hover col-12 text-center" style="table-layout: fixed">
    <thead>
      <tr>
        <th scope="col" style='width: 33.33%'>Date of Change</th>
        <th scope="col" style='width: 33.33%'>TagSafe Score</th>
        <th scope="col" style='width: 33.33%'>Change in TagSafe Score</th>
        <th scope="col" style='width: 10%'></th>
      </tr>
    </thead>
    <tbody>
      <% if @script_changes.any? %>
        <% @script_changes.each_with_index  do |script_change, i| %>
          <% audit = @script_subscriber.primary_audit_by_script_change(script_change) || @script_subscriber.most_recent_audit_by_script_change(script_change, include_pending_performance_audits: true, include_failed_performance_audits: true) %>
          <% previous_audit = @script_subscriber.primary_audit_by_script_change(@script_changes[i+1]) %>
          <%= link_to audit.nil? ? '#' : script_subscriber_script_change_audit_path(@script_subscriber, script_change, audit) do %> 
            <tr class="script-change-row">
              <td scope="row"><%= script_change.created_at.formatted_short %></td>
              <td scope="row">
                <% if !audit %>
                  <span>
                    No performance audits run
                  </span>
                <% elsif audit.performance_audit_pending? %>
                  <span class='badge badge-primary'>Performance audit currently running.</span>
                <% elsif audit.performance_audit_failed? %>
                  <span class='badge badge-danger'>Performance Audit failed.</span>
                <% else %>
                  <span>
                    <%= number_with_delimiter(audit.delta_performance_audit.tagsafe_score.round(2)) %>
                  </span>
                <% end %>
              </td>
              <td scope="row">
                <% if audit.nil? || audit.performance_audit_failed? || audit.performance_audit_pending? %>
                  <span>--</span>
                <% else %>
                  <% change_in_score = audit.delta_performance_audit.change_in_metric(:tagsafe_score) %>
                  <% unless change_in_score.nil? %>
                    <% icon_class = change_in_score.positive? ? "fa-chevron-up" : "fa-chevron-down" %>
                    <span class="<%=change_in_score.positive? ? 'positive' : 'negative' %>">
                      <i class="fas <%=icon_class%>"></i>
                      <%= number_with_delimiter(change_in_score) %>
                    </span>
                  <% end %>
                <% end %>
              </td>
              <td scope="row">
                <div class="dropdown dropleft show ellipsis-dropdown">
                  <a class="dropdown-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-h" style="font-size: 18px;"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <% unless audit.nil? %>
                      <%= link_to 'View Audit', script_subscriber_script_change_audit_path(@script_subscriber, script_change, audit), class: 'dropdown-item' %> 
                    <% end %>
                    <%= link_to 'View Changes', script_subscriber_script_change_path(@script_subscriber, script_change), class: 'dropdown-item' %> 
                    <div class="dropdown-divider"></div>
                    <%= link_to 'Re-Run Audit', run_audit_script_subscriber_script_change_path(@script_subscriber, script_change), class: 'dropdown-item', method: :post, data: { confirm: "Run audit on #{@script_subscriber.try_friendly_name}?" } %> 
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% else %>
        <tr>
          <h6>No changes recorded yet for <%= @script_subscriber.try_friendly_name %>.
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @script_changes %>