<%= turbo_frame_tag "#{tag_version.uid}_diff" do %>
  <style id='diffy-css'><%= Diffy::CSS %></style>
  <div class='git-diff-commit-details-container mb-4'>
    <div class='commit-details-header'>
      <div class='container-fluid'>
        <span class='commit-message'>
          <i class="fa-solid fa-code-merge"></i> <%= tag_version.commit_message || 'No commit message provided' %>
        </span>
      </div>
    </div>
    <div class='commit-details-body'>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-6'>
            Released <%= time_ago_in_words(tag_version.created_at) %> ago.
          </div>
          <div class='col-6 text-end'>
            Commit <%= tag_version.hashed_content %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='col-12 mb-4'>
    <div class='row'>
      <div class='col-8 text-start'>
        <h6 class='mb-0'>There were <span class='fw-bolder'><%= num_additions %> additions</span> and <span class='fw-bolder'><%= num_deletions %> deletions</span> in this release.</h6>
      </div>
      <div class='col-4 text-end'>
        <%= link_to 'Split', current_diff_type == 'split' ? '#' : diff_server_loadable_partials_tag_tag_version_path(tag, tag_version, diff_type: 'split'), class: "git-diff-split-unified-btn #{current_diff_type == 'split' ? 'selected' : nil}", style: 'margin-right: -4px' %>
        <%= link_to 'Unified', current_diff_type == 'unified' ? '#' : diff_server_loadable_partials_tag_tag_version_path(tag, tag_version, diff_type: 'unified'), class: "git-diff-split-unified-btn #{current_diff_type == 'unified' ? 'selected' : nil}" %>
      </div>
    </div>
  </div>
  <div class='tag-details-tab text-start'>
    <div class='git-changes-visual-container d-inline-block'>
      <span class='num-additions-text'>+<%= num_additions %></span> <span class='num-deletions-text'>-<%= num_deletions %></span>
      <div class='git-changes-visual-squares-container' data-controller='tooltip' data-bs-toggle='tooltip' title='<%= num_additions + num_deletions %> lines changed: <%= num_additions %> additions & <%= num_deletions %> deletions.'>
        <% num_addition_squares = total_changes.zero? ? 0 : ((num_additions.to_f / (total_changes.to_f))*5.0).to_i %>
        <% num_deletion_squares = total_changes.zero? ? 0 : ((num_deletions.to_f / (total_changes.to_f))*5.0).to_i %>
        <% num_neutral_squares = 5 - num_addition_squares - num_deletion_squares %>
        <% num_addition_squares.times do %>
          <div class='git-changes-visual-square addition'></div>
        <% end %>
        <% num_deletion_squares.times do %>
          <div class='git-changes-visual-square deletion'></div>
        <% end %>
        <% num_neutral_squares.times do %>
          <div class='git-changes-visual-square neutral'></div>
        <% end %>
      </div>
    </div>
    <span class='d-inline-block'><%= tag.full_url %></span>
  </div>
  <div class='git-diff-container col-12'>
    <div class='row'>
      <% if current_diff_type == 'split' %>
        <div class="col-6 content pe-0">
          <div class='diff-container first'>
            <%= deletions_html %>
          </div>
        </div>
        <div class="col-6 content ps-0">
          <div class='diff-container second'>
            <%= additions_html %>
          </div>
        </div>
      <% else %>
        <div class='col-12 content'>
          <div class='diff-container'>
            <%= unified_diff_html %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>