<%= turbo_frame_tag "#{tag.id}_tag_tag_versions_container" do %>
  <% if tag_versions.any? %>
    <table class="table table-hover col-12 text-center" style="table-layout: fixed">
      <thead>
        <tr>
          <th scope="col" style='width: 33.33%'>Date of Change</th>
          <th scope="col" style='width: 33.33%'>TagSafe Score</th>
          <th scope="col" style='width: 33.33%'>Change in TagSafe Score</th>
          <th scope="col" style='width: 10%'></th>
        </tr>
      </thead>
      <tbody id="<%= tag.id %>_tag_tag_versions">
        <%= render partial: 'server_loadable_partials/tag_versions/tag_version', collection: tag_versions, as: :tag_version, locals: { tag: tag } %>
      </tbody>
    </table>
    <%= paginate tag_versions %>
  <% else %>
    <%= turbo_frame_tag "#{tag.id}_tag_empty_tag_versions_message" do %>
      <div class='text-center'>
        <h5>No tag versions recorded.</h5>
      </div>
    <% end %>
  <% end %>
<% end %>