<%= turbo_frame_tag "tag_#{tag.uid}_tag_versions_table" do %>
  <% if tag_versions.any? %>
    <div class='tagsafe-table'>
      <div class='tagsafe-table-head tagsafe-table-row'>
        <div class='tagsafe-table-header' style='width: 30%'>Date of release</div>
        <div class='tagsafe-table-header' style='width: 30%'>Tagsafe Score</div>
        <div class='tagsafe-table-header' style='width: 30%'>Sha</div>
        <div class='tagsafe-table-header' style='width: 10%'></div>
      </div>
      <div class='tagsafe-table-body'>
        <%= turbo_frame_tag "tag_#{tag.uid}_tag_versions_table_rows" do %>
          <%= render partial: 'server_loadable_partials/tag_versions/tag_version_row', collection: tag_versions, as: :tag_version, locals: { tag: tag } %>
        <% end %>
      </div>
    </div>
    <%= paginate tag_versions %>
  <% else %>
    <%= turbo_frame_tag "#{tag.id}_tag_empty_tag_versions_message" do %>
      <div class='text-center'>
        <h5>No tag versions recorded.</h5>
      </div>
    <% end %>
  <% end %>
<% end %>