
<%= turbo_frame_tag dom_id(tag_version) do %>
  <% audit = tag_version.audit_to_display %>
  <% previous_audit = tag_version.previous_version&.primary_audit %>
  <%= link_to audit.nil? ? tag_tag_version_audits_path(tag, tag_version) : tag_tag_version_audit_path(tag, tag_version, audit), class: 'no-decoration', target: '_top' do %>
    <div class='tagsafe-table-row <%= audit.nil? ? nil : 'clickable' %>'>
      <div class="tagsafe-table-data" style='width: 30%'><%= tag_version.created_at.formatted_short %></div>
      <div class="tagsafe-table-data" style='width: 30%'>
        <% if audit.nil? %>
          No performance audits run
        <% elsif audit.successful? %>
          <%= render 'audits/pill_for_audit_score', audit: audit, tag_version: tag_version %>
        <% elsif audit.pending? %>
          <span class='tagsafe-pill tagsafe-blue placeholder-wave'>Performance audit currently running.</span>
        <% elsif audit.failed? %>
          <span class='tagsafe-pill red'>Performance Audit failed.</span>
        <% end %>
      </div>
      <div class="tagsafe-table-data" style='width: 30%'>
        <%= tag_version.sha %>
      </div>
      <div class='tagsafe-table-data' style='width: 10%'>
        <span class='link-indicator hover-enlarge'><i class="fas fa-angle-double-right"></i></span>
      </div>
    </div>
  <% end %>
<% end %>