<div class="col-sm-10 offset-sm-1 text-center monitor-script-form-container">
<h3>Enter the domain to monitor</h3>
  <%= form_for Domain.new do |f| %>
    <%= f.label 'Domain URL' %>
    <select name='domain[protocol]' class='custom-select' required>
      <option class='dropdown-item' value='https://' selected>https://</option>
      <option class='dropdown-item' value='http://'>http://</option>
    </select>
    <%= f.text_field :url %>
    <%= f.submit 'Monitor', class: 'form-control-lg col-10 col-offset-1 col-sm-2 btn btn-outline-primary' %>
  <% end %>
  <% if flash[:local_error] %>
    <p style="color: red"><%= flash[:local_error] %></p>
  <% end %>
</div>