<div class='min-viewport-height w-100'>
  <div class='container d-flex h-100 w-100 flex-column justify-content-center p-5'>
    <div class='w-100 text-center'>
      <%= link_to root_path do %>
        <%= image_tag asset_cdn_url('/tagsafe-logo.svg'), class: 'img-fluid mb-5 enlarge-slightly-on-hover', style: 'width: 100px; height: 100px;' %>
      <% end %>
    </div>
  </div>

  <div class='w-100'>
    <div class="col-xs-12 col-sm-10 col-md-8 col-xl-6 tagsafe-container with-shadow no-border text-center form-card m-auto mb-5">
      <div class='container text-center'>
        <h3 class='tagsafe-font'>Enter the domain of your site you would like Tagsafe to monitor.</h3>
        <%= form_for @domain, data: { controller: 'loading_form' } do |f| %>
          <div class='row mb-3 mt-3'>
            <div class='col-3 p-0'>
              <select name='domain[protocol]' class='form-select text-center h-100' required>
                <option class='dropdown-item' value='https://' selected>https://</option>
                <option class='dropdown-item' value='http://'>http://</option>
              </select>
            </div>
            <div class="form-floating col-9 p-0">
              <input id='url' name='domain[url]' type='text' class='form-control' placeholder='www.tagsafe.io'>
              <label for='url'>Site URL to monitor</label>
            </div>
          </div>
          <%= render 'partials/inline_errors', errors: @domain.errors.full_messages %>
          <%= loading_submit_button 'Begin monitoring', button_class: 'outline large' %>
        <% end %>
      </div>
    </div>
  </div>
</div>