<%= turbo_frame_tag "audit_#{audit.uid}_row", class: "tagsafe-table-row clickable #{audit.is_primary? && streamed ? 'tagsafe-illuminate' : nil}" do %>
  <div class='tagsafe-table-data' style='width: 15%'>
    <% unless audit.pending? || audit.failed? %>
      <% if audit.is_primary? %>
        <button class='tagsafe-btn white-text' style='font-size: 12px'>Primary Audit</button>
      <% else %>
        <%= form_with url: make_primary_tag_tag_version_audit_path(audit.tag_id, audit.tag_version_id, audit.id), method: :post, data: { controller: 'loading_form', manage_primary_audit_target: 'form' } do |f| %>
          <!-- <#%= loading_submit_button 'Make Primary', button_classes: 'outline' %>!-->
          <%= f.submit 'Make Primary', class: 'tagsafe-btn outline', style: 'font-size: 12px' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= link_to tag_tag_version_audit_path(audit.tag_id, audit.tag_version_id, audit.id), class: 'no-decoration d-flex', style: 'width: 85%', target: '_top' do %>
    <div class='tagsafe-table-data' style='width: 24%'><%= audit.created_at.formatted %></div>
    <div class='tagsafe-table-data' style='width: 23%'>
      <% if audit.failed? %>
        <span class="tagsafe-pill red">Failed</span>
      <% elsif audit.pending? %>
        <span class="tagsafe-pill tagsafe-blue placeholder-wave">Audit in progress</span>
        <%= render 'audits/completion_indicator', audit: audit %>
      <% else %>
        <% if audit.delta_performance_audit %>
          <% score = audit.delta_performance_audit.tagsafe_score.round(2) %>
          <div class='tagsafe-pill <%= score >= DeltaPerformanceAudit::TAGSAFE_SCORE_THRESHOLDS[:good] ? 'green' : score >= DeltaPerformanceAudit::TAGSAFE_SCORE_THRESHOLDS[:warn] ? 'orange' : 'red' %>' style='width: 50%;'>
            <%= score %>
          </div>
        <% else %>
          NO DELTA PERFORMANCE AUDIT. TODO: HOW DO WE GET HERE? RETURNS NIL IN THE `audit.update_audit_details_view` METHOD
        <% end %>
      <% end %>
    </div>
    <div class='tagsafe-table-data' style='width: 15%'><%= audit.execution_reason.name %></div>
    <div class='tagsafe-table-data' style='width: 24%'><%= audit.audited_url.tagsafe_hosted ? 'Tagsafe-hosted version of ' : nil %><%= audit.audited_url.display_url %></div>
    <div class='tagsafe-table-data justify-content-end' style='width: 11%'>
      <!-- <#%= link_to 'View audit', tag_tag_version_audit_path(audit.tag_id, audit.tag_version_id, audit.id) %> !-->
      <span class='link-indicator hover-enlarge'><i class="fas fa-angle-double-right"></i></span>
    </div>
  <% end %>
<% end %>