<%= turbo_frame_tag local_assigns[:domain] ? "domain_#{domain.uid}_audits_table" : "tag_version_#{tag_version.uid}_audits_table" do %>
  <div class='tagsafe-table'>
    <div class='tagsafe-table-head tagsafe-table-row square'>
      <div class='tagsafe-table-header' style='width: <%= local_assigns[:include_tag_name] ? '5%' : '19%' %>'>
        <% unless local_assigns[:include_tag_name] %>
          Primary Audit <%= render 'partials/utils/help_tooltip', message: 'Each tag version can have many performance audits, but must have only one primary performance audit. The primary performance is used for benchmarking and comparing against previous versions.' %>
        <% end %>
      </div>
      <% width_percent = local_assigns[:include_tag_name] ? '18' : '19' %>
      <% if local_assigns[:include_tag_name] %>
        <div class='tagsafe-table-header' style='width: <%= width_percent %>%'>Audited Tag</div>
      <% end %>
      <div class='tagsafe-table-header' style='width: <%= width_percent %>%'>Date of Audit</div>
      <div class='tagsafe-table-header' style='width: <%= width_percent %>%'>Tagsafe Score</div>
      <div class='tagsafe-table-header' style='width: <%= width_percent %>%'>Tests Results</div>
      <!-- <div class='tagsafe-table-header' style='width: 15%'>Execution Reason</div> !-->
      <div class='tagsafe-table-header' style='width: <%= width_percent %>%'>Performance Audited URL</div>
      <div class='tagsafe-table-header' style='width: 5%'></div>
    </div>
    <div class='tagsafe-table-body'>
      <%= turbo_frame_tag local_assigns[:domain] ? "domain_#{domain.uid}_audits_table_rows" : "tag_version_#{tag_version.uid}_audits_table_rows" do %>
        <%= render partial: 'audits/audit_row', 
                    # collection: tag_version.audits.order(primary: :DESC).most_recent_first(timestamp_column: :enqueued_suite_at).includes(:performance_audits), 
                    collection: audits,
                    as: :audit, 
                    locals: { 
                      streamed: local_assigns[:streamed],
                      include_tag_name: local_assigns[:include_tag_name],
                      use_primary_indicator_insted_of_button: local_assigns[:include_tag_name]
                    } 
        %>
      <% end %>
    </div>
  </div>
  <%= paginate audits %>
  <% if audits.none? && local_assigns[:tag] %>
    <div class='mt-5'>
      <h4 class='mb-3'>No audits for this tag version, run one now?</h4>
      <%= link_to new_tag_audit_path(tag), class: 'tagsafe-btn', data: { controller: 'modal_trigger', } do %>
        <i class="fas fa-sync-alt"></i> Run audit
      <% end %>
    </div>
  <% end %>
<% end %>