<%= turbo_stream_from "audit_#{audit.uid}_row_stream" %>

<%= turbo_frame_tag "audit_#{audit.uid}_row" do %>
  <%= link_to tag_audit_path(audit.tag, audit), class: 'no-decoration', target: '_top' do %>
    <div class='tagsafe-table-row hoverable'>
      <% if local_assigns[:include_tag_name] %>
        <div class='tagsafe-table-cell flex-3'>
          <%= image_tag audit.tag.try_image_url, class: 'tag-thumbnail border me-1' %>
          <div class='d-block ms-2'>
            <span class='table-row-header underline-hover'><%= audit.tag.try_friendly_name %></span>
            <% if audit.tag.has_friendly_name? %>
              <span class='table-row-sub-header'><%= audit.tag.url_based_on_preferences %></span>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class='tagsafe-table-cell'>
        <%= render 'audits/tagsafe_score_pill_for_audit', tag: tag, audit: audit %>
      </div>
      <div class='tagsafe-table-cell'>
        <% if audit.tag_version.present? %>
          <div class='meta-info-pill'>
            <div class='title'><%= audit.tag_version.tag_version_identifier %></div>
            <div class='value italic'><%= audit.tag_version.sha %></div>
          </div>
        <% else %>
          <div class='tagsafe-pill grey small-text'>Live version</div>
        <% end %>
      </div>
      <div class='tagsafe-table-cell'><%= audit.page_url.friendly_url %></div>
      <div class='tagsafe-table-cell'><%= audit.execution_reason.name %></div>
      <div class='tagsafe-table-cell'>
        <%= audit.created_at.date_only %> <br/>
        <%= audit.created_at.time_only %>
      </div>
    </div>
  <% end %>
<% end %>