<%= render_as_modal title: "#{@tag.try_friendly_name} audit" do %>
  <% if local_assigns[:audits_enqueued] %>
    <% if audits_enqueued.count > 1 %>
      <div class='tagsafe-modal-body'>
        <h3 class='inline-message mt-5 mb-5'>Performing <%= local_assigns[:audits_enqueued].count %> audits on <%= tag.try_friendly_name %></h3>
        <div class='tagsafe-modal-divider'></div>
        <% audits_enqueued.each do |audit| %>
          <%= link_to "View audit on #{audit.page_url.full_url}", tag_audit_path(tag, audit), target: '_top', class: 'd-block' %>
        <% end %>
      </div>
    <% else %>
      <div class='tagsafe-modal-body'>
        <h3 class='inline-message mt-5 mb-5'>Performing audit on <%= tag.try_friendly_name %></h3>
      </div>
      <div class='tagsafe-modal-divider'></div>
      <div class='tagsafe-modal-footer text-end'>
        <%= link_to "View audit", tag_audit_path(tag, audits_enqueued.first), class:'tagsafe-btn', target: '_top' %>
      </div>
    <% end %>
  <% else %>
    <div data-controller='hot-keys' data-action="form" data-key-code='13'>
      <%= form_with url: create_audit_path(tag), method: :post, data: { controller: 'loading_form', hot_keys_target: 'formAction' } do |f| %>
        <div class='tagsafe-modal-body'>
          <% unless tag_version.nil? || current_tag_version.nil? %>
            <% if tag_version.id == current_tag_version.id %>
              <%= f.hidden_field :tag_version_uid, value: tag_version.uid %>
            <% else %>
              <h5>The audit you were viewing was of a past release from this tag (<%= tag_version.created_at.formatted_short %>) and is not the most recent version. Which version of the tag would you like to use for this audit?</h5>
              <select class='form-select mb-3' name='tag_version_uid'>
                <option value="<%= tag_version.uid %>">Past release from audit being viewed</option>
                <option value="<%= current_tag_version.uid %>">Currently live version (released <%= current_tag_version.created_at.formatted_short %>)</option>
              </select>
            <% end %>  
          <% end %>

          <div class='d-flex align-items-stretch justify-content-evenly m-auto' style='max-width: 720px;'>
            <div class='custom-checkbox-div-container'>
              <input name='config[include_performance_audit]' id='include_performance_audit' value='true' type='checkbox' class='custom-checkbox-div-input' <%= configuration.include_performance_audit ? "checked='checked'" : nil %>>
              <label class='custom-checkbox-div-label' for='include_performance_audit'>
                <i class="far fa-check-circle checked top-right-icon green" data-controller='tooltip' data-bs-toggle='tooltip' title="Performance audits are enabled for this audit."></i>
                <i class="far fa-times-circle unchecked top-right-icon red" data-controller='tooltip' data-bs-toggle='tooltip' title="Performance audits are disabled for this audit."></i>
                <div class='text'>Run performance audit</div>
                <div class='icon checked'>
                  <%= render 'partials/svgs/gauge' %>
                </div>
                <div class='icon unchecked'>
                  <%= render 'partials/svgs/bw_gauge' %>
                </div>
              </label>
            </div>
            <div class='custom-checkbox-div-container'>
              <input name='config[include_functional_tests]' id='include_functional_tests' value='true' type='checkbox' class='custom-checkbox-div-input' <%= configuration.include_functional_tests ? "checked='checked'" : nil %>>
              <label class='custom-checkbox-div-label' for='include_functional_tests'>
                <i class="far fa-check-circle checked top-right-icon green" data-controller='tooltip' data-bs-toggle='tooltip' title="Performance audits are enabled for this audit."></i>
                <i class="far fa-times-circle unchecked top-right-icon red" data-controller='tooltip' data-bs-toggle='tooltip' title="Performance audits are disabled for this audit."></i>
                <div class='text'>Run functional tests</div>
                <div class='icon checked'>
                  <%= render 'partials/svgs/test_tubes' %>
                </div>
                <div class='icon unchecked'>
                  <%= render 'partials/svgs/bw_test_tubes' %>
                </div>
              </label>
            </div>
          </div>
          <h5 class='mt-4'>Performance audit settings:</h5>
          <div class='d-flex align-items-stretch justify-content-evenly m-auto' style='max-width: 720px;'>
            <div class='custom-checkbox-div-container' style="width: 33%; padding: 0 15px 0 15px;">
              <input name='config[include_page_load_resources]' id='include_page_load_resources' value='true' type='checkbox' class='custom-checkbox-div-input' <%= configuration.include_functional_tests ? "checked='checked'" : nil %>>
              <label class='custom-checkbox-div-label fill skinny' for='include_page_load_resources'>
                <i class="far fa-check-circle checked top-right-icon green"></i>
                <i class="far fa-times-circle unchecked top-right-icon red"></i>
                <div class='text mb-0'>Include page load waterfall resources</div>
              </label>
            </div>

            <div class='custom-checkbox-div-container' style="width: 33%; padding: 0 15px 0 15px;">
              <input name='config[performance_audit_settings][enable_screen_recording]' id='enable_screen_recording' value='true' type='checkbox' class='custom-checkbox-div-input' <%= configuration.include_functional_tests ? "checked='checked'" : nil %>>
              <label class='custom-checkbox-div-label fill skinny' for='enable_screen_recording'>
                <i class="far fa-check-circle checked top-right-icon green"></i>
                <i class="far fa-times-circle unchecked top-right-icon red"></i>
                <div class='text mb-0'>Include screen recording</div>
              </label>
            </div>

            <div class='custom-checkbox-div-container' style="width: 33%; padding: 0 15px 0 15px;">
              <input name='config[performance_audit_settings][strip_all_images]' id='strip_all_images_in_performance_audits' value='true' type='checkbox' class='custom-checkbox-div-input' <%= configuration.include_functional_tests ? "checked='checked'" : nil %>>
              <label class='custom-checkbox-div-label fill skinny' for='strip_all_images_in_performance_audits'>
                <i class="far fa-check-circle checked top-right-icon green"></i>
                <i class="far fa-times-circle unchecked top-right-icon red"></i>
                <div class='text mb-0'>Strip images</div>
              </label>
            </div>
          </div>

          <h5 class='mt-4'>URLs to audit:</h5>
          <div class='d-flex align-items-stretch justify-content-evenly m-auto' style='max-width: 720px'>
            <% urls_to_audit.each do |url_to_audit| %>
              <div class='custom-checkbox-div-container'>
                <input name='urls_to_audit[]' id="url_to_audit_<%= url_to_audit.id %>" value="<%= url_to_audit.id %>" type='checkbox' class='custom-checkbox-div-input' <%= configuration.include_functional_tests ? "checked='checked'" : nil %>>
                <label class='custom-checkbox-div-label fill skinny' for='url_to_audit_<%= url_to_audit.id %>'>
                  <i class="far fa-check-circle checked top-right-icon green"></i>
                  <i class="far fa-times-circle unchecked top-right-icon red"></i>
                  <div class='text'><%= url_to_audit.page_url.full_url %></div>
                </label>
              </div>
            <% end %>
          </div>
        </div>

        <div class='tagsafe-modal-divider'></div>
        <div class='tagsafe-modal-footer text-end'>
          <%= loading_submit_button do %>
            <div class='d-flex align-items-center'>
              Run Audit
              <span class='hot-key-indicator ms-1'>
                ⌘enter
              </span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>