<%= render_as_modal title: "#{@tag.try_friendly_name} audit" do %>
  <% if local_assigns[:audits_enqueued] %>

    <% if audits_enqueued.count > 1 %>
      <div class='tagsafe-modal-body'>
        <h3 class='inline-message mt-5 mb-5'>Performing <%= audits_enqueued.count %> audits on <%= tag.try_friendly_name %></h3>
        <% if audits_with_errors.any? %>
          <h3>Unable to perform <%= audits_with_errors.count %> of the audits:</h3>
          <% audits_with_errors.each do |audit| %>
            <h4 style='color: red'><%= audit.page_url.full_url%>: <%= audit.errors.full_messages.join(' ') %></h4>
          <% end %>
        <% end %>
        <div class='tagsafe-modal-divider'></div>
        <% audits_enqueued.each do |audit| %>
          <%= link_to "View audit on #{audit.page_url.full_url}", tag_audit_path(tag, audit), target: '_top', class: 'd-block' %>
        <% end %>
      </div>
    <% else %>
      <div class='tagsafe-modal-body'>
        <% if audits_enqueued.count == 1 %>
          <h3 class='inline-message mt-5 mb-5'>Performing audit on <%= tag.try_friendly_name %></h3>
        <% end %>
        <% if audits_with_errors.any? %>
          <h3>Unable to perform <%= audits_with_errors.count %> of the audits:</h3>
          <% audits_with_errors.each do |audit| %>
            <h4 style='color: red'><%= audit.errors.full_messages.join(' ') %></h4>
          <% end %>
        <% end %>
      </div>
      <% unless audits_enqueued.none? %>
        <div class='tagsafe-modal-divider'></div>
        <div class='tagsafe-modal-footer text-end'>
          <%= link_to "View audit", tag_audit_path(tag, audits_enqueued.first), class:'tagsafe-btn', target: '_top' %>
        </div>
      <% end %>
    <% end %>

  <% else %>
    <div data-controller='hot-keys' data-action="form" data-key-code='13'>
      <%= form_with url: create_audit_path(tag), method: :post, data: { controller: 'loading_form', hot_keys_target: 'formAction' } do |f| %>
        <div class='tagsafe-modal-body'> 
          <% if tag.has_image? %>
            <%= image_tag tag.try_image_url, class: 'tag-thumbnail border' %>
          <% end %>
          <h3>Perform audit on <%= tag.tag_snippet.name %> <%= tag.full_url %>?</h3>
          <% if tag.is_tagsafe_hosted %>
            <h5 class='mt-3'>Tag version to audit</h5>
            <select name='tag_version_uid' class='form-select w-fit m-auto' style='width: fit-content' required>
              <% tag.tag_versions.most_recent_first.each do |tag_version| %> 
                <option <%= tag_version == tag.current_live_tag_version ? 'selected' : nil %> value='<%=tag_version.uid %>'>
                  <%= tag_version.tag_version_identifier %> (<%= tag_version.created_at.formatted_short %> release)
                </option>
              <% end %>
            </select>
          <% end %>
          <h5 class='mt-3'>URLs to audit:</h5>
          <div class='d-flex align-items-stretch justify-content-evenly m-auto' style='max-width: 720px'>
            <% page_urls.each do |page_url| %>
              <div class='custom-checkbox-div-container'>
                <input name='page_url_uids_to_audit[]' 
                        id="<%= page_url.uid %>" 
                        value="<%= page_url.uid %>" 
                        type='checkbox' 
                        class='custom-checkbox-div-input'
                        <%= page_url.is_root? ? 'checked=checked' : nil %>>
                <label class='custom-checkbox-div-label fill skinny' for='<%= page_url.uid %>'>
                  <i class="far fa-check-circle checked top-right-icon green"></i>
                  <i class="far fa-times-circle unchecked top-right-icon red"></i>
                  <div class='text'><%= page_url.friendly_url %></div>
                </label>
              </div>
            <% end %>
          </div>
        </div>

        <div class='tagsafe-modal-divider'></div>
        <div class='tagsafe-modal-footer text-end'>
          <%= loading_submit_button do %>
            <div class='d-flex align-items-center'>
              Run Audit
              <span class='hot-key-indicator ms-1'>
                ⌘enter
              </span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>