<%= turbo_frame_tag "audit_#{audit.uid}_pending_performance_audit_pill" do %>
  <% percent_complete = audit.individual_performance_audit_percent_complete %>
  <div id="audit-<%=audit.uid %>-performance-audit-progress" class='tagsafe-pill loading-indicator <%= percent_complete.zero? ? 'pulsate-border' : nil%> <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>'
        data-controller='tooltip'
        data-bs-toggle='tooltip'
        title="Performance audit is <%= percent_complete.to_i %>% complete.">
      <div class='fill' style='height: <%= percent_complete %>%'></div>
      <span class='text'>Running</span>
  </div>
<% end %>