<% content_for :head do %>
  <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
  <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
<% end %>

<%= turbo_frame_tag "audit_#{audit.uid}_performance_audit" do %>
  <div class="tagsafe-container <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>">
    <% if !audit.include_performance_audit %>
      <h4>Performance audits were disabled for this audit</h4>
    <% else %>
      <% if audit.performance_audit_failed? %>
        <div class='text-center'>
          <h4>Performance audit failed:</h4>
          <p><%= audit.performance_audit_error_message %></p>
        </div>
      <% elsif audit.performance_audit_pending? %>
        <div class='text-center'>
          <h4>Performance audit is currently running.</h4>
          <div class='m-auto text-center w-fit'>
            <span class='tagsafe-pill tagsafe-primary-purple <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>'>
              <%= display_loading_icon size: :tiny %>
              <span class='text'>Running</span>
            </span>
            <%= render 'individual_performance_audits/progression_indicators', audit: audit %>
          </div>
        </div>
      <% elsif audit.preferred_delta_performance_audit %>
        <div class='d-flex justify-content-evenly mb-4'>
          <div class='meta-info-pill'>
            <div class='title'>
              Execution Reason
            </div>
            <div class='value'>
              <%= audit.execution_reason.name %>
            </div>
          </div>
          <div class='meta-info-pill'>
            <div class='title'>
              Audited Page URL
            </div>
            <div class='value'>
              <%= audit.page_url.full_url %>
            </div>
          </div>
          <div class='meta-info-pill'>
            <div class='title'>
              Performance Audits Ran
            </div>
            <div class='value'>
              <%= audit.delta_performance_audits.not_outliers.count %>
            </div>
          </div>
          <div class='meta-info-pill' data-controller='tooltip' data-bs-toggle='tooltip' title="Tagsafe is 95% confident the Tagsafe score is within <%= audit.tagsafe_score_confidence_range %> points of the generated Tagsafe score, which is within your required Tagsafe Score confidence range defined in your settings.">
            <div class='title'>
              Tagsafe Confidence
            </div>
            <div class='value <%= audit.tagsafe_score_is_confident ? 'green' : 'orange'%>'>
              <%= audit.tagsafe_score_confidence_range %>
            </div>
          </div>
        </div>
        <div data-controller='audit-results-expander'>
          <div class="row">
            <div class='tag-safe-score-container text-center col-12' style='margin-bottom: 15px'>
              <h4>Tagsafe Score</h4>
              <%= render partial: 'partials/progress_ring', 
                          locals: { 
                            score: audit.preferred_delta_performance_audit.tagsafe_score,
                            change_in_score: previous_audit ? audit.preferred_delta_performance_audit.tagsafe_score - previous_audit.preferred_delta_performance_audit.tagsafe_score : nil,
                            score_is_confident: audit.tagsafe_score_is_confident,
                            required_confidence_range: audit.performance_audit_configuration.required_tagsafe_score_range,
                            actual_confidence_range: audit.tagsafe_score_confidence_range
                          } 
                %>
            </div>
          </div>
          <div class='row'>
            <div class='col-6 text-start'>
              <b>Impact on Metrics:</b>
            </div>
            <div class='col-6 text-end'>
              <span class='tagsafe-circular-btn' data-audit-results-expander-target='expandBtn' data-action='click->audit-results-expander#expandMetrics'>
                <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
              </span>
              <span class='tagsafe-circular-btn hidden' data-audit-results-expander-target='collapseBtn' data-action='click->audit-results-expander#collapseMetrics'>
                <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
              </span>
            </div>
          </div>
          <div data-audit-results-expander-target='metricsContainer' class="performance-metrics-container minimized">
            <div class="row">
              <%= render partial: 'audits/performance_audit_metric_row', locals: {
                tag: tag, 
                metric_title: 'Speed Index',
                impact_result: audit.preferred_delta_performance_audit.speed_index_delta,
                previous_impact_result: previous_audit ? previous_audit.preferred_delta_performance_audit.speed_index_delta : nil,
                tagsafe_score_deduction: audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:speed_index),
                metric_definition: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:speed_index],
                unit: 'ms',
                previous_timestamp: previous_audit ? previous_audit.enqueued_suite_at : nil
              } %>
              <%= render partial: 'audits/performance_audit_metric_row', locals: {
                tag: tag, 
                metric_title: 'Main Thread Execution Time',
                impact_result: audit.preferred_delta_performance_audit.main_thread_execution_tag_responsible_for_delta,
                previous_impact_result: previous_audit ? previous_audit.preferred_delta_performance_audit.main_thread_execution_tag_responsible_for_delta : nil,
                tagsafe_score_deduction: audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:main_thread_execution_tag_responsible_for),
                metric_definition: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:main_thread_execution_tag_responsible_for],
                unit: 'ms',
                previous_timestamp: previous_audit ? previous_audit.enqueued_suite_at : nil
              } %>
            </div>
            <div class="row">
              <%= render partial: 'audits/performance_audit_metric_row', locals: {
                tag: tag, 
                metric_title: 'DOM Complete',
                impact_result: audit.preferred_delta_performance_audit.dom_complete_delta,
                previous_impact_result: previous_audit ? previous_audit.preferred_delta_performance_audit.dom_complete_delta : nil,
                tagsafe_score_deduction: audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:dom_complete),
                metric_definition: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:dom_complete],
                unit: 'ms',
                previous_timestamp: previous_audit ? previous_audit.enqueued_suite_at : nil
              } %>
              <%= render partial: 'audits/performance_audit_metric_row', locals: {
                tag: tag,
                metric_title: 'DOM Interactive',
                impact_result: audit.preferred_delta_performance_audit.dom_interactive_delta,
                previous_impact_result: previous_audit ? previous_audit.preferred_delta_performance_audit.dom_interactive_delta : nil,
                tagsafe_score_deduction: audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:dom_interactive),
                metric_definition: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:dom_interactive],
                unit: 'ms',
                previous_timestamp: previous_audit ? previous_audit.enqueued_suite_at : nil
              } %>
            </div>
            <div class="row">
              <%= render partial: 'audits/performance_audit_metric_row', locals: {
                tag: tag, 
                metric_title: 'First Contentful Paint',
                impact_result: audit.preferred_delta_performance_audit.first_contentful_paint_delta,
                previous_impact_result: previous_audit ? previous_audit.preferred_delta_performance_audit.first_contentful_paint_delta : nil,
                tagsafe_score_deduction: audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:first_contentful_paint),
                metric_definition: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:first_contentful_paint],
                unit: 'ms',
                previous_timestamp: previous_audit ? previous_audit.enqueued_suite_at : nil
              } %>
              <%= render partial: 'audits/performance_audit_metric_row', locals: {
                tag: tag, 
                metric_title: 'Task Duration Time',
                impact_result: audit.preferred_delta_performance_audit.task_duration_delta,
                previous_impact_result: previous_audit ? previous_audit.preferred_delta_performance_audit.task_duration_delta : nil,
                tagsafe_score_deduction: audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:task_duration),
                metric_definition: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:task_duration],
                unit: 'ms',
                previous_timestamp: previous_audit ? previous_audit.enqueued_suite_at : nil
              } %>
            </div>
            <div class="row">
              <%= render partial: 'audits/performance_audit_metric_row', locals: {
                tag: tag, 
                metric_title: 'Script Duration',
                impact_result: audit.preferred_delta_performance_audit.script_duration_delta,
                previous_impact_result: previous_audit ? previous_audit.preferred_delta_performance_audit.script_duration_delta : nil,
                tagsafe_score_deduction: audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:script_duration),
                metric_definition: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:script_duration],
                unit: 'ms',
                previous_timestamp: previous_audit ? previous_audit.enqueued_suite_at : nil
              } %>
              <%= render partial: 'audits/performance_audit_metric_row', locals: {
                tag: tag, 
                metric_title: 'Layout Duration',
                impact_result: audit.preferred_delta_performance_audit.layout_duration_delta,
                previous_impact_result: previous_audit ? previous_audit.preferred_delta_performance_audit.layout_duration_delta : nil,
                tagsafe_score_deduction: audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:layout_duration),
                metric_definition: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:layout_duration],
                unit: 'ms',
                previous_timestamp: previous_audit ? previous_audit.enqueued_suite_at : nil
              } %>
            </div>
            <div class='row'>
              <%= render partial: 'audits/performance_audit_metric_row', locals: {
                  tag: tag, 
                  metric_title: 'DOM Content Loaded',
                  impact_result: audit.preferred_delta_performance_audit.dom_content_loaded_delta,
                  previous_impact_result: previous_audit ? previous_audit.preferred_delta_performance_audit.dom_content_loaded_delta : nil,
                  tagsafe_score_deduction: audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:dom_content_loaded),
                  metric_definition: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:dom_content_loaded],
                  unit: 'ms',
                  previous_timestamp: previous_audit ? previous_audit.enqueued_suite_at : nil
                } %>
              <%= render partial: 'audits/performance_audit_metric_row', locals: {
                  tag: tag, 
                  metric_title: 'File Size',
                  impact_result: audit.preferred_delta_performance_audit.bytes,
                  previous_impact_result: previous_audit ? previous_audit.preferred_delta_performance_audit.bytes : nil,
                  tagsafe_score_deduction: audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:byte_size),
                  metric_definition: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:bytes],
                  unit: 'bytes',
                  previous_timestamp: previous_audit ? previous_audit.enqueued_suite_at : nil
                } %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if audit.performance_audit_completed_successfully? %>
    <%= turbo_frame_tag "audit_#{audit.uid}_performance_audit_speed_index_result", src: tag_performance_audit_speed_index_result_index_path(audit.tag, audit) do %>
      <div class='tagsafe-container p-5 text-center'>
        <%= display_loading_icon %>
      </div>
    <% end %>
  <% end %>
  <% if audit.include_performance_audit && audit.performance_audit_configuration.enable_screen_recording && audit.performance_audit_completed_successfully? %>
    <div class="tagsafe-container <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>" data-controller='streamed-script-tag'>
      <%= render 'audits/performance_audit_recordings',
                  performance_audit_with_tag: audit.median_individual_performance_audit_with_tag,
                  performance_audit_without_tag: audit.median_individual_performance_audit_without_tag %>
    </div>
  <% end %>
<% end %>