<%= turbo_frame_tag "audit_#{audit.uid}_performance_audit" do %>
  <div class="col-10 offset-1 text-center tagsafe-container <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>">
    <% if !audit.include_performance_audit %>
      <h4>Performance audits were disabled for this audit</h4>
    <% else %>
      <div class="row">
        <div class="col-12">
          <% if audit.is_primary? %>
            <%= link_to tag_tag_version_audits_path(tag, tag_version) do %>
              <span data-controller='tooltip'
                    data-bs-toggle="tooltip"
                    data-placement="right"
                    title="This tag version of <%=tag.try_friendly_name%> has <%=tag_version.audits.count%> audits performed on it. This is the primary audit, 
                    which is used in comparisons and calculations between tag versions. Click this badge to edit the primary audit."
                    class="badge bg-info"
                    style="float: left;">
                <i class="far fa-star"></i>
              </span>
            <% end %>
          <% end %>
          <div class='row text-end'>
            <%= render 'tag_versions/dropdown', 
                        tag: tag, 
                        tag_version: tag_version, 
                        audit: audit,
                        exclude_urls: [git_diff_tag_tag_version_path(tag, tag_version)]
            %>
            <!-- <#%= render 'partials/utils/help_tooltip', message: "Tagsafe measures how much impact the tag has on your page performance. The metrics below are how much each performance metric #{tag.try_friendly_name} is responsible for." %> !-->
          </div>
        </div>
      </div>
      <% if audit.performance_audit_failed? %>
        <p>Performance audit failed:</p>
        <p><%= audit.performance_audit_error_message %></p>
        <% audit.individual_performance_audits.failed.each do |perf_audit| %>
          <p><%= perf_audit.error_message %></p>
        <% end %>
      <% elsif audit.performance_audit_pending? %>
        <h5>Performance audit is currently running.</h5>
        <!-- <#%= display_loading_icon type: :grow %> !-->
        <div class='m-auto text-center w-fit'>
          <%= turbo_stream_from "audit_#{audit.uid}_pending_performance_audit_pill_stream" %>
          <%= render 'audits/pending_performance_audit_pill', audit: audit %>
        </div>
      <% elsif audit.preferred_delta_performance_audit %>
        <div data-controller='audit-results-expander'>
          <div class="row">
            <div class='tag-safe-score-container text-center col-12' style='margin-bottom: 15px'>
              <h4>Tagsafe Score</h4>
              <%= render partial: 'partials/progress_ring', 
                          locals: { 
                            score: audit.preferred_delta_performance_audit.tagsafe_score,
                            change_in_score: previous_audit ? audit.preferred_delta_performance_audit.tagsafe_score - previous_audit.preferred_delta_performance_audit.tagsafe_score : nil
                          } 
                %>
            </div>
          </div>
          <div class='row'>
            <div class='col-6 text-start'>
              <b>Impact on Metrics:</b>
            </div>
            <div class='col-6 text-end'>
              <span class='tagsafe-circular-btn' data-audit-results-expander-target='expandBtn' data-action='click->audit-results-expander#expandMetrics'>
                <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
              </span>
              <span class='tagsafe-circular-btn hidden' data-audit-results-expander-target='collapseBtn' data-action='click->audit-results-expander#collapseMetrics'>
                <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
              </span>
            </div>
          </div>
          <div data-audit-results-expander-target='metricsContainer' class="performance-metrics-container minimized">
            <div class="row">
              <%= render partial: 'audits/performance_audit_metric_row', locals: {
                tag: tag, 
                metric_title: 'DOM Complete',
                impact_result: audit.preferred_delta_performance_audit.dom_complete_delta,
                previous_impact_result: previous_audit ? previous_audit.preferred_delta_performance_audit.dom_complete_delta : nil,
                tagsafe_score_deduction: audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:dom_complete),
                unit: 'ms',
                previous_timestamp: previous_audit ? previous_audit.enqueued_suite_at : nil
              } %>
              <%= render partial: 'audits/performance_audit_metric_row', locals: {
                tag: tag,
                metric_title: 'DOM Interactive',
                impact_result: audit.preferred_delta_performance_audit.dom_interactive_delta,
                previous_impact_result: previous_audit ? previous_audit.preferred_delta_performance_audit.dom_interactive_delta : nil,
                tagsafe_score_deduction: audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:dom_interactive),
                unit: 'ms',
                previous_timestamp: previous_audit ? previous_audit.enqueued_suite_at : nil
              } %>
            </div>
            <div class="row">
              <%= render partial: 'audits/performance_audit_metric_row', locals: {
                tag: tag, 
                metric_title: 'First Contentful Paint',
                impact_result: audit.preferred_delta_performance_audit.first_contentful_paint_delta,
                previous_impact_result: previous_audit ? previous_audit.preferred_delta_performance_audit.first_contentful_paint_delta : nil,
                tagsafe_score_deduction: audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:first_contentful_paint),
                unit: 'ms',
                previous_timestamp: previous_audit ? previous_audit.enqueued_suite_at : nil
              } %>
              <%= render partial: 'audits/performance_audit_metric_row', locals: {
                tag: tag, 
                metric_title: 'Task Duration Time',
                impact_result: audit.preferred_delta_performance_audit.task_duration_delta,
                previous_impact_result: previous_audit ? previous_audit.preferred_delta_performance_audit.task_duration_delta : nil,
                tagsafe_score_deduction: audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:task_duration),
                unit: 'ms',
                previous_timestamp: previous_audit ? previous_audit.enqueued_suite_at : nil
              } %>
            </div>
            <div class="row">
              <%= render partial: 'audits/performance_audit_metric_row', locals: {
                tag: tag, 
                metric_title: 'Script Duration',
                impact_result: audit.preferred_delta_performance_audit.script_duration_delta,
                previous_impact_result: previous_audit ? previous_audit.preferred_delta_performance_audit.script_duration_delta : nil,
                tagsafe_score_deduction: audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:script_duration),
                unit: 'ms',
                previous_timestamp: previous_audit ? previous_audit.enqueued_suite_at : nil
              } %>
              <%= render partial: 'audits/performance_audit_metric_row', locals: {
                tag: tag, 
                metric_title: 'Layout Duration',
                impact_result: audit.preferred_delta_performance_audit.layout_duration_delta,
                previous_impact_result: previous_audit ? previous_audit.preferred_delta_performance_audit.layout_duration_delta : nil,
                tagsafe_score_deduction: audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:layout_duration),
                unit: 'ms',
                previous_timestamp: previous_audit ? previous_audit.enqueued_suite_at : nil
              } %>
            </div>
            <div class='row'>
              <%= render partial: 'audits/performance_audit_metric_row', locals: {
                  tag: tag, 
                  metric_title: 'DOM Content Loaded',
                  impact_result: audit.preferred_delta_performance_audit.dom_content_loaded_delta,
                  previous_impact_result: previous_audit ? previous_audit.preferred_delta_performance_audit.dom_content_loaded_delta : nil,
                  tagsafe_score_deduction: audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:dom_content_loaded),
                  unit: 'ms',
                  previous_timestamp: previous_audit ? previous_audit.enqueued_suite_at : nil
                } %>
              <div class="metric-row col-md-12 col-lg-6">
                <div class='metric col-12'>
                  <%
                    impact_result = audit.tag_version.bytes
                    previous_impact_result = audit.tag_version.previous_version&.bytes
                    tagsafe_score_deduction = audit.preferred_delta_performance_audit.tagsafe_score_metric_deduction(:byte_size)
                  %>
                  <div class='row'>
                    <div class="col-6 metric-title">
                      File Size
                    </div>
                    <div class="col-6 metric-value">
                      <% if impact_result.zero? %>
                        <span class='default-cursor'>No Impact</span>
                      <% else %>
                        <% tooltip_title = "The #{audit.tag.try_friendly_name} tag is #{number_to_human_size(impact_result)} in size." %>
                        <% diff_in_metric = impact_result - (previous_impact_result || 0) %>
                        <% unless previous_impact_result.nil? || diff_in_metric.zero? %>
                          <% tooltip_title += ", #{diff_in_metric.positive? ? 'an increase' : 'a decrease'} of #{number_to_human_size(diff_in_metric.abs.round(2))} from the previous version." %>
                        <% end %>
                        <div data-controller='tooltip'
                              data-bs-toggle='tooltip'
                              title="<%= tooltip_title %>" 
                              class="current-value default-cursor">
                          <%= number_to_human_size(impact_result.round(2)) %>
                          <% unless previous_impact_result.nil? %>
                            <% if diff_in_metric.zero? %>
                              (No Change)
                            <% else %>
                              <span class="<%= diff_in_metric.positive? ? 'red-text' : 'green-text' %>" style='font-size: 12px'>
                                <% icon_class = diff_in_metric.positive? ? 'fas fa-long-arrow-alt-up' : 'fas fa-long-arrow-alt-down' %>
                                <i class="<%= icon_class %>"></i>
                                <%= number_to_human_size(diff_in_metric.abs) %>
                                <% unless previous_impact_result.zero? || impact_result.zero? %>
                                  (<%= ((diff_in_metric/previous_impact_result)*100).round(2) %>%)
                                <% end %>
                              </span>
                            <% end %>
                          <% end %>
                        </div>
                        <div class='impact-to-tagsafe-score'
                              data-controller='tooltip'
                              data-bs-toggle='tooltip'
                              title="Lowered the Tagsafe Score by <%= tagsafe_score_deduction&.round(2) || 0 %> points.">
                          <%= "- #{tagsafe_score_deduction&.round(2)}" || 0.0 %> Tagsafe Score impact
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if audit.include_performance_audit &&
            audit.median_individual_performance_audit_with_tag&.puppeteer_recording&.captured_successfully? &&
            audit.median_individual_performance_audit_without_tag&.puppeteer_recording&.captured_successfully? %>
    <div class="col-10 offset-1 text-center tagsafe-container <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %> mt-5" data-controller='streamed-script-tag'>
      <%= render 'audits/performance_audit_recordings',
                  performance_audit_with_tag: audit.median_individual_performance_audit_with_tag,
                  performance_audit_without_tag: audit.median_individual_performance_audit_without_tag %>
    </div>
  <% end %>
<% end %>