<% if audit.nil? %>
  <% if tag.removed_from_site? %>
    <span class='tagsafe-pill orange small-text <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>'>No longer on site</span>
  <% elsif tag.release_monitoring_enabled? %>
    <span class='tagsafe-pill grey small-text <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>'>No audits for this release</span>
  <% else %>
    <span class='tagsafe-pill grey small-text <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>'>No audits for this tag</span>
  <% end %>
<% elsif audit.include_performance_audit %> 
  <% if audit.performance_audit_failed? %>
    <span class='tagsafe-pill red small-text <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>'>Audit failed.</span>
  <% elsif audit.performance_audit_pending? %>
    <%= turbo_stream_from "audit_#{audit.uid}_pending_performance_audit_pill_stream" %>
    <%= render 'audits/pending_performance_audit_pill', audit: audit %>
  <% elsif audit.performance_audit_completed? %>
    <% 
      color = audit.preferred_delta_performance_audit.tagsafe_score >= DeltaPerformanceAudit::TAGSAFE_SCORE_THRESHOLDS[:good] ? 'green' : 
                audit.preferred_delta_performance_audit.tagsafe_score >= DeltaPerformanceAudit::TAGSAFE_SCORE_THRESHOLDS[:warn] ? 'orange' : 'red'
    %>
    <div class='position-relative'>
      <div class='tagsafe-pill <%= color %> <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>'>
        <!-- <#% if current_user && Flag.flag_is_true(current_user, Flag::Slugs.DISPLAY_TAGSAFE_SCORE_CONFIDENCE_RANGE_INDICATOR) %>
          <#% if audit.tagsafe_score_is_confident %>
            <span class='me-1' 
                  style='font-size: 10px'
                  data-controller='tooltip' 
                  data-bs-toggle='tooltip' 
                  title="Tagsafe score is within the confidence range specified (<#%= audit.tagsafe_score_confidence_range %>)">
              <i class="fa-solid fa-bullseye"></i>
            </span>
          <#% else %>
          <span class='me-1' 
                  style='font-size: 10px'
                  data-controller='tooltip' 
                  data-bs-toggle='tooltip' 
                  title="Tagsafe score is outside of the confidence range specified (Confidence range = <#%= audit.tagsafe_score_confidence_range %>, required range = <#%= audit.performance_audit_configuration.required_tagsafe_score_range %>)">
              <i class="fa-solid fa-question"></i>
            </span>
          <#% end %>
        <#% end %> !-->
        <% current_score = audit.preferred_delta_performance_audit.tagsafe_score.round(2) %> 
        <%= current_score %>
        <% unless local_assigns[:compare_to_previous_score] == false %>
          <% audit_to_compare_against = audit.audit_to_compare_with %>
          <% if audit_to_compare_against %>
            <% previous_score = audit_to_compare_against.preferred_delta_performance_audit.tagsafe_score.round(2) %>
            <% diff_in_score = (current_score - previous_score).round(2) %>
            <% icon_class = diff_in_score.positive? ? 'fas fa-long-arrow-alt-up' : 'fas fa-long-arrow-alt-down' %>
            <span style='font-size: 0.75rem'
                  class='ms-1'
                  data-controller='tooltip'
                  data-bs-toggle='tooltip'
                  title="Tagsafe score <%= diff_in_score.positive? ? 'increased' : 'dropped' %> <%= diff_in_score.abs %> points from the previous audit.">
                  <i class="<%=icon_class%>"></i> 
                  <%= diff_in_score %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <span class='tagsafe-pill grey small-text <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>'>Performance audit disabled</span>
<% end %>