<div class="metric-row col-md-12 col-lg-6">
  <div class='metric col-12'>
    <div class='row'>
      <div class="col-6 metric-title">
        <%= metric_title %>
      </div>
      <div class="col-6 metric-value">
        <% if impact_result.zero? %>
          <span class='default-cursor'>No Impact</span>
        <% else %>
          <% tooltip_title = "When #{tag.try_friendly_name} is present, #{metric_title} is #{impact_result.round(2)} #{unit} #{impact_result > 0 ? 'slower' : nil}" %>
          <% diff_in_metric = impact_result - (previous_impact_result || 0) %>
          <% unless previous_impact_result.nil? %>
            <% tooltip_title += ", #{diff_in_metric.positive? ? 'an increase' : 'a decrease'} of #{diff_in_metric.abs.round(2)} #{unit} from the previous version." %>
          <% end %>
          <div data-controller='tooltip'
                data-bs-toggle='tooltip'
                title="<%= tooltip_title %>" 
                class="current-value default-cursor">
            <%= impact_result > 0 ? 'Adds' : nil %> <%= number_to_human(impact_result.round(2), units: { unit: unit, thousand: unit ? 'seconds' : nil }) %>          
            <% unless previous_impact_result.nil? %>
              <% if diff_in_metric.zero? %>
                (No Change)
              <% else %>
                <span class="<%= diff_in_metric.positive? ? 'red-text' : 'green-text' %>" style='font-size: 12px'>
                  <% icon_class = diff_in_metric.positive? ? 'fas fa-long-arrow-alt-up' : 'fas fa-long-arrow-alt-down' %>
                  <i class="<%= icon_class %>"></i>
                  <%= number_to_human(diff_in_metric.abs, units: { unit: unit, thousand: unit ? 'seconds' : nil }) %>
                  <% unless previous_impact_result.zero? || impact_result.zero? %>
                    (<%= ((diff_in_metric/previous_impact_result)*100).round(2) %>%)
                  <% end %>
                </span>
              <% end %>
            <% end %>
          </div>
          <div class='impact-to-tagsafe-score'
                data-controller='tooltip'
                data-bs-toggle='tooltip'
                title="Lowered the Tagsafe Score by <%= tagsafe_score_deduction || 0 %> points.">
            <%= "- #{tagsafe_score_deduction}" || 0.0 %> Tagsafe Score impact
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>