<% 
  color = audit.delta_performance_audit.tagsafe_score >= DeltaPerformanceAudit::TAGSAFE_SCORE_THRESHOLDS[:good] ? 'green' : 
            audit.delta_performance_audit.tagsafe_score >= DeltaPerformanceAudit::TAGSAFE_SCORE_THRESHOLDS[:warn] ? 'orange' : 'red'
%>
<span class='tagsafe-pill <%= color %> <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>'>
  <% current_score = audit.delta_performance_audit.tagsafe_score.round(2) %> 
  <span class='current-tagsafe-score fw-bolder fs-6 p-2'><%= current_score %></span>
  <% previous_primary_audit = tag_version.previous_version&.primary_audit %>
  <% if previous_primary_audit %>
    <% previous_score = previous_primary_audit.delta_performance_audit.tagsafe_score.round(2) %>
    <% diff_in_score = (current_score - previous_score).round(2) %>
    <% icon_class = diff_in_score.positive? ? 'fas fa-long-arrow-alt-up' : 'fas fa-long-arrow-alt-down' %>
    <span class='difference-in-tagsafe-score'
          data-controller='tooltip'
          data-bs-toggle='tooltip'
          title="Tagsafe score <%= diff_in_score.positive? ? 'increased' : 'dropped' %> <%= diff_in_score.abs %> points from the previous version.">
          <i class="<%=icon_class%>"></i> 
          <%= diff_in_score %>
    </span>
  <% end %>
</span>