<%= turbo_stream_from "audit_#{@audit.uid}_details_view_stream" %>

<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-8'>
        <h1 class="page-title with-sub-title"><%= local_assigns[:page_title] || 'Audit Results' %></h1>
        <h2 class='page-sub-title'><%= local_assigns[:page_sub_title] || "#{@audit.tag.try_friendly_name}'s impact to #{@audit.page_url.full_url}" %></h2>
      </div>
      <div class='col-4 page-title-cta-container'>
        <%= link_to 'Re-Run Audit', new_tag_audit_path(@tag), class: 'page-title-cta-btn floating-btn tagsafe-purple-bg' %>
      </div>
    </div>
  </div>
    <%= render 'partials/page_navigation_items', navigation_items: [
    { url: performance_audit_tag_audit_path(@tag, @audit), text: 'Performance' },
    { url: test_runs_tag_audit_path(@tag, @audit), text: 'Functional Tests' },
    { url: page_change_audit_tag_audit_path(@tag, @audit), text: 'Page Change Detection' },
    { url: waterfall_tag_audit_path(@tag, @audit), text: 'Page Load Waterfall' },
    { url: git_diff_tag_audit_path(@tag, @audit), text: 'Changes Made to Tag' }
  ] %>
</div>