<%= turbo_stream_from "audit_#{@audit.uid}_details_view_stream" %>

<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-8'>
        <h1 class="page-title with-sub-title"><%= local_assigns[:page_title] || 'Audit Results' %></h1>
        <h2 class='page-sub-title'>
          <%= local_assigns[:page_sub_title] || "#{@audit.tag.try_friendly_name}'s impact to #{@audit.page_url.friendly_url}" %>
        </h2>
      </div>
      <div class='col-4 page-title-cta-container'>
        <%= modal_link new_tag_audit_path(@tag), klass: 'page-title-cta-btn floating-btn tagsafe-purple-bg' do %>
          <div class='d-flex align-items-center'>
            Re-Run Audit 
            <span data-controller='hot-keys' data-action="modal" data-key-code='65' class='hot-key-indicator ms-1'>
              <form class='hidden' action="<%=new_tag_audit_path(@tag)%>" data-hot-keys-target='formAction' data-turbo-frame='server_loadable_modal'>
              </form>
              ⌘a
            </span>
          </div>
        <% end %>
        <%= link_to settings_tag_path(@tag), class: 'page-title-cta-btn floating-btn tagsafe-purple-bg ms-3', title: 'Edit tag settings', data: { controller: 'tooltip', bs_toggle: 'tooltip' } do %>
          <i class="fa-solid fa-gear"></i>
        <% end %>
      </div>
    </div>
  </div>
    <%= render 'partials/page_navigation_items', navigation_items: [
    { url: performance_audit_tag_audit_path(@tag, @audit), text: 'Performance' },
    { url: test_runs_tag_audit_path(@tag, @audit), text: 'Functional Tests' },
    { url: Util.env_is_true('PAGE_CHANGE_AUDITS_ENABLED') ? page_change_audit_tag_audit_path(@tag, @audit) : nil, text: 'Page Change Detection' },
    { url: waterfall_tag_audit_path(@tag, @audit), text: 'Resource Waterfall' },
    { url: git_diff_tag_audit_path(@tag, @audit), text: 'Changes Made to Tag' }
  ].filter{ |nav| nav[:url].present? } %>
</div>