<div class="row">
  <div class="col-6 cloudwatch-logs">
    <h5 class="text-center audit-type-title">Results With <%= @tag.try_friendly_name %></h5>
    <% @performance_audits_with_tag.each do |ipa| %>
      <div class='cloudwatch-log'><%= ipa.uid %></div>
      <% if ipa.executed_step_function.aws_log_stream_name %>
        <%= render partial: 'cloudwatch_log', collection: ipa.cloudwatch_logs, as: :cloudwatch_log %>
      <% end %>
      <div class='cloudwatch-log-divider'></div>
    <% end %>
  </div>
  <div class="col-6 cloudwatch-logs">
    <h5 class="text-center audit-type-title">Results Without <%= @tag.try_friendly_name %></h5>
    <% @performance_audits_without_tag.each do |ipa| %>
      <div class='cloudwatch-log'><%= ipa.uid %></div>
      <% if ipa.executed_step_function.aws_log_stream_name %>
        <%= render partial: 'cloudwatch_log', collection: ipa.cloudwatch_logs, as: :cloudwatch_log %>
      <% end %>
      <div class='cloudwatch-log-divider'></div>
    <% end %>
  </div>
</div>

<style>
  body #page-content-wrapper { background: black !important; }
</style>