<%= render 'show_page_header' %>

<div class='tagsafe-container col-10 offset-1 text-center'>
  <% if @tag_version.first_version? %>
    <h4>No changes, this is the first version of <%= @tag.try_friendly_name %>. <%= link_to 'View Entire JS', raw_js_tag_tag_version_path(@tag, @tag_version), target: '_blank' %></h4>
  <% else %>
    <%= turbo_frame_tag "#{@tag_version.uid}_diff", src: diff_server_loadable_partials_tag_tag_version_path(@tag, @tag_version, diff_type: params[:diff_type] || 'split') do %>
      <%= display_loading_spinner %>
    <% end %>
  <% end %>
</div>