<h5 class="page-title with-sub-title">Audits</h5>
<h6 class="page-sub-title">
  <%= @script_subscriber.try_friendly_name %>
  <br/>
  <%= @script_change.created_at.formatted_short %> tag change
</h6>
<div class="tag-safe-container text-center">
  <div class="col-12">
    <span style="float: right;" data-toggle="tooltip" data-placement="top" title="A tag version can have many audits run against it. This tag version has <%= @audits.count %>."><i class="far fa-question-circle"></i></span>
    <br/>
    <div class="dropdown dropleft show ellipsis-dropdown" style="float: right;">
      <a class="dropdown-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-h"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <%= link_to 'View Tag Change Content', script_subscriber_script_change_path(@script_subscriber, @script_change), class: 'dropdown-item', target: '_blank' %>
        <div class="dropdown-divider"></div>
        <%= link_to 'Re-Run Audit', run_audit_script_subscriber_script_change_path(@script_subscriber, @script_change), method: :post, class: 'dropdown-item', data: { confirm: "Run audit on #{@script_subscriber.try_friendly_name}?" } %>
      </div>
    </div>
  </div>
  <table class="table table-hover col-12 text-center" style="table-layout: fixed">
    <thead>
      <tr>
        <th scope="col" style="width: 10%">
          <span data-toggle="tooltip" data-placement="top" title="A tag version must have one audit that is the 'primary audit'. The primary audit is used in the calculations between tag versions. For this reason you must select the most accurate audit.">
            Primary Audit
          </span>
        </th>
        <th scope="col" style='width: 22.5%'>Date of Audit</th>
        <th scope="col" style='width: 22.5%'>TagSafe Score</th>
        <th scope="col" style='width: 22.5%'>
          <span data-toggle="tooltip" data-placement="top" title="An audit can be executed for the following reasons: Initial Audit, Reactivated Tag, Tag Change, Manual Audit, Scheduled Audit, or a Retry.">
            Execution Reason
          </span>
        </th>
        <th scope="col" style='width: 22.5%'></th>
      </tr>
    </thead>
    <tbody>
      <% @audits.each do |audit| %>
        <tr>
          <td scope="row">
            <% unless audit.performance_audit_pending? || audit.performance_audit_failed? %>
              <input type="radio" name="primary_lighthouse_audit" <%=audit.is_primary? ? 'checked' : nil %> value="<%=audit.id%>"/>
            <% end %>
          </td>
          <td scope="row"><%= audit.created_at.formatted %></td>
          <td scope="row">
            <% if audit.performance_audit_failed? %>
              <span class="badge badge-danger">Failed</span>
            <% elsif audit.performance_audit_pending? %>
              <span class="badge badge-primary">Pending completion</span>
            <% else %>
              <%= audit.delta_performance_audit.metric_result('TagSafeScore') %>
            <% end %>
          </td>
          <td scope="row"><%= audit.execution_reason.name %></td>
          <td scope="row"><%= link_to 'View Audit', script_subscriber_script_change_audit_path(@script_subscriber, @script_change, audit) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="update-primary-audit-container text-center hidden">
    <%= link_to 'Update Primary Audit', '#', method: :post, class: 'btn btn-primary' %>
  </div>
</div>

<% unless @primary_audit.nil? %>
  <script>
    var updateContainer = document.querySelector('.update-primary-audit-container');
    var radios = document.querySelectorAll('input[name="primary_lighthouse_audit"]');
    var submitButton = updateContainer.querySelector('a');
    for(i=0; i<radios.length; i++) {
      radios[i].addEventListener('change', function(e) {
        var radioButton = e.target;
        if(radioButton.value !== "<%= @primary_audit.id %>") {
          updateContainer.classList.remove('hidden');
          submitButton.href = "/script_subscribers/<%=@script_subscriber.id%>/script_changes/<%=@script_change.id%>/audits/"+radioButton.value+"/make_primary";
        } else {
          updateContainer.classList.add('hidden');
          submitButton.href = "#";
        }
      })
    }
  </script>
<% end %>