<%= turbo_stream_from "tag_version_#{@tag_version.uid}_audits_view_stream" %>
<meta name='turbo-stream-name' content="tag_version_<%=@tag_version.uid%>_audits_view_stream">

<h5 class="page-title with-sub-title">Audits</h5>
<h6 class="page-sub-title">
  <%= @tag.try_friendly_name %>
  <br/>
  <%= @tag_version.created_at.formatted_short %> tag change
</h6>
<div class="tagsafe-container text-center">
  <div class="col-12 text-end">
    <%= render 'tag_versions/dropdown', tag: @tag, tag_version: @tag_version %>
  </div>
  <% if @audits.any? %>
    <%= render 'audits_table', tag_version: @tag_version, audits: @audits %>
  <% else %>
    <h3>No audits have been run on this tag version.</h3>
    <%= link_to new_tag_tag_version_audit_path(tag, tag_version), class: 'dropdown-item', data: { controller: 'modal_trigger', } do %>
      <i class="fas fa-sync-alt"></i> Re-run audit
    <% end %>
  <% end %>
</div>