<%= turbo_stream_from "tag_version_#{@tag_version.uid}_audits_view_stream" %>

<h5 class="page-title with-sub-title">Audits</h5>
<h6 class="page-sub-title">
  <%= @tag.try_friendly_name %>
  <br/>
  <%= @tag_version.created_at.formatted_short %> tag change
</h6>
<div class="tagsafe-container text-center">
  <div class="col-12 text-end">
    <%= render 'tag_versions/dropdown', tag: @tag, tag_version: @tag_version %>
  </div>
  <%= render 'audits_table', tag: @tag, tag_version: @tag_version, audits: @audits %>
</div>