<div class="top-items row" style="padding: 0px 15px 0px 15px">
  <div class="col-6">
    <% if @audit.is_primary? %>
      <%= link_to script_subscriber_script_change_audits_path(@script_subscriber, @script_change) do %>
        <h4>
          <span data-toggle="tooltip"
                data-placement="right"
                title="This tag version of <%=@script_subscriber.try_friendly_name%> has <%=@count_of_audits_for_script_change%> Lighthouse Audit performed on it. This is the primary audit, 
                which is used in comparisons and calculations between tag versions. Click this badge to edit the primary lighthouse audit."
                class="badge badge-info">
            <i class="far fa-star"></i>
          </span>
        </h4>
      <% end %>
    <% end %>
  </div>
  <div class="col-6 text-right">
    <%= link_to run_audit_script_subscriber_script_change_path(@script_subscriber, @script_change), method: :post, class: 'btn btn-outline-primary' do %>
      <i class="fas fa-redo"></i> Manually Re-Run Audit
    <% end %>
    <%= link_to 'View Logs', script_subscriber_script_change_audit_performance_audit_logs_path(@script_subscriber, @script_change, @audit), target: '_blank' %>
  </div>
</div>
<div class="text-center">
  <h5>Audit results on <%= @script_change.created_at.formatted_short %> change to the <%= @script_subscriber.try_friendly_name %>.</h5>
  <h6>It was run due to a 
    <span style="font-style: italic;"
          data-toggle="tooltip"
          data-placement="bottom"
          title="An audit can be performed for the following reasons: Script Change, Manual Execution, Reactivated Script.">
      <%= @audit.execution_reason.name %>
    </span> 
    on <%= @audit.performance_audit_enqueued_at.formatted %>.</h6>
  <% if @count_of_audits_for_script_change > 1 %>
    <h6>This is one of <%= @count_of_audits_for_script_change %> audits perfomed on the version of this tag. <%= link_to 'View all', script_subscriber_script_change_audits_path(@script_subscriber, @script_change) %></h6>
  <% else %>
    <h6>This is the only audit that was performed on the version of this tag.</h6>
  <% end %>

  <div class="row lighthouse-performance-results">
    <div class="col-10 offset-1 metrics-container tag-safe-container">
      <h5>Impact on Metrics</h5>
      <div class="row">
        <%= render partial: 'partials/lighthouse_metric_row', locals: {
          script_subscriber: @script_subscriber, 
          metric_title: 'DOM Complete',
          impact_result: @audit.delta_performance_audit.metric_result('DOMComplete'),
          previous_impact_result: @previous_audit ? @previous_audit.delta_performance_audit.metric_result('FirstContentfulPaint') : nil,
          unit: 'ms',
          previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
        } %>
        <%= render partial: 'partials/lighthouse_metric_row', locals: {
          script_subscriber: @script_subscriber,
          metric_title: 'DOM Interactive',
          impact_result: @audit.delta_performance_audit.metric_result('DOMInteractive'),
          previous_impact_result: @previous_audit ? @previous_audit.delta_performance_audit.metric_result('DOMInteractive') : nil,
          unit: 'ms',
          previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
        } %>
      </div>
      <div class="row">
        <%= render partial: 'partials/lighthouse_metric_row', locals: {
          script_subscriber: @script_subscriber, 
          metric_title: 'First Contentful Paint',
          impact_result: @audit.delta_performance_audit.metric_result('FirstContentfulPaint'),
          previous_impact_result: @previous_audit ? @previous_audit.delta_performance_audit.metric_result('FirstContentfulPaint') : nil,
          unit: 'ms',
          previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
        } %>
        <%= render partial: 'partials/lighthouse_metric_row', locals: {
          script_subscriber: @script_subscriber, 
          metric_title: 'Task Duration Time',
          impact_result: @audit.delta_performance_audit.metric_result('TaskDuration'),
          previous_impact_result: @previous_audit ? @previous_audit.delta_performance_audit.metric_result('TaskDuration') : nil,
          unit: 'ms',
          previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
        } %>
      </div>
      <div class="row">
        <%= render partial: 'partials/lighthouse_metric_row', locals: {
          script_subscriber: @script_subscriber, 
          metric_title: 'Script Duration',
          impact_result: @audit.delta_performance_audit.metric_result('ScriptDuration'),
          previous_impact_result: @previous_audit ? @previous_audit.delta_performance_audit.metric_result('ScriptDuration') : nil,
          unit: 'ms',
          previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
        } %>
        <%= render partial: 'partials/lighthouse_metric_row', locals: {
          script_subscriber: @script_subscriber, 
          metric_title: 'Layout Duration',
          impact_result: @audit.delta_performance_audit.metric_result('LayoutDuration'),
          previous_impact_result: @previous_audit ? @previous_audit.delta_performance_audit.metric_result('LayoutDuration') : nil,
          unit: 'ms',
          previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
        } %>
      </div>
    </div>
  </div>
</div>