<div class="text-center">
  <h5 class="page-title with-sub-title">Audit Results</h5>
  <h6 class="page-sub-title"><%= @script_subscriber.try_friendly_name %></h6>
  <div class="row lighthouse-performance-results">
    <div class="col-10 offset-1 metrics-container tag-safe-container">
      <div class="row">
        <div class="col-12">
          <% if @audit.is_primary? %>
            <%= link_to script_subscriber_script_change_audits_path(@script_subscriber, @script_change) do %>
              <span data-toggle="tooltip"
                    data-placement="right"
                    title="This tag version of <%=@script_subscriber.try_friendly_name%> has <%=@count_of_audits_for_script_change%> Lighthouse Audit performed on it. This is the primary audit, 
                    which is used in comparisons and calculations between tag versions. Click this badge to edit the primary lighthouse audit."
                    class="badge badge-info"
                    style="float: left;">
                <i class="far fa-star"></i>
              </span>
            <% end %>
          <% end %>
          <span style="float: right;" data-toggle="tooltip" data-placement="top" title="TagSafe measures how much impact the tag has on your page performance. The metrics below are how much each performance metric is affected by <%=@script_subscriber.try_friendly_name%>."><i class="far fa-question-circle"></i></span>
          <br/>
          <div class="dropdown dropleft show ellipsis-dropdown" style="float: right;">
            <a class="dropdown-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'View Tag Change Content', script_subscriber_script_change_path(@script_subscriber, @script_change), class: 'dropdown-item', target: '_blank' %>
              <% unless @audit.performance_audit_pending? %>
                <%= link_to 'View Audit Logs', script_subscriber_script_change_audit_performance_audit_logs_path(@script_subscriber, @script_change, @audit), class: 'dropdown-item', target: '_blank' %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Re-Run Audit', run_audit_script_subscriber_script_change_path(@script_subscriber, @script_change), method: :post, class: 'dropdown-item', data: { confirm: "Run audit on #{@script_subscriber.try_friendly_name}?" } %>
            </div>
          </div>
          <% if @count_of_audits_for_script_change > 1 %>
            <span>This is one of <%= @count_of_audits_for_script_change %> audits perfomed on this version of the tag. <%= link_to 'View all', script_subscriber_script_change_audits_path(@script_subscriber, @script_change) %></span>
          <% end %>
        </div>
      </div>
      <% if @audit.performance_audit_pending? %>
        <span>Performance audit is currently running.</span>
      <% elsif @audit.performance_audit_failed? %>
        <span>Performance audit failed:</span>
        <span><%= @audit.performance_audit_error_message %></span>
      <% else %>
        <div class="row">
          <div class='tag-safe-score-container text-center col-12' style='margin-bottom: 15px'>
            <h4>TagSafe Score</h4>
            <%= render partial: 'partials/progress_ring', locals: { score: @audit.delta_performance_audit.metric_result('TagSafeScore'), change_in_score: @audit.delta_performance_audit.change_in_metric('TagSafeScore') } %>
          </div>
        </div>
        <div class="row">
          <%= render partial: 'partials/performance_audit_metric_row', locals: {
            script_subscriber: @script_subscriber, 
            metric_title: 'DOM Complete',
            impact_result: @audit.delta_performance_audit.metric_result('DOMComplete'),
            previous_impact_result: @audit.delta_performance_audit.previous_metric_result('DOMComplete'),
            unit: 'ms',
            previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
          } %>
          <%= render partial: 'partials/performance_audit_metric_row', locals: {
            script_subscriber: @script_subscriber,
            metric_title: 'DOM Interactive',
            impact_result: @audit.delta_performance_audit.metric_result('DOMInteractive'),
            previous_impact_result: @audit.delta_performance_audit.previous_metric_result('DOMInteractive'),
            unit: 'ms',
            previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
          } %>
        </div>
        <div class="row">
          <%= render partial: 'partials/performance_audit_metric_row', locals: {
            script_subscriber: @script_subscriber, 
            metric_title: 'First Contentful Paint',
            impact_result: @audit.delta_performance_audit.metric_result('FirstContentfulPaint'),
            previous_impact_result: @audit.delta_performance_audit.previous_metric_result('FirstContentfulPaint'),
            unit: 'ms',
            previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
          } %>
          <%= render partial: 'partials/performance_audit_metric_row', locals: {
            script_subscriber: @script_subscriber, 
            metric_title: 'Task Duration Time',
            impact_result: @audit.delta_performance_audit.metric_result('TaskDuration'),
            previous_impact_result: @audit.delta_performance_audit.previous_metric_result('TaskDuration'),
            unit: 'ms',
            previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
          } %>
        </div>
        <div class="row">
          <%= render partial: 'partials/performance_audit_metric_row', locals: {
            script_subscriber: @script_subscriber, 
            metric_title: 'Script Duration',
            impact_result: @audit.delta_performance_audit.metric_result('ScriptDuration'),
            previous_impact_result: @audit.delta_performance_audit.previous_metric_result('ScriptDuration'),
            unit: 'ms',
            previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
          } %>
          <%= render partial: 'partials/performance_audit_metric_row', locals: {
            script_subscriber: @script_subscriber, 
            metric_title: 'Layout Duration',
            impact_result: @audit.delta_performance_audit.metric_result('LayoutDuration'),
            previous_impact_result: @audit.delta_performance_audit.previous_metric_result('LayoutDuration'),
            unit: 'ms',
            previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
          } %>
        </div>
      <% end %>
    </div>
  </div>
</div>