<div class="text-center">
  <h5 class="page-title with-sub-title">Audit Results</h5>
  <h6 class="page-sub-title"><%= @tag.try_friendly_name %></h6>
  <div class="row lighthouse-performance-results">
    <div class="col-10 offset-1 metrics-container tag-safe-container">
      <div class="row">
        <div class="col-12">
          <% if @audit.is_primary? %>
            <%= link_to tag_tag_version_audits_path(@tag, @tag_version) do %>
              <span data-toggle="tooltip"
                    data-placement="right"
                    title="This tag version of <%=@tag.try_friendly_name%> has <%=@count_of_audits_for_tag_version%> Lighthouse Audit performed on it. This is the primary audit, 
                    which is used in comparisons and calculations between tag versions. Click this badge to edit the primary lighthouse audit."
                    class="badge badge-info"
                    style="float: left;">
                <i class="far fa-star"></i>
              </span>
            <% end %>
          <% end %>
          <span style="float: right;" data-toggle="tooltip" data-placement="top" title="TagSafe measures how much impact the tag has on your page performance. The metrics below are how much each performance metric <%=@tag.try_friendly_name%> is responsible for."><i class="far fa-question-circle"></i></span>
          <br/>
          <div class="dropdown dropleft show ellipsis-dropdown" style="float: right;">
            <a class="dropdown-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'View Tag Change Content', tag_tag_version_path(@tag, @tag_version), class: 'dropdown-item', target: '_blank' %>
              <% unless @audit.performance_audit_pending? %>
                <%= link_to 'View Audit Logs', tag_tag_version_audit_performance_audit_logs_path(@tag, @tag_version, @audit), class: 'dropdown-item', target: '_blank' %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Re-Run Audit', run_audit_tag_tag_version_path(@tag, @tag_version), method: :post, class: 'dropdown-item', data: { confirm: "Run audit on #{@tag.try_friendly_name}?" } %>
            </div>
          </div>
          <% if @count_of_audits_for_tag_version > 1 %>
            <span>This is one of <%= @count_of_audits_for_tag_version %> audits perfomed on this version of the tag. <%= link_to 'View all', tag_tag_version_audits_path(@tag, @tag_version) %></span>
          <% end %>
        </div>
      </div>
      <% if @audit.performance_audit_pending? %>
        <span>Performance audit is currently running.</span>
      <% elsif @audit.performance_audit_failed? %>
        <span>Performance audit failed:</span>
        <span><%= @audit.performance_audit_error_message %></span>
      <% else %>
        <div class="row">
          <div class='tag-safe-score-container text-center col-12' style='margin-bottom: 15px'>
            <h4>TagSafe Score</h4>
            <%= render partial: 'partials/progress_ring', locals: { score: @audit.delta_performance_audit.tagsafe_score, change_in_score: @audit.delta_performance_audit.change_in_metric(:tagsafe_score) } %>
          </div>
        </div>
        <div class='row'>
          <div class='col-6 text-left'>
            <b>Impact on Metrics:</b>
          </div>
          <div class='col-6 text-right'>
          <span data-toggle="tooltip" data-placement="top" title="Expand metrics.">
              <button class='expand-audit-details'>
                <i class="fas fa-expand-alt"></i>
              </button>
            </span>
            <span data-toggle="tooltip" data-placement="top" title="Collapse metrics.">
              <button class='minimize-audit-details selected'>
                <i class="fas fa-compress-alt"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="performance-metrics-container minimized">
          <div class="row">
            <%= render partial: 'partials/performance_audit_metric_row', locals: {
              tag: @tag, 
              metric_title: 'DOM Complete',
              impact_result: @audit.delta_performance_audit.dom_complete,
              previous_impact_result: @audit.delta_performance_audit.previous_metric_result(:dom_complete),
              score_impact: @audit.delta_performance_audit.score_impact(:dom_complete),
              unit: 'ms',
              previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
            } %>
            <%= render partial: 'partials/performance_audit_metric_row', locals: {
              tag: @tag,
              metric_title: 'DOM Interactive',
              impact_result: @audit.delta_performance_audit.dom_interactive,
              previous_impact_result: @audit.delta_performance_audit.previous_metric_result(:dom_interactive),
              score_impact: @audit.delta_performance_audit.score_impact(:dom_interactive),
              unit: 'ms',
              previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
            } %>
          </div>
          <div class="row">
            <%= render partial: 'partials/performance_audit_metric_row', locals: {
              tag: @tag, 
              metric_title: 'First Contentful Paint',
              impact_result: @audit.delta_performance_audit.first_contentful_paint,
              previous_impact_result: @audit.delta_performance_audit.previous_metric_result(:first_contentful_paint),
              score_impact: @audit.delta_performance_audit.score_impact(:first_contentful_paint),
              unit: 'ms',
              previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
            } %>
            <%= render partial: 'partials/performance_audit_metric_row', locals: {
              tag: @tag, 
              metric_title: 'Task Duration Time',
              impact_result: @audit.delta_performance_audit.task_duration,
              previous_impact_result: @audit.delta_performance_audit.previous_metric_result(:task_duration),
              score_impact: @audit.delta_performance_audit.score_impact(:task_duration),
              unit: 'ms',
              previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
            } %>
          </div>
          <div class="row">
            <%= render partial: 'partials/performance_audit_metric_row', locals: {
              tag: @tag, 
              metric_title: 'Script Duration',
              impact_result: @audit.delta_performance_audit.script_duration,
              previous_impact_result: @audit.delta_performance_audit.previous_metric_result(:script_duration),
              score_impact: @audit.delta_performance_audit.score_impact(:script_duration),
              unit: 'ms',
              previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
            } %>
            <%= render partial: 'partials/performance_audit_metric_row', locals: {
              tag: @tag, 
              metric_title: 'Layout Duration',
              impact_result: @audit.delta_performance_audit.layout_duration,
              previous_impact_result: @audit.delta_performance_audit.previous_metric_result(:layout_duration),
              score_impact: @audit.delta_performance_audit.score_impact(:layout_duration),
              unit: 'ms',
              previous_timestamp: @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil
            } %>
          </div>
          <div class='row'>
            <div class="metric-row col-6 offset-3">
              <div class='metric col-12'>
                <div class='row'>
                  <div class="col-6 metric-title">
                    File Size
                  </div>
                  <div class="col-6 metric-value">
                    <span class="current-value"><%= number_to_human_size(@tag_version.bytes) %></span>
                    <div class='additional-details'>
                      <span><%= @audit.delta_performance_audit.score_impact(:byte_size) %> Score Impact</span>
                      <br/>
                      <% unless @tag_version.previous_version.nil? %>
                        <% diff_in_metric = @tag_version.bytes - @tag_version.previous_version.bytes %>
                        <% if diff_in_metric.zero? %>
                          (No Change)
                        <% else %>
                          <span data-toggle="tooltip"
                                data-placement="top"
                                title="The previous version of <%= tag.try_friendly_name %>'s 'Impact on File Size' was <%=number_to_human_size(@tag_version.previous_version.bytes)%> (<%= @previous_audit ? @previous_audit.performance_audit_enqueued_at : nil %>)." 
                                class="<%= diff_in_metric.positive? ? 'bad positive' : 'good negative' %>-change change-in-value">
                            <%= diff_in_metric.positive? ? '+' : nil %><%= number_to_human_size(diff_in_metric) %>
                            (<%= number_with_delimiter(((diff_in_metric/previous_impact_result)*100).round(2)) %>%)
                          </span>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>