<div class="text-center">
  <h5 class="page-title with-sub-title">Audit Results</h5>
  <h6 class="page-sub-title" style='margin-bottom: 5px;'>Audited tag: <%= @tag.try_friendly_name %></h6>
  <h6 class="page-sub-title">Audited url: <%= @audit.audited_url.tagsafe_hosted ? 'TagSafe-hosted version of' : nil %> <%= @audit.audited_url.display_url %></h6>
  <div class="row">
    <div class="col-10 offset-1 metrics-container tagsafe-container">
      <%= render 'show', audit: @audit, previous_audit: @previous_audit, tag: @tag, tag_version: @tag_version %>
    </div>
    <div class='col-10 offset-1 full-screenable tagsafe-container mt-3' data-controller='full-screen-expandable' data-full-screen-expandable-target='expandable'>
      <div class='text-end'>
        <div class='tagsafe-circular-btn' 
          data-full-screen-expandable-target='expandBtn' 
          data-action='click->full-screen-expandable#expand' 
          data-controller='tooltip' 
          data-bs-toggle="tooltip" 
          data-placement="top" 
          title="Expand waterfall results.">
        <i class="fas fa-expand-alt"></i>
        </div>
        <div class='tagsafe-circular-btn hidden' 
              data-full-screen-expandable-target='collapseBtn' 
              data-action='click->full-screen-expandable#collapse' 
              data-controller='tooltip' 
              data-bs-toggle="tooltip" 
              data-placement="top" 
              title="Collapse waterfall results.">
          <i class="fas fa-compress-alt"></i>
        </div>
      </div>
      <h3 class='text-center'>Page load waterfall breakdown</h3>
      <div class='col-12 text-start'>
        <h4>Resources with tag</h4>
        <%= turbo_frame_tag 'page_load_resources_with_tag', src: tag_tag_version_audit_page_load_resources_path(@tag, @tag_version, @audit, performance_audit_type: 'with_tag') do %>
          <%= render 'partials/utils/spinner', size: :large %>
        <% end %>
      </div>
      <div class='col-12 text-start mt-3'>
      <h4>Resources without tag</h4>
        <%= turbo_frame_tag 'page_load_resources_without_tag', src: tag_tag_version_audit_page_load_resources_path(@tag, @tag_version, @audit, performance_audit_type: 'without_tag') do %>
          <%= render 'partials/utils/spinner', size: :large %>
        <% end %>
      </div>
    </div>
  </div>
</div>