<%= turbo_frame_tag "page_load_resources_#{performance_audit_type}" do %>
  <div class='row'>
    <div class='col-6 text-start d-flex align-items-end'>
      <h4><%= title %></h4>
    </div>
    <div class='col-6 text-end'>
      <div class='page-load-resources-legend'>
        <h5>Legend</h5>
        <span class='legend-item'>
          <div class='legend-indicator dom_complete'></div>
          DOM Complete: <%= number_to_human(performance_audit.dom_complete, units: { unit: 'ms', thousand: 'seconds' }) %>
        </span>
        <span class='legend-item'>
          <div class='legend-indicator dom_content_loaded'></div>
          DOM Content Loaded: <%= number_to_human(performance_audit.dom_content_loaded, units: { unit: 'ms', thousand: 'seconds' }) %>
        </span>
        <span class='legend-item'>
          <div class='legend-indicator dom_interactive'></div>
          DOM Interactive: <%= number_to_human(performance_audit.dom_interactive, units: { unit: 'ms', thousand: 'seconds' }) %>
        </span>
        <span class='legend-item'>
          <div class='legend-indicator first_contentful_paint'></div>
          First Contentful Paint: <%= number_to_human(performance_audit.first_contentful_paint, units: { unit: 'ms', thousand: 'seconds' }) %>
        </span>
        <span class='legend-item'>
          <div class='legend-indicator layout_duration'></div>
          Layout Duration: <%= number_to_human(performance_audit.layout_duration, units: { unit: 'ms', thousand: 'seconds' }) %>
        </span>
        <span class='legend-item'>
          <div class='legend-indicator script_duration'></div>
          Script Duration: <%= number_to_human(performance_audit.script_duration, units: { unit: 'ms', thousand: 'seconds' }) %>
        </span>
        <span class='legend-item'>
          <div class='legend-indicator task_duration'></div>
          Task Duration: <%= number_to_human(performance_audit.task_duration, units: { unit: 'ms', thousand: 'seconds' }) %>
        </span>
      </div>
    </div>
  </div>
  <div class='page-load-resources-container' data-controller='page-load-resources'>
    <div class='page-load-resource-name-container'>
      <div class='page-load-resource-name placeholder'></div>
      <% page_load_resources.each do |plr| %>
        <% safe_resource_name = plr.name_without_query_string == audited_tag_version_url ? tag.url_based_on_preferences : plr.name %>
        <div class='page-load-resource-name <%= plr.name_without_query_string == audited_tag_version_url ? 'audited-tag' : nil %>' 
              data-resource="<%= plr.id %>"
              data-controller='tooltip'
              daa-bs-toggle='tooltip'
              data-action='mouseover->page-load-resources#onResourceMouseover mouseout->page-load-resources#onResourceMouseout'
              title="<%= safe_resource_name %>">
          <span style='height: 15px; width: 15px;' data-controller='tooltip' data-bs-toggle='tooltip' title="<%= plr.initiator_type %>"><%= plr.resource_type_icon_html %></span>
          <%= safe_resource_name %>
        </div>
      <% end %>
      <% if blocked_resources.any? %>
        <div class='page-load-resource-name' data-controller='tooltip' data-bs-toggle='tooltip' title="Tagsafe blocks certain resources in order to accurately measure the tag in question's performance attribution.">Blocked resources (<%= blocked_resources.count %>):</div>
        <% blocked_resources.each do |resource| %>
          <% unless performance_audit_type == 'with_tag' && resource.url == tag.full_url %>
            <div class='page-load-resource-name blocked-resource'>
              <span style='height: 15px; width: 15px;' data-controller='tooltip' data-bs-toggle='tooltip' title="<%= resource.resource_type %>"><%= resource.resource_type_icon_html %></span>
              <%= resource.url %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class='page-load-resource-marker-container'>
      <div class='page-load-resource-markers' style='width: <%= last_timestamp/2 %>px;'>
        <div class='page-load-resource-markers-timeline page-load-resource-marker-row'>
          <% current_timestamp = 50 %>
          <% (last_timestamp / 50).to_i.times do %>
            <% display_timestamp = current_timestamp % 100 == 0 %>
            <div class='page-load-timeline-marker <%= display_timestamp ? 'timestamp-displayed' : nil %>' style='margin-left: <%= (current_timestamp/2) - 50%>px;'>
              <%= display_timestamp ? "#{current_timestamp} ms" : nil %>
              <% current_timestamp += 50 %>
            </div>
          <% end %>
          <% %i[dom_complete dom_content_loaded dom_interactive first_contentful_paint script_duration layout_duration task_duration].each do |performance_metric| %>
            <div class='performance-metric-indicator' 
                  data-performance-metric-type="<%= performance_metric %>"
                  data-controller='tooltip'
                  data-bs-toggle='tooltip'
                  title="<%= performance_metric.to_s.gsub('_', ' ').capitalize %>: <%= number_to_human(performance_audit[performance_metric], units: { unit: 'ms', thousand: 'seconds' }) %>"
                  style='margin-left: <%= performance_audit[performance_metric]/2 %>px;'>
            </div>
          <% end %>
        </div>
        <% page_load_resources.each do |plr| %>
          <div class='page-load-resource-marker-row d-flex align-items-center <%= plr.name_without_query_string == audited_tag_version_url ? 'audited-tag' : nil %>'
                data-resource-type="<%= plr.entry_type %>"
                data-resource="<%= plr.id %>" 
                data-action='mouseover->page-load-resources#onResourceMouseover mouseout->page-load-resources#onResourceMouseout'>
            <div class='page-load-resource-marker' 
                  data-controller='tooltip'
                  data-bs-toggle='tooltip'
                  data-action='mouseover->page-load-resources#onResourceMouseover mouseout->page-load-resources#onResourceMouseout'
                  data-resource='<%= plr.id %>'
                  title="Start: <%= number_to_human(plr.fetch_start, units: { unit: 'ms', thousand: 'seconds' }) %>. End: <%= number_to_human(plr.response_end, units: { unit: 'ms', thousand: 'seconds' }) %>. Duration: <%= number_to_human(plr.duration, units: { unit: 'ms', thousand: 'seconds' }) %>."
                  style='width: <%= plr.duration/2 %>px; margin-left: <%= plr.fetch_start/2 %>px'>
            </div>
          </div>
        <% end %>
        <% if blocked_resources.any? %>
          <div class='page-load-resource-marker-row placeholder-for-blocked-resources-title'>
          </div>
          <% blocked_resources.each do |resource| %>
            <% unless performance_audit_type == 'with_tag' && resource.url == tag.full_url %>
              <div class='page-load-resource-marker-row d-flex align-items-center placeholder-for-blocked-resource'>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>