<div class='tagsafe-container col-10 offset-1'>
  <h2><%= @flag.name %></h2>
  <p><%= @flag.description %></p>
  <p>Default value: <%= @flag.default_value %></p>
</div>
<div class='tagsafe-container col-10 offset-1 mt-2 text-center'>
  <%= form_with url: "/admin/flags/#{@flag.id}/object_flags" do |f| %>
    <div class='form-floating'>
      <input name='object_uid' type='text' id='object_uid' class='form-control' placeholder='Object UID'>
      <label for='object_uid'>Object UID</label>
    </div>
    <div class='form-floating'>
      <input name='value' type='text' id='value' class='form-control mt-2' placeholder='Flag Value'>
      <label for='value'>Flag Value</label>
    </div>
    <%= f.submit 'Add Object Flag', class: 'tagsafe-btn mt-2' %>
  <% end %>
</div>