<div class='col-10 m-auto'>
  <%= turbo_frame_tag "#{domain.id}_non_third_party_url_patterns" do %>
    <%= form_for NonThirdPartyUrlPattern.new, url: domain_non_third_party_url_patterns_path(current_domain) do |f| %>
      <div class='form-floating d-flex mb-3'>
        <%= f.text_field :pattern, class: 'form-control', placeholder: 'www.tagsafe-assets.io' %>
        <label for='url-pattern'>URL Pattern</label>
        <button type='submit' class='tagsafe-btn square'>Add</button>
      </div>
    <% end %>

    <div class='row'>
      <ul>
        <% domain.non_third_party_url_patterns.each do |url_pattern| %>
          <%= turbo_frame_tag dom_id(url_pattern) do %>
            <div class='tagsafe-pill grey removable m-1'>
              <%= url_pattern.pattern %>
              <%= form_with url: domain_non_third_party_url_pattern_path(domain, url_pattern), method: :delete, class: 'd-inline' do |f| %>
                <span class='remove-btn pointer p-1' data-controller='feaux_form_submit_button'><i class='fa fa-times'></i></span>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
