<%= turbo_frame_tag 'server_loadable_modal_content', class: 'display-form-loading', data: { modal_title: 'Run audit' } do %>
  <% if local_assigns[:audits_enqueued] %>
    <div class='mb-5'>
      <h3 class='inline-message mt-5 mb-5'>Performing <%= audits_enqueued.count %> <%= pluralize_if_necessary('audit', audits_enqueued) %> on <%= tag.try_friendly_name %></h3>
      <% audits_enqueued.each do |audit| %>
        <%= link_to "View audit being performed on #{audit.audited_url.formatted_display_url}", tag_tag_version_audit_path(tag, tag_version, audit), target: '_top' %>
      <% end %>
    </div>
  <% else %>
    <h3>Perform audit on <%= tag.try_friendly_name %></h3>
    <%= form_with url: run_audit_tag_tag_version_path(tag, tag_version) do |f| %>
      <% tag.urls_to_audit.each do |url_to_audit| %>
        <div class="form-check form-switch w-fit m-auto">
          <label class='form-check-label' for='url_to_audit_<%= url_to_audit.id %>'><%= url_to_audit.tagsafe_hosted ? 'TagSafe-hosted version of ' : nil %><%= url_to_audit.display_url %></label>
          <input name='urls_to_audit[]' id="url_to_audit_<%= url_to_audit.id %>" value="<%= url_to_audit.id %>" type='checkbox' class='form-check-input' checked='checked'>
        </div>
      <% end %>
      <div class='mt-3'>
        <button type='submit' class='tagsafe-btn loading-submit-btn'>
          <span class='submit-text'>Run audit</span>
          <span class='submit-loading-icon'><%= render 'partials/utils/spinner', size: :tiny, color: :white %></span>
        </button>
      </div>
    <% end %>
  <% end %>
<% end %>