<div class="dropdown dropleft show ellipsis-dropdown">
  <% if local_assigns[:ellipsis_button] %>
    <a class="dropdown-link tagsafe-circular-btn" data-controller='dropdown' href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-ellipsis-h"></i>
    </a>
  <% else %>
    <button class="tagsafe-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Actions
    </button>
  <% end %>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <% unless local_assigns[:exclude_urls] && local_assigns[:exclude_urls].include?(git_diff_tag_tag_version_path(tag, tag_version)) %>
      <%= link_to git_diff_tag_tag_version_path(tag, tag_version), class: 'dropdown-item', target: '_blank' do %>
        <i class="fas fa-code-branch"></i> View changes made in this version
      <% end %>
    <% end %>
    <% if !local_assigns[:audit].nil? && !audit.pending? %>
      <%= link_to tag_tag_version_audit_performance_audit_logs_path(tag, tag_version, audit), class: 'dropdown-item', target: '_blank' do %>
        <i class="far fa-file-alt"></i> View audit logs
      <% end %>
    <% end %>
    <% if !local_assigns[:audit].nil? && audit.performance_audits.any? %>
      <%= link_to "View individual performance audits (#{audit.performance_audit_iterations})", tag_tag_version_audit_individual_performance_audits_path(tag, tag_version, audit), class: 'dropdown-item', target: '_top' %>
    <% end %>
    <% if local_assigns[:additional_menu_items] %>
      <% additional_menu_items.each do |menu_item| %>
        <%= link_to menu_item[:url], class: 'dropdown-item', target: '_top' do %>
          <% if menu_item[:icon_class] %>
            <i class="<%=menu_item[:icon_class] %>"></i>
          <% end %>
          <%= menu_item[:text] %>
        <% end %>
      <% end %>
    <% end %>
    <div class="dropdown-divider"></div>
    <%= modal_link new_tag_tag_version_audit_path(tag, tag_version), klass: 'dropdown-item' do %>
      <i class="fas fa-sync-alt"></i> Re-run audit
    <% end %>
  </div>
</div>