<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-8'>
        <h1 class="page-title with-sub-title">Git Diff</h1>
        <h2 class='page-sub-title'>
          <%= @tag.try_friendly_name %> - <%= @tag_version.sha %>
        </h2>
      </div>
      <div class='col-4 page-title-cta-container'>
        <%= modal_link new_tag_audit_path(@tag, tag_version_uid: @tag_version.uid), klass: 'page-title-cta-btn floating-btn tagsafe-purple-bg' do %>
          <div class='d-flex align-items-center'>
            Run Audit 
            <span data-controller='hot-keys' data-action="modal" data-key-code='65' class='hot-key-indicator ms-1'>
              <form class='hidden' action="<%=new_tag_audit_path(@tag, tag_version_uid: @tag_version.uid)%>" data-hot-keys-target='formAction' data-turbo-frame='server_loadable_modal'>
              </form>
              ⌘a
            </span>
          </div>
        <% end %>
        <%= link_to settings_tag_path(@tag), class: 'page-title-cta-btn floating-btn tagsafe-purple-bg ms-3', title: 'Edit tag settings', data: { controller: 'tooltip', bs_toggle: 'tooltip' } do %>
          <i class="fa-solid fa-gear"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="p-5">
  <%= turbo_frame_tag "#{@tag_version.uid}_diff", src: diff_server_loadable_partials_tag_tag_version_path(@tag, @tag_version, diff_type: params[:diff_type] || 'split') do %>
    <div class='text-center'>
      <%= display_loading_spinner %>
    </div>
  <% end %>
</div>