<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-8'>
        <h1 class="page-title">Releases</h1>
      </div>
      <div class='col-4 page-title-cta-container'>
        <%= link_to settings_tag_management_path, class: 'page-title-cta-btn floating-btn tagsafe-purple-bg', title: 'Release monitoring settings', data: { controller: 'tooltip', bs_toggle: 'tooltip' } do %>
          <i class="fa-solid fa-gear"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @tag_versions.any? %>
  <div class="tagsafe-container text-center">
    <table class="table table-hover col-12" style="table-layout: fixed">
      <thead>
        <tr>
          <th scope="col" class="col-8" style='width: 10%'></th>
          <th scope="col" class="col-8" style='width: 20%'>Release Date</th>
          <th scope="col" class="col-2" style='width: 35%'>Tag</th>
          <th scope="col" class="col-2" style='width: 25%'>Tagsafe Score</th>
          <th scope="col" class="col-2" style='width: 10%'></th>
        </tr>
      </thead>
      <tbody>
        <% @tag_versions.each do |tag_version| %>
          <tr>
            <td scope='row'><%= image_tag tag_version.image_url, class: 'tag-thumbnail' %></td>
            <td scope="row"><%= tag_version.created_at.formatted %></td>
            <td scope="row" style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap;'><%= tag_version.tag.try_friendly_name %></td>
            <td scope="row"><%= render 'audits/performance_audit_pill_for_audit', tag: tag_version.tag, audit: tag_version.audit_to_display %></td>
            <% unless tag_version.audit_to_display.nil? %>
              <td scope="row"><%= link_to "View Results", tag_audit_path(tag_version.tag, tag_version.audit_to_display) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class='text-center p-5'>
    <h3>No releases captured yet</h3>
    <h4>You are monitoring releases for <%= @number_of_tags %> tags, <%= link_to 'Manage them here', settings_tag_management_path %>.</h4>
  </div>
<% end %>

<div class="pagination-container text-center">
  <%= paginate @tag_versions %>
</div>