<%= render_as_modal title: 'Add Payment Method' do %>
  <% if local_assigns[:success_message] %>
    <div class='tagsafe-modal-body'>
      <h2 class='tagsafe-font'><%= success_message %></h2>
    </div>
  <% else %>
    <div data-controller='stripe-payment-element' data-pk="<%= ENV['STRIPE_PUBLIC_KEY'] %>" data-client-secret="<%= client_secret %>" <%= local_assigns[:should_reload] ? 'data-should-reload' : nil %>>
      <form id='payment-method-form' data-turbo='false' data-stripe-payment-element-target='paymentForm' data-controller='loading_form'>
        <div class='tagsafe-modal-body'>
          <div data-stripe-payment-element-target='awaitingElementsIcon'>
            <%= display_loading_icon %>
          </div>
          <div data-stripe-payment-element-target='paymentElementMount'>
          </div>
        </div>
        <div class='mb-1' data-stripe-payment-element-target='paymentError' style='color: red;'>
        </div>
        <div class='tagsafe-modal-divider'></div>
        <div class='tagsafe-modal-footer text-end'>
          <%= submit_loading_button 'Add payment method for billing' %>
        </div>
      </form>
    </div>
  <% end %>
<% end %>