<% if local_assigns[:notification_message] %>
  <%= turbo_stream.prepend "user_#{current_user.uid}_notifications_container", target: "user_#{current_user.uid}_notifications_container" do %>
    <%= render 'partials/notification',
                  message: notification_message, 
                  image: tag.try_image_url %>
  <% end %>
<% end %>

<%= turbo_frame_tag "tag_#{tag.uid}_config_fields" do %>
  <div class='row'>
    <div class='col-sm-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>URLs to audit</span>
        <span class='settings-description d-block'>Which URLs Tagsafe should perform audits on for this tag.</span>
      </div>
    </div>
    <div class='col-sm-6 d-flex align-items-center justify-content-start'>
      <%= render 'urls_to_audit/index', container: container, tag: tag, urls_to_audit: tag.urls_to_audit %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-sm-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>Script tag load type</span>
        <span class='settings-description d-block'>When Tagsafe runs an audit on the tag, how should the script tag load?</span>
      </div>
    </div>
    <div class='col-sm-6 d-flex align-items-center justify-content-start'>
      <div class='dropdown-container me-3'>
        <div class='dropdown-display-container' data-controller='dropdown' data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-offset="0,15">
          <%= tag.load_type.capitalize %>
          <span class='dropdown-indicator d-inline'>
            <i class="fa-solid fa-chevron-up"></i>
          </span>
        </div>
        <div class="dropdown-menu dropdown-menu-center p-3">
          <% %w[defer async synchronous].each do |load_type| %>
            <% if load_type == tag.load_type %>
              <div class='dropdown-item text-center active' style='color: rgb(110, 132, 255)'>
                <%= HtmlHelper.PASSED_ICON(color: 'rgb(110, 132, 255)') %> <%= load_type.capitalize %>
              </div>
            <% else %>
              <%= form_with model: tag, url: tag_path(tag), method: :patch do |f| %>
                <%= f.hidden_field :load_type, value: load_type %>
                <div class='dropdown-item text-center' data-controller='feaux-form-submit-button'><%= load_type.capitalize %></div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <hr/>
  <div class='row'>
    <div class='col-sm-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>
          Release Monitoring Interval 
        </span>
        <span class='settings-description d-block'>At what interval Tagsafe should monitor this tag. This impacts how quickly Tagsafe identifies new releases, and how frequently uptime metrics are measured.</span>
      </div>
    </div>
    <div class='col-sm-6 d-flex align-items-center justify-content-start'>
      <%= turbo_frame_tag "scheduled_audit_config", class: 'd-flex align-items-center display-loader-when-busy' do %>
        <div class='dropdown-container me-3'>
          <div class='dropdown-display-container' data-controller='dropdown' data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-offset="0,15">
            <%= tag.tag_preferences.release_check_interval_in_words.capitalize %>
            <span class='dropdown-indicator d-inline'>
              <i class="fa-solid fa-chevron-up"></i>
            </span>
          </div>
          <div class="dropdown-menu dropdown-menu-center p-3">
            <% feature_gate_keeper = FeatureGateKeepers::CanEnableReleaseCheckInterval.new(container) %>
            <% TagPreference::RELEASE_CHECK_INTERVALS.each do |interval| %>
              <% if feature_gate_keeper.can_access_feature?(interval[:value]) %>
                <% if interval[:value] == tag.tag_preferences.release_check_minute_interval %>
                  <div class='dropdown-item text-center active' style='color: rgb(110, 132, 255)'>
                    <%= HtmlHelper.PASSED_ICON(color: 'rgb(110, 132, 255)') %> <%= interval[:name] %>
                  </div>
                <% else %>
                  <%= form_with model: tag.tag_preferences, url: tag_tag_preference_path(tag, tag.tag_preferences) do |f| %>
                    <%= f.hidden_field :scheduled_audit_minute_interval, value: tag.tag_preferences.scheduled_audit_minute_interval %>
                    <%= f.hidden_field :release_check_minute_interval, value: interval[:value] %>
                    <div class='dropdown-item text-center' data-controller='feaux-form-submit-button'><%= interval[:name] %></div>
                  <% end %>
                <% end %>
              <% else %>
                <div class='dropdown-item disabled' data-controller='tooltip' data-bs-toggle='tooltip' title="Your subscription plan does not allow for release monitoring intervals of <%= interval[:name] %>, consider upgrading your plan for more realtime release detection.">
                  <i class="fa-solid fa-lock"></i> <%= interval[:name] %>
                </div>
              <% end %>
            <% end %>
            <div class='dropdown-divider'></div>
            <% if tag.release_monitoring_disabled? %>
              <div class='dropdown-item text-center active' style='color: rgb(110, 132, 255)'>
                <%= HtmlHelper.PASSED_ICON(color: 'rgb(110, 132, 255)') %> Disabled
              </div>
            <% else %>
              <%= form_with model: tag.tag_preferences, url: tag_tag_preference_path(tag, tag.tag_preferences) do |f| %>
                <%= f.hidden_field :scheduled_audit_minute_interval, value: tag.tag_preferences.scheduled_audit_minute_interval %>
                <%= f.hidden_field :release_check_minute_interval, value: 0 %>
                <div class='dropdown-item text-center' data-controller='feaux-form-submit-button'>
                  Disable
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <%= display_loading_icon size: :small %>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-sm-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>
          Scheduled Audit Interval 
        </span>
        <span class='settings-description d-block'>Interval Tagsafe should run ongoing audits on this tag.</span>
      </div>
    </div>
    <div class='col-sm-6 d-flex align-items-center justify-content-start'>
      <%= turbo_frame_tag "scheduled_audit_config", class: 'd-flex align-items-center display-loader-when-busy' do %>
        <div class='dropdown-container me-3'>
          <div class='dropdown-display-container' data-controller='dropdown' data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-offset="0,15">
            <%= tag.tag_preferences.scheduled_audit_interval_in_words.capitalize %>
            <span class='dropdown-indicator d-inline'>
              <i class="fa-solid fa-chevron-up"></i>
            </span>
          </div>
          <div class="dropdown-menu dropdown-menu-center p-3">
            <% TagPreference::SCHEDULED_AUDIT_INTERVALS.each do |interval| %>
              <% if interval[:value] == tag.tag_preferences.scheduled_audit_minute_interval %>
                <div class='dropdown-item text-center active' style='color: rgb(110, 132, 255)'>
                  <%= HtmlHelper.PASSED_ICON(color: 'rgb(110, 132, 255)') %> <%= interval[:name] %>
                </div>
              <% else %>
                <%= form_with model: tag.tag_preferences, url: tag_tag_preference_path(tag, tag.tag_preferences) do |f| %>
                  <%= f.hidden_field :release_check_minute_interval, value: tag.tag_preferences.release_check_minute_interval %>
                  <%= f.hidden_field :scheduled_audit_minute_interval, value: interval[:value] %>
                  <div class='dropdown-item text-center' data-controller='feaux-form-submit-button'><%= interval[:name] %></div>
                <% end %>
              <% end %>
            <% end %>
            <div class='dropdown-divider'></div>
            <% if tag.scheduled_audits_disabled? %>
              <div class='dropdown-item text-center active' style='color: rgb(110, 132, 255)'>
                <%= HtmlHelper.PASSED_ICON(color: 'rgb(110, 132, 255)') %> Disabled
              </div>
            <% else %>
              <%= form_with model: tag.tag_preferences, url: tag_tag_preference_path(tag, tag.tag_preferences) do |f| %>
                  <%= f.hidden_field :release_check_minute_interval, value: tag.tag_preferences.release_check_minute_interval %>
                  <%= f.hidden_field :scheduled_audit_minute_interval, value: 0 %>
                <div class='dropdown-item text-center' data-controller='feaux-form-submit-button'>
                  Disable
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <%= display_loading_icon size: :small %>
      <% end %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-sm-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>
          Uptime Monitoring Regions 
        </span>
        <span class='settings-description d-block'>From which regions to monitor and measure tag's endpoint.</span>
      </div>
    </div>
    <div class='col-sm-6 d-flex align-items-center justify-content-start'>
      <%= render 'uptime_regions_to_check/new', tag: tag, selectable_uptime_regions: selectable_uptime_regions %>
    </div>
  </div>

  <hr/>
  <div class='row'>
    <div class='col-sm-6 d-flex align-items-center'>
      <div class='d-block'>
        <span class='settings-title d-block fw-bolder'>
          Other tags to include during audits
        </span>
        <span class='settings-description d-block'>Tagsafe blocks all other third party tags during audits. Specify any additional third party tags you'd like to include during audits for this tag here.</span>
      </div>
    </div>
  </div>
<% end %>