<%= turbo_frame_tag "tag_#{tag.uid}_current_stats" do %>
  <% current_version = tag.current_version %>
  <% primary_audit = current_version&.primary_audit %>
  <% if current_version && primary_audit %>
    <div class='container'>
      <div class='row'>
        <div class='col-12 text-center'>
          <% previous_score = current_version.previous_version&.tagsafe_score %>
          <h6>Tagsafe Score</h6>
          <%= render 'partials/progress_ring', 
                score: current_version.tagsafe_score,
                change_in_score: previous_score.nil? ? nil : current_version.tagsafe_score - previous_score
          %>
        </div>
      </div>
      <div class='row mt-5'>
        <div class='col-4 text-center'>
          <h6>Last release:</h6>
          <h6 class='fw-bold'><%= current_version.created_at.formatted_short %></h6>
        </div>
        <div class='col-4 text-center'>
          <h6>Test results:</h6>
          <% if primary_audit&.include_functional_tests && primary_audit&.num_functional_tests_to_run.positive? %>
            <h6 class='fw-bolder'><%= primary_audit.passed_all_functional_tests? ? HtmlHelper.PASSED_ICON(color: 'green') : HtmlHelper.FAILED_ICON(color: 'red') %> <%= primary_audit&.display_functional_test_results %></h6>
          <% else %>
            <h6 class='fw-bolder'>N/A</h6>
          <% end %>
        </div>
        <div class='col-4 text-center'>
          <h6>DOM Changes Reponsible For</h6>
          <h6 class='fw-bold'><%= primary_audit&.page_change_audit&.absolute_changes %></h6>
        </div>
      </div>
      <div class='row text-center mt-5'>
        <div class='col-2'>
          <h6>DOM Complete</h6>
          <% dom_complete_impact = primary_audit&.delta_performance_audit&.dom_complete %>
          <h6 class='fw-bold'><%= dom_complete_impact > 0 ? "Adds #{number_to_human(dom_complete_impact, units: { unit: 'ms', thousand: 'seconds' })}" : 'No impact' %></h6>
        </div>
        <div class='col-2'>
          <% dom_interactive_impact = primary_audit&.delta_performance_audit&.dom_interactive %>
          <h6>DOM Interactive</h6>
          <h6 class='fw-bold'><%= dom_interactive_impact > 0 ? "Adds #{number_to_human(dom_interactive_impact, units: { unit: 'ms', thousand: 'seconds' })}" : 'No impact' %></h6>
        </div>
        <div class='col-2'>
          <% first_contentful_paint_impact = primary_audit&.delta_performance_audit&.first_contentful_paint %>
          <h6>First Contentful Paint</h6>
          <h6 class='fw-bold'><%= first_contentful_paint_impact > 0 ? "Adds #{number_to_human(first_contentful_paint_impact, units: { unit: 'ms', thousand: 'seconds' })}" : 'No impact' %></h6>
        </div>
        <div class='col-2'>
          <% script_duration_impact = primary_audit&.delta_performance_audit&.script_duration %>
          <h6>Script Duration</h6>
          <h6 class='fw-bold'><%= script_duration_impact > 0 ? "Adds #{number_to_human(script_duration_impact, units: { unit: 'ms', thousand: 'seconds' })}" : 'No impact' %></h6>
        </div>
        <div class='col-2'>
          <% layout_duration_impact = primary_audit&.delta_performance_audit&.layout_duration %>
          <h6>Layout Duration</h6>
          <h6 class='fw-bold'><%= layout_duration_impact > 0 ? "Adds #{number_to_human(layout_duration_impact, units: { unit: 'ms', thousand: 'seconds' })}" : 'No impact' %></h6>
        </div>
        <div class='col-2'>
          <% task_duration_impact = primary_audit&.delta_performance_audit&.task_duration %>
          <h6>Task Duration</h6>
          <h6 class='fw-bold'><%= task_duration_impact > 0 ? "Adds #{number_to_human(task_duration_impact, units: { unit: 'ms', thousand: 'seconds' })}" : 'No impact' %></h6>
        </div>
      </div>
    </div>
  <% end %>
<% end %>