<%= turbo_frame_tag "tag_#{tag.uid}_current_stats" do %>
  <% current_audit = tag.audit_to_display %>
  <% if current_audit && current_audit.performance_audit_completed? %>
    <div class='tagsafe-container tag-current-stats-container'>
      <div class='row align-items-center'>
        <div class='col-3 text-center'>
          <% previous_score = current_audit.audit_to_compare_with&.preferred_delta_performance_audit&.tagsafe_score %>
          <h5>Tagsafe Score</h5>
          <%= render 'partials/progress_ring', 
                score: current_audit.preferred_delta_performance_audit.tagsafe_score,
                change_in_score: previous_score.nil? ? nil : current_audit.preferred_delta_performance_audit.tagsafe_score - previous_score,
                score_is_confident: current_audit.tagsafe_score_is_confident,
                required_confidence_range: current_audit.performance_audit_configuration.required_tagsafe_score_range,
                actual_confidence_range: current_audit.tagsafe_score_confidence_range
          %>
        </div>
        <div class='col-9'>
          <div class='row align-items-center'>
            <div class='col-4 text-center'>
              <h6 class='current-metric-title'>Last release:</h6>
              <% if tag.release_monitoring_enabled? %>
                <h6 class='current-metric-value fw-bold'><%= tag.current_version&.created_at&.formatted_short || 'No releases' %></h6>
              <% else %>
                <h6 class='current-metric-value fw-bold'>Release Monitoring is Disabled</h6>
              <% end %>
            </div>
            <div class='col-4 text-center'>
              <h6 class='current-metric-title'>Test results:</h6>
              <% if current_audit.include_functional_tests && current_audit.num_functional_tests_to_run.positive? %>
                <h6 class='current-metric-value fw-bolder'><%= current_audit.passed_all_functional_tests? ? HtmlHelper.PASSED_ICON(color: 'green') : HtmlHelper.FAILED_ICON(color: 'red') %> <%= current_audit&.display_functional_test_results %></h6>
              <% else %>
                <h6 class='current-metric-value fw-bolder'>N/A</h6>
              <% end %>
            </div>
            <div class='col-4 text-center'>
              <h6 class='current-metric-title'>DOM Changes Reponsible For</h6>
              <% if current_audit.include_page_change_audit? && current_audit.page_change_audit&.completed_successfully? %>
                <h6 class='current-metric-value fw-bold'><%= current_audit.page_change_audit&.absolute_changes %></h6>
              <% else %>
                <h6 class='current-metric-value fw-bold'>N/A</h6>
              <% end %>
            </div>
          </div>
          <div class='row align-items-center text-center mt-3'>
            <div class='col-4'>
              <% dom_complete_impact = current_audit.preferred_delta_performance_audit&.dom_complete_delta %>
              <h6 class='current-metric-title'>DOM Complete</h6>
              <h6 class='current-metric-value fw-bold'><%= dom_complete_impact > 0 ? "Adds #{number_to_human(dom_complete_impact, units: { unit: 'ms', thousand: 'seconds' })}" : 'No impact' %></h6>
            </div>
            <div class='col-4'>
              <% dom_interactive_impact = current_audit.preferred_delta_performance_audit&.dom_interactive_delta %>
              <h6 class='current-metric-title'>DOM Interactive</h6>
              <h6 class='current-metric-value fw-bold'><%= dom_interactive_impact > 0 ? "Adds #{number_to_human(dom_interactive_impact, units: { unit: 'ms', thousand: 'seconds' })}" : 'No impact' %></h6>
            </div>
            <div class='col-4'>
              <% first_contentful_paint_impact = current_audit.preferred_delta_performance_audit&.first_contentful_paint_delta %>
              <h6 class='current-metric-title'>First Contentful Paint</h6>
              <h6 class='current-metric-value fw-bold'><%= first_contentful_paint_impact > 0 ? "Adds #{number_to_human(first_contentful_paint_impact, units: { unit: 'ms', thousand: 'seconds' })}" : 'No impact' %></h6>
            </div>
          </div>
          <div class='row align-items-center text-center mt-3'>
            <div class='col-4'>
              <% script_duration_impact = current_audit.preferred_delta_performance_audit&.script_duration_delta %>
              <h6 class='current-metric-title'>Script Duration</h6>
              <h6 class='current-metric-value fw-bold'><%= script_duration_impact > 0 ? "Adds #{number_to_human(script_duration_impact, units: { unit: 'ms', thousand: 'seconds' })}" : 'No impact' %></h6>
            </div>
            <div class='col-4'>
              <% layout_duration_impact = current_audit.preferred_delta_performance_audit&.layout_duration_delta %>
              <h6 class='current-metric-title'>Layout Duration</h6>
              <h6 class='current-metric-value fw-bold'><%= layout_duration_impact > 0 ? "Adds #{number_to_human(layout_duration_impact, units: { unit: 'ms', thousand: 'seconds' })}" : 'No impact' %></h6>
            </div>
            <div class='col-4'>
              <% task_duration_impact = current_audit.preferred_delta_performance_audit&.task_duration_delta %>
              <h6 class='current-metric-title'>Task Duration</h6>
              <h6 class='current-metric-value fw-bold'><%= task_duration_impact > 0 ? "Adds #{number_to_human(task_duration_impact, units: { unit: 'ms', thousand: 'seconds' })}" : 'No impact' %></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>