<%= turbo_frame_tag "#{tag.id}_edit_general_settings" do %>
    <div class="text-center tagsafe-container">
    <div class='row'>
      <% if tag.disabled? %>
        <div class="alert alert-danger col-10 offset-1" role="alert">
          <%= HtmlHelper.WARNING_ICON %> Monitoring is disabled for this tag.
        </div>
        <%= form_with model: tag, url: enable_tag_path(tag) do |f| %>
          <%= f.submit 'Enable Tagsafe Monitoring', class: 'tagsafe-btn square outline large mb-3' %>
        <% end %>
      <% elsif %>
        <% if tag.removed_from_site? %>
          <h6 class='text-center mt-2 mb-3'><i class="fas fa-exclamation-circle"></i> Tag was removed from <%= current_domain.url %> at <%= tag.removed_from_site_at.formatted_long %></h6>
        <% end %>
      <% end %>
    </div>
    <%= form_with model: tag, data: { controller: 'submit_form_changes' } do |f| %>
      <h4><%= tag.try_friendly_name %> <%= tag.friendly_name ? "(#{tag.domain_and_path})" : nil %></h4>
      <%= image_tag tag.try_image_url, class: 'img-thumbnail script-logo', style: 'height: 250px; width: 250px' %>

      <div class="col-8 offset-2">
        <div class="input-group mb-3 col-8 offset-2">
          <div class="custom-file">
            <%= f.file_field :image, class: 'custom-file-input' %>
            <%= f.label :image, class: 'custom-file-label' %>
          </div>
        </div>
        <div class="form-floating d-flex">
          <%= f.text_field :friendly_name, class: "form-control form-control-lg", placeholder: 'Google Analytics', value: tag.friendly_name, data: { ignore_changes: true } %>
          <label for='friendly_name'>Tag Nickname (ie: Google Analytics)</label>
          <button type='submit' class='tagsafe-btn square'>Update</button>
        </div>
        <%= f.fields_for :tag_preferences_attributes, tag.tag_preferences do |ff| %>
          <div class="form-check form-switch w-fit m-auto mt-3">
            <%= ff.label :consider_query_param_changes_new_tag, class: 'form-check-label' %>
            <i data-controller='tooltip'
                data-bs-toggle="tooltip"
                data-placement="top"
                title="Select this option to consider each time the query params change a new tag has been added to <%= current_domain.url %>."
                class="far fa-question-circle"></i>
            <%= ff.check_box :consider_query_param_changes_new_tag, checked: tag.tag_preferences.consider_query_param_changes_new_tag, class: 'form-check-input' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if tag.enabled? %>
    <div class='text-center mt-5 tagsafe-container p-3'>
      <%= form_with model: tag, url: disable_tag_path(tag) do |f| %>
        <%= f.submit 'Disable Tagsafe Monitoring', class: 'tagsafe-btn square outline red large' %>
      <% end %>
    </div>
  <% end %>
<% end %>