<%= turbo_frame_tag "#{tag.uid}_settings" do %>

  <% if local_assigns[:success_message] %>
    <div class="rounded-md bg-green-50 p-4 mt-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-green-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-green-800"><%= success_message %></h3>
        </div>
      </div>
    </div>
  <% end %>

  <% if local_assigns[:error_message] %>
    <div class="rounded-md bg-red-50 p-4 mt-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-red-800">There were errors with your submission</h3>
          <div class="mt-2 text-sm text-red-700">
            <span><%= error_message %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= form_with model: [container, tag_snippet, tag], data: { controller: 'loading_form' } do |f| %>
    <div class="space-y-8 divide-y divide-gray-200 mt-6">
      <div class="space-y-8 divide-y divide-gray-200">
        <div>
          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">

            <div class="sm:col-span-6">
              <label for="release-monitoring" class="block text-sm font-medium text-gray-700">Release monitoring interval</label>
              <div class="mt-1">
                <select name='tag[release_monitoring_interval_in_minutes]' 
                        id='release-monitoring-interval' 
                        class='block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm' 
                        <%= !tag.is_tagsafe_hostable ? 'disabled' : nil %>
                        style=''
                        required>
                  <% Tag::SUPPORTED_RELEASE_MONITORING_INTERVALS.each do |interval| %>
                    <option value='<%= interval %>' <%= interval == tag.release_monitoring_interval_in_minutes ? 'selected' : nil %>>
                      <%= Util.integer_to_interval_in_words(interval).capitalize %>
                    </option>
                  <% end %>
                </select>
              </div>
              <p class="mt-2 text-sm text-gray-500">How often should Tagsafe check <%= tag.url_based_on_preferences %> for a new release?</p>
            </div>


            <div class="sm:col-span-6">
              <label for="load-strategy" class="block text-sm font-medium text-gray-700">Tag load strategy</label>
              <div class="mt-1">
                <select name='tag[configured_load_type]' 
                  id='load-strategy' 
                  class='block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm' 
                  required
                >
                  <option value='default' <%= tag.configured_load_type == 'default' ? 'selected' : nil %>>Tag's default rule (<%= container.defer_script_tags_by_default ? 'Defer' : tag.load_type.capitalize %>)</option>
                  <option value='defer' <%= tag.configured_load_type == 'defer' ? 'selected' : nil %>>Defer</option>
                  <option value='async' <%= tag.configured_load_type == 'async' ? 'selected' : nil %>>Async</option>
                  <option value='synchronous' <%= tag.configured_load_type == 'synchronous' ? 'selected' : nil %>>Synchronous</option>
                </select>
              </div>
              <p class="mt-2 text-sm text-gray-500">Override the default load strategy on the tag's `script` element</p>
            </div>
            <fieldset class="sm:col-span-6" <%= tag.is_tagsafe_hostable ? "data-controller='tooltip' title='Due to the way #{tag.tag_snippet.name} is hosted it cannot be hosted on Tagsafe\'s CDN.'" %>>
              <legend class="contents text-base font-medium <%= tag.is_tagsafe_hostable ? 'text-gray-900' : 'text-gray-400'%>">Optimize CDN</legend>
              <p class="text-sm text-gray-500">Hosting with the Tagsafe CDN speeds up page load times, and gives you version control capabilities.</p>
              <div class="mt-4 space-y-4">
                <div class="flex items-center">
                  <input id="tagsafe-hosted-true"
                          name="tag[is_tagsafe_hosted]"
                          type="radio"
                          value="1"
                          <%= tag.is_tagsafe_hostable ? nil : 'disabled=disabled' %>
                          <%= tag.is_tagsafe_hosted ? 'checked=checked' : nil%>
                          class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                  <label for="tagsafe-hosted-true" class="ml-3 block text-sm font-medium <%= tag.is_tagsafe_hostable ? 'text-gray-700' : 'text-gray-400'%>">Tagsafe optimized CDN</label>
                </div>
                <div class="flex items-center">
                  <input id="tagsafe-hosted-false" 
                          name="tag[is_tagsafe_hosted]" 
                          value="0" 
                          type="radio" 
                          <%= tag.is_tagsafe_hostable ? nil : 'disabled=disabled' %>
                          <%= tag.is_tagsafe_hosted ? nil : 'checked=checked'%> 
                          class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                  <label for="tagsafe-hosted-false" class="ml-3 block text-sm font-medium <%= tag.is_tagsafe_hostable ? 'text-gray-700' : 'text-gray-400' %>">Tag's default host (<%= "https://#{tag.url_hostname}" %>)</label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>

      <div class="pt-5">
        <div class="flex justify-end">
          <button type='submit' class='inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-gray-100'>
            Update tag config
          </button>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
