<%= render 'partials/page_navigation_items', navigation_items: [
  { url: root_path, text: 'Tags Overview' }, 
  { url: all_releases_path, text: 'Tag Releases' },
  { url: page_performance_path, text: 'Page Performance' },
  { url: settings_path, text: 'Settings' },
  ] %>

<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row ps-3 pe-3'>
      <div class='col-8'>
        <h1 class="page-title"><%= page_title %></h1>
      </div>
      <% unless local_assigns[:hide_audit_button] %>
        <div class='col-4 page-title-cta-container'>
          <% if local_assigns[:cta_button_html] %>
            <%= cta_button_html %>
          <% else %>
            <%= modal_link select_tag_to_audit_tags_path, klass: 'page-title-cta-btn floating-btn tagsafe-purple-bg' do %>
              <div class='d-flex align-items-center'>
                Run Audit 
                <span data-controller='hot-keys' data-action="modal" data-key-code='65' class='hot-key-indicator ms-1'>
                  <form class='hidden' action="<%=select_tag_to_audit_tags_path%>" data-hot-keys-target='formAction' data-turbo-frame='server_loadable_modal'>
                  </form>
                  ⌘a
                </span>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>