<%= turbo_frame_tag "tag_#{tag.uid}_uptime_list" do %>
  <div class='tagsafe-container mt-3'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div class='dropdown-container float-end'>
            <div class='dropdown-display-container' data-controller='dropdown' data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class='display-text'><%= selected_uptime_regions.collect(&:location).join(', ') %></span> 
              <span class='dropdown-indicator'><i class="fa-solid fa-chevron-up"></i></span>
            </div>
            <div class="dropdown-menu p-3">
              <%= form_with url: tag_uptime_list_path(tag), method: :get, html: { class: 'float-end' }, data: { controller: 'submit-form-changes' } do |f| %>
                <% UptimeRegion.selectable.each do |uptime_region| %>
                  <div class='form-switch form-check'>
                    <input type='checkbox' name='aws_region_names[]' id="uptime-list-tag-check-region-<%=uptime_region.id%>" value="<%= uptime_region.aws_region_name %>" class='form-check-input pointer d-inline' <%= selected_uptime_regions.index(uptime_region).present? ? 'checked' : nil %>>
                    <label for='uptime-list-tag-check-region-<%=uptime_region.id%>'><%= uptime_region.location %> <%= !tag.uptime_regions.include?(uptime_region) ? '(disabled)' : nil %></label>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-hover col-12 text-start" style="table-layout: fixed">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Response Code</th>
          <th>Response Time (ms)</th>
          <th>Region</th>
        </tr>
      </thead>
      <tbody>
        <% paginated_uptime_checks.each do|uptime_check| %>
          <tr>
            <td><%= uptime_check.executed_at.formatted_short %></td>
            <td><%= uptime_check.response_code %></td>
            <td><%= uptime_check.response_time_ms %></td>
            <td><%= uptime_check.uptime_region&.location %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate paginated_uptime_checks %>
  </div>
<% end %>