<%= turbo_frame_tag "tag_#{tag.uid}_uptime" do %>
  <div class='tagsafe-container'>
    <div data-controller='chart' data-fetch-url="<%= tag_uptime_data_path(tag) %>">
      <div class='timeframe-selector-container'>
        <input type="text" name="datetimes" class='tagsafe-dotted-selector' data-chart-target='datepicker' data-start="<%= start_time %>" data-end="<%= end_time %>" />
      </div>
      <div data-controller='streamed-script-tag'>
        <%=
          line_chart chart_data,
            download: true, 
            title: "Tag Uptime",
            ytitle: "Response Time (ms)",
            messages: { empty: "No uptime data to visualize." },
            curve: false, 
            legend: "bottom",
            library: {
              rangeSelector: true,
              hAxis: { 
                format: 'MM-DD-YYYY hh:mm' 
              }
            }
        %>
      </div>
    </div>
  </div>

  <div class='tagsafe-container mt-3'>
    <table class="table table-hover col-12 text-start" style="table-layout: fixed">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Response Code</th>
          <th>Response Time (ms)</th>
          <th>Capture new Tag Version?</th>
        </tr>
      </thead>
      <tbody>
        <% paginated_tag_checks.each do|tag_check| %>
          <tr>
            <td><%= tag_check.created_at.formatted_short %></td>
            <td><%= tag_check.response_code %></td>
            <td><%= tag_check.response_time_ms %></td>
            <td><%= tag_check.captured_new_tag_version %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate paginated_tag_checks %>
  </div>
<% end %>