<%= content_for :head do %>
  <script src="https://js.stripe.com/v3/"></script>
<% end %>

<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <h1 class="page-title with-sub-title">Tag Settings</h1>
      <h2 class='page-sub-title'><%= @tag.try_friendly_name %></h2>
    </div>
  </div>
</div>

<%= turbo_frame_tag "tag_#{@tag.uid}_settings" do %>
  <div class="tagsafe-container p-5">
    <% if @tag.removed_from_site? %>
      <div class="alert alert-warning col-10 offset-1" role="alert">
        <i class="fas fa-exclamation-circle"></i> Tag was removed from <%= current_domain.url %> <%= @tag.removed_from_site_at.formatted_long %></h6>
      </div>
    <% end %>

    <div class='row'>
      <div class='col-md-6 col-lg-8 d-flex align-items-center'>
        <div class='d-block'>
          <span class='settings-title d-block fw-bolder'>URLs to audit</span>
          <span class='settings-description d-block'>Which URLs Tagsafe should perform audits on for this tag.</span>
        </div>
      </div>
      <div class='col-md-6 col-lg-4 d-flex align-items-center'>
        <%= render 'urls_to_audit/index', domain: current_domain, tag: @tag, urls_to_audit: @tag.urls_to_audit %>
      </div>
    </div>

    <hr/>
    <div class='row'>
      <div class='col-md-6 col-lg-8 d-flex align-items-center'>
        <div class='d-block'>
          <span class='settings-title d-block fw-bolder'>
            Release Monitoring Interval 
            <i class="fa-solid fa-money-bill" style='font-size: 12px' data-controller='tooltip' data-bs-toggle='tooltip' title="Release monitoring is a paid feature, and the configuration impacts your monthly bill."></i>
          </span>
          <span class='settings-description d-block'>At what interval Tagsafe should monitor this tag. This impacts how quickly Tagsafe identifies new releases, and how frequently uptime metrics are measured.</span>
        </div>
      </div>
      <div class='col-md-6 col-lg-4 d-flex align-items-center'>
        <% if current_domain.has_payment_method_on_file? %>
          <%= form_with model: @tag.tag_preferences, url: tag_tag_preference_path(@tag, @tag.tag_preferences), html: { class: 'm-auto' }, data: { controller: 'submit-form-changes' } do |f| %>
            <select name='tag_preference[tag_check_minute_interval]' class='form-select'>
              <option selected="selected" value='nil'>Disabled</option>
              <% TagPreference::TAG_CHECK_INTERVALS.each do |interval| %>
                <% if interval[:value] == @tag.tag_preferences.tag_check_minute_interval %>
                  <option value="<%=interval[:value] %>" selected="selected"><%= interval[:name] %></option>
                <% else %>
                  <option value="<%=interval[:value] %>"><%= interval[:name] %></option>
                <% end %>
              <% end %>
            </select>
          <% end %>
        <% else %>
          <div class='m-auto'>
            <div class='w-fit d-inline-block'>
              <select disabled class='form-select mb-2'>
                <option selected>Disabled</option>
              </select>
            </div>
            <div style='font-size: 12px' class='w-fit d-inline-block' data-controller="tooltip" data-bs-toggle="tooltip" title='Upgrade your plan in order to enable release monitoring.'>
              <%= HtmlHelper.QUESTION_MARK_ICON %>
            </div>
            <!-- <#%= modal_link new_domain_payment_method_path(should_reload: true), text: 'Add Payment Method' %> !-->
          </div>
        <% end %>
      </div>
    </div>

    <hr/>
    <div class='row'>
      <div class='col-md-6 col-lg-8 d-flex align-items-center'>
        <div class='d-block'>
          <span class='settings-title d-block fw-bolder'>
            Scheduled Audit Interval 
            <i class="fa-solid fa-money-bill" style='font-size: 12px' data-controller='tooltip' data-bs-toggle='tooltip' title="Scheduled audits is a paid feature, and the configuration impacts your monthly bill."></i>
          </span>
          <span class='settings-description d-block'>Interval Tagsafe should run ongoing audits on this tag.</span>
        </div>
      </div>
      <div class='col-md-6 col-lg-4 d-flex align-items-center'>
        <% if current_domain.has_payment_method_on_file? %>
          <%= form_with model: @tag.tag_preferences, url: tag_tag_preference_path(@tag, @tag.tag_preferences), html: { class: 'm-auto' }, data: { controller: 'submit-form-changes' } do |f| %>
            <select name='tag_preference[scheduled_audit_minute_interval]' class='form-select'>
              <option selected="selected" value='nil'>Disabled</option>
              <% TagPreference::SCHEDULED_AUDIT_INTERVALS.each do |interval| %>
                <% if interval[:value] == @tag.tag_preferences.scheduled_audit_minute_interval %>
                  <option value="<%=interval[:value] %>" selected="selected"><%= interval[:name] %></option>
                <% else %>
                  <option value="<%=interval[:value] %>"><%= interval[:name] %></option>
                <% end %>
              <% end %>
            </select>
          <% end %>
        <% else %>
          <div class='m-auto'>
            <div class='w-fit d-inline-block'>
              <select disabled class='form-select'>
                <option selected>Disabled</option>
              </select>
            </div>
            <div style='font-size: 12px' class='w-fit d-inline-block' data-controller="tooltip" data-bs-toggle="tooltip" title='Upgrade your plan in order to enable scheduled audits.'>
              <%= HtmlHelper.QUESTION_MARK_ICON %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <hr/>
    <div class='row'>
      <div class='col-md-6 col-lg-8 d-flex align-items-center'>
        <div class='d-block'>
          <span class='settings-title d-block fw-bolder'>
            Monitor Tag Uptime
            <i class="fa-solid fa-money-bill" style='font-size: 12px' data-controller='tooltip' data-bs-toggle='tooltip' title="Uptime monitoring is a paid feature, and the configuration impacts your monthly bill."></i>
          </span>
          <span class='settings-description d-block'>Measure the response time of <%= @tag.try_friendly_name %>'s endpoint (<%= @tag.url_based_on_preferences %>). The response time is measured at the interval specified in your release monitoring interval.</span>
        </div>
      </div>
      <div class='col-md-6 col-lg-4 d-flex align-items-center'>
        <% if current_domain.has_payment_method_on_file? %>
          <%= form_with model: @tag.tag_preferences, url: tag_tag_preference_path(@tag, @tag.tag_preferences), html: { class: 'w-fit m-auto' }, data: { controller: 'submit-form-changes' } do |f| %>
            <div class='form-check form-switch'>
              <%= f.check_box :should_log_tag_checks, class: 'form-check-input pointer', style: 'transform: scale(1.5)' %>
            </div>
          <% end %>
        <% else %>
          <form class='w-fit m-auto d-flex'>
            <div class='form-check form-switch d-inline-block'>
              <input type='checkbox' class='form-check-input pointer' style='transform: scale(1.5)' disabled>
            </div>
            <div style='font-size: 12px' class='ms-2 w-fit d-inline-block' data-controller="tooltip" data-bs-toggle="tooltip" title='Upgrade your plan in order to enable uptime monitoring.'>
              <%= HtmlHelper.QUESTION_MARK_ICON %>
            </div>
          </form>
        <% end %>
      </div>
    </div>

    <hr/>
    <div class='row'>
      <div class='col-md-6 col-lg-8 d-flex align-items-center'>
        <div class='d-block'>
          <span class='settings-title d-block fw-bolder'>
            Uptime Monitoring Regions 
            <i class="fa-solid fa-money-bill" style='font-size: 12px' data-controller='tooltip' data-bs-toggle='tooltip' title="Uptime monitoring is a paid feature, and the configuration impacts your monthly bill."></i>
          </span>
          <span class='settings-description d-block'>From which regions to monitor and measure tag's endpoint.</span>
        </div>
      </div>
      <div class='col-md-6 col-lg-4 d-flex align-items-center'>
        <% if current_domain.has_payment_method_on_file? %>
          <% if @tag.tag_preferences.should_log_tag_checks %>
            <%= render 'tag_check_regions_to_check/new', tag: @tag, selectable_tag_check_regions: @selectable_tag_check_regions %>
          <% else %>
            <form class='w-fit m-auto'>
              <div class='w-fit d-inline-block'>
                <select disabled class='form-select'>
                  <option selected>Disabled</option>
                </select>
              </div>
              <div style='font-size: 12px' class='w-fit d-inline-block' data-controller="tooltip" data-bs-toggle="tooltip" title='Toggle "Monitor Tag Uptime" in order to enable regional uptime monitoring.'>
                <%= HtmlHelper.QUESTION_MARK_ICON %>
              </div>
            </form>
          <% end %>
        <% else %>
          <div class='m-auto'>
            <div class='w-fit d-inline-block'>
              <select disabled class='form-select'>
                <option selected>Disabled</option>
              </select>
            </div>
            <div style='font-size: 12px' class='w-fit d-inline-block' data-controller="tooltip" data-bs-toggle="tooltip" title='Upgrade your plan in order to enable regional uptime monitoring.'>
              <%= HtmlHelper.QUESTION_MARK_ICON %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <hr/>
    <div class='row'>
      <div class='col-8 d-flex align-items-center'>
        <div class='d-block'>
          <span class='settings-title d-block fw-bolder'>Estimated Monthly Cost</span>
          <span class='settings-description d-block'>Based on your current configuration, what this tag will cost you to monitor per month.</span>
        </div>
      </div>
      <div class='col-4 d-flex align-items-center justify-content-center'>
        <span class='settings-title'><%= number_to_currency(@tag.estimated_monthly_cost / 100) %></span>
      </div>
    </div>
  </div>
<% end %>