<h5 class="page-title" style="margin-bottom: 0;">Tag Settings</h5>
<h6 class="page-sub-title"><%= @tag.try_friendly_name %></h6>

<%= turbo_frame_tag "tag_#{@tag.uid}_settings" do %>
  <div class="tagsafe-container p-5">
    <% if @tag.disabled? %>
      <div class='text-center mb-3'>
        <div class="alert alert-danger" role="alert">
          <%= HtmlHelper.WARNING_ICON %> Tagsafe monitoring is disabled.
        </div>
        <%= form_with model: @tag, url: enable_tag_path(@tag) do |f| %>
          <%= f.submit 'Enable Tagsafe Monitoring', class: 'tagsafe-btn large mb-3' %>
        <% end %>
        <hr/>
      </div>
    <% elsif %>
      <% if @tag.removed_from_site? %>
        <div class="alert alert-warning col-10 offset-1" role="alert">
          <i class="fas fa-exclamation-circle"></i> Tag was removed from <%= current_domain.url %> <%= @tag.removed_from_site_at.formatted_long %></h6>
        </div>
      <% end %>
    <% end %>

    <div class='row mt-5'>
      <div class='col-4 d-flex align-items-center'>
        <div class='d-block'>
          <span class='settings-title d-block fw-bolder'>URLs to audit</span>
          <span class='settings-description d-block'>Which URLs Tagsafe should perform audits on for this tag.</span>
        </div>
      </div>
      <div class='col-8 d-flex align-items-center'>
        <%= render 'urls_to_audit/index', domain: current_domain, tag: @tag, urls_to_audit: @tag.urls_to_audit %>
      </div>
    </div>

    <hr/>
    <div class='row mt-5'>
      <div class='col-4 d-flex align-items-center'>
        <div class='d-block'>
          <span class='settings-title d-block fw-bolder'>Tag Monitoring Interval</span>
          <span class='settings-description d-block'>At what interval Tagsafe should monitor this tag. This impacts how quickly Tagsafe identifies new releases, and how frequently uptime metrics are measured.</span>
        </div>
      </div>
      <div class='col-8 d-flex align-items-center'>
        <%= form_with model: @tag.tag_preferences, url: tag_tag_preference_path(@tag, @tag.tag_preferences), html: { class: 'm-auto' }, data: { controller: 'submit-form-changes' } do |f| %>
          <select name='tag_preference[tag_check_minute_interval]' class='form-select'>
            <% TagPreference::TAG_CHECK_INTERVALS.each do |interval| %>
              <% if interval[:value] == @tag.tag_preferences.tag_check_minute_interval %>
                <option value="<%=interval[:value] %>" selected="selected"><%= interval[:name] %></option>
              <% else %>
                <option value="<%=interval[:value] %>"><%= interval[:name] %></option>
              <% end %>
            <% end %>
          </select>
        <% end %>
      </div>
    </div>
    
    <% if @tag.enabled? %>
      <hr/>
      <div class='row'>
        <div class='col-4 d-flex align-items-center'>
          <div class='d-block'>
            <span class='settings-title d-block fw-bolder'>Disable Tagsafe monitoring</span>
            <span class='settings-description d-block'>Tagsafe will no longer monitor when <%= @tag.try_friendly_name %> makes new releases, or run automated audits.</span>
          </div>
        </div>
        <div class='col-8 d-flex align-items-center justify-content-center'>
          <%= form_with model: @tag, url: disable_tag_path(@tag), data: { controller: 'submit-form-changes' } do |f| %>
            <%= f.submit 'Disable Tagsafe Monitoring', class: 'tagsafe-btn red' %>
            <!-- <#%= f.submit 'Disable Tagsafe Monitoring', class: 'tagsafe-btn square outline red large' %> !-->
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>