<%= turbo_stream_from "tag_#{@tag.uid}_details_view_stream" %>

<%= render 'tags/show_page_navigation', page_title: "#{@tag.try_friendly_name} releases" %>

<div class='d-flex'>
  <div class='col-5'>
    <div class='tagsafe-container'>
      <h2 class='tagsafe-font'>Release Calendar</h2>
      <%= turbo_frame_tag "#{@tag.uid}_release_calendar", src: release_calendar_releases_path(tag_uid: @tag.uid) do %>
        <div class='text-center p-5'>
          <%= display_loading_spinner %>
        </div>    
      <% end %>
    </div>
  </div>

  <div class='col-7'>
    <div class='tagsafe-container p-5'>
      <h2 class='tagsafe-font d-inline me-2'>
        Releases 
      </h2>
      <% if most_recent_check = @tag.release_checks.most_recent_first.limit(1).first %>
        <span class='d-block w-fit default-cursor'
                data-controller='tooltip' 
                title='Release monitoring interval is set for <%= @tag.release_monitoring_interval_in_words %>.'>
          As of <%= time_ago_in_words(most_recent_check.created_at) %> ago.
        </span>
      <% elsif @tag.release_monitoring_disabled? %>
        <%= HtmlHelper.WARNING_ICON %> Release monitoring is disabled for this tag.
      <% end %>
      <%= turbo_frame_tag "tag_#{@tag.uid}_tag_versions", src: tag_tag_versions_path(@tag) do %>
        <div class='text-center p-5'>
          <%= display_loading_spinner %>
        </div>
      <% end %>
    </div>
  </div>
</div>