<%= turbo_stream_from "tag_#{@tag.uid}_details_view_stream" %>

<div class='d-flex'>
  <div class='col-8'>
    <div class='tagsafe-container text-center tag-details-container'>
      
      <div class='text-end'>
        <%= link_to new_tag_audit_path(@tag), class: 'floating-btn tagsafe-purple-bg me-2' do %>
          Run Audit 
        <% end %>
        
        <button class="floating-btn white-bg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-gear"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Update release monitoring cadence</a></li>
          <div class='dropdown-divider'></div>
          <% if @tag.is_tagsafe_hosted %>
            <li>
              <a class="dropdown-item link-danger" 
                  data-controller='tooltip'
                  title='Tag will no longer be hosted and optimized on Tagsafe CDN.'
                  href="#">
                <i class="fa-solid fa-bolt-slash"></i> Disable Tagsafe optimization
              </a>
            </li>
          <% elsif @tag.is_tagsafe_hostable %>
            <li>
              <a class="dropdown-item disabled" 
                  data-controller='tooltip'
                  title='Tag is not eligible to be optimized by Tagsafe due to its dynamic content.'
                  href="#">
                <i class="fa-solid fa-ban"></i> Enable Tagsafe optimization
              </a>
            </li>
          <% else %>
            <li>
              <a class="dropdown-item" 
                  data-controller='tooltip'
                  title='Moving forward the tag will be hosted and optimized on the Tagsafe CDN.'
                  href="#">
                <i class="fa-solid fa-bolt"></i>  Enable Tagsafe optimization
              </a>
            </li>
          <% end %>
        </ul>
      </div>

      <% if @tag.has_image? %>
        <div class='tag-logo'>
          <%= image_tag @tag.try_image_url %>
        </div>
      <% end %>
      <h2 class='tagsafe-font page-header'><%= @tag.try_friendly_name %></h2>
      <% if @tag.has_friendly_name? %>
        <i class="fa-solid fa-link"></i> 
        <span class='tagsafe-font page-sub-header'><%= @tag.url_based_on_preferences %></span>
      <% end %>
      <div class='col-12 mt-4'>
        <div class='row'>
          <div class='col-6 border-end'>
            <h5 class='mb-0'><i class="fa-solid fa-bolt d-block"></i></h5>
            <h3 class='tagsafe-font default-cursor'>TagsafeJS optimized</h3>
          </div>
          <div class='col-6'>
            <% if @tag.current_live_tag_version.present? %>
              <h5 class='mb-0'><i class="fa-solid fa-cloud-arrow-down d-block"></i></h5>
              <h3 class='tagsafe-font default-cursor'>
                <%= number_to_human_size(@tag.current_live_tag_version.bytes) %>
                <% if @tag.current_live_tag_version.previous_tag_version %>
                  <% byte_difference = @tag.current_live_tag_version.bytes - @tag.current_live_tag_version.previous_tag_version.bytes %>
                  <% if byte_difference > 0 %>
                    <span style='color: red'><i class="fa-solid fa-arrow-trend-up"></i> <%= number_to_human_size(byte_difference) %></span>
                  <% elsif byte_difference < 0 %>
                    <span style='color: green'><i class="fa-solid fa-arrow-trend-down"></i> <%= number_to_human_size(byte_difference) %></span>
                  <% end %>
                <% end %>
              </h3>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-4'>
    <div class='tagsafe-container default-cursor' style='height: calc(100% - 30px)'>
      <div class='d-flex flex-column justify-content-evenly h-100'>
        <h5 class='d-block m-1 cursor-default' data-controller='tooltip' title='Originally found on <%= @tag.page_url_first_found_on.hostname %> on <%= @tag.created_at.formatted_long %>.'>
          <i class="fa-regular fa-calendar-plus me-1"></i>
          Added <%= @tag.created_at.date_only(short: false) %>
        </h5>
        <h5 class='d-block m-1 cursor-default'>
          <i class="fa-regular fa-file-code me-1"></i>
          Loaded <%= @tag.load_type_as_verb %>
        </h5>
        <h5 class='d-block m-1 cursor-default'>
          <i class="fa-solid fa-clock-rotate-left me-1"></i> 
          Release monitoring interval: <%= @tag.release_monitoring_interval_in_words %>
        </h5>
        <h5 class='d-block m-1 cursor-default'>
          <i class="fa-regular fa-window-restore me-1"></i>
          Present on <%= @tag.page_urls.count %> pages.
        </h5>
      </div>
    </div>
  </div>
</div>

<div class="tagsafe-container">
  <%= turbo_frame_tag "#{@tag.uid}_tag_chart", src: charts_tag_path(@tag) do %>
    <div class='text-center'>
      <%= display_loading_spinner %>
    </div>
  <% end %>
</div>

<div class='d-flex'>
  <div class='col-5'>
    <div class='tagsafe-container'>
      <h2 class='tagsafe-font'>Release Calendar</h2>
      <%= turbo_frame_tag "#{@tag.uid}_release_calendar", src: release_calendar_releases_path(tag_uid: @tag.uid) do %>
        <div class='text-center p-5'>
          <%= display_loading_spinner %>
        </div>    
      <% end %>
    </div>
  </div>

  <div class='col-7'>
    <div class='tagsafe-container p-5'>
      <h2 class='tagsafe-font d-inline me-2'>
        Releases 
      </h2>
      <% if most_recent_check = @tag.release_checks.most_recent_first.limit(1).first %>
        <span class='d-block w-fit default-cursor'
                data-controller='tooltip' 
                title='Release monitoring interval is set for <%= @tag.release_monitoring_interval_in_words %>.'>
          As of <%= time_ago_in_words(most_recent_check.created_at) %> ago.
        </span>
      <% elsif @tag.release_monitoring_disabled? %>
        <%= HtmlHelper.WARNING_ICON %> Release monitoring is disabled for this tag.
      <% end %>
      <%= turbo_frame_tag "tag_#{@tag.uid}_tag_versions", src: tag_tag_versions_path(@tag) do %>
        <div class='text-center p-5'>
          <%= display_loading_spinner %>
        </div>
      <% end %>
    </div>
  </div>
</div>