<%= turbo_stream_from "tag_#{@tag.uid}_details_view_stream" %>

<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-8'>
        <h1 class="page-title with-sub-title">Tag Details</h1>
        <h2 class='page-sub-title'>
          <span class='d-inline-block'><%= @tag.try_friendly_name %></span>
          <!-- <#% if @tag.release_monitoring_disabled? %>
            <#%= image_tag '/images/disabled-release-monitoring.png', style: 'height: 16px;', title: 'Release monitoring is disabled for this tag, enable it in your tag settings.', data: { controller: 'tooltip', bs_toggle: 'tooltip' } %>
          <#% end %>
          <#% if @tag.scheduled_audits_disabled? %>
            <#%= image_tag '/images/disabled-automated-audits.png', style: 'height: 16px;', title: 'Scheduled audits are disabled for this tag, enable them in your tag settings.', data: { controller: 'tooltip', bs_toggle: 'tooltip' } %>
          <#% end %> !-->
        </h2>
      </div>
      <div class='col-4 page-title-cta-container'>
        <%= modal_link new_tag_audit_path(@tag), klass: 'page-title-cta-btn floating-btn tagsafe-purple-bg' do %>
          <div class='d-flex align-items-center'>
            Run Audit 
            <span data-controller='hot-keys' data-action="modal" data-key-code='65' class='hot-key-indicator ms-1'>
              <form class='hidden' action="<%=new_tag_audit_path(@tag)%>" data-hot-keys-target='formAction' data-turbo-frame='server_loadable_modal'>
              </form>
              ⌘a
            </span>
          </div>
        <% end %>
        <%= link_to edit_tag_path(@tag), class: 'page-title-cta-btn floating-btn tagsafe-purple-bg ms-3', title: 'Edit tag settings', data: { controller: 'tooltip', bs_toggle: 'tooltip' } do %>
          <i class="fa-solid fa-gear"></i>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'partials/page_navigation_items', navigation_items: [
    { text: 'Audit Details', url: tag_path(@tag) },
    { text: 'Uptime', url: uptime_tag_path(@tag) },
    { text: 'Releases', url: tag_releases_path(@tag) },
    { text: 'Configuration', url: edit_tag_path(@tag) }
  ] %>
</div>

<%= render 'tags/current_stats', tag: @tag %>

<div class="tagsafe-container">
  <% if @tag.disabled? %>
    <div class="row">
      <div class="col-12">
        <div class="alert alert-danger col-10 offset-1 mt-3 text-center" role="alert">
          <%= HtmlHelper.WARNING_ICON %> Tag is disabled</h6>
        </div>
      </div>
    </div>
  <% end %>
  <%= turbo_frame_tag "#{@tag.uid}_tag_chart", src: charts_tag_path(@tag) do %>
    <div class='text-center'>
      <%= display_loading_spinner %>
    </div>
  <% end %>
</div>

<div class='tagsafe-container p-0'>
  <%= turbo_frame_tag "tag_#{@tag.uid}_audits_table", src: audits_tag_path(@tag) do %>
    <div class='text-center p-5'>
      <%= display_loading_spinner %>
    </div>
  <% end %>
</div>