<%= turbo_stream_from "tag_#{@tag.uid}_details_view_stream" %>
<meta name='stream' content="tag_<%=@tag.uid%>_details_view_stream">

<div class="text-center">
  <h5 class="page-title with-sub-title">Tag Details</h6>
  <h6 class="page-sub-title"><%= @tag.try_friendly_name %></h6>
</div>

<div class="tag-chart-container" style="padding-top: 5px;">
  <div class="row" style="margin-bottom: 5px;">
    <div class="col-12">
      <% if @tag.removed_from_site? %>
        <h6 class='text-center mt-2'><i class="fas fa-exclamation-circle"></i> Tag was removed from <%= current_domain.url %> at <%= @tag.removed_from_site_at.formatted_long %></h6>
      <% elsif @tag.disabled? %>
        <h6 class='text-center mt-2'><i class="fas fa-exclamation-circle"></i> TagSafe monitoring is disabled for this tag. <%= link_to 'Enable', edit_tag_path(@tag) %></h6>
      <% end %>
      <div class="dropdown dropleft show ellipsis-dropdown tagsafe-circular-btn" style="float: right;">
        <a class="dropdown-link" data-controller='dropdown' href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-h" style="font-size: 18px;"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to "Edit #{@tag.try_friendly_name}", edit_tag_path(@tag), class: 'dropdown-item', target: '_top' %>
        </div>
      </div>
    </div>
  </div>
  <%= turbo_frame_tag "#{@tag.id}_tag_chart", src: tag_chart_path(@tag, start_time: 1.day.ago, end_time: Time.now) do %>
    <div class='text-center'>
      <%= display_loading_spinner %>
    </div>
  <% end %>
</div>

<div class="tag-versions-container">
  <%= turbo_frame_tag "tag_#{@tag.uid}_tag_versions_table", src: server_loadable_partials_tag_tag_versions_path(@tag) do %>
    <div class='text-center'>
      <%= display_loading_spinner %>
    </div>
  <% end %>
</div>