<%= turbo_stream_from "tag_#{@tag.uid}_details_view_stream" %>

<%= render 'tags/show_page_navigation', page_title: "#{@tag.try_friendly_name} details" %>

<div class='d-flex'>
  <div class="col-8">
    <div class='tagsafe-container'>
      <%= turbo_frame_tag "#{@tag.uid}_tag_chart", src: charts_tag_path(@tag) do %>
        <div class='text-center p-5'>
          <%= display_loading_spinner %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='col-4 default-cursor p-5'>
    <% if @tag.primary_audit %>
      <%= render 'audits/breakdown', audit: @tag.primary_audit %>
    <% else %>
      <h4>No audit to display.</h4>
    <% end %>
    <% if @tag.is_tagsafe_hosted && @tag.current_live_tag_version&.tagsafe_saved_bytes? %>
      <h6>Tagsafe is saving you an additional <%= number_to_human_size(@tag.current_live_tag_version.bytes_saved_with_tagsafe_minification) %>.</h6>
    <% end %>
    <% if @tag.is_tagsafe_hosted %>
      <h5 class='fs-5 mt-5'>
        <i class="fa-solid fa-clock-rotate-left fs-6 me-1"></i>
        Last release:
        <% if @tag.last_released_at %>
          <span class='fw-bolder'><%= time_ago_in_words(@tag.last_released_at) %> ago.</span>
        <% else %>
          <span class='fw-bolder'>No releases yet.</span>
        <% end %>
      </h5>
      <% if @tag.last_released_at %>
        <h6 class='hs-6'>As of <%= time_ago_in_words(@tag.most_recent_release_check.created_at) %> ago (Release monitoring set to run <%= @tag.release_monitoring_interval_in_words %>).</h6>
      <% else %>
        <h6 class='hs-6'>Release monitoring set to run <%= @tag.release_monitoring_interval_in_words %>.</h6>
      <% end %>
    <% end %>
  </div>
</div>
