<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-8'>
        <h1 class="page-title">Tag Management</h1>
      </div>
      <div class='col-4 page-title-cta-container'>
        <%= link_to new_tag_path do %>
          <button class='page-title-cta-btn floating-btn tagsafe-purple-bg'>
            <div class='d-flex align-items-center'>Add Tag</div>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @tags.has_staged_changes.any? %>
  <div class="alert alert-warning m-3 text-center" role="alert">
    You have <%= @tags.has_staged_changes.count %> tags that are pending changes/ready to be deployed. <%= modal_link_to review_staged_changes_domain_path(current_domain), text: 'Review staged changes' %>
  </div>
<% end %>

<div class='tagsafe-table p-3'>
  <div class='tagsafe-table-head square'>
    <div class='tagsafe-table-row header'>
      <div class='tagsafe-table-cell flex-3'>Tag</div>
      <div class='tagsafe-table-cell'>Host location</div>
      <div class='tagsafe-table-cell flex-0'></div>
    </div>
  </div>
  <div class='tagsafe-table-body'>
    <% @tags.each do |tag| %>
      <div class='tagsafe-table-row hoverable'>
        <div class='tagsafe-table-cell flex-3'>
          <%= link_to tag_path(tag), class: 'no-decoration w-100 d-flex align-items-center', target: '_top' do %>
            <div class='tag-img-thumbnail-container me-2'>
              <%= image_tag tag.try_image_url, class: 'tag-thumbnail border' %>
            </div>
            <div class='d-block'>
              <span class='table-row-header underline-hover d-block'>
                <%= tag.friendly_name %>
                <% if tag.live_tag_configuration.nil? && tag.draft_tag_configuration.nil? %>
                  <div class='red-glowing-circular-icon ms-2'
                        data-controller='tooltip'
                        data-bs-toggle='tooltip'
                        title='Tag configuration is incomplete, edit this tag in order to turn it live.'></div>
                <% elsif tag.has_staged_changes %>
                  <div class='orange-glowing-circular-icon ms-2'
                        data-controller='tooltip'
                        data-bs-toggle='tooltip'
                        title='Tag has staged changes, review changes to turn them live.'></div>
                <% elsif tag.live_tag_configuration.disabled? %>
                  <div class='red-glowing-circular-icon ms-2'
                        data-controller='tooltip'
                        data-bs-toggle='tooltip'
                        title='Tag is paused from firing.'></div>
                <% else %>
                  <div class='green-glowing-circular-icon ms-2'
                        data-controller='tooltip'
                        data-bs-toggle='tooltip'
                        title='Tag is active.'></div>
                <% end %>
              </span>
              <span class='table-row-sub-header d-block'><%= tag.url_based_on_preferences %></span>
            </div>
          <% end %>
        </div>
        <div class='tagsafe-table-cell'>
          <% if (tag.live_tag_configuration || tag.draft_tag_configuration).is_tagsafe_hosted %>
            <div class='tagsafe-pill tagsafe-primary-purple'>
              Tagsafe-hosted
            </div>
          <% else %>
            <div class='tagsafe-pill grey'>
              Original host <%= tag.full_url.blank? ? nil : "(#{tag.url_domain})" %>
            </div>
          <% end %>
        </div>
        <div class='tagsafe-table-cell flex-0 text-end'>
          <div class="dropdown dropleft show ellipsis-dropdown tagsafe-circular-btn" style='top: 5px; right: 5px;'>
            <a class="dropdown-link" data-controller='dropdown' href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v" style="font-size: 18px;"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Edit tag', edit_tag_tag_configuration_path(tag, tag.draft_tag_configuration), class: 'dropdown-item no-decoration', target: '_top' %>
              <%= link_to 'View tag', tag_path(tag), class: 'dropdown-item no-decoration', target: '_top' %>
              <div class='dropdown-divider'></div>
              <div class="dropdown-item">
                Pause/disable tag
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= paginate @tags %>
</div>
