<!-- <#%= turbo_stream_from "tag_#{@tag.uid}_details_view_stream" %> !-->

<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-8'>
        <h1 class="page-title with-sub-title">Tag Uptime</h1>
        <h2 class='page-sub-title'><%= @tag.try_friendly_name %></h2>
      </div>
      <div class='col-4 page-title-cta-container'>
        <%= modal_link new_tag_audit_path(@tag), text: 'Run Audit', klass: 'page-title-cta-btn floating-btn tagsafe-purple-bg' %>
        <%= link_to edit_tag_path(@tag), class: 'page-title-cta-btn floating-btn tagsafe-purple-bg ms-3' do %>
          <i class="fa-solid fa-gear"></i>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'partials/page_navigation_items', navigation_items: [
    { text: 'Audit Details', url: tag_path(@tag) },
    { text: 'Tag Uptime', url: uptime_tag_path(@tag) }
  ] %>
</div>

<%= turbo_frame_tag "tag_#{@tag.uid}_uptime_chart", src: charts_tag_check_path(@tag, aws_region_names: params[:regions] || ['us-east-1']) do %>
  <div class="tagsafe-container text-center p-5">
    <%= display_loading_spinner %>
  </div>
<% end %>

<%= turbo_frame_tag "tag_#{@tag.uid}_uptime_list", src: tag_uptime_list_path(@tag, aws_region_names: params[:regions] || ['us-east-1']) do %>
  <div class="tagsafe-container text-center p-5">
    <%= display_loading_spinner %>
  </div>
<% end %>