<!-- <#%= turbo_stream_from "tag_#{@tag.uid}_details_view_stream" %> !-->

<h5 class="page-title with-sub-title">Tag Uptime</h6>
<h6 class="page-sub-title"><%= @tag.try_friendly_name %></h6>

<%= turbo_frame_tag "tag_#{@tag.uid}_uptime_chart", src: tag_uptime_chart_path(@tag, aws_region_names: params[:regions] || ['us-east-1']) do %>
  <div class="tagsafe-container">
    <div class='text-center'>
      <%= display_loading_spinner %>
    </div>
  </div>
<% end %>

<%= turbo_frame_tag "tag_#{@tag.uid}_uptime_list", src: tag_uptime_list_path(@tag, aws_region_names: params[:regions] || ['us-east-1']) do %>
  <div class="tagsafe-container">
    <div class='text-center'>
      <%= display_loading_spinner %>
    </div>
  </div>
<% end %>