<!-- <#%= turbo_stream_from "tag_#{@tag.uid}_details_view_stream" %> !-->

<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-8'>
        <h1 class="page-title with-sub-title">Tag Uptime</h1>
        <h2 class='page-sub-title'><%= @tag.try_friendly_name %></h2>
      </div>
      <div class='col-4 page-title-cta-container'>
        <%= modal_link new_tag_audit_path(@tag), klass: 'page-title-cta-btn floating-btn tagsafe-purple-bg' do %>
          <div class='d-flex align-items-center'>
            Run Audit 
            <span data-controller='hot-keys' data-action="modal" data-key-code='65' class='hot-key-indicator ms-1'>
              <form class='hidden' action="<%=new_tag_audit_path(@tag)%>" data-hot-keys-target='formAction' data-turbo-frame='server_loadable_modal'>
              </form>
              ⌘a
            </span>
          </div>
        <% end %>
        <%= link_to settings_tag_path(@tag), class: 'page-title-cta-btn floating-btn tagsafe-purple-bg ms-3' do %>
          <i class="fa-solid fa-gear"></i>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'partials/page_navigation_items', navigation_items: [
    { text: 'Audit Details', url: tag_path(@tag) },
    { text: 'Uptime', url: uptime_tag_path(@tag) },
    { text: 'Releases', url: tag_releases_path(@tag) }
  ] %>
</div>

<% if @tag.uptime_regions_to_check.count.zero? %>
  <div class='container-fluid'>
    <div class="alert alert-danger mt-3 text-center" role="alert">
      <%= HtmlHelper.WARNING_ICON %> Uptime monitoring is disabled for <%= @tag.try_friendly_name %>, you can enable it in <%= link_to 'your settings', settings_tag_path(@tag) %>.
    </div>
  </div>
<% end %>

<%= turbo_frame_tag "tag_#{@tag.uid}_uptime_metrics", src: uptime_metrics_tag_path(@tag) do %>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-4'>
        <div class='outlined-card'>
          <%= display_loading_spinner %>
        </div>
      </div>
      <div class='col-4'>
        <div class='outlined-card'>
          <%= display_loading_spinner %>
        </div>
      </div>
      <div class='col-4'>
        <div class='outlined-card'>
          <%= display_loading_spinner %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= turbo_frame_tag "tag_#{@tag.uid}_uptime_chart", src: charts_uptime_check_path(@tag, aws_region_names: params[:regions] || @tag.uptime_regions.limit(3).collect(&:aws_region_name)) do %>
  <div class="tagsafe-container text-center p-5">
    <%= display_loading_spinner %>
  </div>
<% end %>

<%= turbo_frame_tag "tag_#{@tag.uid}_uptime_list", src: tag_uptime_list_path(@tag, aws_region_names: params[:regions] || @tag.uptime_regions.limit(3).collect(&:aws_region_name)) do %>
  <div class="tagsafe-container text-center p-5">
    <%= display_loading_spinner %>
  </div>
<% end %>