<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-12'>
        <h1 class="page-title with-sub-title">Credit Usage</h1>
        <h2 class="page-sub-title"><%= @credit_wallet.month_in_words %>, <%= @credit_wallet.year %></h2>
      </div>
    </div>
  </div>
  <%= render 'settings/settings_nav' %>
</div>

<div class='tagsafe-container p-5'>
  <div class='dropdown-container d-block mb-3'>
    <div class='dropdown-display-container' data-controller='dropdown' data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-offset="0,15">
      <%= @credit_wallet.month_in_words %>, <%= @credit_wallet.year %>
      <span class='dropdown-indicator d-inline'>
        <i class="fa-solid fa-chevron-up"></i>
      </span>
    </div>
    <div class="dropdown-menu dropdown-menu-center p-3">
      <% @credit_wallet.domain.credit_wallets.each do |wallet| %>
        <% if wallet == @credit_wallet %>
          <div class='dropdown-item text-center active'>
            <%= wallet.month_in_words %>, <%= wallet.year %>
          </div>
        <% else %>
          <div class='dropdown-item text-center'>
            <%= link_to "#{wallet.month_in_words}, #{wallet.year}", credit_wallet_credit_wallet_transactions_path(wallet), class: 'no-decoration', target: '_top' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class='row transaction-line-item-row'>
    <div class='col-6'>
      Beginning credits for month:
    </div>
    <div class='col-6'>
      <%= number_with_delimiter(@credit_wallet.total_credits_for_month) %>
    </div>
  </div>
  <% @credit_wallet.transactions.includes(:record_responsible_for_charge).group_by{ |transaction| transaction.human_reason }.each do |reason_for_transaction, transaction_collection| %>
    <div class='row transaction-line-item-row'>
      <div class='col-6 transaction-reason-title'>
        <% if ['Uptime Checks', 'Release Checks'].includes?(reason_for_transaction) %>
          <%= transaction_collection.sum{ |transaction| transaction.record_responsible_for_charge.num_records_for_debited_date_range } * transaction_collection.count %> <i><%= reason_for_transaction %></i>
        <% else %>
          <%= transaction_collection.count %> <i><%= reason_for_transaction %>s</i>
        <% end %>
      </div>
      <% total_credits_used = transaction_collection.sum(&:credits_used) %>
      <% is_debit = total_credits_used.positive? %>
      <div class='col-6 transaction-cost-title <%= is_debit ? 'debit' : 'negative' %>' style='<%= is_debit ? 'padding-left: 50px;' : nil %>'>
        <%= is_debit ? '-' : '+' %> <%= total_credits_used.round(2) %>
      </div>
    </div>
  <% end %>
  <div class='row transaction-line-item-row'>
    <div class='col-6'>
      Total credits used:
    </div>
    <div class='col-6 total-credits-used'>
      <span class='w-fit'>
        <%= number_with_delimiter(@credit_wallet.credits_used) %> (<%= number_with_delimiter(@credit_wallet.percent_used) %>)
      </span>
    </div>
  </div>
</div>