<%= form_with url: tag_additional_tags_to_inject_during_audit_index_path(tag), data: { controller: 'loading_form' } do %>
  <div class='d-flex'>
    <select name='tag_to_inject_uid' class='form-select'>
      <option selected disable>Select additional tag</option>
      <% injectable_tags.each do |tag_to_inject| %>
        <option value="<%=tag_to_inject.uid%>">
          <% if tag_to_inject.has_friendly_name? %>
            <%= tag_to_inject.try_friendly_name %> (<%= tag_to_inject.url_based_on_preferences %>)
          <% else %>
            <%= tag_to_inject.url_based_on_preferences %>
          <% end %>
        </option>
      <% end %>
    </select>
    <%= loading_submit_button 'Add', button_class: 'square' %>
  </div>
<% end %>