<%= turbo_frame_tag "tag_#{tag.uid}_additional_tags_to_inject_during_audit" do %>
  <%= render 'additional_tags_to_inject_during_audit/form', tag: tag, injectable_tags: injectable_tags %>
  <% tag.additional_tags_to_inject_during_audit.includes(:tag_to_inject).each do |injectable| %>
    <div class='tagsafe-pill small-text grey removable m-1' data-controller='tooltip' data-bs-toggle='tooltip' title="<%= injectable.tag_to_inject.url_based_on_preferences %>">
      <%= injectable.tag_to_inject.try_friendly_name %>
      <div style='width: 20px'>
        <%= form_with url: tag_additional_tags_to_inject_during_audit_path(tag, injectable), method: :delete, class: 'd-inline', data: { controller: 'loading_form' } do |f| %>
          <span class='remove-btn loading-button w-100' data-controller='feaux_form_submit_button'>
            <span class='submit-text'><i class='fa fa-times'></i></span>
            <%= display_loading_icon size: :tiny %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>