<%= turbo_frame_tag "new_tag_#{tag.uid}_tag_check_regions_to_check" do %>
  <%= form_with url: tag_tag_check_regions_to_check_index_path(tag), html: { class: 'w-fit m-auto' }, data: { controller: 'loading_form' } do |f| %>
    <div class='d-flex'>
      <select class='form-select' name='tag_check_region_id' required>
        <option disabled selected>Select Region</option>
        <% feature_gate_keeper = FeatureGateKeepers::CanTurnUptimeMonitoringOnForTagCheckRegion.new(current_domain) %>
        <%= selectable_tag_check_regions.each do |tag_check_region| %>
          <% if feature_gate_keeper.can_access_feature?(tag_check_region) %>
            <option value="<%= tag_check_region.id %>"><%= tag_check_region.location %></option>
          <% else %>
            <option disabled><%= tag_check_region.location %></option>
          <% end %>
        <% end %>
      </select>
      <%= loading_submit_button 'Add', button_class: 'square' %>
    </div>
  <% end %>
  <% if tag.tag_check_regions_to_check.any? %>
    <div class='mt-2'>
      <% tag.tag_check_regions_to_check.includes(:tag_check_region).each do |tag_check_region_to_check| %>
        <% if !tag_check_region_to_check.user_can_destroy? %>
          <div class='tagsafe-pill grey removable small-text m-1' data-controller='tooltip' data-bs-toggle='tooltip' title="Cannot remove the <%= tag_check_region_to_check.tag_check_region.location %> region, as it is the region used for release monitoring. Turn off Uptime Monitoring if you'd no longer to like to monitor the tag's uptime at all.">
            <%= tag_check_region_to_check.tag_check_region.location %>
          </div>
        <% else %>
          <div class='tagsafe-pill grey removable small-text m-1'>
            <%= tag_check_region_to_check.tag_check_region.location %>
            <%= form_with url: tag_tag_check_regions_to_check_path(tag, tag_check_region_to_check), method: :delete, class: 'd-inline' do |f| %>
              <span class='remove-btn pointer p-1' data-controller='feaux_form_submit_button'><i class='fa fa-times'></i></span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>