<%= turbo_frame_tag "#{domain.uid}_domain_tags_container" do %>
  <div class='col-12'>
    <% if tags.any? %>
      <%= turbo_frame_tag "#{domain.uid}_domain_tags_chart", src: charts_tags_path(current_domain.id, tag_ids: tags.collect(&:id), include_metric_select: true) do %>
        <div class='tagsafe-container text-center'>
          <%= display_loading_spinner %>
        </div>
      <% end %>
      <%= render 'server_loadable_partials/tags/tag_table', tags: tags, domain: domain %>
    <% else %>
      <%= turbo_frame_tag "#{domain.uid}_domain_tags_chart" do %><% end %>
      <%= render 'server_loadable_partials/tags/tag_table', tags: tags, domain: domain %>
    <% end %>
  </div>
<% end %>