<%= turbo_stream_from "#{domain.id}_domain_tags" %>

<%= turbo_frame_tag "#{domain.id}_domain_tags", class: 'tags row' do %>
  <% if tags.any? %>
    <div class='col-12'>
      <div class='tagsafe-container'>
        <%= turbo_frame_tag "#{domain.id}_domain_tags_chart", src: domain_tags_chart_path(current_domain.id, tag_ids: tags.is_third_party_tag.collect(&:id)) do %>
          <%= render 'partials/utils/spinner' %>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <% if local_assigns[:card_format] %>
    <%= render 'server_loadable_partials/tags/tag_cards', tags: tags %>
  <% else %>
    <%= render 'server_loadable_partials/tags/tag_table', tags: tags %>
  <% end %>
<% end %>