<%= link_to tag_path(tag), class: 'no-decoration', target: '_top' do %>
  <div class='tagsafe-table-row'>
    
    <div class='tagsafe-table-data' style='width: 60%'>
      <div class='tag-img-thumbnail-container'>
        <%= image_tag tag.try_image_url, class: 'tag-thumbnail' %>
      </div>
      <div class='tag-name-container' style="word-break: break-all"><%= tag.try_friendly_name %></div>
    </div>

    <div class='tagsafe-table-data' style='width: 17%'>
      <% current_tag_version = tag.current_version %>
      <% if current_tag_version %>
        <% audit = current_tag_version.audit_to_display %>
        <% if audit.nil? %>
          <span>No audits for this release</span>
        <% elsif audit.pending? %>
          <span class='tagsafe-pill tagsafe-blue place-holder-wave'>Audit is currently running</span>
        <% elsif audit.failed? %>
          <span class='tagsafe-pill red'>Audit failed.</span>
        <% elsif audit.successful? %>
          <% 
            color = audit.delta_performance_audit.tagsafe_score >= DeltaPerformanceAudit::TAGSAFE_SCORE_THRESHOLDS[:good] ? 'green' : 
                      audit.delta_performance_audit.tagsafe_score >= DeltaPerformanceAudit::TAGSAFE_SCORE_THRESHOLDS[:warn] ? 'orange' : 'red'
          %>
          <span class='tagsafe-pill <%= color %>'>
            <% current_score = audit.delta_performance_audit.tagsafe_score.round(2) %> 
            <span class='current-tagsafe-score fw-bolder fs-6 p-2'><%= current_score %></span>
            <% previous_primary_audit = current_tag_version.previous_version.primary_audit %>
            <% if previous_primary_audit %>
              <% previous_score = previous_primary_audit.delta_performance_audit.tagsafe_score.round(2) %>
              <% diff_in_score = (current_score - previous_score).round(2) %>
              <% icon_class = diff_in_score.positive? ? 'fas fa-long-arrow-alt-up' : 'fas fa-long-arrow-alt-down' %>
              <span class='difference-in-tagsafe-score'
                    data-controller='tooltip'
                    data-bs-toggle='tooltip'
                    title="TagSafe score <%= diff_in_score.positive? ? 'increased' : 'dropped' %> <%= diff_in_score.abs %> points from the previous version.">
                    <i class="<%=icon_class%>"></i> 
                    <%= diff_in_score %>
              </span>
            <% end %>
          </span>
        <% end %>
      <% else %>
        <span>No tag version recorded</span>
      <% end %>
    </div>

    <div class='tagsafe-table-data' style='width: 17%'><%= tag&.content_changed_at&.formatted_short || 'No releases' %></div>
    <div class='tagsafe-table-data text-end' style='width: 5%'><i class="fas fa-angle-double-right"></i></div>
    <!-- <td><#%= link_to 'View Tag Details', tag_path(tag), target: '_top' %> !-->
  </div>
<% end %>