<%= turbo_frame_tag "#{domain.uid}_domain_tags_table_row_#{tag.uid}" do %>
  <%= link_to tag_path(tag), class: 'no-decoration', target: '_top' do %>
    <div class='tagsafe-table-row clickable <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>'>
      <div class='tagsafe-table-data' style='width: 50%'>
        <div class='tag-img-thumbnail-container'>
          <%= image_tag tag.try_image_url, class: 'tag-thumbnail border' %>
        </div>
        <div class='tag-name-container ms-3' 
              data-controller='tooltip'
              data-bs-toggle='tooltip'
              title="<%=tag.full_url%>">
          <% if tag.has_friendly_name? %>
            <span class='tag-friendly-name tag-row-header d-block'><%= tag.friendly_name %></span>
            <span class='tag-url tag-row-sub-header d-block'><%= tag.url_based_on_preferences %></span>
          <% else %>
            <span class='tag-url d-block'><%= tag.url_based_on_preferences %></span>
          <% end %>
        </div>
      </div>
      <div class='tagsafe-table-data' style='width: 17%'>
        <% audit_to_display = tag.audit_to_display %>
        <%= render 'audits/performance_audit_pill_for_audit', tag: tag, audit: audit_to_display %>
      </div>
      <div class='tagsafe-table-data' style='width: 17%'>
        <% if audit_to_display.nil? %>
          --
        <% else %>
          <%= render 'test_runs/test_results_pill_for_audit', audit: audit_to_display %>
        <% end %>
      </div>
      <div class='tagsafe-table-data' style='width: 17%'><%= tag.last_released_at&.formatted_short || 'No releases' %></div>
      <div class='tagsafe-table-data text-end' style='width: 5%'>
        <span class='link-indicator hover-enlarge'><i class="fas fa-angle-double-right"></i></span>
      </div>
    </div>
  <% end %>
<% end %>