<%= turbo_frame_tag "#{container.uid}_container_tags_table", class: 'container-tags-table-frame' do %>
  <% if tag_snippets.any? || local_assigns[:allow_empty_table] %>
    <div class='p-3'>
      <div class='tagsafe-table tags-table'>
        <div class='tagsafe-table-head square'>
          <div class='tagsafe-table-row header'>
            <div class='tagsafe-table-cell flex-3'>
              
              <div style='max-width: 80%' data-controller='tag-search-input' class='search-input-container <%= local_assigns[:search_query] ? 'expanded' : 'collapsed' %> me-2'>
                <div data-tag-search-input-target='expandBtn' data-action='click->tag-search-input#toggleSearchInput' class='expand-btn w-fit'>
                  <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <form class='search-form d-inline w-fit' method='GET' action='<%= server_loadable_partials_tags_path %>' data-tag-search-input-target='searchForm'>
                  <input type='text' 
                            name='q' 
                            class='form-control d-inline search-input' 
                            value="<%= local_assigns[:search_query] %>" 
                            placeholder='Search tags' 
                            data-tag-search-input-target='searchInput' 
                            data-action='keyup->tag-search-input#searchTags blur->tag-search-input#collapseSearchInput'>
                <div data-tag-search-input-target='loadingIndicator' class='loading-indicator'>
                  <%= display_loading_icon size: :tiny %>
                </div>
                </form>
              </div>

              <span style='max-width: 20%; transition: 500ms width'>Tag</span>
            </div>
            <div class='tagsafe-table-cell'>Tagsafe Score</div>
            <div class='tagsafe-table-cell'>Last release</div>
          </div>
        </div>
        <div class='tagsafe-table-body'>
          <%= turbo_frame_tag "#{container.uid}_container_tags_table_rows" do %>
            <% tag_snippets.each do |tag_snippet| %>
              <%= render 'server_loadable_partials/tags/tag_table_row', tag_snippet: tag_snippet, container: container %>
            <% end %>
          <% end %>
        </div>
      </div>

      <% if tag_snippets.any? %>
        <div class="pagination-container text-center">
          <%= paginate tag_snippets %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>