<%= turbo_frame_tag "#{domain.uid}_domain_tags_table_row_#{tag.uid}" do %>
  <%= link_to tag_path(tag), class: 'no-decoration', target: '_top' do %>
    <div class='tagsafe-table-row clickable <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>'>
      <div class='tagsafe-table-data' style='width: 50%'>
        <div class='tag-img-thumbnail-container'>
          <%= image_tag tag.try_image_url, class: 'tag-thumbnail border' %>
        </div>
        <div class='tag-name-container' style="word-break: break-all"><%= tag.try_friendly_name %></div>
      </div>
      <div class='tagsafe-table-data' style='width: 17%'>
        <% if tag.current_version %>
          <%= render 'audits/primary_audit_for_tag_version_pill', tag: tag, tag_version: tag.current_version %>
        <% else %>
          --
        <% end %>
      </div>
      <div class='tagsafe-table-data' style='width: 17%'>
        <%= render 'test_runs/test_results_for_audit', audit: tag.current_version&.audit_to_display %>
      </div>
      <div class='tagsafe-table-data' style='width: 17%'><%= tag.content_changed_at&.formatted_short || 'No releases' %></div>
      <div class='tagsafe-table-data text-end' style='width: 5%'>
        <span class='link-indicator hover-enlarge'><i class="fas fa-angle-double-right"></i></span>
      </div>
    </div>
  <% end %>
<% end %>