<%= turbo_frame_tag "#{container.uid}_page_loads_chart" do %>
  <div class='col-12'>
    <div class='row'>
      <div class='col-6'>
        <%= render 'charts/time_range_selector', 
                    chart_data_endpoint: charts_page_loads_path(page_url_uid: page_url.uid, page_load_performance_metric_types: page_load_performance_metric_types),
                    selected_range: time_range %>
      </div>
      <div class='col-6 d-flex flex-column align-items-end'>
        <div class="dropdown-container ps-3 pe-3 m-2">
          <div class='dropdown-display-container' data-controller='dropdown' data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-offset="0,15">
            <i class="metric-icon fa-solid fa-chart-line"></i>  <%= page_url.friendly_url %>
            <span class='dropdown-indicator d-inline'>
              <i class="fa-solid fa-chevron-up"></i>
            </span>
          </div>
          <div class="dropdown-menu dropdown-menu-center p-3">
            <div class='dropdown-title'>
              Page URL
            </div>
            <div class='dropdown-divider'></div>
            <% container.page_urls.each do |page_url_option| %>
              <%= link_to page_url_option.friendly_url, charts_page_loads_path(page_url_uid: page_url_option.uid, time_range: time_range, page_load_performance_metric_types: page_load_performance_metric_types), class: "dropdown-item #{page_url_option == page_url ? 'active' : nil}" %>
            <% end %>
          </div>
        </div>
        <div class="dropdown-container ps-3 pe-3 m-2">
          <div class='dropdown-display-container' data-controller='dropdown' data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-offset="0,15">
            <i class="metric-icon fa-solid fa-chart-line"></i>  <%= page_load_performance_metric_names.join(', ') %>
            <span class='dropdown-indicator d-inline'>
              <i class="fa-solid fa-chevron-up"></i>
            </span>
          </div>
          <div class="dropdown-menu dropdown-menu-center p-3">
            <div class='dropdown-title'>
              Performance metrics
            </div>
            <div class='dropdown-divider'></div>
            <% PageLoadPerformanceMetric::TYPES.each do |performance_metric_klass| %>
              <% is_applied = page_load_performance_metric_types.include?(performance_metric_klass) %>
              <% duped_page_load_performance_metric_types = page_load_performance_metric_types.dup %>
              <% is_applied ? duped_page_load_performance_metric_types.delete(performance_metric_klass) : duped_page_load_performance_metric_types << performance_metric_klass %>
              <%= link_to charts_page_loads_path(page_url_uid: page_url.uid, time_range: time_range, page_load_performance_metric_types: duped_page_load_performance_metric_types), 
                          class: "dropdown-item #{is_applied ? 'active' : nil}" do %>
                <% if is_applied %>
                  <%= HtmlHelper.PASSED_ICON %>
                <% end %>
                <%= performance_metric_klass.constantize.friendly_name %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-controller='streamed-script-tag'>
    <%= line_chart chart_data,
                    id: 'page-performance',
                    title: 'Page Performance',
                    ytitle: 'ms',
                    messages: { empty: "No page performance data for #{page_url.friendly_url} within last #{time_range.to_s.gsub('_', ' ')}." } %>
  </div>
  <div data-controller='streamed-script-tag'>
    <%= line_chart tagsafe_optimizations_chart_data,
                    id: 'tagsafe-optimizations',
                    title: 'Tagsafe Optimizations',
                    ytitle: 'Number of tags',
                    messages: { empty: "No page performance data for #{page_url.friendly_url} within last #{time_range.to_s.gsub('_', ' ')}." } %>
  </div>
<% end %>