<%= turbo_frame_tag "domain_audit_#{domain_audit.uid}_results_component", class: 'results-component' do %>
  <% if url_crawl.complete? %>
    <%= render 'domain_audits/progress_indicators', 
                                      domain_audit: domain_audit,
                                      current_view_num: 1, 
                                      next_button_url: individual_bytes_breakdown_domain_audit_path(domain_audit), 
                                      next_button_text: 'Size of Tags' %>
    <div class='loading-indicator'>
      <%= display_loading_icon %>
    </div>
    <div class='content'>
      <% if url_crawl.failed? %>
        <h4>We seem to be having trouble generating some of the third party impact results for <%= current_domain.url %></h4>
        <h5><%= url_crawl.error_message %></h5>
      <% else %>
        <div class='domain-audit-component-explanation-container'>
          <h4 class='domain-audit-component-title alfa-slab'>How much third party code is on <%= current_domain.url_hostname %>?</h4>
          <p class='domain-audit-component-description'>
            The <%= num_third_party_tags %> third party tags present on <%= domain_audit.page_url.full_url %> make up <b><%= url_crawl.percent_of_js_is_third_party %>%</b> of the javascript on the page.
            <% if url_crawl.percent_of_js_is_third_party > 50 %>
              In other words, over <i>half</i> of the code running on your site is controlled by someone else.
            <% end %>
          </p>
        </div>
        <div data-controller='streamed-script-tag'>
          <%= pie_chart(pie_chart_data, donut: true, thousands: ',', label: 'Bytes', legend: true, legend: 'bottom') %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>