<%= turbo_frame_tag "domain_audit_#{domain_audit.uid}_performance_impact", class: 'results-component' do %>
  <%= render 'domain_audits/progress_indicators', 
                                      domain_audit: domain_audit, 
                                      current_view_num: 2,
                                      back_button_url: global_bytes_breakdown_domain_audit_path(domain_audit), 
                                      back_button_text: 'JS Breakdown', 
                                      next_button_url: domain_audit.pending? ? nil : speed_index_domain_audit_path(domain_audit),
                                      next_button_text: 'Speed Index',
                                      frame_to_replace: "domain_audit_#{domain_audit.uid}_performance_impact" %>
  <div class='loading-indicator'>
    <%= display_loading_icon %>
  </div>
  <div class='content'>
    <% if domain_audit.pending? %>
      <h4>Just a moment, putting finishing touches and calculating impact of third party tags on <%= domain_audit.domain.url %>...</h4>
      <%= display_loading_icon %>
    <% else %>
      <div class='domain-audit-component-explanation-container'>
        <h4 class='domain-audit-component-title alfa-slab'>OK, but are they actually impacting performance?</h4>
        <p class='domain-audit-component-description'>
          <% if most_negative_performance_metric.percent_responsible >= 30 %>
            Your tags are responsible for <%= most_negative_performance_metric.percent_responsible %>% of your 
            <%= most_negative_performance_metric.friendly_metric_name %> time (<%= PerformanceMetricsDictionary.METRIC_DEFINITIONS[most_negative_performance_metric.metric_slug] %>). In other words, if you had zero 
            third party tags on <%= domain_audit.page_url.full_url %> your <%= most_negative_performance_metric.friendly_metric_name %> 
            time would be <%= (100 / (100.0 - most_negative_performance_metric.percent_responsible)).round(2) %> times quicker.
          <% end %>
        </p>
      </div>
      <div class='row align-items-end'>
        <%= render 'domain_audits/performance_impact_row',
                      title: 'Third Party Main Thread JS Execution', 
                      metric: average_delta_performance_audit.main_thread_execution_tag_responsible_for_delta, 
                      metric_percent: ((average_delta_performance_audit.main_thread_execution_tag_responsible_for_delta/average_delta_performance_audit.entire_main_thread_execution_ms_delta) * 100).round(2),
                      metric_percent_title: "Main Thread Execution",
                      metric_help_description: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:main_thread_execution_tag_responsible_for]
        %>
        <%= render 'domain_audits/performance_impact_row',
                      title: 'Speed Index', 
                      metric: average_delta_performance_audit.speed_index_delta,
                      metric_percent: average_delta_performance_audit.speed_index_percentage,
                      metric_help_description: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:speed_index]
        %>
      </div>
      <div class='row align-items-end'>
        <%= render 'domain_audits/performance_impact_row',
                      title: 'DOM Complete', 
                      metric: average_delta_performance_audit.dom_complete_delta, 
                      metric_percent: average_delta_performance_audit.dom_complete_percentage,
                      metric_help_description: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:dom_complete]
        %>
        <%= render 'domain_audits/performance_impact_row',
                      title: 'DOM Interactive', 
                      metric: average_delta_performance_audit.dom_interactive_delta,
                      metric_percent: average_delta_performance_audit.dom_interactive_percentage,
                      metric_help_description: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:dom_interactive]
        %>
      </div>
      <div class='row align-items-end'>
        <%= render 'domain_audits/performance_impact_row',
                      title: 'DOM Content Loaded',
                      metric: average_delta_performance_audit.dom_content_loaded_delta,
                      metric_percent: average_delta_performance_audit.dom_content_loaded_percentage,
                      metric_help_description: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:dom_content_loaded]
          %>
        <%= render 'domain_audits/performance_impact_row',
                      title: 'First Contentful Paint',
                      metric: average_delta_performance_audit.first_contentful_paint_delta,
                      metric_percent: average_delta_performance_audit.first_contentful_paint_percentage,
                      metric_help_description: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:first_contentful_paint]
          %>
      </div>
      <div class='row align-items-end'>
        <%= render 'domain_audits/performance_impact_row',
                      title: 'Script Duration', 
                      metric: average_delta_performance_audit.script_duration_delta, 
                      metric_percent: average_delta_performance_audit.script_duration_percentage,
                      metric_help_description: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:script_duration]
        %>
        <%= render 'domain_audits/performance_impact_row',
                      title: 'Task Duration', 
                      metric: average_delta_performance_audit.task_duration_delta, 
                      metric_percent: average_delta_performance_audit.task_duration_percentage, 
                      metric_help_description: PerformanceMetricsDictionary.METRIC_DEFINITIONS[:task_duration]
        %>
      </div>
    <% end %>
  </div>
<% end %>