<%= turbo_frame_tag "domain_audit_#{domain_audit.uid}_performance_results", class: 'col-xs-12 col-md-6' do %>
  <div class='row'>
    <%= render 'domain_audits/metric_tile', 
                  streamed: local_assigns[:streamed], 
                  title: 'DOM Complete', 
                  metric: average_delta_performance_audit.dom_complete_delta, 
                  metric_percent: average_delta_performance_audit.dom_complete_percentage,
                  metric_help_description: "All of the processing is complete and all of the resources on the page (images, stylesheets, javascript etc.) have finished downloading - in other words, the loading spinner has stopped spinning." 
    %>
    <%= render 'domain_audits/metric_tile', 
                  streamed: local_assigns[:streamed], 
                  title: 'DOM Interactive', 
                  metric: average_delta_performance_audit.dom_interactive_delta,
                  metric_percent: average_delta_performance_audit.dom_interactive_percentage,
                  metric_help_description: "Marks the point when the browser has finished parsing all of the HTML and DOM construction is complete." 
    %>
  </div>
  <div class='row'>
    <%= render 'domain_audits/metric_tile', 
                  streamed: local_assigns[:streamed], 
                  title: 'DOM Content Loaded',
                  metric: average_delta_performance_audit.dom_content_loaded_delta,
                  metric_percent: average_delta_performance_audit.dom_content_loaded_percentage,
                  metric_help_description: "Typically marks when both the DOM and CSSOM are ready. If there is no parser blocking JavaScript then DOMContentLoaded will fire immediately after DOM Interactive." 
      %>
    <%= render 'domain_audits/metric_tile', 
                  streamed: local_assigns[:streamed], 
                  title: 'First Contentful Paint',
                  metric: average_delta_performance_audit.first_contentful_paint_delta,
                  metric_percent: average_delta_performance_audit.first_contentful_paint_percentage,
                  metric_help_description: "Occurs when a browser first renders any content from the document object model (DOM), including any text, images, non-white canvas, or scalable vector graphics (SVG) onto the page." 
      %>
  </div>
  <div class='row'>
    <%= render 'domain_audits/metric_tile', 
                  streamed: local_assigns[:streamed], 
                  title: 'Script Duration', 
                  metric: average_delta_performance_audit.script_duration_delta, 
                  metric_percent: average_delta_performance_audit.script_duration_percentage,
                  metric_help_description: "Combined duration of all JavaScript execution" 
    %>
    <%= render 'domain_audits/metric_tile', 
                  streamed: local_assigns[:streamed], 
                  title: 'Task Duration', 
                  metric: average_delta_performance_audit.task_duration_delta, 
                  metric_percent: average_delta_performance_audit.task_duration_percentage, 
                  metric_help_description: "Combined duration of all tasks performed by the browser." 
    %>
  </div>
<% end %>