<div class='container mb-3'>
  <div class='row'>
    <div class='col-5 text-start'>
      <% if local_assigns[:back_button_url] %>
        <%= link_to back_button_url, class: 'tagsafe-btn' do %>
          <i class="fa-solid fa-arrow-left-long"></i> <%= back_button_text %>
        <% end %>
      <% end %>
    </div>
    <div class='progress-indicators col-2'>
      <% (domain_audit.has_puppeteer_recording? ? 5 : 4).times do |i| %>
        <div class='progress-indicator <%= (domain_audit.has_puppeteer_recording? ? current_view_num : current_view_num) > i ? "filled" : nil %>'></div>
      <% end %>
    </div>
    <div class='col-5 text-end'>
      <% if local_assigns[:next_button_url] %>
        <%= link_to next_button_url, class: 'tagsafe-btn' do %>
          <%= next_button_text %> <i class="fa-solid fa-arrow-right-long"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>