<div class='container mb-3'>
  <div class='row'>
    <div class='col-5 text-start'>
      <% if local_assigns[:back_button_url] %>
        <%= form_with url: back_button_url, method: :get, data: { controller: 'loading_form' } do |f| %>
          <%= f.hidden_field :frame_to_replace, value: local_assigns[:frame_to_replace] || "domain_audit_#{domain_audit.uid}_results_component" %>
          <%= loading_submit_button do %>
            <i class="fa-solid fa-arrow-left-long"></i> <%= back_button_text %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class='progress-indicators col-2'>
      <% (domain_audit.has_puppeteer_recording? ? 6 : 5).times do |i| %>
        <div class='progress-indicator <%= (domain_audit.has_puppeteer_recording? ? current_view_num : current_view_num) > i ? "filled" : nil %>'></div>
      <% end %>
    </div>
    <div class='col-5 text-end'>
      <% if local_assigns[:next_button_url] %>
        <%= form_with url: next_button_url, method: :get, data: { controller: 'loading_form' } do |f| %>
          <%= f.hidden_field :frame_to_replace, value: local_assigns[:frame_to_replace] || "domain_audit_#{domain_audit.uid}_results_component" %>
          <%= loading_submit_button do %>
            <%= next_button_text %> <i class="fa-solid fa-arrow-right-long"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>