<% content_for :head do %>
  <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
  <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
<% end %>

<%= turbo_frame_tag "domain_audit_#{domain_audit.uid}_details" do %>
  <div class='domain-audit-breakdown-container container-fluid'>
    <div class='col-12'>
      <% if domain_audit.url_crawl.pending? %>
        <%= render 'domain_audits/pending', domain_audit: domain_audit %>
      <% elsif domain_audit.url_crawl.failed? %>
        <div class='text-center p-5'>
          <h4>We seem to be having some trouble running Tagsafe audits on <%= domain_audit.page_url.full_url %>. Please reach out to us at <a href='mailto:help@tagsafe.io'>help@tagsafe.io</a> and we'd be happy to work with you to enable successful Tagsafe audits on your site.</h4>
        </div>
      <% else %>
        <div class='tagsafe-containerz text-center p-5'>
          <%= turbo_frame_tag "domain_audit_#{domain_audit.uid}_results_component", class: 'results-component', src: global_bytes_breakdown_domain_audit_path(domain_audit) do %>
            <div class='text-center'>
              <%= display_loading_icon %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>