<%= turbo_frame_tag "domain_audit_#{current_domain_audit.uid}_results_component", class: 'results-component' do %>
  <%= render 'domain_audits/progress_indicators', 
                                      domain_audit: current_domain_audit, 
                                      current_view_num: 3,
                                      back_button_url: performance_impact_domain_audit_path(current_domain_audit), 
                                      back_button_text: 'Performance Impact', 
                                      next_button_url: current_domain_audit.has_puppeteer_recording? ? puppeteer_recording_domain_audit_path(current_domain_audit) : tag_list_domain_audit_path(current_domain_audit),
                                      next_button_text: current_domain_audit.has_puppeteer_recording? ? 'Watch Page Load Playback' : 'Individual Tag Impact' %>
  <div class='loading-indicator'>
    <%= display_loading_icon %>
  </div>
  <div class='content'>
    <% if current_domain_audit.pending? %>
      <h4>Just a moment, putting finishing touches and calculating impact of third party tags on <%= current_domain_audit.domain.url %>...</h4>
      <%= display_loading_icon %>
    <% else %>
      <div class='domain-audit-component-explanation-container'>
        <h4 class='domain-audit-component-title alfa-slab'>What is the impact to the visual page load?</h4>
        <p class='domain-audit-component-description'>
          One way Tagsafe measures the performance impact of third party tags is through the <i>Speed Index</i> performance metric. We capture a filmstrip of the page load,
          then compare each subsequent frames individual pixels' to calculate the <i>Speed Index</i> score. The lower the Speed Index, the quicker the page load.
        </p>
        <% if average_delta_performance_audit_speed_index > 0 %>
          <h4>Your third party tags add <%= number_to_human(average_delta_performance_audit_speed_index, { unit: 'ms', thousands: 'seconds' }) %> to your Speed Index.
        <% end %>
      </div>
      <%= turbo_frame_tag "audit_#{current_domain_audit.uid}_performance_audit_speed_index_result", src: tag_performance_audit_speed_index_result_index_path(current_domain_audit, current_domain_audit, is_for_domain_audit: true) do %>
        <div class='tagsafe-container p-5 text-center'>
          <%= display_loading_icon %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>