<%= turbo_frame_tag "audit_#{audit.uid}_pending_functional_tests_pill" do %>
  <% percent_complete = audit.functional_tests_percent_complete %>
  <div id="audit-<%=audit.uid %>-performance-audit-progress" class='tagsafe-pill loading-indicator <%= percent_complete.zero? ? 'pulsate-border' : nil%> <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>'
        data-controller='tooltip'
        data-bs-toggle='tooltip'
        title="Audit has completed <%= audit.test_runs_with_tag.not_retries.completed.count %> of the <%= audit.num_functional_tests_to_run_including_without_tag_validation_runs %> functional tests.">
    <span class='text'>Running</span>
    <div class='fill' style='height: <%= percent_complete %>%'></div>
  </div>
<% end %>