<%= turbo_frame_tag "test_run_#{test_run.uid}" do %>
  <% if test_run.pending? %>
    <div class='text-center'>
      <h4>Test is running...</h4>
      <%= display_loading_spinner %>
    </div>
  <% elsif test_run.failed? %>
    <div class="alert alert-danger text-center" role="alert">
      <i class="fas fa-exclamation-triangle"></i> Test failed
    </div>
    <div class='test-run-results failed'>
      <h5><%= test_run.results %></h5>
    </div>
    <% if test_run.puppeteer_recording %>
      <%= render 'puppeteer_recordings/show', puppeteer_recording: test_run.puppeteer_recording %>
    <% end %>
    <% if local_assigns[:show_update_form_if_failed] && test_run.is_a?(DryTestRun) %>
      <%= render 'functional_tests/show', functional_test: functional_test %>
    <% end %>
  <% else %>
    <h4>Test passed.</h4>
    <% if functional_test.expected_results %>
      <h5>Test returned the expected value of <%= functional_test.expected_results %></h5>
    <% else %>
      <h5>Test completed without failure</h5>
    <% end %>
  <% end %>
  <div class='test-logs-code-block mb-3'><%= test_run.logs&.html_safe %></div>
  <div class='col-12'>
    <% test_run.screenshots.each do |screenshot| %>
      <div class='test-run-screenshot-container col-4 full-screenable pointer full-height no-background' data-controller='full-screen-expandable' data-full-screen-expandable-target='expandable' data-action='click->full-screen-expandable#toggle'>
        <div class='shadow-background'></div>
        <div class='test-run-screenshot-filename'><%= screenshot.name %></div>
        <%= image_tag screenshot.s3_url, class: 'img-fluid' %>
      </div>
    <% end %>
  </div>
<% end %>