<%= turbo_frame_tag "test_run_#{test_run.uid}" do %>
  <%= link_to functional_test_test_run_path(functional_test, test_run), class: 'no-decoration', target: '_top' do %>
    <div class='tagsafe-table-row'>
      <div class='tagsafe-table-data' style='width: 25%'><%= test_run.enqueued_at.formatted_short %></div>
      <div class='tagsafe-table-data' style='width: 25%'><%= test_run.functional_test.title %></div>
      <div class='tagsafe-table-data' style='width: 25%'><%= test_run.class.friendly_class_name %></div>
      <div class='tagsafe-table-data' style='width: 25%'>
        <% if test_run.pending? %>
          <h6>Test is running...</h6>
          <%= display_loading_spinner size: :tiny %>
        <% elsif test_run.passed? %>
          <span class='test-run-icon passed green-text'><i class='far fa-check-circle'></i> Passed</span>
        <% elsif test_run.failed? %>
          <span class='test-run-icon failed red-text'><i class='far fa-times-circle'></i> Failed</span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>