<% if audit %>
  <% if !audit.include_functional_tests %>
    <span class='tagsafe-pill grey small-text'>Tests disabled</span>
  <% else %>
    <% if audit.num_functional_tests_to_run.zero? %>
      <span class='tagsafe-pill grey small-text'>No tests configured</span>
    <% else %>
      <% if audit.functional_tests_pending? %>
        <%= turbo_stream_from "audit_#{audit.uid}_pending_functional_tests_pill_stream" %>
        <%= render 'test_runs/pending_pill_for_audit', audit: audit %>
      <% elsif audit.passed_all_functional_tests? %>
        <div class='position-relative'>
          <div class='tagsafe-pill green'><%= HtmlHelper.PASSED_ICON %> <span class='text'><%= audit.display_functional_test_results %></span></div>
          <% num_inconclusive_tests = audit.num_inconclusive_functional_tests %>
          <% unless num_inconclusive_tests.zero? %>
            <span class='badge rounded-pill bg-warning position-absolute top-0 start-100 translate-middle'
                  data-controller='tooltip' 
                  data-bs-toggle='tooltip' 
                  title="<%= num_inconclusive_tests > 1 ? "#{num_inconclusive_tests} tests are" : "1 test is" %> inconclusive, likely because the test is outdated and no longer able to pass on your site.">
              <%= HtmlHelper.WARNING_ICON %>
            </span>
          <% end %>
        </div>
      <% else %>
        <div class='position-relative'>
          <div class='tagsafe-pill red'><%= HtmlHelper.FAILED_ICON %> <span class='text'><%= audit.display_functional_test_results %></span></div>
          <% num_inconclusive_tests = audit.num_inconclusive_functional_tests %>
          <% unless num_inconclusive_tests.zero? %>
            <span class='badge rounded-pill bg-warning position-absolute top-0 start-100 translate-middle'
                  data-controller='tooltip' 
                  data-bs-toggle='tooltip' 
                  title="<%= num_inconclusive_tests > 1 ? "#{num_inconclusive_tests} tests are" : "1 test is" %> inconclusive, likely because the test is outdated and no longer able to pass on your site.">
              <%= HtmlHelper.WARNING_ICON %>
            </span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  --
<% end %>