<%= turbo_frame_tag "test_run_#{test_run.uid}_row" do %>
  <%= link_to local_assigns[:for_audit] ? 
                functional_test_test_run_path(test_run.functional_test, test_run, for_audit: true) : 
                functional_test_test_run_path(test_run.functional_test, test_run), 
                class: 'no-decoration', target: '_top' do %>
    <div class='tagsafe-table-row hoverable <%= local_assigns[:streamed] ? 'tagsafe-illuminate' : nil %>'>
      <% unless columns_to_exclude.include?('Date') %>
        <div class='tagsafe-table-cell'><%= test_run.enqueued_at&.formatted_short || 'Enqueued' %></div>
      <% end %>
      <% unless columns_to_exclude.include?('Test') %>
        <div class='tagsafe-table-cell'>
          <span class='table-row-header underline-hover'><%= test_run.functional_test.title %> <%= test_run.is_retry? ? "(retry)" : nil %></span>
        </div>
      <% end %>
      <% unless columns_to_exclude.include?('Description') %>
        <div class='tagsafe-table-cell'><%= test_run.functional_test.description %></div>
      <% end %>
      <% unless columns_to_exclude.include?('Type of Test') %>
        <div class='tagsafe-table-cell'><%= test_run.class.friendly_class_name %></div>
      <% end %>
      <% unless columns_to_exclude.include?('Results') %>
        <div class='tagsafe-table-cell'>
          <% if test_run.pending? %>
            <div class='tagsafe-pill tagsafe-primary-purple'>
              <%= display_loading_spinner size: :tiny %> <span class='text'>Test is running</span>
            </div>
          <% elsif test_run.inconclusive? %>
            <div class='tagsafe-pill orange' data-controller='tooltip' bs-toggle='tooltip' title='The test failed, however it also failed when the tag was not present. Please update the test as it likely is no longer able to pass.'>
              <%= HtmlHelper.QUESTION_MARK_ICON(color: 'orange') %> <span class='text'>Inconclusive</span>
            </div>
          <% elsif test_run.passed? %>
            <div class='tagsafe-pill green'>
              <%= HtmlHelper.PASSED_ICON(color: 'green') %> <span class='text'>Passed</span>
            </div>
          <% elsif test_run.failed? %>
            <div class='tagsafe-pill red'>
              <%= HtmlHelper.FAILED_ICON(color: 'red') %> <span class='text' data-controller='tooltip' bs-toggle='tooltip' title='The test failed with an error of: <%= test_run.error_message %>'>Failed</span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>