<%= turbo_stream_from "functional_test_#{@functional_test.uid}_test_runs_list_view" %>

  <div class='page-title-container'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-8'>
          <h1 class="page-title with-sub-title"><%= @functional_test.title %></h1>
          <h2 class='page-sub-title'><%= @functional_test.description %></h2>
        </div>
        <div class='col-4 page-title-cta-container'>
        </div>
      </div>
    </div>
    <%= render 'functional_tests/nav' %>
  </div>

<% if @test_runs.any? %>
  <%= render 'test_runs_table', test_runs: @test_runs, turbo_frame_tag_name: "functional_test_#{@functional_test.uid}_test_runs" %>
<% else %>
  <div class='p-5 text-center'>
    <h4>No tests run.</h4>
  </div>
<% end %>