<%= turbo_stream_from "functional_test_#{@functional_test.uid}_test_runs_list_view" %>

<h1 class='page-title with-sub-title'><%= @functional_test.title %></h1>
<h2 class='page-sub-title'><%= @functional_test.description %></h2>

<%= render 'functional_tests/nav' %>

<% if @test_runs.any? %>
  <div class='tagsafe-container p-0'>
    <%= render 'test_runs_table', test_runs: @test_runs, turbo_frame_tag_name: "functional_test_#{@functional_test.uid}_test_runs" %>
  </div>
<% else %>
  <div class='p-5 text-center'>
    <h4>No tests run.</h4>
  </div>
<% end %>