<%= render_as_modal title: 'Staged Changes' do %>
  <%= form_with url: promote_tags_path, data: { controller: 'loading_form' } do |f| %>
    <div class='tagsafe-modal-body text-start'>
      <div class='col-12 review-staged-changes-container'>
        <div class='row'>
          <div class='col-2'>
          </div>
          <div class='col-10'>
            <div class='row'>
              <div class='col-6'>
                <h3 class='header-description'>Currently live tag configurations</h3>
              </div>
              <div class='col-6'>
                <h3 class='header-description'>Staged tag configurations</h3>
              </div>
            </div>
          </div>
        </div>
        <% tags_with_staged_changes.each do |tag| %>
          <div class='row staged-change-row'>
            <div class='col-2 d-flex align-items-center justify-content-center'>
              <input type='checkbox' name='tag_uids_to_promote[]' value='<%= tag.uid %>' id='tag_to_promote_<%= tag.uid %>' checked>
            </div>
            <div class='col-10'>
              <div class='row'>
                <label for='tag_to_promote_<%= tag.uid %>' class='col-12'>
                  <h4 class='text-center'><%= tag.try_friendly_name %></h4>
                  <div class='row'>
                    <div class='col-6 d-flex align-items-center'>
                      <% if tag.live_tag_configuration.nil? %>
                        <span class='tag-config live'>Tag not live</span>
                      <% else %>
                        <span class='tag-config live d-block'>Host from Tagsafe?: <%= tag.live_tag_configuration.is_tagsafe_hosted.to_s || 'N/A' %></span>
                        <span class='tag-config live d-block'>Script resource load rule: <%= tag.live_tag_configuration.load_type || 'N/A' %></span>
                        <span class='tag-config live d-block'>Script location: <%= tag.live_tag_configuration.script_inject_location %></span>
                        <span class='tag-config live d-block'>Script inject event: <%= tag.live_tag_configuration.script_inject_event %></span>
                        <span class='tag-config live d-block'>Release check frequency: <%= tag.live_tag_configuration.release_check_interval_in_words %></span>
                        <span class='tag-config live d-block'>Script is enabled?: <%= tag.live_tag_configuration.enabled.to_s %></span>
                      <% end %>
                    </div>
                    <div class='col-6 text-start'>
                      <span class='tag-config live d-block'>Host from Tagsafe?: <%= tag.draft_tag_configuration.is_tagsafe_hosted.to_s || 'N/A' %></span>
                      <span class='tag-config live d-block'>Script resource load rule: <%= tag.draft_tag_configuration.load_type || 'N/A' %></span>
                      <span class='tag-config live d-block'>Script location: <%= tag.draft_tag_configuration.script_inject_location %></span>
                      <span class='tag-config live d-block'>Script inject event: <%= tag.draft_tag_configuration.script_inject_event %></span>
                      <span class='tag-config live d-block'>Release check frequency: <%= tag.draft_tag_configuration.release_check_interval_in_words %></span>
                      <span class='tag-config live d-block'>Script is enabled?: <%= tag.draft_tag_configuration.enabled.to_s %></span>
                    </div>
                  </div>
                </div>
              </label>
            </div>
          </div>
        <% end %>
      </div>
      <div class='tagsafe-modal-divider mt-2'></div>
        <div class='tagsafe-modal-footer text-end'>
          <%= submit_loading_button 'Promote to production' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>