<div data-controller='alert-form'>
  <% if alert_configuration.errors.any? %>
    <div class="alert alert-danger mb-3 mt-3 text-center" role="alert">
      <i class="fas fa-exclamation-circle"></i> <%= alert_configuration.errors.full_messages.join("\n") %>
    </div>
  <% end %>
  <%= form_with model: alert_configuration, data: { controller: 'loading_form' } do |f| %>
    <div class='form-floating'>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name of alert', required: true %>
      <label>Name of alert</label>
    </div>
    <div class='form-floating mt-3'>
      <select name='alert_configuration[type]' 
              class='form-select w-fit' 
              data-alert-form-target='alertTypeDropdown'
              data-action='change->alert-form#updateFormVisibility'
              required>
        <option disabled selected>Select type of alert</option>
        <% AlertConfiguration.TYPES.each do |type_klass| %>
          <option value='<%= type_klass.to_s %>'><%= type_klass.user_facing_alert_name %></option>
        <% end %>
      </select>
      <label>Alert Type</label>
    </div>
    <div class='form-check form-switch mt-3'>
      <input type='checkbox' 
              name='alert_configuration[enabled_for_all_tags]' 
              id='enable-for-all-tags' 
              class='form-check-input' 
              value='true'
              data-action='change->alert-form#toggleTagSelector'>
      <label for='enable-for-all-tags'>Subscribe all current and future tags</label>
    </div>
    <div class='form-floating mt-3 me-2' data-controller='custom-dropdown-inject-input' data-alert-form-target='tagSelector' data-custom-dropdown-inject-input-injected-input-name-value="tag_uids[]">
      <div class='dropdown-container w-fit d-inline-block'>
        <div class='dropdown-display-container' data-controller='dropdown' data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-offset="0,15">
          Tags to monitor
          <span class='dropdown-indicator d-inline'>
            <i class="fa-solid fa-chevron-up"></i>
          </span>
        </div>
        <div class="dropdown-menu dropdown-menu-center p-3">
          <% current_container.tags.is_third_party_tag.each do |tag| %>
            <div class='dropdown-item' 
                  data-action='click->custom-dropdown-inject-input#injectAsInput' 
                  data-input-value="<%= tag.uid %>"
                  data-input-text="<%= tag.try_friendly_name %>">
              <%= tag.try_friendly_name %>
            </div>
          <% end %>
        </div>
      </div>
      <div class='w-fit d-inline-block' data-custom-dropdown-inject-input-target='injectedInputContainer'>
      </div>
    </div>

    <div class='hidden mt-3 mb-3' data-alert-form-target='auditExceededThresholdFields'>
      <div class='d-flex align-items-center'>
        <span class='me-1 text-center'>Trigger an alert when an audit's</span>
        <div class='form-floating'>
          <select class='form-select' name='trigger_rules[exceeded_metric]'>
            <option disabled>Metric to monitor</option>
            <% PerformanceAuditExceededThresholdAlertConfiguration::MONITORABLE_FIELDS.each do |value_and_name| %>
              <option value="<%= value_and_name[:field] %>" selected><%= value_and_name[:name] %></option>
            <% end %>
          </select>
          <label>Metric to monitor</label>
        </div>
        <span class='m-1'>is</span>
        <div class='form-floating'>
          <select class='form-select' type='number' name='trigger_rules[operator]'>
            <option disabled>Operator</option>
            <option value='less_than' selected>Less than</option>
            <option value='greater_than'>Greater than</option>
          </select>
          <label>Operator</label>
        </div>
        <div class='form-floating'>
          <input class='form-control' type='number' name='trigger_rules[exceeded_metric_value]' value='75.0' step='0.1'/>
          <label>Metric Value</label>
        </div>
      </div>
    </div>

    <div class='mt-3 text-end'>
      <%= loading_submit_button 'Create Alert', type: 'floating' %>
    </div>
  <% end %>
</div>