<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <h1 class='page-title with-sub-title'>Alert Details</h1>
      <h2 class='page-sub-title'><%= @alert_configuration.name %> - <%= @alert_configuration.class.user_facing_alert_name %></h2>
    </div>
  </div>
  <% unless user_is_anonymous? %>
    <%= render 'partials/page_navigation_items', navigation_items: [
      { url: alert_configurations_path, text: 'Alerts' },
      { url: triggered_alerts_path, text: 'Triggered Alerts' }
    ] %>
  <% end %>
</div>

<div class="tagsafe-container p-5 text-center">
  <span class='alert-title'><%= @alert_configuration.name %></span>
  <span class='alert-description d-block'><%= @alert_configuration.trigger_rules_description %>.</span>
  <div class='container-fluid mt-3'>
    <div class='row'>
      <div class='col-6 alert-sub-section text-center'>
        <span class='alert-subs-section-title d-block'>Enabled tags</span>
        <% if @alert_configuration.enable_for_all_tags %>
          <span class='alert-subs-section-title d-block'>Set to trigger for all current and future tags.</span>
        <% else %>
          <% @alert_configuration.tags.each do |tag| %>
            <div class='tagsafe-pill grey m-1'><%= tag.try_friendly_name %></div>
          <% end %>
        <% end %>
      </div>
      <div class='col-6 alert-sub-section text-center'>
        <span class='alert-subs-section-title d-block'>Subscribed users</span>
        <% @alert_configuration.domain_users.each do |domain_user| %>
          <div class='tagsafe-pill grey m-1'><%= domain_user.user.email %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>