<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <h1 class='page-title with-sub-title'>Alert Details</h1>
      <h2 class='page-sub-title'><%= @alert_configuration.name %> - <%= @alert_configuration.class.user_facing_alert_name %></h2>
    </div>
  </div>
  <% unless user_is_anonymous? %>
    <%= render 'partials/page_navigation_items', navigation_items: [
      { url: alert_configurations_path, text: 'Alerts' },
      { url: triggered_alerts_path, text: 'Triggered Alerts' }
    ] %>
  <% end %>
</div>

<div class="tagsafe-container p-5 text-center">
  <span class='alert-title'><%= @alert_configuration.name %></span>
  <span class='alert-description d-block'><%= @alert_configuration.trigger_rules_description %>.</span>
  <div class='container-fluid mt-3'>
    <div class='row'>
      <div class='col-6 alert-sub-section text-center'>
        <span class='alert-subs-section-title d-block'>Enabled tags</span>
        <% if @alert_configuration.enable_for_all_tags %>
          <span class='alert-subs-section-title d-block'>Set to trigger for all current and future tags.</span>
        <% else %>
          <% @alert_configuration.tags.each do |tag| %>
            <div class='tagsafe-pill grey m-1'><%= tag.try_friendly_name %></div>
          <% end %>
        <% end %>
      </div>
      <div class='col-6 alert-sub-section text-center'>
        <span class='alert-subs-section-title d-block'>Subscribed users</span>
        <% @alert_configuration.domain_users.each do |domain_user| %>
          <div class='tagsafe-pill grey m-1'><%= domain_user.user.email %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class='tagsafe-container'>
  <% if @alert_configuration.triggered_alerts.any? %>
    <div class='text-center mb-3'>
      <span class='alert-title'>Triggered alerts</span>
    </div>
    <div class='tagsafe-table'>
      <div class='tagsafe-table-row header'>
        <div class='tagsafe-table-cell flex-3'>Responsible tag</div>
        <div class='tagsafe-table-cell'><%= @alert_configuration.trigger_rules.human_exceeded_metric(capitalize: true) %> value</div>
        <div class='tagsafe-table-cell'>Date of alert</div>
        <div class='tagsafe-table-cell flex-0'></div>
      </div>
      <% @alert_configuration.triggered_alerts.each do |triggered_alert| %>
        <div class='tagsafe-table-row'>
          <div class='tagsafe-table-cell flex-3'>
            <% if tag.has_image? %>
              <%= image_tag triggered_alert.tag.try_image_url, class: 'tag-thumbnail border me-2' %>
            <% end %>
            <div class='d-inline-block'>
              <span class='tag-row-header'><%= triggered_alert.tag.try_friendly_name %></span>
              <% if triggered_alert.tag.has_friendly_name? %>
                <span class='tag-row-sub-header'><%= triggered_alert.tag.url_based_on_preferences %></span>
              <% end %>
            </div>
          </div>
          <div class='tagsafe-table-cell'>
            <%= triggered_alert.initiating_record.preferred_delta_performance_audit.send(@alert_configuration.trigger_rules.exceeded_metric) %>
          </div>
          <div class='tagsafe-table-cell'>
            <div class='d-block'>
              <span class='d-block'><%= triggered_alert.created_at.date_only %></span>
              <span class='d-block'><%= triggered_alert.created_at.time_only %></span>
            </div>
          </div>
          <div class='tagsafe-table-cell flex-0 justify-content-end'>
            <div class="dropdown dropleft show tagsafe-circular-btn">
              <a class="dropdown-link no-decoration" data-controller='dropdown' id="dropdownMenuLink" data-bs-toggle="dropdown" data-bs-offset="0, 0" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v" style="font-size: 14px;"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to 'View Audit', tag_audit_path(triggered_alert.tag, triggered_alert.initiating_record), class: 'dropdown-item' %> 
                <%= link_to 'View Tag Details', tag_path(triggered_alert.tag), class: 'dropdown-item' %> 
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
  <% end %>
</div>