<%= render_as_modal title: "Confirm changes to your #{feature_title}", hide_close_btn: true do %>
  <div class='tagsafe-modal-body'>
    <h3>Changing your <%= configuration_name %> from <span class='dotted-underline'><%= current_formatted_configuration_value %></span> to <span class='dotted-underline'><%= formatted_value_being_changed_to %></span> would result in <%= number_to_currency(overage_estimator.cost_of_proposed_changes) %> in additional costs based on your current subscription plan.</h3>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-6 offset-3'>
          <div class='overage-description-div m-auto' style='max-width: 300px;'>
            <h5 class='overage-description-title'>Current subscription plan</h5>
            <h5 class='overage-description-amount'><%= number_with_delimiter(included_in_plan) %></h5>
            <h6 class='overage-description-sub-title'><%= configuration_name %>s included per month.</h6>
          </div>
        </div>
      </div>
      <div class='row align-items-stretch mt-3'>
        <div class='col-5'>
          <div class='overage-description-div h-100 d-flex flex-column justify-content-center float-end' style='max-width: 325px'>
            <h5 class='overage-description-title'>Current <%= configuration_name %> cost</h5>
            <h5 class='overage-description-amount'>~<%= number_with_delimiter(overage_estimator.expected_total_usage_next_month_on_current_config) %></h5>
            <h6 class='overage-description-sub-title'>total <%= configuration_name %>s / month.</h5>
            <h5 class='overage-description-amount'>~<%= number_to_currency(overage_estimator.expected_dollar_overage_next_month_on_current_config) %></h5>
            <h6 class='overage-description-sub-title'>monthly costs.</h5>
          </div>
        </div>
        <div class='col-2'>
          <div class='h-100 d-flex flex-column justify-content-center m-auto'>
            <i class="fa-solid fa-arrow-right-long"></i>
          </div>
        </div>
        <div class='col-5'>
          <div class='overage-description-div h-100 d-flex flex-column justify-content-center float-start' style='max-width: 325px'>
            <h5 class='overage-description-title'><%= configuration_name.capitalize %> cost after updating to <span class='dotted-underline'><%= formatted_value_being_changed_to %></span></h5>
            <h5 class='overage-description-amount'>~<%= number_with_delimiter(overage_estimator.expected_total_usage_next_month_on_proposed_config) %></h5>
            <h6 class='overage-description-sub-title'>total <%= configuration_name %>s / month.</h5>
            <h5 class='overage-description-amount'>~<%= number_to_currency(overage_estimator.expected_dollar_overage_next_month_on_proposed_config) %></h5>
            <h6 class='overage-description-sub-title'>monthly costs.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='tagsafe-modal-divider'></div>
  <div class='tagsafe-modal-footer text-end'>
    <%= link_to 'Cancel', edit_tag_path(tag), target: '_top', class: 'floating-btn white-bg d-inline-block' %>
    <%= render path_to_update_form, tag: tag, attr_being_updated: attr_being_updated, attr_being_updated_value: attr_being_updated_value %>
  </div>
<% end %>