<%= form_with model: @organization, class: 'col-12', data: { controller: 'loading_form' } do |f| %>
  <div class='container'>
    <div class='row m-3'>
      <div class='form-floating col-12 p-0'>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Tagsafe' %>
        <%= f.label 'Organization Name' %>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row m-3'>
      <div class='col-3 p-0'>
        <select name='domain[protocol]' class='form-select text-center col-2 h-100' required>
          <option class='dropdown-item' value='https://' selected>https://</option>
          <option class='dropdown-item' value='http://'>http://</option>
        </select>
      </div>
      <div class="form-floating col-9 p-0">
        <input id='url' name='domain[url]' type='text' class='form-control' placeholder='www.tagsafe.io'>
        <label for='url'>Site URL to monitor</label>
      </div>
    </div>
  </div>
  <%= render partial: 'partials/inline_errors' %>
  <%= loading_submit_button 'Complete Setup', button_class: 'large' %>
<% end %>