<div class='release-list-month <%= tag_versions_for_month.count.zero? ? 'empty' : nil %>'>
  <div class='release-list-month-header'>
    <div class='header-text'>
      <span class='header d-block'><%= start_date.beginning_of_month.strftime('%B, %Y') %><span>
      <span class='sub-header d-block'><%= tag_versions_for_month.collect{ |tag_id, tag_versions| tag_versions }.flatten.count %> releases.</span>
    </div>
  </div>
  <div class='rolled-up-release-breakdown release-item-list'>
    <% tag_versions_for_month.each do |tag_id, tag_versions| %>
      <% tag = tag_versions.first.tag %>
      <div class='tags-release-breakdown-for-month'>
        <%= render 'releases/rolled_up_release_header_item', 
                      tag: tag, 
                      tag_versions: tag_versions, 
                      most_changes_by_a_tag_for_month: most_changes_by_a_tag_for_month, 
                      start_date: start_date,
                      end_date: end_date %>
        <div class='individual-release-item-list hidden' id='individual-release-item-list-<%=tag.uid%>'>
          <%= turbo_frame_tag "tag_#{tag.uid}_unrolled_release_list_for_#{start_date.month}-#{start_date.year}_to_#{end_date.month}-#{end_date.year}_page_1" do %>
            <%= display_loading_icon size: :small %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>