<%= turbo_frame_tag "tag_#{@tag.uid}_release_calendar" do %>
  <div class='release-graph-with-headers m-auto'>
    <h4 class='text-center'><%= Time.current.strftime('%B') %></h4>
    <div class='release-graph'>
      <% @release_count_by_day.each_slice(7) do |arrays_of_days_and_release_count| %>
        <div class='release-graph-row'>
          <% arrays_of_days_and_release_count.each do |day_and_release_count| %>
            <% day = day_and_release_count[0] %>
            <% if day > Time.current %>
              <div class='release-graph-day disabled'
                    data-controller='tooltip'
                    title='No releases on <%= day.strftime('%b %d, %Y') %> (future date).'>
                <span class='d-block'><%= day.strftime('%b') %></span>
                <span class='d-block'><%= day.strftime('%d') %></span>
              </div>
            <% else %>
              <% num_releases = day_and_release_count[1] %>
              <% rate_of_release_heat = num_releases.to_f / @most_releases_in_a_day %>
              <div class='release-graph-day release-heat-<%= rate_of_release_heat >= 0.75 ? 5 :
                                                              rate_of_release_heat >= 0.5 ? 4 :
                                                              rate_of_release_heat >= 0.25 ? 3 :
                                                              rate_of_release_heat > 0.0 ? 2 : 
                                                              1 %>' 
                    data-controller='tooltip' 
                    data-bs-toggle='tooltip' 
                    title="<%= num_releases.zero? ? 'No' : num_releases %> releases on <%= day.strftime("%b %d, %Y") %>.">
                <span class='d-block'><%= day.strftime('%b') %></span>
                <span class='d-block'><%= day.strftime('%d') %></span>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class='release-graph-legend mt-3 text-end'>
      <span>Less Releases</span>
      <div class='release-graph-day release-heat-1'></div>
      <div class='release-graph-day release-heat-2'></div>
      <div class='release-graph-day release-heat-3'></div>
      <div class='release-graph-day release-heat-4'></div>
      <div class='release-graph-day release-heat-5'></div>
      <span>More Releases</span>
    </div>
  </div>
<% end %>