<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-8'>
        <h1 class="page-title with-sub-title">Tag Releases</h1>
        <h2 class='page-sub-title'>
          <%= @tag.try_friendly_name %> 
          <% if @tag.release_monitoring_disabled? %>
            <%= image_tag '/images/disabled-release-monitoring.png', style: 'height: 16px;', title: 'Release monitoring is disabled for this tag, enable it in your tag settings.', data: { controller: 'tooltip', bs_toggle: 'tooltip' } %>
          <% end %>
          <% if @tag.scheduled_audits_disabled? %>
            <%= image_tag '/images/disabled-automated-audits.png', style: 'height: 16px;', title: 'Scheduled audits are disabled for this tag, enable them in your tag settings.', data: { controller: 'tooltip', bs_toggle: 'tooltip' } %>
          <% end %>
        </h2>
      </div>
      <div class='col-4 page-title-cta-container'>
        <%= modal_link new_tag_audit_path(@tag), klass: 'page-title-cta-btn floating-btn tagsafe-purple-bg' do %>
          <div class='d-flex align-items-center'>
            Run Audit 
            <span data-controller='hot-keys' data-action="modal" data-key-code='65' class='hot-key-indicator ms-1'>
              <form class='hidden' action="<%=new_tag_audit_path(@tag)%>" data-hot-keys-target='formAction' data-turbo-frame='server_loadable_modal'>
              </form>
              ⌘a
            </span>
          </div>
        <% end %>
        <%= link_to edit_tag_path(@tag), class: 'page-title-cta-btn floating-btn tagsafe-purple-bg ms-3', title: 'Edit tag settings', data: { controller: 'tooltip', bs_toggle: 'tooltip' } do %>
          <i class="fa-solid fa-gear"></i>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'partials/page_navigation_items', navigation_items: [
    { text: 'Audit Details', url: tag_path(@tag) },
    { text: 'Uptime', url: uptime_tag_path(@tag) },
    { text: 'Releases', url: tag_releases_path(@tag) }
  ] %>
</div>

<% if @tag.release_monitoring_disabled? %>
  <div class='container-fluid'>
    <div class="alert alert-warning mt-3 text-center" role="alert">
      <%= HtmlHelper.WARNING_ICON %> Release monitoring is disabled for <%= @tag.try_friendly_name %>, you can enable it in <%= link_to 'your settings', edit_tag_path(@tag) %>.
    </div>
  </div>
<% end %>

<%= turbo_frame_tag "#{@tag.uid}_release_chart", src: release_chart_releases_path(tag_uid: @tag.uid) do %>
  <div class='tagsafe-container text-center p-5'>
    <%= display_loading_icon %>
  </div>
<% end %>

<div class='release-list-container'>
  <h4 class='mb-3'>Recent releases</h4>
  <% (0..2).each do |months_ago| %>
    <% start_date = Time.current.beginning_of_month - months_ago.months %>
    <% end_date = start_date.end_of_month %>
    <%= turbo_frame_tag "#{@tag.uid}_release_list_for_#{start_date.month}-#{start_date.year}_to_#{end_date.month}-#{end_date.year}",
                          src: rolled_up_release_list_releases_path(tag_uid: @tag.uid, start_date: start_date, end_date: end_date, hide_tag_name: true) do %>
      <div class='release-list-month'>
        <div class='release-list-month-header'>
          <span class='header-text'>
            <%= start_date.beginning_of_month.strftime('%B, %Y') %>
            <%= display_loading_icon size: :tiny %>
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>