<%= turbo_frame_tag "#{domain.id}_urls_to_scan" do %>
  <div class='col-6 offset-3'>
    <%= form_with model: [domain, UrlsToScan.new] do |f| %>
      <div class='form-floating d-flex mb-3'>
        <%= f.text_field :url, class: 'form-control', value: "#{current_domain.url}/" %>
        <label for='url'>URL to scan for tags</label>
        <%= f.submit 'Add URL', class: 'tagsafe-btn square' %>
      </div>
    <% end %>
  </div>

  <% if domain.urls_to_scans.any? %>
    <div class='mb-3'>
      <% domain.urls_to_scans.each do |url_to_scan| %>
        <div class='tagsafe-pill grey removable m-1'>
          <%= url_to_scan.url %>
          <%= form_with model: [domain, url_to_scan], url: domain_urls_to_scan_path(domain, url_to_scan), method: :delete, class: 'd-inline' do |f| %>
            <span class='remove-btn pointer p-1' data-controller='feaux_form_submit_button'><i class='fa fa-times'></i></span>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>