<div class="text-center">
  <%= link_to 'Create New Test', new_test_path %>
  <h4><%= current_domain.url %> Tests</h4>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col"># Scripts Subscribed</th>
        <th scope="col">View Test Link</th>
      </tr>
    </thead>
    <tbody>
      <% @test_subscriptions.each do |test_grouped| %>
        <tr>
          <th scope="row"><%= test_grouped[0].title %></th>
          <td><%= test_grouped[0].description %></td>
          <td><span class="badge badge-pill badge-primary"><%= test_grouped[1].count %></span></td>
          <td><%= link_to "View Test Details", test_path(test_grouped[0]) %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>