<%= turbo_frame_tag "domain_#{domain.uid}_tags_uptime" do %>
  <div class='container'>
    <div class='row'>
      <div class='timeframe-selector-container col-6'>
        <%= render 'charts/time_range_selector', selected_range: time_range, chart_data_endpoint: charts_tag_checks_path(tag_ids: tag_ids, aws_region: selected_tag_check_region.aws_region_name) %>
      </div>
      <div class='col-6 text-end'>
        <div class="dropdown-container d-inline-block m-3 w-fit ps-3 pe-3">
          <div class='dropdown-display-container' data-controller='dropdown' data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-offset="0,15">
            <i class="metric-icon fa-solid fa-earth-americas"></i><%= selected_tag_check_region.location %>
            <span class='dropdown-indicator d-inline'>
              <i class="fa-solid fa-chevron-up"></i>
            </span>
          </div>
          <div class="dropdown-menu dropdown-menu-center p-3">
            <div class='dropdown-title text-center'>
              Uptime region
            </div>
            <div class='dropdown-divider'></div>
            <% TagCheckRegion.selectable.each do |tag_check_region| %>
              <%= link_to tag_check_region.location, charts_tag_checks_path(tag_ids: tag_ids, aws_region: tag_check_region.aws_region_name, time_range: time_range), class: "dropdown-item text-center #{tag_check_region == selected_tag_check_region ? 'active' : nil}" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-controller='streamed-script-tag'>
    <%=
      line_chart chart_data,
        download: true, 
        title: "Tag Uptime",
        ytitle: "Response Time (ms)",
        messages: { empty: "No uptime data to visualize for #{selected_tag_check_region.location} region." },
        curve: false, 
        legend: "bottom",
        library: {
          rangeSelector: true,
          hAxis: { 
            format: 'MM-DD-YYYY hh:mm' 
          }
        }
    %>
  </div>
<% end %>