<div class="text-center">
  <div class="row text-right">
    <%= button_to 'Delete', admin_tag_image_path(@tag_image), method: :delete %>
    <%= button_to 'Apply to Tags', apply_to_tags_admin_tag_image_path(@tag_image) %>
  </div>
  <%= image_tag url_for(@tag_image.image), style: "width: 400px; height: 400px" %>

  <%= form_for TagImageDomainLookupPattern.new, url: admin_tag_image_tag_image_domain_lookup_patterns_path(@tag_image) do |f| %>
    <div class="form-group">
      <%= f.hidden_field :tag_image_id, value: @tag_image.id %>
      <%= f.label :url_pattern %>
      <%= f.text_field :url_pattern %>
    </div>
    <%= f.submit 'Create URL Pattern' %>
  <% end %>
  <div class="text-center">
    <h5>URL Patterns</h5>
    <ul class="list-group">
      <% @tag_image.lookup_patterns.each do |pattern| %>
        <li class="list-group-item"><%= pattern.url_pattern %> <%= link_to 'Remove', admin_tag_image_tag_image_domain_lookup_pattern_path(@tag_image, pattern), method: :delete, data: { confirm: "Are you sure you want to delete the #{pattern.url_pattern} pattern?" } %></li>
      <% end %>
    </ul>

    <h5>Tags</h5>
    <ul>
      <% @tag_image.tags.each do |tag| %>
        <li><%= tag.full_url %></li>
      <% end %>
    </ul>
  </div>
</div>