<h5 class='notification-message-header mb-2 text-center' style='font-size: 18px;'>🚨 <%= alert_configuration.name %> 🚨</h5>
<div class='d-flex'>
  <%= image_tag triggered_alert.tag.try_image_url, class: 'tag-thumbnail border' %>
  <span>
    <%= alert_configuration.triggered_alert_description(triggered_alert) %>
  </span>
</div>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-6 text-center'>
      <%= link_to "View released changes", git_diff_tag_tag_version_path(triggered_alert.tag, triggered_alert.initiating_record), target: '_top' %>
    </div>
    <div class='col-6 text-center'>
      <%= link_to "View audit", audit_redirect_tag_tag_version_path(triggered_alert.tag, triggered_alert.initiating_record), target: '_top' %>
    </div>
  </div>
</div>