<!DOCTYPE html>
<html>
  <head>
    <title>TagSafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>
      window.currentUser = "<%= current_user&.email %>"
    </script>
  </head>

  <body class="<%=controller_name%>">
    <div class="container-fluid">
        <% unless flash[:banner_error].nil? %>
        <div class="flash-banner error text-center row">
          <p class="col-11"><%= flash[:error] %></p>
          <span class="col-sm-1 close-flash-banner">X</span>
        </div>
      <% end %>
      <% unless flash[:banner_message].nil? %>
        <div class="flash-banner message text-center row">
          <p class="col-11"><%= flash[:message] %></p>
          <span class="col-1 close-flash-banner">X</span>
        </div>
      <% end %>
      <%= render partial: current_user.nil? ? 'partials/logged_out_nav' : 'partials/logged_in_nav' %>
      <%= yield %>
    </div>
    <script async src="https://cdn.quantummetric.com/qscripts/quantum-collin.js">
  </body>
</html>
