<!DOCTYPE html>
<html>
  <head>
    <title>Tagsafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= turbo_include_tags %>
    <%= stimulus_include_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag asset_cdn_url('/tagsafe-logo.svg') %>
    <script src='/chartkick.js'></script>
    <script src='/highcharts.js'></script>
    
    <%= render 'partials/assets' %>
    <%= yield :head %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="slack-app-id" content="A01HGPB713N">
    <script>window.currentDomainUid = "<%= current_domain&.uid %>"</script>
  </head>
  <body class="logged-in <%=controller_name%> <%= action_name %> <%= user_is_anonymous? || current_domain&.current_saas_subscription_plan&.delinquent? ? 'with-fixed-top-banner' : nil %>">
    <div class='fixed-content-container'>
      <%= render 'partials/anonymous_user_banner' %>
      <%= render 'partials/notification_containers' %>
      <%= render 'partials/server_loadable_modal' %>
    </div>
    <div class="content-and-nav-container d-flex">
      <%= render 'partials/logged_in_nav' %>
      <div id="page-content-wrapper" class="<%= @collapsed_navigation ? 'collapsed-navigation' : @hide_navigation ? 'no-navigation' : nil %>">
        <%= render 'partials/top_level_nav_bar' %>
        <%= yield %>
      </div>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GSZ6G0R2K4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GSZ6G0R2K4');
    </script>
  </body>
</html>