<!DOCTYPE html>
<html>
  <head>
    <title>Tagsafe</title>
    <%= turbo_include_tags %>
    <%= stimulus_include_tags %>

    <meta property="og:title" content="Tagsafe" />
    <meta property="og:description" content="Take control of your third party tags." />
    <meta property="og:image" content="https://www.tagsafe.io/tagsafe-logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <!-- <#%= javascript_include_tag 'application' %> !-->
    <%= favicon_link_tag asset_cdn_url('/tagsafe-logo.svg') %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans+Condensed:wght@300&family=Rubik:wght@300&display=swap" rel="stylesheet">

    <%= render 'partials/third_party_tags/thirdpartytag_dot_com_script' %>
    <%= render 'partials/third_party_tags/segment_script' %>
    <%= render 'partials/third_party_tags/new_relic_script' %>
    <%= render 'partials/third_party_tags/amplitude_script' %>
  </head>

  <body class="logged-out <%=controller_name%> <%= action_name %>">
    <div class="container-fluid">
      <%= render partial: 'partials/logged_out_nav' %>
      <div id="content">
        <%= yield %>
      </div>
    </div>
    <%= render 'partials/third_party_tags/google_analytics_script' %>
  </body>
</html>