<!DOCTYPE html>
<html>
  <head>
    <title>Tagsafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= turbo_include_tags %>
    <%= stimulus_include_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag asset_cdn_url('/tagsafe-logo.svg') %>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <script>
      tailwind.config = {
        theme: {
          fontSize: {
            xs: ['0.75rem', { lineHeight: '1rem' }],
            sm: ['0.875rem', { lineHeight: '1.5rem' }],
            base: ['1rem', { lineHeight: '1.75rem' }],
            lg: ['1.125rem', { lineHeight: '2rem' }],
            xl: ['1.25rem', { lineHeight: '2rem' }],
            '2xl': ['1.5rem', { lineHeight: '2rem' }],
            '3xl': ['2rem', { lineHeight: '2.5rem' }],
            '4xl': ['2.5rem', { lineHeight: '3.5rem' }],
            '5xl': ['3rem', { lineHeight: '3.5rem' }],
            '6xl': ['3.75rem', { lineHeight: '1' }],
            '7xl': ['4.5rem', { lineHeight: '1.1' }],
            '8xl': ['6rem', { lineHeight: '1' }],
            '9xl': ['8rem', { lineHeight: '1' }],
          },
          extend: {
            borderRadius: {
              '4xl': '2rem',
            },
            fontFamily: {
              sans: ['Inter', ...defaultTheme.fontFamily.sans],
              display: ['Lexend', ...defaultTheme.fontFamily.sans],
            },
            maxWidth: {
              '2xl': '40rem',
            },
            colors: {
              tagsafe: {
                DEFAULT: '#7487F7',
                dark: '#46518f',
                yellow: '#FAD831',
                orange: '#EF7136',
                purple: '#A343BA',
                'off-white': '#FFFDF2',
                'dark-blue': '#1F2D37',
                'blue-gray': '#394150',
              },
            },
          },
        },
        plugins: [require('@tailwindcss/forms')],

      }
    </script>
    <style type="text/tailwindcss">
    </style>
    <script src='/chartkick.js'></script>
    <script src='/highcharts.js'></script>

    <%= render 'partials/assets' %>
    <%= yield :head %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="slack-app-id" content="A01HGPB713N">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js" integrity="sha512-hG/Qw6E14LsVUaQRSgw0RrFA1wl5QPG1a4bCOUgwzkGPIVFsOPUPpbr90DFavEEqFMwFXPVI0NS4MzKsInlKxQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/javascript/javascript.min.js" integrity="sha512-I6CdJdruzGtvDyvdO4YsiAq+pkWf2efgd1ZUSK2FnM/u2VuRASPC7GowWQrWyjxCZn6CT89s3ddGI+be0Ak9Fg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/edit/matchbrackets.min.js" integrity="sha512-GSYCbN/le5gNmfAWVEjg1tKnOH7ilK6xCLgA7c48IReoIR2g2vldxTM6kZlN6o3VtWIe6fHu/qhwxIt11J8EBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/selection/active-line.min.js" integrity="sha512-0sDhEPgX5DsfNcL5ty4kP6tR8H2vPkn40GwA0RYTshkbksURAlsRVnG4ECPPBQh7ZYU6S3rGvp5uhlGQUNrcmA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <% has_top_banner = current_container.tagsafe_js_disabled? %>
  <body class="<%=controller_name%> <%= action_name %> <%= has_top_banner ? 'with-fixed-top-banner' : nil %>">
    <div class='hidden'>
      <%= render 'partials/top_level_banner' %>
      <%= render 'partials/notification_containers' %>
      <%= render 'partials/server_loadable_modal' %>
    </div>
    <div class="">
      <%= render 'partials/top_level_nav_bar', navigation_items: @navigation_items %>
      <%= yield %>
    </div>
  </body>
</html>
