<!DOCTYPE html>
<html>
  <head>
    <script src='https://d3u10p06z9v5mh.cloudfront.net/dom_8e7bcfb3-instrumentation.js'></script>
    <title>Tagsafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= turbo_include_tags %>
    <%= stimulus_include_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag asset_cdn_url('/tagsafe-logo.svg') %>
    <script src='/chartkick.js'></script>
    <script src='/highcharts.js'></script>
    
    <%= render 'partials/assets' %>
    <%= yield :head %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="slack-app-id" content="A01HGPB713N">
    <script>window.currentDomainUid = "<%= current_domain&.uid %>"</script>
  </head>
  <% has_top_banner = user_is_anonymous? || 
                      current_domain&.current_subscription_plan&.delinquent? || 
                      current_domain&.current_subscription_plan&.past_due? || 
                      current_domain&.current_subscription_plan&.canceled? ||
                      (!current_domain.has_payment_method_on_file? && 
                          current_domain.has_current_subscription_plan? && 
                          current_domain.current_subscription_plan.on_free_trial? && 
                          current_domain.current_subscription_plan.days_until_free_trial_expires(round: false) <= 5) %>
  <body class="logged-in <%=controller_name%> <%= action_name %> <%= has_top_banner ? 'with-fixed-top-banner' : nil %>">
    <div class='fixed-content-container'>
      <%= render 'partials/top_level_banner' %>
      <%= render 'partials/notification_containers' %>
      <%= render 'partials/server_loadable_modal' %>
    </div>
    <div class="content-and-nav-container d-flex">
      <%= render 'partials/logged_in_nav' %>
      <div id="page-content-wrapper" class="<%= @collapsed_navigation ? 'collapsed-navigation' : @hide_navigation ? 'no-navigation' : nil %>">
        <%= render 'partials/top_level_nav_bar' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>